--APPROVEOFFLINEDATA_1.0
DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

DECLARE @CARDDETAILS TABLE(NEWCARDID INT,OLDCARDID INT)

DECLARE @INPUTCARDLIST TABLE(CARDID INT,ISEDIT INT)

INSERT INTO @INPUTCARDLIST(CARDID,ISEDIT)
SELECT R.RESULT,CASE WHEN EDITOR=1 THEN 1 ELSE 0 END FROM dbo.CSVTOTABLE(@CARDID) R
INNER JOIN STOPCARDENTRY_OL SC ON SC.CARDID=R.RESULT


INSERT INTO dbo.STOPCARDENTRY(COMPANYID,CHECKLISTSETUPID,SITEID,OBSERVERCOUNT,SHIFTID,AREAID,LENGTH,PEOPLECONTACTED,PEOPLEOBSERVED,SAFECOMMENTS,
UNSAFECOMMENTS,STATUS,STOPCARDTYPE,OBSERVATIONDATE,ISOFFLINEDATA,CREATEDBY,CREATEDDATE,UPDATEDBY,UPDATEDDATE,OLDCARDID,ISINCOMPLETEOBS,APPROVEDBY,APPROVEDDATE,AREAMANAGER,
SUBAREAID,ISMODIFIED)
SELECT COMPANYID,CHECKLISTSETUPID,SITEID,OBSERVERCOUNT,SHIFTID,AREAID,LENGTH,PEOPLECONTACTED,PEOPLEOBSERVED,SAFECOMMENTS,
UNSAFECOMMENTS,STATUS,STOPCARDTYPE,OBSERVATIONDATE,1,CREATEDBY,GETDATE() CREATEDDATE,UPDATEDBY,UPDATEDDATE,CARDID,ISINCOMPLETEOBS,@UPDATEDBY,@CC_TIMESTAMP,AREAMANAGER,
SUBAREAID,1 ISMODIFIED 
FROM STOPCARDENTRY_OL WHERE CARDID IN (SELECT CARDID FROM @INPUTCARDLIST WHERE ISEDIT=0) AND ISAPPROVED=0

INSERT INTO @CARDDETAILS(NEWCARDID,OLDCARDID)
SELECT CARDID,OLDCARDID FROM STOPCARDENTRY WHERE OLDCARDID IN (SELECT CARDID FROM @INPUTCARDLIST WHERE ISEDIT=0) AND ISOFFLINEDATA = 1

INSERT INTO  STOPCARDENTRYOBSERVERS(CARDID,OBSERVERID,GROUP1,GROUP1NAME,GROUP2,GROUP2NAME,GROUP3,GROUP3NAME,GROUP4,GROUP4NAME,GROUP5,GROUP5NAME,GROUP6,GROUP6NAME,GROUP7,GROUP7NAME,GROUP8,GROUP8NAME,GROUP9,GROUP9NAME,GROUP10,GROUP10NAME,GROUP11,GROUP11NAME,GROUP12,GROUP12NAME,STATUS)
SELECT CD.NEWCARDID,SCO.OBSERVERID,SCO.GROUP1,SCO.GROUP1NAME,SCO.GROUP2,SCO.GROUP2NAME,SCO.GROUP3,SCO.GROUP3NAME,SCO.GROUP4,SCO.GROUP4NAME,SCO.GROUP5,SCO.GROUP5NAME,SCO.GROUP6,SCO.GROUP6NAME,SCO.GROUP7,SCO.GROUP7NAME,SCO.GROUP8,SCO.GROUP8NAME,SCO.GROUP9,SCO.GROUP9NAME,SCO.GROUP10,SCO.GROUP10NAME,SCO.GROUP11,SCO.GROUP11NAME,SCO.GROUP12,SCO.GROUP12NAME,SCO.STATUS
FROM STOPCARDENTRYOBSERVERS_OL SCO
INNER JOIN @CARDDETAILS CD ON CD.OLDCARDID=SCO.CARDID

INSERT INTO STOPCARDENTRYCATEGORYCOMMENTS(CARDID,MAINCATEGORYID,SUBCATEGORYID,SAFECOMMENTS,UNSAFECOMMENTS,STATUS,UPDATEDBY,UPDATEDDATE)
SELECT CD.NEWCARDID,SCO.MAINCATEGORYID,SCO.SUBCATEGORYID,SCO.SAFECOMMENTS,SCO.UNSAFECOMMENTS,SCO.STATUS,SCO.UPDATEDBY,SCO.UPDATEDDATE
FROM STOPCARDENTRYCATEGORYCOMMENTS_OL SCO
INNER JOIN @CARDDETAILS CD ON CD.OLDCARDID=SCO.CARDID

INSERT INTO STOPCARDENTRYOBSERVATIONS(CARDID,MAINCATEGORYID,SUBCATEGORYID,SAFE,UNSAFE,SAFECOMMENTS,UNSAFECOMMENTS,STATUS,UPDATEDBY,UPDATEDDATE)
SELECT CD.NEWCARDID,MAINCATEGORYID,SUBCATEGORYID,SAFE,UNSAFE,SAFECOMMENTS,UNSAFECOMMENTS,STATUS,UPDATEDBY,UPDATEDDATE
FROM STOPCARDENTRYOBSERVATIONS_OL SCO
INNER JOIN @CARDDETAILS CD ON CD.OLDCARDID=SCO.CARDID

INSERT INTO STOPCARDENTRYATTACHMENTS(CARDID,IMAGENAME,MAINCATEGORYID,SUBCATEGORYID,STATUS,UPDATEDBY,UPDATEDDATE,OLDCARDID)
SELECT DISTINCT CD.NEWCARDID,IMAGENAME,MAINCATEGORYID,SUBCATEGORYID,STATUS,UPDATEDBY,UPDATEDDATE,SCO.CARDID
FROM STOPCARDENTRYATTACHMENTS_OL SCO
INNER JOIN @CARDDETAILS CD ON CD.OLDCARDID=SCO.CARDID

INSERT INTO STOPCARDENTRYCUSTOMFIELDS(CARDID,CUSTOMFIELD1,CUSTOMFIELD2,CUSTOMFIELD3,STATUS,UPDATEDBY,UPDATEDDATE)
SELECT CD.NEWCARDID,SCC1.CUSTOMFIELD1,SCC1.CUSTOMFIELD2,SCC1.CUSTOMFIELD3,SCC1.STATUS,UPDATEDBY,UPDATEDDATE FROM STOPCARDENTRYCUSTOMFIELDS_OL SCC1
INNER JOIN @CARDDETAILS CD ON CD.OLDCARDID=SCC1.CARDID

UPDATE STOPCARDENTRY_OL SET ISAPPROVED=1,APPROVALSTATUS=4,EDITOR=NULL,EDITORTIMESTAMP=NULL,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID IN (SELECT CARDID FROM @INPUTCARDLIST WHERE ISEDIT=0)

SELECT (SELECT COUNT(*) FROM @INPUTCARDLIST) [TOTALCOUNT],(SELECT COUNT(*) FROM @INPUTCARDLIST WHERE ISEDIT=0) [APPROVEDCOUNT],(SELECT COUNT(*) FROM @INPUTCARDLIST WHERE ISEDIT=1) [EDITCOUNT]

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'STOPCARDENTRY/STOPCARDENTRYOBSERVERS/STOPCARDENTRYCATEGORYCOMMENTS/STOPCARDENTRY_OL','INSERT-APPROVEOFFLINEDATA_1.0',@CC_TIMESTAMP,@UPDATEDBY,NULL
