--APPVERSIONCHECK_1.0
DECLARE @APPUPDATEREQ INT,@URL NVARCHAR(512),@WEBUPDATEREQ INT,@SYNCCARDS INT,@USERTYPEID INT,@LANGUAGEID INT,@LANGUAGEDES NVARCHAR(10)
--PLATFORM 1= ANDROID 2=IOS 3=WINDOWS
--APPUPDATEREQ 0=NO 1=YES
--VERSIONNAME EX: VER1,VER2(WEB SERVER PATH)
SET @URL=''
SELECT @URL =URL ,@APPUPDATEREQ=APPUPDATEREQ,@WEBUPDATEREQ=WEBUPDATEREQ,@SYNCCARDS=SYNCCARDS FROM [dbo].[GETAPPVERSIONURL](@PVERSION,@PPLATFORM,@PURL)

SELECT @USERTYPEID=USERTYPEID,@LANGUAGEID=LANGUAGEID,@LANGUAGEDES=(SELECT INTERNALNAME FROM LANGUAGES WHERE LANGUAGEID = USERINFO.LANGUAGEID)
FROM USERINFO WHERE USERID=@PUSERID

DECLARE @MAXOFFLINEOBSCOUNT INT,@LIMITEDAREASHIFTS INT,@LIMITEDCHECKLIST INT,@ENABLECMTS INT,@MAXPEOPLEOBSERVEDLIMIT INT,@MAXUPLOADIMAGELIMIT INT

SELECT @MAXOFFLINEOBSCOUNT=LTRIM(RTRIM(OPTIONVALUE)) FROM COMPANYOPTIONS WHERE OPTIONNAME ='MaxOfflineObsCount'
SELECT @LIMITEDAREASHIFTS=LTRIM(RTRIM(OPTIONVALUE)) FROM COMPANYOPTIONS WHERE OPTIONNAME ='LIMITEDAREASHIFTS'
SELECT @LIMITEDCHECKLIST=LTRIM(RTRIM(OPTIONVALUE)) FROM COMPANYOPTIONS WHERE OPTIONNAME ='LIMITEDCHECKLIST'
SELECT @ENABLECMTS=LTRIM(RTRIM(OPTIONVALUE)) FROM COMPANYOPTIONS WHERE OPTIONNAME ='EnableChecklistComments'
SELECT @MAXPEOPLEOBSERVEDLIMIT=LTRIM(RTRIM(OPTIONVALUE)) FROM COMPANYOPTIONS WHERE OPTIONNAME ='MaxPeopleObservedLimit'
SELECT @MAXUPLOADIMAGELIMIT=CAST(LTRIM(RTRIM(OPTIONVALUE)) AS INT) FROM COMPANYOPTIONS WHERE OPTIONNAME ='MAXUPLOADIMAGELIMIT'

SELECT 'VALID' MSG,@APPUPDATEREQ APPUPDATEREQ,@WEBUPDATEREQ WEBUPDATEREQ,@URL URL,@USERTYPEID USERTYPEID,@LANGUAGEID LANGUAGEID,@LANGUAGEDES LANGUAGEDES,@MAXOFFLINEOBSCOUNT MAXOFFLINEOBSCOUNT,@LIMITEDAREASHIFTS LIMITEDAREASHIFTS,@LIMITEDCHECKLIST LIMITEDCHECKLIST,
@ENABLECMTS ENABLECHECKLISTCOMMENTS,@MAXPEOPLEOBSERVEDLIMIT MAXPEOPLEOBSERVEDLIMIT,@MAXUPLOADIMAGELIMIT MAXUPLOADIMAGELIMIT,@SYNCCARDS SYNCCARDS


