--ASSIGNUSRSTOGRP_1.0
CREATE TABLE #USERLIST(USERID INT)
INSERT INTO #USERLIST(USERID)
SELECT RESULT FROM DBO.CSVtoTable(@USERID)

UPDATE UG SET STATUS = 1 ,UPDATEDBY = @UPDATEDBY,UPDATEDDATE = GETDATE()
FROM  USERGROUPS  UG
INNER JOIN #USERLIST U ON U.USERID=UG.USERID
WHERE [STATUS] = 0 AND GROUPTYPEID = @GROUPTYPEID AND GROUPID =@GROUPID;

INSERT INTO USERGROUPS(USERID,GROUPTYPEID,GROUPID,STATUS,UPDATEDBY,UPDATEDDATE)
SELECT USERID,@GROUPTYPEID,@GROUPID,1,@UPDATEDBY,GETDATE() FROM #USERLIST U
WHERE
NOT EXISTS(SELECT 1 FROM USERGROUPS WHERE GROUPTYPEID = @GROUPTYPEID AND GROUPID =@GROUPID AND USERID=U.USERID)

UPDATE UG SET STATUS = 0 ,UPDATEDBY = @UPDATEDBY,UPDATEDDATE = GETDATE()
FROM USERGROUPS UG
WHERE
NOT EXISTS(SELECT 1 FROM #USERLIST WHERE USERID=UG.USERID) AND GROUPTYPEID = @GROUPTYPEID AND GROUPID = @GROUPID;

DROP TABLE #USERLIST
SELECT 2
