IF EXISTS(SELECT 1 FROM CACHEKEYTABLE WHERE CACHEKEY=@CACHEKEY)
BEGIN
IF EXISTS (SELECT CACHEKEY FROM CACHEKEYTABLE WHERE CACHEKEY=@CACHEKEY AND DATEADD(MI,-1,GETUTCDATE()) < CACHEDURATION)
     SELECT CACHEKEY FROM CACHEKEYTABLE WHERE CACHEKEY=@CACHEKEY
ELSE
BEGIN
      UPDATE CACHEKEYTABLE SET CACHEDURATION=@CACHEDURATION WHERE CACHEKEY=@CACHEKEY
END
END
ELSE
BEGIN
      INSERT INTO CACHEKEYTABLE (CACHEKEY,CACHEDURATION) VALUES (@CACHEKEY,@CACHEDURATION)
END