DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

UPDATE GROUPS SET [STATUS] = CASE  WHEN  [STATUS] = 1 THEN 0  WHEN  [STATUS] = 0 THEN 1 END,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE GROUPID IN (SELECT RESULT FROM DBO.CSVtoTable(@GROUPID))

UPDATE ENTITYTRANSLATION SET STATUS=CASE  WHEN  [STATUS] = 1 THEN 0  WHEN  [STATUS] = 0 THEN 1 END,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP
WHERE PARENTID=@GROUPTYPEID AND ENTITYID IN (SELECT RESULT FROM DBO.CSVtoTable(@GROUPID)) AND ENTITYTYPE='UGP_TYPE' AND STATUS!=2

SELECT 1
INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'GROUPS/ENTITYTRANSLATION','UPDATE-CHANGESTATUS_GROUPS_1.0',@CC_TIMESTAMP,@UPDATEDBY,(SELECT GROUPID,STATUS FROM GROUPS WHERE UPDATEDBY=@UPDATEDBY AND UPDATEDDATE=@CC_TIMESTAMP FOR XML AUTO)

