SELECT SUBCATEGORYID,
(SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND ENTITYID=SUBCATEGORYID AND PARENTID=0 AND ENTITYTYPE='SUB_CTG')[LINE ITEM NAME],
CASE WHEN STATUS= 1 THEN 'LBLACTIVE' WHEN STATUS = 0 THEN 'LBLINACTIVE' END [STATUS] FROM SUBCATEGORIES WHERE MAINCATEGORYID=0 AND STATUS!=2 ORDER BY [LINE ITEM NAME]
