DECLARE @TOKENID VARCHAR(512)
SET @TOKENID =''
UPDATE SCHEDULE SET STATUS = 2, UPDATEDBY=@UPDATEDBY,
UPDATEDDATE=GETDATE()
WHERE SCHEDULEID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SCHEDULEID)) AND SCHEDULETYPEID NOT IN(5,6,11)

SELECT @TOKENID=@TOKENID + CAST(SCHEDULEID AS VARCHAR(8))+',' FROM SCHEDULE WHERE SCHEDULEID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SCHEDULEID)) AND SCHEDULETYPEID IN (1,2,7,8)
IF LEN(@TOKENID)>0
SELECT SUBSTRING(@TOKENID,1,LEN(@TOKENID)-1) SCHEDULEID
ELSE
SELECT '' SCHEDULEID