DECLARE @CC1_TIMESTAMP DATETIME
SET @CC1_TIMESTAMP=GETDATE()
UPDATE SITES SET [STATUS] = 2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC1_TIMESTAMP WHERE SITEID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SITEID));

UPDATE UI SET DEFAULTSITEID = S.SITEID,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC1_TIMESTAMP
FROM USERINFO UI
INNER JOIN (SELECT ROW_NUMBER() OVER(PARTITION BY US.USERID ORDER BY US.SITEID) ID, US.USERID,US.SITEID FROM USERSITES US
INNER JOIN SITES S ON S.SITEID = US.SITEID
WHERE US.SITEID NOT IN (SELECT RESULT FROM DBO.CSVtoTable(@SITEID))
AND US.STATUS =1 AND S.STATUS=1) S ON S.USERID=UI.USERID
WHERE S.ID=1 AND UI.DEFAULTSITEID IN (SELECT RESULT FROM DBO.CSVtoTable(@SITEID))

UPDATE USERINFO SET DEFAULTSITEID = -1,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC1_TIMESTAMP WHERE  DEFAULTSITEID IN (SELECT RESULT FROM DBO.CSVtoTable(@SITEID))

IF EXISTS(SELECT 1 FROM USERINFO WHERE USERID = 1 AND DEFAULTSITEID = -1)
UPDATE USERINFO SET DEFAULTSITEID=1,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC1_TIMESTAMP WHERE USERID = 1

UPDATE [STOPCARDENTRYATTACHMENTS] SET STATUS = 2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC1_TIMESTAMP WHERE CARDID IN (SELECT CARDID FROM STOPCARDENTRY WHERE SITEID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SITEID)))
UPDATE [STOPCARDENTRYOBSERVATIONS] SET STATUS = 2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC1_TIMESTAMP WHERE CARDID IN (SELECT CARDID FROM STOPCARDENTRY WHERE SITEID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SITEID)))
UPDATE STOPCARDENTRYOBSERVERS SET STATUS = 2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC1_TIMESTAMP WHERE CARDID IN (SELECT CARDID FROM STOPCARDENTRY WHERE SITEID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SITEID)))

UPDATE STOPCARDENTRY SET [STATUS] = 2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC1_TIMESTAMP WHERE SITEID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SITEID));

--SCHEDULEREPORTS
DELETE FROM SCHEDULEASSIGNMENTS WHERE OPTIONID=1 AND OPTIONVALUE IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SITEID))
DELETE FROM REPORTFILTER WHERE OPTIONID=1 AND FILTERVALUE IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SITEID))


SELECT 1

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'SITES/USERINFO/STOPCARDENTRYATTACHMENTS/STOPCARDENTRYOBSERVATIONS/STOPCARDENTRYOBSERVERS/STOPCARDENTRY','DELETE-DELETESITES_1.0',@CC1_TIMESTAMP,@UPDATEDBY,NULL
