--DELETESHIFT_1.0
DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

UPDATE SHIFTS SET STATUS=2,UPDATEDBY=@USERID,UPDATEDDATE=@CC_TIMESTAMP WHERE SHIFTID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SHIFTID))

UPDATE [STOPCARDENTRYATTACHMENTS] SET STATUS = 2,UPDATEDBY=@USERID,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID IN (SELECT CARDID FROM STOPCARDENTRY WHERE SHIFTID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SHIFTID)))
UPDATE [STOPCARDENTRYOBSERVATIONS] SET STATUS = 2,UPDATEDBY=@USERID,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID IN (SELECT CARDID FROM STOPCARDENTRY WHERE SHIFTID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SHIFTID)))
UPDATE STOPCARDENTRYOBSERVERS SET STATUS = 2,UPDATEDBY=@USERID,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID IN (SELECT CARDID FROM STOPCARDENTRY WHERE SHIFTID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SHIFTID)))
UPDATE STOPCARDENTRY SET [STATUS] = 2,UPDATEDBY=@USERID,UPDATEDDATE=@CC_TIMESTAMP WHERE SHIFTID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SHIFTID));

--OL
UPDATE [STOPCARDENTRYATTACHMENTS_OL] SET STATUS = 2,UPDATEDBY=@USERID,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID IN (SELECT CARDID FROM STOPCARDENTRY_OL WHERE SHIFTID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SHIFTID)))
UPDATE [STOPCARDENTRYOBSERVATIONS_OL] SET STATUS = 2,UPDATEDBY=@USERID,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID IN (SELECT CARDID FROM STOPCARDENTRY_OL WHERE SHIFTID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SHIFTID)))
UPDATE STOPCARDENTRYOBSERVERS_OL SET STATUS = 2,UPDATEDBY=@USERID,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID IN (SELECT CARDID FROM STOPCARDENTRY_OL WHERE SHIFTID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SHIFTID)))
UPDATE STOPCARDENTRY_OL SET [STATUS] = 2,UPDATEDBY=@USERID,UPDATEDDATE=@CC_TIMESTAMP WHERE SHIFTID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SHIFTID));

--SCHEDULEREPORTS
DELETE FROM SCHEDULEASSIGNMENTS WHERE OPTIONID=4 AND OPTIONVALUE IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SHIFTID))
DELETE FROM REPORTFILTER WHERE OPTIONID=4 AND FILTERVALUE IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SHIFTID))

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'SHIFTS/STOPCARDENTRYATTACHMENTS/STOPCARDENTRYOBSERVATIONS/STOPCARDENTRYOBSERVERS/STOPCARDENTRY','DELETE-DELETESHIFT_1.0',@CC_TIMESTAMP,@USERID,NULL
