--DELETECUSTOMFIELDVALUES_1.0
DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

DECLARE @QRY NVARCHAR(MAX)
SET @QRY=''
UPDATE CUSTOMFIELDVALUES SET STATUS = 2,UPDATEDBY=@USERID,UPDATEDDATE=@CC_TIMESTAMP
WHERE CUSTOMFIELDVALUEID IN (SELECT RESULT FROM dbo.CSVTOTABLE(@SELCUSTOMFIELDVALUEID))

--SCHEDULEREPORTS
DELETE FROM SCHEDULEASSIGNMENTS WHERE OPTIONID BETWEEN 47 AND 49 AND OPTIONVALUE IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SELCUSTOMFIELDVALUEID))
DELETE FROM REPORTFILTER WHERE OPTIONID BETWEEN 47 AND 49 AND FILTERVALUE IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SELCUSTOMFIELDVALUEID))

SET @QRY='INSERT INTO STOPCARDENTRYCUSTOMFIELDS_HISTORY(CARDID,CUSTOMFIELD1,CUSTOMFIELD2,CUSTOMFIELD3,STATUS,UPDATEDBY,UPDATEDDATE)
SELECT CARDID,CUSTOMFIELD1,CUSTOMFIELD2,CUSTOMFIELD3,STATUS,UPDATEDBY,GETDATE() UPDATEDDATE FROM STOPCARDENTRYCUSTOMFIELDS WHERE 1=1 '
+CASE WHEN @CUSTOMFIELDID=1 THEN ' AND CUSTOMFIELD1 IN('+@SELCUSTOMFIELDVALUEID+')' ELSE '' END
+CASE WHEN @CUSTOMFIELDID=2 THEN ' AND CUSTOMFIELD2 IN('+@SELCUSTOMFIELDVALUEID+')' ELSE '' END
+CASE WHEN @CUSTOMFIELDID=3 THEN ' AND CUSTOMFIELD3 IN('+@SELCUSTOMFIELDVALUEID+')' ELSE '' END

EXEC(@QRY)

SET @QRY=''

SET @QRY=' UPDATE STOPCARDENTRYCUSTOMFIELDS SET '
+CASE WHEN @CUSTOMFIELDID =1 THEN ' CUSTOMFIELD1=NULL ' ELSE '' END
+CASE WHEN @CUSTOMFIELDID =2 THEN ' CUSTOMFIELD2=NULL ' ELSE '' END
+CASE WHEN @CUSTOMFIELDID =3 THEN ' CUSTOMFIELD3=NULL ' ELSE '' END
+'WHERE 1=1 '
+CASE WHEN @CUSTOMFIELDID=1 THEN ' AND CUSTOMFIELD1 IN('+@SELCUSTOMFIELDVALUEID+')' ELSE '' END
+CASE WHEN @CUSTOMFIELDID=2 THEN ' AND CUSTOMFIELD2 IN('+@SELCUSTOMFIELDVALUEID+')' ELSE '' END
+CASE WHEN @CUSTOMFIELDID=3 THEN ' AND CUSTOMFIELD3 IN('+@SELCUSTOMFIELDVALUEID+')' ELSE '' END
EXEC(@QRY)

SET @QRY=''

SET @QRY=' UPDATE STOPCARDENTRYCUSTOMFIELDS_OL SET '
+CASE WHEN @CUSTOMFIELDID =1 THEN ' CUSTOMFIELD1=NULL ' ELSE '' END
+CASE WHEN @CUSTOMFIELDID =2 THEN ' CUSTOMFIELD2=NULL ' ELSE '' END
+CASE WHEN @CUSTOMFIELDID =3 THEN ' CUSTOMFIELD3=NULL ' ELSE '' END
+'WHERE 1=1 '
+CASE WHEN @CUSTOMFIELDID=1 THEN ' AND CUSTOMFIELD1 IN('+@SELCUSTOMFIELDVALUEID+')' ELSE '' END
+CASE WHEN @CUSTOMFIELDID=2 THEN ' AND CUSTOMFIELD2 IN('+@SELCUSTOMFIELDVALUEID+')' ELSE '' END
+CASE WHEN @CUSTOMFIELDID=3 THEN ' AND CUSTOMFIELD3 IN('+@SELCUSTOMFIELDVALUEID+')' ELSE '' END
EXEC(@QRY)

DELETE FROM STOPCARDENTRYCUSTOMFIELDS WHERE CUSTOMFIELD1 IS NULL AND CUSTOMFIELD2 IS NULL AND CUSTOMFIELD3 IS NULL
DELETE FROM STOPCARDENTRYCUSTOMFIELDS_OL WHERE CUSTOMFIELD1 IS NULL AND CUSTOMFIELD2 IS NULL AND CUSTOMFIELD3 IS NULL

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'CUSTOMFIELDVALUES','DELETE-CUSTOMFIELDVALUES_1.0',@CC_TIMESTAMP,@USERID,NULL
