DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

DECLARE @CARDLIST TABLE(ID INT IDENTITY(1,1),CARDID INT,CAID INT,STOPCARDTYPE INT)
INSERT INTO @CARDLIST(CARDID,CAID,STOPCARDTYPE)
SELECT SUBSTRING(ITEM,1,CHARINDEX('-',ITEM)-1),SUBSTRING(ITEM,CHARINDEX('-',ITEM)+1,LEN(ITEM)),STOPCARDTYPE FROM DBO.FNSPLIT(@CORRACTIONID,',') R
INNER JOIN STOPCARDENTRY SCE ON SCE.CARDID = SUBSTRING(ITEM,1,CHARINDEX('-',ITEM)-1)

UPDATE SCO SET CAEXISTS=NULL,CORRACTIONID=NULL
FROM STOPCARDENTRYOBSERVATIONS SCO
INNER JOIN @CARDLIST S ON S.CARDID=SCO.CARDID AND S.CAID=SCO.CORRACTIONID

UPDATE SCO SET CAFROMOBS=NULL
FROM STOPCARDENTRYOBSERVATIONS SCO
INNER JOIN @CARDLIST S ON S.CARDID=SCO.CARDID AND S.CAID=SCO.CAFROMOBS

DECLARE @ID INT,@CARDID INT,@CAID INT,@STOPCARDTYPE INT
SET @ID =1

WHILE @ID <=(SELECT MAX(ID) FROM @CARDLIST)
BEGIN
SELECT @CARDID =CARDID,@CAID =CAID,@STOPCARDTYPE=STOPCARDTYPE FROM @CARDLIST WHERE ID = @ID
IF @CAID =0 AND @STOPCARDTYPE=2
BEGIN
UPDATE STOPCARDENTRY SET STATUS=2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID =@CARDID
END
ELSE IF @STOPCARDTYPE=1
UPDATE [CORRECTIVEACTIONS] SET STATUS=2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CORRACTIONID =@CAID
ELSE IF @STOPCARDTYPE=2 AND (SELECT COUNT(*) FROM CORRECTIVEACTIONS WHERE CARDID =@CARDID AND STATUS !=2)>1
UPDATE [CORRECTIVEACTIONS] SET STATUS=2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CORRACTIONID =@CAID
ELSE IF @STOPCARDTYPE=2 AND (SELECT COUNT(*) FROM CORRECTIVEACTIONS WHERE CARDID =@CARDID AND STATUS !=2)=1
BEGIN
UPDATE STOPCARDENTRY SET STATUS=2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID =@CARDID
UPDATE [CORRECTIVEACTIONS] SET STATUS=2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CORRACTIONID =@CAID
END


SET @ID = @ID+1

END

UPDATE SCO SET CAEXISTS =1,CORRACTIONID =CA.CORRACTIONID
FROM STOPCARDENTRYOBSERVATIONS SCO
INNER JOIN @CARDLIST CL ON CL.CARDID=SCO.CARDID
INNER JOIN CORRECTIVEACTIONS CA ON CA.CARDID=SCO.CARDID
INNER JOIN CORRECTIVEACTIONSCATEGORY CAC ON CAC.CORRACTIONID=CA.CORRACTIONID AND CAC.MAINCATEGORYID=SCO.MAINCATEGORYID AND CAC.SUBCATEGORYID=SCO.SUBCATEGORYID
WHERE SCO.UNSAFE>0 AND CA.STATUS!=2
AND NOT EXISTS(SELECT 1 FROM @CARDLIST CL WHERE CL.CAID=CA.CORRACTIONID)

UPDATE SCO SET CAEXISTS =1,CORRACTIONID =CA.CORRACTIONID
FROM STOPCARDENTRYOBSERVATIONS SCO
INNER JOIN @CARDLIST CL ON CL.CARDID=SCO.CARDID
INNER JOIN CORRECTIVEACTIONS CA ON CA.CARDID=SCO.CARDID
INNER JOIN STOPCARDENTRYCATEGORYCOMMENTS SCC ON SCC.CARDID=SCO.CARDID AND SCC.MAINCATEGORYID=SCO.MAINCATEGORYID AND SCC.SUBCATEGORYID=SCO.SUBCATEGORYID
INNER JOIN CORRECTIVEACTIONSCATEGORY CAC ON CAC.CORRACTIONID=CA.CORRACTIONID AND CAC.MAINCATEGORYID=SCO.MAINCATEGORYID AND CAC.SUBCATEGORYID=SCO.SUBCATEGORYID
WHERE LEN(SCC.UNSAFECOMMENTS)>1 AND CA.STATUS!=2
AND NOT EXISTS(SELECT 1 FROM @CARDLIST CL WHERE CL.CAID=CA.CORRACTIONID)

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'STOPCARDENTRY/[CORRECTIVEACTIONS]','DELETE-DELETECORRACTIVEACTIONCARDS_1.0',@CC_TIMESTAMP,@UPDATEDBY,NULL