DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()
DECLARE @CARDLIST TABLE(CARDID INT,APPROVALSTATUS INT)
IF @OBSAPPROVALPC=0
BEGIN
INSERT INTO @CARDLIST (CARDID,APPROVALSTATUS)
SELECT SUBSTRING(ITEM,1,CHARINDEX('-',ITEM)-1),SUBSTRING(ITEM,CHARINDEX('-',ITEM)+1,8)  FROM DBO.FNSPLIT(@CARDID,',')

UPDATE [STOPCARDENTRYATTACHMENTS] SET STATUS = 2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID IN (SELECT CARDID FROM @CARDLIST WHERE APPROVALSTATUS =4)
UPDATE [STOPCARDENTRYOBSERVATIONS] SET STATUS = 2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID IN (SELECT CARDID FROM @CARDLIST WHERE APPROVALSTATUS =4)
UPDATE [STOPCARDENTRY] SET STATUS = 2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP,ISMODIFIED=1 WHERE CARDID IN (SELECT CARDID FROM @CARDLIST WHERE APPROVALSTATUS =4)
UPDATE STOPCARDENTRYOBSERVERS SET STATUS = 2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID IN (SELECT CARDID FROM @CARDLIST WHERE APPROVALSTATUS =4)
END
ELSE IF @OBSAPPROVALPC=1
BEGIN
INSERT INTO @CARDLIST (CARDID,APPROVALSTATUS)
SELECT SUBSTRING(ITEM,1,CHARINDEX('-',ITEM)-1),SUBSTRING(ITEM,CHARINDEX('-',ITEM)+1,8)  FROM DBO.FNSPLIT(@CARDID,',')


UPDATE [STOPCARDENTRYATTACHMENTS_OL] SET STATUS = 2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID IN (SELECT CARDID FROM @CARDLIST WHERE APPROVALSTATUS IN(1,2,3))
UPDATE [STOPCARDENTRYOBSERVATIONS_OL] SET STATUS = 2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID IN (SELECT CARDID FROM @CARDLIST WHERE APPROVALSTATUS IN(1,2,3))
UPDATE [STOPCARDENTRY_OL] SET STATUS = 2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID IN (SELECT CARDID FROM @CARDLIST WHERE APPROVALSTATUS IN(1,2,3))
UPDATE STOPCARDENTRYOBSERVERS_OL SET STATUS = 2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID IN (SELECT CARDID FROM @CARDLIST WHERE APPROVALSTATUS IN(1,2,3))

UPDATE [STOPCARDENTRYATTACHMENTS] SET STATUS = 2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID IN (SELECT CARDID FROM @CARDLIST WHERE APPROVALSTATUS =4)
UPDATE [STOPCARDENTRYOBSERVATIONS] SET STATUS = 2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID IN (SELECT CARDID FROM @CARDLIST WHERE APPROVALSTATUS =4)
UPDATE [STOPCARDENTRY] SET STATUS = 2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP,ISMODIFIED=1 WHERE CARDID IN (SELECT CARDID FROM @CARDLIST WHERE APPROVALSTATUS =4)
UPDATE STOPCARDENTRYOBSERVERS SET STATUS = 2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID IN (SELECT CARDID FROM @CARDLIST WHERE APPROVALSTATUS =4)


END

SELECT 1

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'STOPCARDENTRYATTACHMENTS/STOPCARDENTRYOBSERVATIONS/STOPCARDENTRYOBSERVERS/STOPCARDENTRY/ALL_OL TABLES','DELETE-DELETESTOPCARDCHECKLIST_1.0',@CC_TIMESTAMP,@UPDATEDBY,NULL