--DELETEUSER_1.0
DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()
CREATE TABLE #OBSERVERCARD(CARDID INT PRIMARY KEY,OBSERVERCOUNT INT)

UPDATE [dbo].[USERS] SET STATUS = CASE WHEN STATUS = 3 THEN 3 ELSE 2 END
,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE USERID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@USERID))
--STOPCARDENTRY
UPDATE STOPCARDENTRYOBSERVERS SET STATUS= 0 WHERE OBSERVERID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@USERID))
UPDATE STOPCARDENTRYOBSERVERS_OL SET STATUS= 0 WHERE OBSERVERID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@USERID))

INSERT INTO #OBSERVERCARD
SELECT DISTINCT SCE.CARDID,SCE.OBSERVERCOUNT
FROM STOPCARDENTRY SCE
INNER JOIN STOPCARDENTRYOBSERVERS SCO ON SCO.CARDID=SCE.CARDID
INNER JOIN dbo.CSVtoTable(@USERID) U ON U.RESULT=SCO.OBSERVERID

INSERT INTO DBO.AUDITSTOPCARDENTRYOBSERVATIONS
SELECT * FROM STOPCARDENTRYOBSERVATIONS WHERE CARDID IN (SELECT CARDID FROM #OBSERVERCARD WHERE OBSERVERCOUNT=0)

DELETE FROM STOPCARDENTRYOBSERVATIONS WHERE CARDID IN (SELECT CARDID FROM #OBSERVERCARD WHERE OBSERVERCOUNT=0)

UPDATE STOPCARDENTRY SET STATUS = CASE WHEN STATUS=3 THEN 3 ELSE 2 END ,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP
WHERE CARDID IN (SELECT CARDID FROM #OBSERVERCARD WHERE OBSERVERCOUNT=0)

INSERT INTO DBO.AUDITSTOPCARDENTRYOBSERVERS(COMPANYID,ENTRYID,OBSERVERID,GROUP1,GROUP1NAME,GROUP2,GROUP2NAME,GROUP3,GROUP3NAME,
GROUP4,GROUP4NAME,GROUP5,GROUP5NAME,GROUP6,GROUP6NAME,GROUP7,GROUP7NAME,GROUP8,GROUP8NAME,GROUP9,GROUP9NAME,GROUP10,GROUP10NAME,GROUP11,
GROUP11NAME,GROUP12,GROUP12NAME)
SELECT (SELECT COMPANYID FROM DBO.COMPANY),CARDID,OBSERVERID,GROUP1,GROUP1NAME,GROUP2,GROUP2NAME,GROUP3,GROUP3NAME,GROUP4,GROUP4NAME,GROUP5,GROUP5NAME,GROUP6,GROUP6NAME,GROUP7,
GROUP7NAME,GROUP8,GROUP8NAME,GROUP9,GROUP9NAME,GROUP10,GROUP10NAME,GROUP11,GROUP11NAME,GROUP12,GROUP12NAME
FROM STOPCARDENTRYOBSERVERS WHERE OBSERVERID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@USERID))

DELETE FROM STOPCARDENTRYOBSERVERS WHERE OBSERVERID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@USERID))

DELETE FROM #OBSERVERCARD WHERE OBSERVERCOUNT=0

UPDATE STOPCARDENTRY
SET OBSERVERCOUNT=0,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID IN
(SELECT CARDID FROM STOPCARDENTRYOBSERVERS WHERE CARDID IN (SELECT CARDID FROM #OBSERVERCARD)
GROUP BY CARDID HAVING COUNT(OBSERVERID)=1
)

UPDATE STOPCARDENTRY SET STATUS = 2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID NOT IN (SELECT CARDID FROM STOPCARDENTRYOBSERVERS)


--OL
DELETE FROM #OBSERVERCARD

INSERT INTO #OBSERVERCARD
SELECT DISTINCT SCE.CARDID,SCE.OBSERVERCOUNT
FROM STOPCARDENTRY_OL SCE
INNER JOIN STOPCARDENTRYOBSERVERS_OL SCO ON SCO.CARDID=SCE.CARDID
INNER JOIN dbo.CSVtoTable(@USERID) U ON U.RESULT=SCO.OBSERVERID

DELETE FROM STOPCARDENTRYOBSERVATIONS_OL WHERE CARDID IN (SELECT CARDID FROM #OBSERVERCARD WHERE OBSERVERCOUNT=0)

UPDATE STOPCARDENTRY_OL SET STATUS = CASE WHEN STATUS=3 THEN 3 ELSE 2 END ,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP
WHERE CARDID IN (SELECT CARDID FROM #OBSERVERCARD WHERE OBSERVERCOUNT=0)

DELETE FROM STOPCARDENTRYOBSERVERS_OL WHERE OBSERVERID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@USERID))

DELETE FROM #OBSERVERCARD WHERE OBSERVERCOUNT=0

UPDATE STOPCARDENTRY_OL
SET OBSERVERCOUNT=0,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID IN
(SELECT CARDID FROM STOPCARDENTRYOBSERVERS_OL WHERE CARDID IN (SELECT CARDID FROM #OBSERVERCARD)
GROUP BY CARDID HAVING COUNT(OBSERVERID)=1
)

UPDATE STOPCARDENTRY_OL SET STATUS = 2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID NOT IN (SELECT CARDID FROM STOPCARDENTRYOBSERVERS_OL)

--SCHEDULEREPORTS
DELETE FROM SCHEDULEASSIGNMENTS WHERE OPTIONID =3 AND OPTIONVALUE IN (SELECT RESULT FROM DBO.CSVTOTABLE(@USERID))

DELETE FROM REPORTFILTER WHERE OPTIONID =3 AND FILTERVALUE IN (SELECT RESULT FROM DBO.CSVTOTABLE(@USERID))


DROP TABLE #OBSERVERCARD
INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT '[USERS]/STOPCARDENTRYOBSERVATIONS/STOPCARDENTRY/AUDITSTOPCARDENTRYOBSERVATIONS/STOPCARDENTRYOBSERVERS','DELETE-DELETEUSER_1.0',@CC_TIMESTAMP,@UPDATEDBY,NULL
