DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()
UPDATE ROLES SET [STATUS] = 2,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE ROLEID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@ROLEID)) AND ROLEID NOT IN(1,2,3,4,5) AND ALLSITES!=1

UPDATE USERINFO SET DEFAULTROLEID =-1,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE DEFAULTROLEID IN( SELECT ROLEID FROM ROLES WHERE STATUS =2 AND  ROLEID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@ROLEID)))

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'ROLES/USERINFO','DELETE-DELETEROLES_1.0',@CC_TIMESTAMP,@UPDATEDBY,NULL