DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

IF @OLDPASSWORD=(SELECT DBO.FN40DECRYPT(PASSWORD) FROM USERS WHERE USERID = @USERID)
BEGIN
  UPDATE USERS SET PASSWORD=dbo.fn40Encrypt(@PASSWORD),UPDATEDDATE=@CC_TIMESTAMP,UPDATEDBY=@USERID WHERE USERID=@USERID
  UPDATE USERINFO SET PASSWORDLASTUPDATE=@CC_TIMESTAMP,UPDATEDDATE=@CC_TIMESTAMP,UPDATEDBY=@USERID WHERE USERID = @USERID
  SELECT 2
 END
 ELSE
 SELECT -1
 
INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'USERS/USERINFO','DELETE-FORCEPWD_1.0',@CC_TIMESTAMP,@USERID,NULL