--GETAREASITESASSGN_1.0
IF EXISTS (SELECT 1 FROM ROLES WHERE ROLEID=@ROLEID AND ALLSITES=1)
BEGIN
SELECT '<option value="'+CAST(S.SITEID AS VARCHAR(32))+'">'+S.SITENAME+'</option>' AS 'data()' FROM SITES S
WHERE S.STATUS =1 AND S.SITEID NOT IN (SELECT S.SITEID FROM SITES S
INNER JOIN SITEAREAS SA ON SA.SITEID=S.SITEID
WHERE  S.STATUS<>2 AND SA.STATUS=1 AND SA.AREAID=@AREAID) ORDER BY S.SITENAME FOR XML PATH('') ;


SELECT '<option value="'+CAST(S.SITEID AS VARCHAR(32))+'">'+S.SITENAME+CASE WHEN S.STATUS=0 THEN ' (Inactive) ' ELSE '' END+'</option>' AS 'data()' FROM SITES S
INNER JOIN SITEAREAS SA ON SA.SITEID=S.SITEID
WHERE S.STATUS <>2 AND SA.STATUS=1 AND SA.AREAID=@AREAID ORDER BY S.SITENAME FOR XML PATH('')

END
ELSE
BEGIN

SELECT '<option value="'+CAST(S.SITEID AS VARCHAR(32))+'">'+S.SITENAME+'</option>' AS 'data()'  FROM SITES S
INNER JOIN USERSITES US ON US.SITEID=S.SITEID AND US.USERID =@USERID
WHERE S.SITEID NOT IN (SELECT S.SITEID FROM SITES S
INNER JOIN SITEAREAS SA ON SA.SITEID=S.SITEID
INNER JOIN USERSITES US ON US.SITEID = SA.SITEID AND US.STATUS=1
WHERE S.STATUS<>2 AND SA.STATUS=1 AND SA.AREAID=@AREAID AND US.USERID =@USERID )
AND S.STATUS=1 AND US.STATUS=1 ORDER BY S.SITENAME FOR XML PATH('')  ;

SELECT '<option value="'+CAST(S.SITEID AS VARCHAR(32))+'">'+S.SITENAME+CASE WHEN S.STATUS=0 THEN ' (Inactive) ' ELSE '' END+'</option>' AS 'data()' FROM SITES S
INNER JOIN SITEAREAS SA ON SA.SITEID=S.SITEID
INNER JOIN USERSITES US ON US.SITEID = SA.SITEID AND US.STATUS=1
WHERE S.STATUS <>2 AND SA.STATUS=1 AND SA.AREAID=@AREAID AND US.USERID =@USERID ORDER BY S.SITENAME  FOR XML PATH('')

END

DECLARE @ENABLESUBAREA INT
SELECT @ENABLESUBAREA = ISNULL(OPTIONVALUE,0) FROM COMPANYOPTIONS WHERE OPTIONNAME='ENABLESUBAREAS'

IF (@ENABLESUBAREA = 1)
BEGIN
	SELECT 'subtype1' [VALUE],'LBLSITE'[NAME] UNION ALL
	SELECT 'subtype2'[VALUE],'LBLSUBAREANAME'[NAME]
END
ELSE
BEGIN
	SELECT 'subtype1' [VALUE],'LBLSITE'[NAME]
END


