DECLARE @ALLSITETIMEZONE NVARCHAR(MAX)
SET @ALLSITETIMEZONE=''
IF EXISTS(SELECT 1 FROM SITES WHERE STATUS!=2 AND SITEID!=1)
BEGIN
SELECT @ALLSITETIMEZONE=@ALLSITETIMEZONE+CAST(SITEID AS VARCHAR(32))+'!~!'+ CAST(TIMEZONEID AS VARCHAR(32))+',' FROM SITES WHERE STATUS!=2 AND SITEID!=1
SELECT SUBSTRING(@ALLSITETIMEZONE,1,LEN(@ALLSITETIMEZONE)-1)
END
ELSE
SELECT '0!~!0'