SELECT '<option value="'+CAST(A.AREAID AS VARCHAR(32))+'">'+A.AREANAME+'</option>' AS 'data()' FROM AREAS A
WHERE A.STATUS =1 
AND NOT EXISTS(SELECT 1 FROM SUBAREASMAP WHERE SUBAREAID=@SUBAREAID AND AREAID=A.AREAID AND STATUS=1)
ORDER BY A.AREANAME FOR XML PATH('');


SELECT '<option value="'+CAST(A.AREAID AS VARCHAR(32))+'">'+A.AREANAME+CASE WHEN A.STATUS=0 THEN '(In Active)' ELSE '' END +'</option>' AS 'data()' 
FROM AREAS A
INNER JOIN SUBAREASMAP SM ON SM.AREAID=A.AREAID
WHERE A.STATUS !=2 AND SM.STATUS=1 AND SM.SUBAREAID=@SUBAREAID ORDER BY A.AREANAME FOR XML PATH('') ;
