--GETAREASASSGNTOSITE_1.0
SELECT '<option value="'+CAST(A.AREAID AS VARCHAR(32))+'">'+CASE WHEN A.[STATUS]= 1 THEN AREANAME WHEN A.[STATUS] = 0 THEN AREANAME + ' ( InActive ) '  END +'</option>' AS 'data()'
FROM AREAS A
INNER JOIN SITEAREAS SA ON SA.AREAID=A.AREAID AND SA.SITEID=@SITEID
WHERE A.STATUS!=2 AND SA.STATUS=1
ORDER BY AREANAME
FOR XML PATH('')
