IF EXISTS(SELECT 1 FROM USERINFO WHERE USERID = @USERID AND DEFAULTROLEID = 1)
BEGIN
SELECT AREAID,AREANAME,CASE WHEN [STATUS]= 1 THEN 'LBLACTIVE' WHEN [STATUS] = 0 THEN 'LBLINACTIVE' END AS [STATUS] FROM AREAS WHERE STATUS!=2 ORDER BY AREANAME
END
ELSE
BEGIN
IF @AREATYPE= 0
SELECT AREAID,AREANAME,CASE WHEN [STATUS]= 1 THEN 'LBLACTIVE' WHEN [STATUS] = 0 THEN 'LBLINACTIVE' END AS [STATUS] FROM AREAS WHERE STATUS!=2 ORDER BY AREANAME

ELSE IF @AREATYPE = 1
SELECT DISTINCT A.AREAID,A.AREANAME,CASE WHEN A.[STATUS]= 1 THEN 'LBLACTIVE' WHEN A.[STATUS] = 0 THEN 'LBLINACTIVE' END AS [STATUS]
FROM AREAS A
INNER JOIN SITEAREAS SA ON SA.AREAID=A.AREAID
INNER JOIN USERSITES US ON US.SITEID=SA.SITEID AND US.USERID=@USERID
WHERE A.STATUS!=2 AND SA.STATUS=1 AND US.STATUS=1
ORDER BY AREANAME
END