--LINE OF ITEMS AVAILABLE
SELECT DISTINCT SUBCATEGORYID,ENTITYVALUE FROM SUBCATEGORIES S
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID = 0 AND ET.ENTITYID =S.SUBCATEGORYID  AND ET.ENTITYTYPE='SUB_CTG' AND ET.LANGUAGEID = 4

WHERE S.STATUS=1 AND S.MAINCATEGORYID =0 AND S.SUBCATEGORYID NOT IN
(SELECT SUBCATEGORYID FROM CHECKLISTSETUPCATEGORYASSIGNMENTS WHERE CHECKLISTSETUPID=@CHECKLISTSETUPID AND MAINCATEGORYID=0

AND MAINISASSIGNED = 1 AND SUBISASSIGNED = 1)
ORDER BY ENTITYVALUE

--LINE OF ITEMS ISASSIGNED
SELECT DISTINCT SUBCATEGORYID,ENTITYVALUE FROM CHECKLISTSETUPCATEGORYASSIGNMENTS CS
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID = CS.MAINCATEGORYID AND ET.ENTITYID =CS.SUBCATEGORYID AND ET.ENTITYTYPE='SUB_CTG' AND ET.LANGUAGEID = 4

WHERE CHECKLISTSETUPID=@CHECKLISTSETUPID AND CS.MAINCATEGORYID = 0 AND CS.MAINISASSIGNED = 1 AND CS.SUBISASSIGNED = 1

ORDER BY ENTITYVALUE
