--GETCUSTOMLABELBYIDAPP_1.0
DECLARE @LANGUAGECODE INT
SELECT @LANGUAGECODE=LANGUAGEID FROM LANGUAGES WHERE INTERNALNAME=@LANGUAGEID
SELECT LABELNAME,LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGECODE
UNION
SELECT LABELNAME,LABELVALUE FROM CUSTOMLABELSAPP WHERE LANGUAGEID=@LANGUAGECODE
SELECT INTERNALNAME FROM LANGUAGES WHERE LANGUAGEID=@LANGUAGECODE
SELECT OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME='LANGUAGEVERSIONKEY'
