IF @MODE=0
SELECT CHECKLISTSETUPID,SETUPNAME FROM(
SELECT DISTINCT CS.CHECKLISTSETUPID,SETUPNAME
FROM CHECKLISTSETUP CS
INNER JOIN CHECKLISTSETUPCATEGORYASSIGNMENTS CSA ON CSA.CHECKLISTSETUPID=CS.CHECKLISTSETUPID
INNER JOIN CHECKLISTSETUPSITES CSS ON CSS.CHECKLISTSETUPID=CS.CHECKLISTSETUPID
INNER JOIN MAINCATEGORIES M ON M.MAINCATEGORYID=CSA.MAINCATEGORYID
INNER JOIN SUBCATEGORIES S ON S.MAINCATEGORYID=CSA.MAINCATEGORYID AND S.SUBCATEGORYID=CSA.SUBCATEGORYID
WHERE CSS.STATUS=1 AND CS.[STATUS] IN (1,3) AND CSS.SITEID = @SITEID AND CS.ALLSITES=0 AND CS.CATEGORYTYPE = 1 AND M.STATUS=1 AND S.STATUS=1
UNION
SELECT DISTINCT CS.CHECKLISTSETUPID,SETUPNAME
FROM CHECKLISTSETUP CS
INNER JOIN CHECKLISTSETUPCATEGORYASSIGNMENTS CSA ON CSA.CHECKLISTSETUPID=CS.CHECKLISTSETUPID
INNER JOIN MAINCATEGORIES M ON M.MAINCATEGORYID=CSA.MAINCATEGORYID
INNER JOIN SUBCATEGORIES S ON S.MAINCATEGORYID=CSA.MAINCATEGORYID AND S.SUBCATEGORYID=CSA.SUBCATEGORYID
WHERE CS.[STATUS] IN (1,3) AND CS.ALLSITES=1 AND M.STATUS=1 AND S.STATUS=1)A
ORDER BY SETUPNAME
ELSE
SELECT CHECKLISTSETUPID,SETUPNAME FROM(
SELECT DISTINCT CS.CHECKLISTSETUPID,SETUPNAME+CASE WHEN CS.[STATUS]=0 THEN '( InActive )' WHEN EXISTS(SELECT 1 FROM CHECKLISTSETUPSITES WHERE SITEID=@SITEID AND CHECKLISTSETUPID=CS.CHECKLISTSETUPID AND STATUS=0) THEN ' ( Unassigned )' ELSE '' END SETUPNAME
FROM CHECKLISTSETUP CS
INNER JOIN CHECKLISTSETUPCATEGORYASSIGNMENTS CSA ON CSA.CHECKLISTSETUPID=CS.CHECKLISTSETUPID
INNER JOIN CHECKLISTSETUPSITES CSS ON CSS.CHECKLISTSETUPID=CS.CHECKLISTSETUPID
INNER JOIN MAINCATEGORIES M ON M.MAINCATEGORYID=CSA.MAINCATEGORYID
INNER JOIN SUBCATEGORIES S ON S.MAINCATEGORYID=CSA.MAINCATEGORYID AND S.SUBCATEGORYID=CSA.SUBCATEGORYID
WHERE CSS.STATUS=1 AND CS.[STATUS] IN (0,1,3) AND CSS.SITEID = @SITEID AND CS.ALLSITES=0 AND CS.CATEGORYTYPE = 1 AND M.STATUS=1 AND S.STATUS=1
UNION
SELECT DISTINCT CS.CHECKLISTSETUPID,SETUPNAME+CASE WHEN CS.[STATUS]=0 THEN '( InActive )' WHEN EXISTS(SELECT 1 FROM CHECKLISTSETUPSITES WHERE SITEID=@SITEID AND CHECKLISTSETUPID=CS.CHECKLISTSETUPID AND STATUS=0) THEN ' ( Unassigned )' ELSE '' END SETUPNAME
FROM CHECKLISTSETUP CS
INNER JOIN CHECKLISTSETUPCATEGORYASSIGNMENTS CSA ON CSA.CHECKLISTSETUPID=CS.CHECKLISTSETUPID
INNER JOIN MAINCATEGORIES M ON M.MAINCATEGORYID=CSA.MAINCATEGORYID
INNER JOIN SUBCATEGORIES S ON S.MAINCATEGORYID=CSA.MAINCATEGORYID AND S.SUBCATEGORYID=CSA.SUBCATEGORYID
WHERE CS.[STATUS] IN (0,1,3) AND CS.ALLSITES=1 AND M.STATUS=1 AND S.STATUS=1)A
ORDER BY SETUPNAME

