DECLARE @QRY VARCHAR(MAX)
SET @QRY =''
SET @QRY='
DECLARE @DTFORMAT INT
SELECT @DTFORMAT=ISNULL(DATEFORMAT,101) FROM USERINFO WHERE USERID ='+ @USERID + '
DECLARE @RP TABLE(CORRACTIONID INT,RESPONSIBLEPERSON NVARCHAR(512),EMAILID NVARCHAR(512))
INSERT INTO @RP
SELECT CA.CORRACTIONID,

ISNULL(CASE
WHEN (SELECT COUNT(USERID) FROM CORRECTIVEACTIONSRESPONSIBLEPERSONS WHERE CORRACTIONID=CA.CORRACTIONID) =1 THEN
(SELECT LASTNAME+'',''+FIRSTNAME FROM USERS WHERE USERID = (SELECT USERID FROM CORRECTIVEACTIONSRESPONSIBLEPERSONS WHERE CORRACTIONID=CA.CORRACTIONID))
WHEN (SELECT COUNT(USERID) FROM CORRECTIVEACTIONSRESPONSIBLEPERSONS WHERE CORRACTIONID=CA.CORRACTIONID) > 1 THEN  ''Multiple Persons'' END,
MAX(CA.OTHERRESPONSIBLEPERSON))

,ISNULL(CASE
WHEN (SELECT COUNT(USERID) FROM CORRECTIVEACTIONSRESPONSIBLEPERSONS WHERE CORRACTIONID=CA.CORRACTIONID) =1 THEN
(SELECT EMAIL FROM USERS WHERE USERID = (SELECT USERID FROM CORRECTIVEACTIONSRESPONSIBLEPERSONS WHERE CORRACTIONID=CA.CORRACTIONID))
WHEN (SELECT COUNT(USERID) FROM CORRECTIVEACTIONSRESPONSIBLEPERSONS WHERE CORRACTIONID=CA.CORRACTIONID) > 1 THEN  ''Multiple Emails'' END,
MAX(CA.OTHEREMAILID))

FROM CORRECTIVEACTIONS CA
INNER JOIN CORRECTIVEACTIONSCATEGORY CAC ON CAC.CORRACTIONID=CA.CORRACTIONID
INNER JOIN MAINCATEGORIES M ON M.MAINCATEGORYID=CASE WHEN CAC.MAINCATEGORYID =0 THEN M.MAINCATEGORYID ELSE CAC.MAINCATEGORYID END
INNER JOIN SUBCATEGORIES S ON S.SUBCATEGORYID=CASE WHEN CAC.SUBCATEGORYID=0 THEN S.SUBCATEGORYID ELSE CAC.SUBCATEGORYID END
WHERE M.STATUS !=2 AND S.STATUS!=2 AND CA.CARDID=' + CAST(@CARDID AS VARCHAR(16))+'
GROUP BY CA.CORRACTIONID

SELECT DISTINCT CA.CORRACTIONID,
(SELECT RESPONSIBLEPERSON FROM @RP WHERE CORRACTIONID=CA.CORRACTIONID) USERNAME
,(SELECT EMAILID FROM @RP WHERE CORRACTIONID=CA.CORRACTIONID) EMAILID
,CONVERT(VARCHAR(32),[RESPONSEREQUIREDDATE],@DTFORMAT)[RESPONSEREQUIREDDATE]
,CASE WHEN PRIORITY = 1 THEN ''LBLHIGH'' WHEN PRIORITY = 2 THEN ''LBLMEDIUM'' WHEN PRIORITY = 3 THEN ''LBLLOW'' END AS [PRIORITY]
,CASE WHEN CA.CARDSTATUS= 1 THEN ''LBLOPEN'' WHEN CA.CARDSTATUS = 2 THEN ''LBLCOMPLETED'' WHEN CA.CARDSTATUS = 3 THEN ''LBLALTACTION'' END AS [STATUS]
FROM [CORRECTIVEACTIONS]CA
INNER JOIN CORRECTIVEACTIONSCATEGORY CAC ON CAC.CORRACTIONID=CA.CORRACTIONID
INNER JOIN MAINCATEGORIES M ON M.MAINCATEGORYID=CASE WHEN CAC.MAINCATEGORYID =0 THEN M.MAINCATEGORYID ELSE CAC.MAINCATEGORYID END
INNER JOIN SUBCATEGORIES S ON S.SUBCATEGORYID=CASE WHEN CAC.SUBCATEGORYID=0 THEN S.SUBCATEGORYID ELSE CAC.SUBCATEGORYID END
'
+' WHERE M.STATUS !=2 AND S.STATUS!=2 AND  CARDID = ' +  CAST(@CARDID AS VARCHAR(16))+' AND CA.STATUS <> 2 '

EXEC(@QRY)