--GETCHECKLISTSHIFTLIST_1.0
IF @MODE=0
SELECT SHIFTID,SHIFTNAME FROM SHIFTS WHERE SHIFTID
IN(SELECT SHIFTID FROM SITESHIFTS WHERE SITEID=@SITEID AND STATUS=1) AND STATUS=1
ELSE
BEGIN
IF @OBSAPPROVALPC=0
SELECT SHIFTID,SHIFTNAME FROM (
SELECT SHIFTID,SHIFTNAME+CASE WHEN STATUS=0 THEN '( InActive )' WHEN EXISTS(SELECT 1 FROM SITESHIFTS WHERE SITEID=@SITEID AND SHIFTID=SH.SHIFTID AND STATUS=0) THEN ' ( Unassigned )' ELSE '' END SHIFTNAME  FROM SHIFTS SH WHERE SHIFTID
IN(SELECT ISNULL(SHIFTID,0) FROM STOPCARDENTRY WHERE CARDID=@CARDID AND SITEID =@SITEID)
UNION
SELECT SH.SHIFTID,SHIFTNAME  FROM SHIFTS SH
INNER JOIN SITESHIFTS SS ON SS.SITEID=@SITEID AND SS.SHIFTID=SH.SHIFTID AND SS.STATUS=1
WHERE SH.STATUS=1 AND SH.SHIFTID NOT IN(SELECT ISNULL(SHIFTID,0) FROM STOPCARDENTRY WHERE CARDID=@CARDID AND SITEID =@SITEID))A
ORDER BY SHIFTNAME
ELSE IF @OBSAPPROVALPC=1
SELECT SHIFTID,SHIFTNAME FROM (
SELECT SHIFTID,SHIFTNAME+CASE WHEN STATUS=0 THEN '( InActive )' WHEN EXISTS(SELECT 1 FROM SITESHIFTS WHERE SITEID=@SITEID AND SHIFTID=SH.SHIFTID AND STATUS=0) THEN ' ( Unassigned )' ELSE '' END SHIFTNAME  FROM SHIFTS SH WHERE SHIFTID
IN(SELECT ISNULL(SHIFTID,0) FROM STOPCARDENTRY_OL WHERE CARDID=@CARDID AND SITEID =@SITEID)
UNION
SELECT SH.SHIFTID,SHIFTNAME  FROM SHIFTS SH
INNER JOIN SITESHIFTS SS ON SS.SITEID=@SITEID AND SS.SHIFTID=SH.SHIFTID AND SS.STATUS=1
WHERE SH.STATUS=1 AND SH.SHIFTID NOT IN(SELECT ISNULL(SHIFTID,0) FROM STOPCARDENTRY_OL WHERE CARDID=@CARDID AND SITEID =@SITEID))A
ORDER BY SHIFTNAME

END