SELECT
CARDID,CONVERT(VARCHAR,OBSERVATIONDATE,101)[OBSERVATIONDATE],
CASE OBSERVERCOUNT WHEN 0 THEN (SELECT LASTNAME+','+FIRSTNAME FROM USERS
WHERE USERID = (SELECT TOP 1 OBSERVERID FROM STOPCARDENTRYOBSERVERS WHERE CARDID=S.CARDID)) ELSE 'LBLMULTIPLEOBSERVERS' END [OBSERVER],
(SELECT AREANAME FROM AREAS WHERE AREAID=S.AREAID)[AREAS],
CASE WHEN [STATUS]= 1 THEN 'LBLACTIVE' WHEN [STATUS] = 0 THEN 'LBLINACTIVE' END AS [STATUS],STOPCARDTYPE
FROM STOPCARDENTRY S WHERE [STATUS]!=2 AND STOPCARDTYPE = @CORRACTYPE
