--GETCUSTOMFIELDSNAME_1.0
SELECT PARENTID AS CUSTOMFIELDID,ENTITYVALUE AS CUSTOMFIELDNAME,CF.ISMANDATORY AS MANDATORY FROM ENTITYTRANSLATION ET
INNER JOIN CUSTOMFIELDS CF
ON CF.CUSTOMFIELDID = ET.PARENTID WHERE LANGUAGEID =@LANGUAGEID AND ENTITYTYPE='CUS_NAME'
AND CF.STATUS=1 ORDER BY CUSTOMFIELDNAME