
SELECT * FROM (
SELECT CHECKLISTSETUPID,REPLACE(SETUPNAME,'\','\\') SETUPNAME FROM CHECKLISTSETUP CS WHERE ALLSITES=1 AND STATUS =1
AND EXISTS(SELECT 1 FROM CHECKLISTSETUPCATEGORYASSIGNMENTS CSS INNER JOIN MAINCATEGORIES M ON M.MAINCATEGORYID=CSS.MAINCATEGORYID WHERE M.STATUS=1 AND CHECKLISTSETUPID=CS.CHECKLISTSETUPID)

UNION
SELECT CS.CHECKLISTSETUPID,REPLACE(CS.SETUPNAME,'\','\\') SETUPNAME FROM CHECKLISTSETUP CS
INNER JOIN CHECKLISTSETUPSITES CSS ON CSS.CHECKLISTSETUPID=CS.CHECKLISTSETUPID
WHERE CS.ALLSITES=0 AND CSS.SITEID IN (SELECT RESULT FROM dbo.CSVtoTable(@SITEID)) AND CS.STATUS=1 AND CSS.STATUS=1
AND EXISTS(SELECT 1 FROM CHECKLISTSETUPCATEGORYASSIGNMENTS CSS INNER JOIN MAINCATEGORIES M ON M.MAINCATEGORYID=CSS.MAINCATEGORYID WHERE M.STATUS=1 AND CHECKLISTSETUPID=CS.CHECKLISTSETUPID)
) A
ORDER BY SETUPNAME
