DECLARE @DATEFORMAT INT
SELECT @DATEFORMAT=DATEFORMAT FROM USERINFO WHERE USERID=@USERID
SELECT
SC.[SITEID],[SITENAME] + CASE WHEN S.STATUS=0 THEN '( InActive )' ELSE '' END SITENAME
,CONVERT(VARCHAR(32),[OBSERVATIONDATE],101)[OBSERVATIONDATE]
,SC.[CHECKLISTSETUPID]
,[AREAID]
,[SUBAREAID]
,[SHIFTID]
,[LENGTH]
,[PEOPLECONTACTED]
,[PEOPLEOBSERVED]
,[SAFECOMMENTS]
,[UNSAFECOMMENTS]
,SC.[STATUS]
,(SELECT LASTNAME+','+FIRSTNAME FROM USERS WHERE USERID=SC.CREATEDBY) ENTEREDBY
,CONVERT(VARCHAR(32),SC.CREATEDDATE,@DATEFORMAT) ENTEREDDATE
FROM [STOPCARDENTRY]SC
INNER JOIN SITES S
ON SC.SITEID = S.SITEID
WHERE CARDID = @CARDID


