CREATE TABLE #OBSERVERS(CORRACTIONID INT,USERID BIGINT)
CREATE TABLE #FINALOBSERVERS(CORRACTIONID INT,USERID NVARCHAR(512))
CREATE TABLE #FINALRESULT(SCHEDULEID INT,CARDID INT,CORRACTIONID INT,ACTIONOWNER INT,ACTIONOWNERMAILID NVARCHAR(512),USERID NVARCHAR(512),REGEXBODY NVARCHAR(MAX),SITENAME NVARCHAR(512))
CREATE TABLE #CATEGORY(CORRACTIONID INT,MAINCATEGORYNAME NVARCHAR(MAX),SUBCATEGORYNAME NVARCHAR(MAX),OBSERVER NVARCHAR(MAX))

DECLARE @STARTDATE DATETIME,@ENDDATE DATETIME,@MAXEMAILS INT,@TIMEZONEID INT,@SITEOPTIONID INT,
@GROUP1OPTION INT,@GROUP2OPTION INT,@GROUP3OPTION INT,@GROUP4OPTION INT,@GROUP5OPTION INT,@GROUP6OPTION INT,@GROUP7OPTION INT,@GROUP8OPTION INT,@GROUP9OPTION INT,@GROUP10OPTION INT,@ROLEOPTION INT,
@OVERALLOPTIONCNT INT,@GROUPCNT INT,@URL NVARCHAR(1024),@SCHEDULETYPEID INT,@FROM VARCHAR(256),@PRIORNOTDAYS INT,@LBLCHECKLISTNO NVARCHAR(16),@ACTIONOWNER INT

DECLARE @DEFAULTDATEFORMAT INT
SELECT @DEFAULTDATEFORMAT=CAST(OPTIONVALUE AS INT) FROM COMPANYOPTIONS WHERE OPTIONNAME='DefaultDateFormat'

SET @FROM =''
set @LBLCHECKLISTNO=''
SELECT @FROM=OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME='MAILFROM'

DELETE FROM DBO.SCHEDULEOTHERUSERLOG WHERE CONVERT(VARCHAR(32),CREATEDDATE,101) = CONVERT(VARCHAR(32),GETUTCDATE()-2,101) AND SCHEDULEID =@SCHEDULEID AND SCHEDULETYPEID =(SELECT SCHEDULETYPEID FROM SCHEDULE WHERE SCHEDULEID = @SCHEDULEID)

SELECT @SCHEDULETYPEID=SCHEDULETYPEID FROM SCHEDULE WHERE SCHEDULEID=@SCHEDULEID
SELECT @PRIORNOTDAYS=PRIORNOTDAYS FROM SCHEDULEOPTIONS WHERE SCHEDULEID=@SCHEDULEID

SET @URL=''

SELECT @URL=OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME='URL'

SELECT @SITEOPTIONID=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='SITEID'
SELECT @GROUP1OPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='GROUP1'
SELECT @GROUP2OPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='GROUP2'
SELECT @GROUP3OPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='GROUP3'
SELECT @GROUP4OPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='GROUP4'
SELECT @GROUP5OPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='GROUP5'
SELECT @GROUP6OPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='GROUP6'
SELECT @GROUP7OPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='GROUP7'
SELECT @GROUP8OPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='GROUP8'
SELECT @GROUP9OPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='GROUP9'
SELECT @GROUP10OPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='GROUP10'
SELECT @ROLEOPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='ROLEID'

SELECT @STARTDATE=GETUTCDATE(),@ENDDATE=ENDDATE
,@MAXEMAILS=MAXEMAILS,@TIMEZONEID=(SELECT TOP 1 TIMEZONEID FROM TIMEZONES WHERE DURATION=TIMEZONEDURATION AND STATUS = 1 ) FROM SCHEDULEOPTIONS WHERE SCHEDULEID=@SCHEDULEID
DECLARE @QRY VARCHAR(MAX)
SET @QRY=''


                

IF @SCHEDULETYPEID =2
BEGIN
--REMAINDER (2)

SET @QRY='
INSERT INTO #OBSERVERS
SELECT CA.CORRACTIONID,U.USERID
FROM CORRECTIVEACTIONS CA
INNER JOIN STOPCARDENTRY SCE ON SCE.CARDID=CA.CARDID
INNER JOIN CORRECTIVEACTIONSRESPONSIBLEPERSONS CARP ON CARP.CORRACTIONID=CA.CORRACTIONID
INNER JOIN USERS U ON U.USERID =CARP.USERID
INNER JOIN USERINFO UI ON UI.USERID =CARP.USERID
INNER JOIN SITES S ON S.SITEID =SCE.SITEID
INNER JOIN USERSITES US ON US.SITEID =SCE.SITEID AND US.USERID = CARP.USERID '
+CASE WHEN EXISTS(SELECT 1 FROM SCHEDULEASSIGNMENTS WHERE SCHEDULEID = @SCHEDULEID AND OPTIONID=1) THEN
' INNER JOIN SCHEDULEASSIGNMENTS SA ON SA.SCHEDULEID='+CAST(@SCHEDULEID AS VARCHAR(8)) + '  AND SA.OPTIONID = 1 AND SA.OPTIONVALUE=SCE.SITEID ' ELSE '' END
+ ' WHERE CA.CARDSTATUS IN(1,3) AND CA.STATUS=1 AND SCE.STATUS=1 AND U.STATUS=1 AND S.STATUS=1 AND US.STATUS =1 AND UI.TIMEZONE= ' +CAST(@TIMEZONEID AS VARCHAR(8)) 
+CASE WHEN EXISTS(SELECT 1 FROM SCHEDULEASSIGNMENTS WHERE SCHEDULEID = @SCHEDULEID AND OPTIONID=17) THEN
' AND UI.DEFAULTROLEID IN (SELECT OPTIONVALUE FROM SCHEDULEASSIGNMENTS WHERE OPTIONID = 17 AND SCHEDULEID= '+CAST(@SCHEDULEID AS VARCHAR(8)) +')' ELSE '' END
+' AND DATEDIFF(DD,CAST('''+CONVERT(VARCHAR(32),@STARTDATE,101)+''' AS DATETIME),CA.RESPONSEREQUIREDDATE)<= '+CAST(@PRIORNOTDAYS AS VARCHAR(8))
+ ' AND CAST(CONVERT(VARCHAR(32),CA.RESPONSEREQUIREDDATE,101) AS DATETIME)>= CAST('''+CONVERT(VARCHAR(32),GETDATE(),101)+''' AS DATETIME) '
+' AND  (CASE WHEN ISNULL('+CAST(ISNULL(@MAXEMAILS,0) AS VARCHAR(32))+',0)>0 AND EXISTS (SELECT 1 FROM USERINBOX WHERE TOKENID ='+CAST(@SCHEDULEID AS VARCHAR(8)) +' AND USERID=U.USERID AND CORRACTIONID=CA.CORRACTIONID) AND  
EXISTS(SELECT 1 FROM USERINBOX WHERE TOKENID ='+CAST(@SCHEDULEID AS VARCHAR(8)) +' AND USERID =U.USERID AND CORRACTIONID=CA.CORRACTIONID GROUP BY USERID HAVING COUNT(*) <'+CAST(ISNULL(@MAXEMAILS,0) AS VARCHAR(32))+') THEN 1 
WHEN ISNULL('+CAST(ISNULL(@MAXEMAILS,0) AS VARCHAR(32))+',0)>0 AND NOT EXISTS(SELECT 1 FROM USERINBOX WHERE USERID =U.USERID AND CORRACTIONID=CA.CORRACTIONID AND TOKENID ='+CAST(@SCHEDULEID AS VARCHAR(8)) +') THEN 1
WHEN ISNULL('+CAST(ISNULL(@MAXEMAILS,0) AS VARCHAR(32))+',0)=0 THEN 1 
ELSE 0 END)= (CASE WHEN ISNULL('+CAST(ISNULL(@MAXEMAILS,0) AS VARCHAR(32))+',0)>0 OR ISNULL('+CAST(ISNULL(@MAXEMAILS,0) AS VARCHAR(32))+',0)=0 THEN 1  ELSE 0 END)'

PRINT @QRY
EXEC(@QRY)

SET @QRY=''

SET @QRY='

INSERT INTO #FINALOBSERVERS
SELECT DISTINCT CA.CORRACTIONID,CA.OTHERRESPONSIBLEPERSON
FROM CORRECTIVEACTIONS CA
INNER JOIN STOPCARDENTRY SCE ON SCE.CARDID=CA.CARDID '
+CASE WHEN EXISTS(SELECT 1 FROM SCHEDULEASSIGNMENTS WHERE SCHEDULEID = @SCHEDULEID AND OPTIONID=1) THEN
' INNER JOIN SCHEDULEASSIGNMENTS SA ON SA.SCHEDULEID='+CAST(@SCHEDULEID AS VARCHAR(8)) + '  AND SA.OPTIONID = 1 AND SA.OPTIONVALUE=SCE.SITEID ' ELSE '' END
+' WHERE CA.CARDSTATUS IN(1,3) AND CA.STATUS=1 AND SCE.STATUS=1 '
+' AND DATEDIFF(DD,CAST('''+CONVERT(VARCHAR(32),@STARTDATE,101)+''' AS DATETIME),CA.RESPONSEREQUIREDDATE)<= '+CAST(@PRIORNOTDAYS AS VARCHAR(8))
+' AND CAST(CONVERT(VARCHAR(32),CA.RESPONSEREQUIREDDATE,101) AS DATETIME)>= CAST('''+CONVERT(VARCHAR(32),GETDATE(),101)+''' AS DATETIME)
                AND NOT EXISTS(SELECT 1 FROM SCHEDULEOTHERUSERLOG WHERE SCHEDULEID = '+CAST(@SCHEDULEID AS VARCHAR(8)) + ' AND SCHEDULETYPEID = '+CAST(@SCHEDULETYPEID AS VARCHAR(8)) + ' AND CORRACTIONID=CA.CORRACTIONID AND OTHERRESPONSIBLEPERSON=CA.OTHERRESPONSIBLEPERSON AND CONVERT(VARCHAR(32),CREATEDDATE,101)=CONVERT(VARCHAR(32),GETUTCDATE(),101)) '
+' AND ((EXISTS( SELECT 1 FROM CORRECTIVEACTIONSRESPONSIBLEPERSONS CR WHERE CR.CORRACTIONID=CA.CORRACTIONID) AND EXISTS(SELECT 1 FROM #OBSERVERS R WHERE R.CORRACTIONID=CA.CORRACTIONID)) OR (NOT EXISTS( SELECT 1 FROM CORRECTIVEACTIONSRESPONSIBLEPERSONS CR WHERE CR.CORRACTIONID=CA.CORRACTIONID) AND NOT EXISTS(SELECT 1 FROM #OBSERVERS R WHERE R.CORRACTIONID=CA.CORRACTIONID)))'

EXEC(@QRY)

DELETE FROM #FINALOBSERVERS WHERE USERID IS NULL OR USERID =''

END
ELSE
BEGIN
--OUTSTANDING (1)
SET @QRY='
INSERT INTO #OBSERVERS
SELECT CA.CORRACTIONID,U.USERID
FROM CORRECTIVEACTIONS CA
INNER JOIN STOPCARDENTRY SCE ON SCE.CARDID=CA.CARDID
INNER JOIN CORRECTIVEACTIONSRESPONSIBLEPERSONS CARP ON CARP.CORRACTIONID=CA.CORRACTIONID
INNER JOIN USERS U ON U.USERID =CARP.USERID
INNER JOIN USERINFO UI ON UI.USERID =CARP.USERID
INNER JOIN SITES S ON S.SITEID =SCE.SITEID
INNER JOIN USERSITES US ON US.SITEID =SCE.SITEID AND US.USERID = CARP.USERID '
+CASE WHEN EXISTS(SELECT 1 FROM SCHEDULEASSIGNMENTS WHERE SCHEDULEID = @SCHEDULEID AND OPTIONID=1) THEN
' INNER JOIN SCHEDULEASSIGNMENTS SA ON SA.SCHEDULEID='+CAST(@SCHEDULEID AS VARCHAR(8)) + '  AND SA.OPTIONID = 1 AND SA.OPTIONVALUE=SCE.SITEID ' ELSE '' END
+ ' WHERE CA.CARDSTATUS IN(1,3) AND CA.STATUS=1 AND SCE.STATUS=1 AND U.STATUS=1 AND S.STATUS=1 AND US.STATUS =1 AND UI.TIMEZONE= ' +CAST(@TIMEZONEID AS VARCHAR(8)) 
+CASE WHEN EXISTS(SELECT 1 FROM SCHEDULEASSIGNMENTS WHERE SCHEDULEID = @SCHEDULEID AND OPTIONID=17) THEN
' AND UI.DEFAULTROLEID IN (SELECT OPTIONVALUE FROM SCHEDULEASSIGNMENTS WHERE OPTIONID = 17 AND SCHEDULEID= '+CAST(@SCHEDULEID AS VARCHAR(8)) +')' ELSE '' END
+' AND CA.RESPONSEREQUIREDDATE<CAST(CONVERT(VARCHAR(32),GETUTCDATE(),101)  AS DATETIME ) '
+' AND  (CASE WHEN ISNULL('+CAST(ISNULL(@MAXEMAILS,0) AS VARCHAR(32))+',0)>0 AND EXISTS (SELECT 1 FROM USERINBOX WHERE TOKENID ='+CAST(@SCHEDULEID AS VARCHAR(8)) +' AND USERID=U.USERID AND CORRACTIONID=CA.CORRACTIONID) AND  
EXISTS(SELECT 1 FROM USERINBOX WHERE TOKENID ='+CAST(@SCHEDULEID AS VARCHAR(8)) +' AND USERID =U.USERID AND CORRACTIONID=CA.CORRACTIONID GROUP BY USERID HAVING COUNT(*) <'+CAST(ISNULL(@MAXEMAILS,0) AS VARCHAR(32))+') THEN 1 
WHEN ISNULL('+CAST(ISNULL(@MAXEMAILS,0) AS VARCHAR(32))+',0)>0 AND NOT EXISTS(SELECT 1 FROM USERINBOX WHERE USERID =U.USERID AND CORRACTIONID=CA.CORRACTIONID AND TOKENID ='+CAST(@SCHEDULEID AS VARCHAR(8)) +') THEN 1
WHEN ISNULL('+CAST(ISNULL(@MAXEMAILS,0) AS VARCHAR(32))+',0)=0 THEN 1 
ELSE 0 END)= (CASE WHEN ISNULL('+CAST(ISNULL(@MAXEMAILS,0) AS VARCHAR(32))+',0)>0 OR ISNULL('+CAST(ISNULL(@MAXEMAILS,0) AS VARCHAR(32))+',0)=0 THEN 1  ELSE 0 END)'

PRINT @QRY
EXEC(@QRY)

SET @QRY=''
SET @QRY='

INSERT INTO #FINALOBSERVERS
SELECT DISTINCT CA.CORRACTIONID,CA.OTHERRESPONSIBLEPERSON
FROM CORRECTIVEACTIONS CA
INNER JOIN STOPCARDENTRY SCE ON SCE.CARDID=CA.CARDID '
+CASE WHEN EXISTS(SELECT 1 FROM SCHEDULEASSIGNMENTS WHERE SCHEDULEID = @SCHEDULEID AND OPTIONID=1) THEN
' INNER JOIN SCHEDULEASSIGNMENTS SA ON SA.SCHEDULEID='+CAST(@SCHEDULEID AS VARCHAR(8)) + '  AND SA.OPTIONID = 1 AND SA.OPTIONVALUE=SCE.SITEID ' ELSE '' END
+ '
WHERE CA.CARDSTATUS IN(1,3) AND CA.STATUS=1 AND SCE.STATUS=1 
AND CA.RESPONSEREQUIREDDATE<CAST(CONVERT(VARCHAR(32),GETUTCDATE(),101)  AS DATETIME) 
AND NOT EXISTS(SELECT 1 FROM SCHEDULEOTHERUSERLOG WHERE SCHEDULEID = '+CAST(@SCHEDULEID AS VARCHAR(16))+' AND SCHEDULETYPEID = '+CAST(@SCHEDULETYPEID AS VARCHAR(16))+' AND CORRACTIONID=CA.CORRACTIONID AND OTHERRESPONSIBLEPERSON=CA.OTHERRESPONSIBLEPERSON AND CONVERT(VARCHAR(32),CREATEDDATE,101)=CONVERT(VARCHAR(32),GETUTCDATE(),101)) '
+' AND ((EXISTS( SELECT 1 FROM CORRECTIVEACTIONSRESPONSIBLEPERSONS CR WHERE CR.CORRACTIONID=CA.CORRACTIONID) AND EXISTS(SELECT 1 FROM #OBSERVERS R WHERE R.CORRACTIONID=CA.CORRACTIONID)) OR (NOT EXISTS( SELECT 1 FROM CORRECTIVEACTIONSRESPONSIBLEPERSONS CR WHERE CR.CORRACTIONID=CA.CORRACTIONID) AND NOT EXISTS(SELECT 1 FROM #OBSERVERS R WHERE R.CORRACTIONID=CA.CORRACTIONID)))'

print @QRY
EXEC(@QRY)

DELETE FROM #FINALOBSERVERS WHERE USERID IS NULL OR USERID =''

END

INSERT INTO #FINALRESULT
SELECT DISTINCT @SCHEDULEID,SCE.CARDID,FO.CORRACTIONID,CA.OWNER,(SELECT TOP 1 EMAIL FROM USERS WHERE USERID=CA.OWNER) ACTIONOWNERMAILID,FO.USERID,ISNULL(FO.USERID,'')+'|'+ISNULL(FO.USERID,'')++'|'+ISNULL(CA.ACTIONPLANNED,'')+'|'+CASE WHEN CA.RESPONSEREQUIREDDATE IS NULL THEN '-' ELSE CONVERT(VARCHAR(32),ISNULL(CA.RESPONSEREQUIREDDATE,''),ISNULL(UI.DATEFORMAT,@DEFAULTDATEFORMAT)) END
+'|'+CASE CA.PRIORITY WHEN 1 THEN 'High' WHEN 2 THEN 'Medium' WHEN 3 THEN 'Low' END 
+'|'+CASE CA.STATUS WHEN 1 THEN 'Active' WHEN 2 THEN 'Deleted' WHEN 0 THEN 'Inactive' END 
+'|'+(SELECT TOP 1 LASTNAME+','+FIRSTNAME FROM USERS WHERE USERID = CA.OWNER)
+'|'+CASE WHEN CA.RESPONSEDATE IS NULL THEN '-' ELSE CONVERT(VARCHAR(32),ISNULL(CA.RESPONSEDATE,''),ISNULL(UI.DATEFORMAT,@DEFAULTDATEFORMAT)) END
+'|'+(SELECT TOP 1 CONVERT(VARCHAR(32),OBSERVATIONDATE,ISNULL(UI.DATEFORMAT,@DEFAULTDATEFORMAT)) FROM STOPCARDENTRY WHERE CARDID=CA.CARDID)
+'|'+CASE CA.CARDSTATUS WHEN 1 THEN 'Open' WHEN 2 THEN 'Completed' WHEN 3 THEN 'Alternate action' END 
,(SELECT SITENAME FROM SITES WHERE SITEID =SCE.SITEID)
FROM #FINALOBSERVERS FO
INNER JOIN CORRECTIVEACTIONS CA ON CA.CORRACTIONID=FO.CORRACTIONID
INNER JOIN STOPCARDENTRY SCE ON SCE.CARDID=CA.CARDID
LEFT JOIN USERINFO UI ON CAST(UI.USERID AS VARCHAR(16))=FO.USERID



IF EXISTS(SELECT 1 FROM SCHEDULEASSIGNMENTS WHERE SCHEDULEID = @SCHEDULEID AND OPTIONID BETWEEN 22 AND 31)
BEGIN

SELECT @OVERALLOPTIONCNT=COUNT(DISTINCT OPTIONID) FROM SCHEDULEASSIGNMENTS WHERE SCHEDULEID=@SCHEDULEID AND OPTIONID NOT IN (1,17)

INSERT INTO #FINALOBSERVERS
SELECT DISTINCT O.CORRACTIONID,CASE WHEN
(CASE WHEN UG1.USERID IS NULL THEN 0 ELSE 1 END+
CASE WHEN UG2.USERID IS NULL THEN 0 ELSE 1 END+
CASE WHEN UG3.USERID IS NULL THEN 0 ELSE 1 END+
CASE WHEN UG4.USERID IS NULL THEN 0 ELSE 1 END+
CASE WHEN UG5.USERID IS NULL THEN 0 ELSE 1 END+
CASE WHEN UG6.USERID IS NULL THEN 0 ELSE 1 END+
CASE WHEN UG7.USERID IS NULL THEN 0 ELSE 1 END+
CASE WHEN UG8.USERID IS NULL THEN 0 ELSE 1 END+
CASE WHEN UG9.USERID IS NULL THEN 0 ELSE 1 END+
CASE WHEN UG10.USERID IS NULL THEN 0 ELSE 1 END )=@OVERALLOPTIONCNT THEN O.USERID ELSE NULL END
FROM #OBSERVERS O

LEFT JOIN SCHEDULEASSIGNMENTS SA2 ON SA2.OPTIONID=@GROUP1OPTION AND SA2.SCHEDULEID=@SCHEDULEID
LEFT JOIN USERGROUPS UG1 ON UG1.GROUPID=SA2.OPTIONVALUE AND UG1.USERID=O.USERID AND UG1.STATUS=1

LEFT JOIN SCHEDULEASSIGNMENTS SA3 ON SA3.OPTIONID=@GROUP2OPTION AND SA3.SCHEDULEID=@SCHEDULEID
LEFT JOIN USERGROUPS UG2 ON UG2.GROUPID=SA3.OPTIONVALUE AND UG2.USERID=O.USERID AND UG2.STATUS=1

LEFT JOIN SCHEDULEASSIGNMENTS SA4 ON SA4.OPTIONID=@GROUP3OPTION AND SA4.SCHEDULEID=@SCHEDULEID
LEFT JOIN USERGROUPS UG3 ON UG3.GROUPID=SA4.OPTIONVALUE AND UG3.USERID=O.USERID AND UG3.STATUS=1

LEFT JOIN SCHEDULEASSIGNMENTS SA5 ON SA5.OPTIONID=@GROUP4OPTION AND SA5.SCHEDULEID=@SCHEDULEID
LEFT JOIN USERGROUPS UG4 ON UG4.GROUPID=SA5.OPTIONVALUE AND UG4.USERID=O.USERID AND UG4.STATUS=1

LEFT JOIN SCHEDULEASSIGNMENTS SA6 ON SA6.OPTIONID=@GROUP5OPTION AND SA6.SCHEDULEID=@SCHEDULEID
LEFT JOIN USERGROUPS UG5 ON UG5.GROUPID=SA6.OPTIONVALUE AND UG5.USERID=O.USERID AND UG5.STATUS=1

LEFT JOIN SCHEDULEASSIGNMENTS SA7 ON SA7.OPTIONID=@GROUP6OPTION AND SA7.SCHEDULEID=@SCHEDULEID
LEFT JOIN USERGROUPS UG6 ON UG6.GROUPID=SA7.OPTIONVALUE AND UG6.USERID=O.USERID AND UG6.STATUS=1

LEFT JOIN SCHEDULEASSIGNMENTS SA8 ON SA8.OPTIONID=@GROUP7OPTION AND SA8.SCHEDULEID=@SCHEDULEID
LEFT JOIN USERGROUPS UG7 ON UG7.GROUPID=SA8.OPTIONVALUE AND UG7.USERID=O.USERID AND UG7.STATUS=1

LEFT JOIN SCHEDULEASSIGNMENTS SA9 ON SA9.OPTIONID=@GROUP8OPTION AND SA9.SCHEDULEID=@SCHEDULEID
LEFT JOIN USERGROUPS UG8 ON UG8.GROUPID=SA9.OPTIONVALUE AND UG8.USERID=O.USERID AND UG8.STATUS=1

LEFT JOIN SCHEDULEASSIGNMENTS SA10 ON SA10.OPTIONID=@GROUP9OPTION AND SA10.SCHEDULEID=@SCHEDULEID
LEFT JOIN USERGROUPS UG9 ON UG9.GROUPID=SA10.OPTIONVALUE AND UG9.USERID=O.USERID AND UG9.STATUS=1

LEFT JOIN SCHEDULEASSIGNMENTS SA11 ON SA11.OPTIONID=@GROUP10OPTION AND SA11.SCHEDULEID=@SCHEDULEID
LEFT JOIN USERGROUPS UG10 ON UG10.GROUPID=SA11.OPTIONVALUE AND UG10.USERID=O.USERID AND UG10.STATUS=1


DELETE FROM #FINALOBSERVERS WHERE USERID IS NULL

END
ELSE
INSERT INTO #FINALOBSERVERS
SELECT DISTINCT CORRACTIONID,CAST(USERID AS VARCHAR(32)) FROM #OBSERVERS



DECLARE @MINCORRACTIONID INT,@MAINCATEGORYNAME NVARCHAR(MAX),@SUBCATEGORYNAME NVARCHAR(MAX),@OBSERVER NVARCHAR(MAX)
SET @MAINCATEGORYNAME=''
SET @SUBCATEGORYNAME=''
SET @OBSERVER=''


SELECT @MINCORRACTIONID=MIN(CORRACTIONID) FROM #FINALOBSERVERS

WHILE EXISTS(SELECT 1 FROM #FINALOBSERVERS WHERE CORRACTIONID= @MINCORRACTIONID)
BEGIN

SELECT @MAINCATEGORYNAME=@MAINCATEGORYNAME+ENTITYVALUE+'<BR>
  ' FROM
  (SELECT DISTINCT ENTITYVALUE
  FROM CORRECTIVEACTIONSCATEGORY CAC
  INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID=CAC.MAINCATEGORYID AND ET.ENTITYTYPE='MAIN_CTG' AND ET.LANGUAGEID=4
  WHERE CORRACTIONID=@MINCORRACTIONID AND ISASSIGNED=1)A

  SELECT @SUBCATEGORYNAME=@SUBCATEGORYNAME+ENTITYVALUE+'<BR>
    ' FROM
    (SELECT DISTINCT ENTITYVALUE
    FROM CORRECTIVEACTIONSCATEGORY CAC
    INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID=CAC.MAINCATEGORYID AND ET.ENTITYID=CAC.SUBCATEGORYID AND ET.ENTITYTYPE='SUB_CTG' AND ET.LANGUAGEID=4
    WHERE CORRACTIONID=@MINCORRACTIONID AND ISASSIGNED=1)A

    SELECT @OBSERVER=@OBSERVER+USERNAME+'<BR>' FROM
     (SELECT DISTINCT U.LASTNAME+','+FIRSTNAME USERNAME
     FROM CORRECTIVEACTIONS CA
     INNER JOIN STOPCARDENTRY SCE ON SCE.CARDID=CA.CARDID
     INNER JOIN STOPCARDENTRYOBSERVERS SCO ON SCO.CARDID=SCE.CARDID
     INNER JOIN USERS U ON U.USERID = SCO.OBSERVERID
     WHERE CA.CORRACTIONID=@MINCORRACTIONID)A
     
     
     INSERT INTO #CATEGORY(CORRACTIONID,MAINCATEGORYNAME,SUBCATEGORYNAME,OBSERVER)
     SELECT @MINCORRACTIONID,@MAINCATEGORYNAME,@SUBCATEGORYNAME,@OBSERVER
     
     SET @MAINCATEGORYNAME=''
     SET @SUBCATEGORYNAME=''
     SET @OBSERVER=''
     SELECT @MINCORRACTIONID=MIN(CORRACTIONID) FROM #FINALOBSERVERS WHERE CORRACTIONID>@MINCORRACTIONID
END


DELETE F FROM 
#FINALOBSERVERS F 
INNER JOIN CORRECTIVEACTIONS C ON C.CORRACTIONID=F.CORRACTIONID AND F.USERID=C.OTHERRESPONSIBLEPERSON
INNER JOIN CORRECTIVEACTIONSRESPONSIBLEPERSONS CR ON CR.CORRACTIONID=F.CORRACTIONID
WHERE NOT EXISTS(SELECT 1 FROM #FINALOBSERVERS FF WHERE FF.USERID =CAST(CR.USERID AS VARCHAR(16)) AND FF.CORRACTIONID=CR.CORRACTIONID)


INSERT INTO #FINALRESULT
SELECT DISTINCT @SCHEDULEID,SCE.CARDID,FO.CORRACTIONID,CA.OWNER,(SELECT TOP 1 EMAIL FROM USERS WHERE USERID=CA.OWNER) ACTIONOWNERMAILID,FO.USERID,U.LASTNAME+'|'+U.FIRSTNAME++'|'+CA.ACTIONPLANNED+'|'+CONVERT(VARCHAR(32),CA.RESPONSEREQUIREDDATE,ISNULL(UI.DATEFORMAT,@DEFAULTDATEFORMAT))
+'|'+CASE CA.PRIORITY WHEN 1 THEN 'High' WHEN 2 THEN 'Medium' WHEN 3 THEN 'Low' END 
+'|'+CASE CA.STATUS WHEN 1 THEN 'Active' WHEN 2 THEN 'Deleted' WHEN 0 THEN 'Inactive' END 
+'|'+(SELECT TOP 1 LASTNAME+','+FIRSTNAME FROM USERS WHERE USERID = CA.OWNER)
+'|'+CASE WHEN CA.RESPONSEDATE IS NULL THEN '-' ELSE CONVERT(VARCHAR(32),ISNULL(CA.RESPONSEDATE,''),ISNULL(UI.DATEFORMAT,@DEFAULTDATEFORMAT)) END
+'|'+(SELECT TOP 1 CONVERT(VARCHAR(32),OBSERVATIONDATE,ISNULL(UI.DATEFORMAT,@DEFAULTDATEFORMAT)) FROM STOPCARDENTRY WHERE CARDID=CA.CARDID)
+'|'+CASE CA.CARDSTATUS WHEN 1 THEN 'Open' WHEN 2 THEN 'Completed' WHEN 3 THEN 'Alternate action' END 
,(SELECT SITENAME FROM SITES WHERE SITEID =SCE.SITEID)
FROM #FINALOBSERVERS FO
INNER JOIN USERS U ON CAST(U.USERID AS NVARCHAR(512))=CAST(FO.USERID AS NVARCHAR(512))
INNER JOIN USERINFO UI ON UI.USERID=U.USERID
INNER JOIN CORRECTIVEACTIONS CA ON CA.CORRACTIONID=FO.CORRACTIONID
INNER JOIN STOPCARDENTRY SCE ON SCE.CARDID =CA.CARDID

DELETE FROM #FINALRESULT WHERE REGEXBODY IS NULL

DELETE F FROM 
#FINALRESULT F 
INNER JOIN CORRECTIVEACTIONS C ON C.CORRACTIONID=F.CORRACTIONID AND F.USERID=C.OTHERRESPONSIBLEPERSON
INNER JOIN CORRECTIVEACTIONSRESPONSIBLEPERSONS CR ON CR.CORRACTIONID=F.CORRACTIONID
WHERE NOT EXISTS(SELECT 1 FROM #FINALRESULT FF WHERE FF.USERID =CAST(CR.USERID AS VARCHAR(16)) AND FF.CORRACTIONID=CR.CORRACTIONID)


SELECT DISTINCT S.COMPANYID,O.USERID,@FROM [FROM],S.REPLYTO [REPLYTO],U.EMAIL [TO],ISNULL(S.CC,'')+CASE WHEN @SCHEDULETYPEID=1 THEN (CASE WHEN LEN(ACTIONOWNERMAILID)>1 AND ISNULL(S.CC,'')!=ACTIONOWNERMAILID THEN (CASE WHEN LEN(ISNULL(S.CC,''))>0 THEN ';' ELSE '' END)+ACTIONOWNERMAILID ELSE '' END) ELSE '' END CC,'' BCC,S.SUBJECT,
dbo.REGEXREPLACE(BODY,'02|03|25|26|27|28|29|32|38|39|35|36|37|06|41',
REGEXBODY+'|'+ISNULL((SELECT TOP 1 OBSERVER FROM #CATEGORY WHERE CORRACTIONID=O.CORRACTIONID),'')+'|'+ISNULL((SELECT TOP 1 MAINCATEGORYNAME FROM #CATEGORY WHERE CORRACTIONID=O.CORRACTIONID),'')+'|'+ISNULL((SELECT TOP 1 SUBCATEGORYNAME FROM #CATEGORY WHERE CORRACTIONID=O.CORRACTIONID),'')+'|'+ISNULL(O.SITENAME,'')+'|'+CAST(O.CARDID AS NVARCHAR(32))+' / '+CAST(O.CORRACTIONID AS NVARCHAR(32))) [BODY],
GETUTCDATE() SENTDATE,0 READSTATUS,1 [TYPE],1 [STATUS],@URL URL
FROM  SCHEDULE S
FULL OUTER JOIN #FINALRESULT O ON 1=1
INNER JOIN USERS U ON CAST(U.USERID AS NVARCHAR(512))=CAST(O.USERID AS NVARCHAR(512)) 
WHERE S.SCHEDULEID=@SCHEDULEID

UNION
SELECT DISTINCT S.COMPANYID,0,@FROM [FROM],S.REPLYTO [REPLYTO],CA.OTHEREMAILID [TO],ISNULL(S.CC,'')+CASE WHEN @SCHEDULETYPEID=1 THEN (CASE WHEN LEN(ACTIONOWNERMAILID)>1 AND ISNULL(S.CC,'')!=ACTIONOWNERMAILID THEN (CASE WHEN LEN(ISNULL(S.CC,''))>0 THEN ';' ELSE '' END)+ACTIONOWNERMAILID ELSE '' END) ELSE '' END CC,'' BCC,S.SUBJECT,
dbo.REGEXREPLACE(BODY,'02|03|25|26|27|28|29|32|38|39|35|36|37|06|41',
REGEXBODY +'|'+ISNULL((SELECT TOP 1 OBSERVER FROM #CATEGORY WHERE CORRACTIONID=O.CORRACTIONID),'')+'|'+ISNULL((SELECT TOP 1 MAINCATEGORYNAME FROM #CATEGORY WHERE CORRACTIONID=O.CORRACTIONID),'')+'|'+ISNULL((SELECT TOP 1 SUBCATEGORYNAME FROM #CATEGORY WHERE CORRACTIONID=O.CORRACTIONID),'')+'|'+ISNULL(O.SITENAME,'')+'|'+CAST(O.CARDID AS NVARCHAR(32))+' / '+CAST(O.CORRACTIONID AS NVARCHAR(32))) [BODY],
GETUTCDATE() SENTDATE,0 READSTATUS,1 [TYPE],1 [STATUS],@URL URL
FROM  SCHEDULE S
INNER JOIN #FINALRESULT O ON O.SCHEDULEID=S.SCHEDULEID
INNER JOIN CORRECTIVEACTIONS CA ON CA.CORRACTIONID=O.CORRACTIONID AND CA.OTHERRESPONSIBLEPERSON=CAST(O.USERID AS NVARCHAR(512))
WHERE S.SCHEDULEID=@SCHEDULEID
AND NOT EXISTS(SELECT 1 FROM SCHEDULEOTHERUSERLOG WHERE SCHEDULEID=@SCHEDULEID AND SCHEDULETYPEID = @SCHEDULETYPEID AND CORRACTIONID=CA.CORRACTIONID AND OTHERRESPONSIBLEPERSON=CA.OTHERRESPONSIBLEPERSON AND CONVERT(VARCHAR(32),CREATEDDATE,101)=CONVERT(VARCHAR(32),GETUTCDATE(),101))

CREATE TABLE #USERINBOX(      
                [COMPANYID] [bigint],
                [USERID] [bigint],
                [FROM] [nvarchar](512),
                [REPLYTO] [nvarchar](512),
                [TO] [nvarchar](512),
                [CC] [nvarchar](512),
                [BCC] [nvarchar](512),
                [SUBJECT] [nvarchar](2048),
                [BODY] [nvarchar](max),
                [SENTDATE] [datetime],
                [READSTATUS] [tinyint],
                [TYPE] [tinyint],
                [STATUS] [tinyint],
                [TOKENID] [bigint],
                ACTIONOWNER INT,
                CORRACTIONID INT 
)    

IF @SCHEDULETYPEID=1
BEGIN
                INSERT INTO #USERINBOX(COMPANYID,USERID,[FROM],REPLYTO,[TO],CC,BCC,SUBJECT,BODY,SENTDATE,READSTATUS,TYPE,STATUS,TOKENID,ACTIONOWNER,CORRACTIONID)
                SELECT DISTINCT S.COMPANYID,O.USERID,@FROM [FROM],S.REPLYTO [REPLYTO],U.EMAIL [TO],ISNULL(S.CC,'')+CASE WHEN @SCHEDULETYPEID=1 THEN (CASE WHEN LEN(ACTIONOWNERMAILID)>1 AND ISNULL(S.CC,'')!=ACTIONOWNERMAILID THEN (CASE WHEN LEN(ISNULL(S.CC,''))>0 THEN ';' ELSE '' END)+ACTIONOWNERMAILID ELSE '' END) ELSE '' END CC,'' BCC,S.SUBJECT,
                dbo.REGEXREPLACE(BODY,'02|03|25|26|27|28|29|32|38|39|35|36|37|06|41',
                REGEXBODY+'|'+ISNULL((SELECT TOP 1 OBSERVER FROM #CATEGORY WHERE CORRACTIONID=O.CORRACTIONID),'')+'|'+ISNULL((SELECT TOP 1 MAINCATEGORYNAME FROM #CATEGORY WHERE CORRACTIONID=O.CORRACTIONID),'')+'|'+ISNULL((SELECT TOP 1 SUBCATEGORYNAME FROM #CATEGORY WHERE CORRACTIONID=O.CORRACTIONID),'')+'|'+ISNULL(O.SITENAME,'')+'|'+CAST(O.CARDID AS NVARCHAR(32))+' / '+CAST(O.CORRACTIONID AS NVARCHAR(32))) [BODY],
                GETUTCDATE() SENTDATE,0 READSTATUS,1 [TYPE],1 [STATUS],@SCHEDULEID,O.ACTIONOWNER,O.CORRACTIONID
                FROM  SCHEDULE S
                FULL OUTER JOIN #FINALRESULT O ON 1=1
                INNER JOIN USERS U ON CAST(U.USERID AS VARCHAR(32))=CAST(O.USERID AS NVARCHAR(512)) 
                WHERE S.SCHEDULEID=@SCHEDULEID
                
                INSERT INTO USERINBOX(COMPANYID,USERID,[FROM],REPLYTO,[TO],CC,BCC,SUBJECT,BODY,SENTDATE,READSTATUS,TYPE,STATUS,TOKENID,CORRACTIONID)
                SELECT COMPANYID,USERID,[FROM],REPLYTO,[TO],CC,BCC,SUBJECT,BODY,SENTDATE,READSTATUS,TYPE,STATUS,TOKENID,CORRACTIONID FROM #USERINBOX
                UNION ALL
                SELECT COMPANYID,ACTIONOWNER,[FROM],REPLYTO,[TO],CC,BCC,SUBJECT,BODY,SENTDATE,READSTATUS,TYPE,STATUS,TOKENID,CORRACTIONID FROM #USERINBOX
                
END
ELSE
BEGIN
                INSERT INTO USERINBOX(COMPANYID,USERID,[FROM],REPLYTO,[TO],CC,BCC,SUBJECT,BODY,SENTDATE,READSTATUS,TYPE,STATUS,TOKENID,CORRACTIONID)
                SELECT DISTINCT S.COMPANYID,O.USERID,@FROM [FROM],S.REPLYTO [REPLYTO],U.EMAIL [TO],ISNULL(S.CC,'')+CASE WHEN @SCHEDULETYPEID=1 THEN (CASE WHEN LEN(ACTIONOWNERMAILID)>1 AND ISNULL(S.CC,'')!=ACTIONOWNERMAILID THEN (CASE WHEN LEN(ISNULL(S.CC,''))>0 THEN ';' ELSE '' END)+ACTIONOWNERMAILID ELSE '' END) ELSE '' END CC,'' BCC,S.SUBJECT,
                dbo.REGEXREPLACE(BODY,'02|03|25|26|27|28|29|32|38|39|35|36|37|06|41',
                REGEXBODY+'|'+ISNULL((SELECT TOP 1 OBSERVER FROM #CATEGORY WHERE CORRACTIONID=O.CORRACTIONID),'')+'|'+ISNULL((SELECT TOP 1 MAINCATEGORYNAME FROM #CATEGORY WHERE CORRACTIONID=O.CORRACTIONID),'')+'|'+ISNULL((SELECT TOP 1 SUBCATEGORYNAME FROM #CATEGORY WHERE CORRACTIONID=O.CORRACTIONID),'')+'|'+ISNULL(O.SITENAME,'')+'|'+CAST(O.CARDID AS NVARCHAR(32))+' / '+CAST(O.CORRACTIONID AS NVARCHAR(32))) [BODY],
                GETUTCDATE() SENTDATE,0 READSTATUS,1 [TYPE],1 [STATUS],@SCHEDULEID,CORRACTIONID
                FROM  SCHEDULE S
                FULL OUTER JOIN #FINALRESULT O ON 1=1
                INNER JOIN USERS U ON CAST(U.USERID AS VARCHAR(32))=CAST(O.USERID AS NVARCHAR(512)) 
                WHERE S.SCHEDULEID=@SCHEDULEID
END

INSERT INTO DBO.SCHEDULEOTHERUSERLOG(SCHEDULEID,SCHEDULETYPEID,CORRACTIONID,OTHERRESPONSIBLEPERSON,CREATEDDATE)
SELECT DISTINCT @SCHEDULEID,@SCHEDULETYPEID,CA.CORRACTIONID,O.USERID,GETUTCDATE()
FROM  SCHEDULE S
INNER JOIN #FINALRESULT O ON O.SCHEDULEID=S.SCHEDULEID
INNER JOIN CORRECTIVEACTIONS CA ON CA.CORRACTIONID=O.CORRACTIONID AND CA.OTHERRESPONSIBLEPERSON=CAST(O.USERID AS NVARCHAR(512))
WHERE S.SCHEDULEID=@SCHEDULEID



DECLARE @PMAINTOBESENT DATETIME, @PDURATION INT,@STARTTIME INT,@TIMEZONEDURATION INT

SELECT @STARTTIME=STARTTIME,@TIMEZONEDURATION =TIMEZONEDURATION FROM SCHEDULEOPTIONS WHERE SCHEDULEID = @SCHEDULEID

DECLARE @TIMEZONES TABLE(DURATION INT,MAINTOBESENT DATETIME)
INSERT INTO @TIMEZONES(DURATION,MAINTOBESENT)
SELECT DURATION,dbo.USERTIMEEMAIL(GETUTCDATE(),@STARTTIME,DURATION) FROM TIMEZONES WHERE STATUS = 1  ORDER BY DURATION DESC

SELECT @PMAINTOBESENT=MIN(MAINTOBESENT) FROM @TIMEZONES WHERE MAINTOBESENT > dbo.USERTIMEEMAIL(GETUTCDATE(),@STARTTIME,@TIMEZONEDURATION)
SELECT TOP 1 @PDURATION=DURATION FROM @TIMEZONES WHERE MAINTOBESENT=@PMAINTOBESENT

DECLARE @EVERYDWM INT,@DWM INT
SELECT @EVERYDWM =ISNULL(EVERYDWM,0),@DWM=ISNULL(DWM,0) FROM SCHEDULEOPTIONS WHERE SCHEDULEID=@SCHEDULEID

IF @PDURATION IS NULL
BEGIN
SELECT @PDURATION=DURATION FROM @TIMEZONES WHERE MAINTOBESENT=(SELECT MIN(MAINTOBESENT) FROM @TIMEZONES)
UPDATE SCHEDULEOPTIONS SET TIMEZONEDURATION=@PDURATION WHERE SCHEDULEID = @SCHEDULEID
SELECT @PDURATION TIMEZONEID ,dbo.USERTIMEEMAIL(CASE WHEN @SCHEDULETYPEID IN (1,2) AND @EVERYDWM > 1 AND @DWM=1 THEN DATEADD(DD,@EVERYDWM,GETUTCDATE()) ELSE GETUTCDATE() END,@STARTTIME,@PDURATION) TOKENTOBESENTDATE
END
ELSE
BEGIN
UPDATE SCHEDULEOPTIONS SET TIMEZONEDURATION=@PDURATION WHERE SCHEDULEID = @SCHEDULEID

IF @SCHEDULETYPEID IN (1,2) AND @EVERYDWM > 1 AND @DWM=1
	SELECT  @PDURATION TIMEZONEID,DATEADD(DD,@EVERYDWM,@PMAINTOBESENT) TOKENTOBESENTDATE
ELSE
	SELECT  @PDURATION TIMEZONEID,@PMAINTOBESENT TOKENTOBESENTDATE
END



DROP TABLE #OBSERVERS
DROP TABLE #FINALOBSERVERS
DROP TABLE #FINALRESULT
DROP TABLE #CATEGORY
DROP TABLE #USERINBOX
