SELECT (SELECT LANGUAGEID FROM LANGUAGES L
INNER JOIN COMPANYOPTIONS CO ON CO.OPTIONVALUE=L.INTERNALNAME AND CO.OPTIONNAME='Languages')LANGUAGEID,

(SELECT OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME='DefaultDateFormat')DATEFORMAT,

(SELECT TIMEZONEID FROM TIMEZONES L
INNER JOIN COMPANYOPTIONS CO ON CO.OPTIONVALUE=L.TIMEZONEID AND CO.OPTIONNAME='Timezone')TIMEZONE,



(SELECT OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME='PasswordComplexity')PWDCOMPLEXITY,

(SELECT OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME='PasswordMinNumericalChar')PWDNUMERIC,

(SELECT OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME='PasswordMinAlphaChar')PWDALPHA,

(SELECT OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME='PasswordMinSpecialChar')PWDSPECCHAR,

(SELECT OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME='UserNameMinLength')USERNAMELEN,

(SELECT OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME='PasswordMinLength')PWDLEN