SELECT SCHEDULEID,SCHEDULENAME FROM SCHEDULE WHERE SCHEDULETYPEID=@SCHEDULETYPEID AND STATUS=1 ORDER BY SCHEDULENAME

SELECT TEMPLATEBODY,DEFAULTSUBJECT FROM SCHEDULEEMAILTEMPLATE WHERE SCHEDULETYPEID=@SCHEDULETYPEID
--SELECT DEFAULTSUBJECT FROM SCHEDULEEMAILTEMPLATE WHERE SCHEDULETYPEID=@SCHEDULETYPEID