--GETEDITCHECKLISTOBSERVERS_1.0
DECLARE @DEFAULTROLEID INT
SELECT @DEFAULTROLEID=DEFAULTROLEID FROM USERINFO WHERE USERID = @USERID

IF @OBSAPPROVALPC=0
BEGIN
IF EXISTS(SELECT 1 FROM USERINFO WHERE DEFAULTROLEID=5 AND USERID = @USERID) OR EXISTS(SELECT 1 FROM ROLES WHERE COPYFROM=5 AND ROLEID=@DEFAULTROLEID AND STATUS=1)
BEGIN

SELECT '<option value="'+CAST(U.USERID AS VARCHAR(32))+'">'+LASTNAME+','+FIRSTNAME+'</option>' AS 'data()'
FROM USERS U INNER JOIN
(SELECT U.USERID
FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID = U.USERID
INNER JOIN USERSITES US ON US.USERID = U.USERID
WHERE US.SITEID = @SITEID AND U.STATUS IN(1,4) AND US.STATUS = 1 AND UI.USERTYPEID IN (1,2)
EXCEPT SELECT OBSERVERID FROM dbo.STOPCARDENTRYOBSERVERS WHERE CARDID =@CARDID) A ON A.USERID=U.USERID
ORDER BY LASTNAME+',' +FIRSTNAME FOR XML PATH('')


SELECT '<option value="'+CAST(U.USERID AS VARCHAR(32))+'">'+LASTNAME+',' +FIRSTNAME+CASE WHEN U.STATUS=0 THEN '( InActive )' WHEN U.STATUS=4 THEN '( Locked )' WHEN EXISTS(SELECT 1 FROM USERSITES WHERE SITEID=@SITEID AND USERID=U.USERID AND STATUS=0) THEN ' ( Unassigned )' ELSE '' END+'</option>' AS 'data()' FROM USERS U
INNER JOIN STOPCARDENTRYOBSERVERS SCO ON SCO.OBSERVERID = U.USERID
WHERE U.STATUS IN (0,1,4) AND CARDID =@CARDID ORDER BY LASTNAME+',' +FIRSTNAME FOR XML PATH('')
END
ELSE
BEGIN

SELECT '<option value="'+CAST(U.USERID AS VARCHAR(32))+'">'+LASTNAME+','+FIRSTNAME+'</option>' AS 'data()'
FROM USERS U INNER JOIN
(SELECT U.USERID
FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID = U.USERID
INNER JOIN USERSITES US ON US.USERID = U.USERID
WHERE US.SITEID = @SITEID AND U.STATUS IN(1,4) AND US.STATUS = 1 AND UI.USERTYPEID IN (1,2)
EXCEPT SELECT OBSERVERID FROM dbo.STOPCARDENTRYOBSERVERS WHERE CARDID =@CARDID) A ON A.USERID=U.USERID
ORDER BY LASTNAME+',' +FIRSTNAME FOR XML PATH('')


SELECT '<option value="'+CAST(U.USERID AS VARCHAR(32))+'">'+LASTNAME+',' +FIRSTNAME+CASE WHEN U.STATUS=0 THEN '( InActive )' WHEN U.STATUS=4 THEN '( Locked )' WHEN EXISTS(SELECT 1 FROM USERSITES WHERE SITEID=@SITEID AND USERID=U.USERID AND STATUS=0) THEN ' ( Unassigned )' ELSE '' END+'</option>'  AS 'data()' FROM USERS U
INNER JOIN STOPCARDENTRYOBSERVERS SCO ON SCO.OBSERVERID = U.USERID
WHERE U.STATUS IN (0,1,4)  AND CARDID =@CARDID  ORDER BY LASTNAME+',' +FIRSTNAME FOR XML PATH('')
END
END
ELSE IF @OBSAPPROVALPC=1
BEGIN
IF EXISTS(SELECT 1 FROM USERINFO WHERE DEFAULTROLEID=5 AND USERID = @USERID) OR EXISTS(SELECT 1 FROM ROLES WHERE COPYFROM=5 AND ROLEID=@DEFAULTROLEID AND STATUS=1)
BEGIN

SELECT '<option value="'+CAST(U.USERID AS VARCHAR(32))+'">'+LASTNAME+','+FIRSTNAME+'</option>' AS 'data()'
FROM USERS U INNER JOIN
(SELECT U.USERID
FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID = U.USERID
INNER JOIN USERSITES US ON US.USERID = U.USERID
WHERE US.SITEID = @SITEID AND U.STATUS IN(1,4) AND US.STATUS = 1 AND UI.USERTYPEID IN (1,2)
EXCEPT SELECT OBSERVERID FROM dbo.STOPCARDENTRYOBSERVERS_OL WHERE CARDID =@CARDID) A ON A.USERID=U.USERID
ORDER BY LASTNAME+',' +FIRSTNAME FOR XML PATH('')

SELECT '<option value="'+CAST(U.USERID AS VARCHAR(32))+'">'+LASTNAME+',' +FIRSTNAME+CASE WHEN U.STATUS=0 THEN '( InActive )' WHEN U.STATUS=4 THEN '( Locked )' WHEN EXISTS(SELECT 1 FROM USERSITES WHERE SITEID=@SITEID AND USERID=U.USERID AND STATUS=0) THEN ' ( Unassigned )' ELSE '' END+'</option>' AS 'data()' FROM USERS U
INNER JOIN STOPCARDENTRYOBSERVERS_OL SCO ON SCO.OBSERVERID = U.USERID
WHERE U.STATUS IN (0,1,4) AND CARDID =@CARDID  ORDER BY LASTNAME+',' +FIRSTNAME FOR XML PATH('')
END
ELSE
BEGIN

SELECT '<option value="'+CAST(U.USERID AS VARCHAR(32))+'">'+LASTNAME+','+FIRSTNAME+'</option>' AS 'data()'
FROM USERS U INNER JOIN
(SELECT U.USERID
FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID = U.USERID
INNER JOIN USERSITES US ON US.USERID = U.USERID
WHERE US.SITEID = @SITEID AND U.STATUS IN(1,4) AND US.STATUS = 1 AND UI.USERTYPEID IN (1,2)
EXCEPT SELECT OBSERVERID FROM dbo.STOPCARDENTRYOBSERVERS_OL WHERE CARDID =@CARDID) A ON A.USERID=U.USERID
ORDER BY LASTNAME+',' +FIRSTNAME FOR XML PATH('')


SELECT '<option value="'+CAST(U.USERID AS VARCHAR(32))+'">'+LASTNAME+',' +FIRSTNAME+CASE WHEN U.STATUS=0 THEN '( InActive )' WHEN U.STATUS=4 THEN '( Locked )' WHEN EXISTS(SELECT 1 FROM USERSITES WHERE SITEID=@SITEID AND USERID=U.USERID AND STATUS=0) THEN ' ( Unassigned )' ELSE '' END+'</option>'  AS 'data()' FROM USERS U
INNER JOIN STOPCARDENTRYOBSERVERS_OL SCO ON SCO.OBSERVERID = U.USERID
WHERE U.STATUS IN (0,1,4)  AND CARDID =@CARDID  ORDER BY LASTNAME+',' +FIRSTNAME FOR XML PATH('')
END
END
