

SELECT LANGUAGEID,(SELECT OPTIONVALUE FROM  COMPANYOPTIONS WHERE OPTIONNAME='Timezone')TIMEZONE,
(SELECT OPTIONVALUE FROM  COMPANYOPTIONS WHERE OPTIONNAME='ObsApprovePC')OBSAPPROVALPC,
(SELECT OPTIONVALUE FROM  COMPANYOPTIONS WHERE OPTIONNAME='ObsApproveMobile')OBSAPPROVALMOBILE,
(SELECT OPTIONVALUE FROM  COMPANYOPTIONS WHERE OPTIONNAME='EXPANDCATEGORY')EXPANDCATEGORY
FROM LANGUAGES L
INNER JOIN COMPANYOPTIONS CO ON CO.OPTIONVALUE=L.INTERNALNAME AND CO.OPTIONNAME='Languages'