SELECT P.PERMISSIONID,P.PERMISSIONNAME
FROM ROLEPERMISSIONS RP
INNER JOIN PERMISSIONS P ON P.PERMISSIONID = RP.PERMISSIONID
WHERE P.STATUS= 1 AND RP.ROLEID=@ROLEID AND P.PARENTID<>0 AND P.ISMENUDISPLAY<>0
AND RP.PERMISSIONID NOT IN (SELECT URP.PERMISSIONID
FROM USERQUICKLINKS URP
INNER JOIN PERMISSIONS P ON P.PERMISSIONID=URP.PERMISSIONID
WHERE URP.USERID=@USERID AND URP.ROLEID=@ROLEID
AND P.STATUS=1 AND URP.STATUS = 1)
AND P.PERMISSIONID<>37 AND RP.PERMISSIONVALUE=1
;

SELECT URP.PERMISSIONID,P.PERMISSIONNAME
FROM USERQUICKLINKS URP
INNER JOIN PERMISSIONS P ON P.PERMISSIONID=URP.PERMISSIONID
WHERE URP.USERID=@USERID AND URP.ROLEID=@ROLEID
AND P.STATUS=1 AND URP.STATUS = 1 AND P.PARENTID<>0 AND P.ISMENUDISPLAY<>0 AND P.PERMISSIONID<>37