IF @MODE=0
BEGIN

IF @CHECKLISTSETUPID = -1

SELECT DISTINCT M.MAINCATEGORYID,ENTITYVALUE [MAINCATEGORYNAME]
FROM MAINCATEGORIES M
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID=M.MAINCATEGORYID AND LANGUAGEID=@LANGUAGEID AND ENTITYTYPE='MAIN_CTG'
WHERE   M.MAINCATEGORYID <> 0 AND M.STATUS = 1 ORDER BY  MAINCATEGORYNAME
ELSE
SELECT DISTINCT M.MAINCATEGORYID,ENTITYVALUE [MAINCATEGORYNAME]
FROM MAINCATEGORIES M
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID=M.MAINCATEGORYID AND LANGUAGEID=@LANGUAGEID AND ENTITYTYPE='MAIN_CTG'
INNER JOIN CHECKLISTSETUPCATEGORYASSIGNMENTS CS ON CS.MAINCATEGORYID=M.MAINCATEGORYID
WHERE  CS.MAINISASSIGNED = 1 AND M.MAINCATEGORYID <> 0 AND CS.CHECKLISTSETUPID = @CHECKLISTSETUPID AND M.STATUS = 1 ORDER BY  MAINCATEGORYNAME

END
ELSE
BEGIN

IF @CHECKLISTSETUPID = -1

SELECT DISTINCT M.MAINCATEGORYID,ENTITYVALUE+CASE WHEN M.STATUS=0 THEN '( InActive )' ELSE '' END [MAINCATEGORYNAME]
FROM MAINCATEGORIES M
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID=M.MAINCATEGORYID AND LANGUAGEID=@LANGUAGEID AND ENTITYTYPE='MAIN_CTG'
WHERE   M.MAINCATEGORYID <> 0 AND M.STATUS IN(0,1) ORDER BY  MAINCATEGORYNAME
ELSE
SELECT DISTINCT M.MAINCATEGORYID,ENTITYVALUE+CASE WHEN M.STATUS=0 THEN '( InActive )' WHEN CS.MAINISASSIGNED=0 THEN '( Unassigned )' ELSE '' END [MAINCATEGORYNAME]
FROM MAINCATEGORIES M
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID=M.MAINCATEGORYID AND LANGUAGEID=@LANGUAGEID AND ENTITYTYPE='MAIN_CTG'
INNER JOIN CHECKLISTSETUPCATEGORYASSIGNMENTS CS ON CS.MAINCATEGORYID=M.MAINCATEGORYID
WHERE  CS.MAINISASSIGNED IN(0, 1) AND M.MAINCATEGORYID <> 0 AND CS.CHECKLISTSETUPID = @CHECKLISTSETUPID AND M.STATUS IN(0,1) ORDER BY  MAINCATEGORYNAME
END