--GETOFFLINEAPPFILTERBASEDSTOPCARDLISTING_1.0
DECLARE @CARDID VARCHAR(1024),@QRY VARCHAR(MAX),@QRY1 VARCHAR(MAX),@ISADMIN VARCHAR(8)
CREATE TABLE #FINALRESULT(CARDID NVARCHAR(24),[OBSERVATIONDATE] DATETIME,OBSERVER NVARCHAR(512),AREAS NVARCHAR(512),SUBAREAS NVARCHAR(512),STATUS VARCHAR(24),SORTBY INT)
SET @ISADMIN='0'

IF EXISTS(SELECT 1 FROM ROLES WHERE ALLSITES=1 AND ROLEID =(SELECT DEFAULTROLEID FROM USERINFO WHERE USERID = @USERID))
SET @ISADMIN='1'

CREATE TABLE #INPUTSITES(SITEID INT)
SET @QRY=''
SET @QRY1=''
SET @CARDID=''
SELECT @QRY1='
INSERT INTO #INPUTSITES
SELECT RESULT FROM DBO.CSVTOTABLE('''+@SITEID+''')
'
EXEC(@QRY1)
SELECT @QRY='
INSERT INTO #FINALRESULT

SELECT DISTINCT CAST(SCE.CARDID AS VARCHAR(32))+''-''+CAST(SCE.APPROVALSTATUS AS VARCHAR(32)),
OBSERVATIONDATE [OBSERVATION DATE],
CASE OBSERVERCOUNT WHEN 0 THEN (SELECT LASTNAME+'',''+FIRSTNAME FROM USERS
WHERE USERID = (SELECT TOP 1 OBSERVERID FROM STOPCARDENTRYOBSERVERS_OL WHERE CARDID=SCE.CARDID)) ELSE ''LBLMULTIPLEOBSERVERS'' END [OBSERVER],
(SELECT AREANAME FROM AREAS WHERE AREAID=SCE.AREAID)[AREAS],
(SELECT SUBAREANAME FROM SUBAREAS WHERE SUBAREAID=SCE.SUBAREAID)[SUBAREAS],
CASE SCE.[APPROVALSTATUS] WHEN 1 THEN ''LBLWAITINGAPPROVAL'' WHEN 2 THEN ''LBLUPDATEREQUESTED'' WHEN 3 THEN ''LBLRESUBMITTED'' ELSE '''' END AS [STATUS]
,CASE SCE.[APPROVALSTATUS] WHEN 3 THEN 1 WHEN 1 THEN 2 WHEN 3 THEN 3 ELSE 4 END [SORTBY]
FROM STOPCARDENTRY_OL SCE '
+CASE WHEN ISNULL(@SITEID,'')='' THEN
CASE WHEN @ISADMIN='1' THEN ' INNER JOIN SITES SS ON SS.SITEID=SCE.SITEID AND SS.STATUS =1 ' ELSE
'INNER JOIN USERSITES US ON US.USERID = '+ @USERID + ' AND US.SITEID =SCE.SITEID AND US.STATUS = 1' END

ELSE ' INNER JOIN #INPUTSITES SR ON SR.SITEID=SCE.SITEID' END
+CASE WHEN ISNULL(@AREAID,'')='' THEN '' ELSE ' INNER JOIN DBO.CSVTOTABLE('''+@AREAID+''') SA ON SA.RESULT=SCE.AREAID' END
+CASE WHEN ISNULL(@SUBAREAID,'')='' THEN '' ELSE ' INNER JOIN DBO.CSVTOTABLE('''+@SUBAREAID+''') SA1 ON SA1.RESULT=SCE.SUBAREAID' END
+CASE WHEN ISNULL(@SHIFTID,'')='' THEN '' ELSE ' INNER JOIN DBO.CSVTOTABLE('''+@SHIFTID+''') SHR ON SHR.RESULT=SCE.SHIFTID' END
+CASE WHEN ISNULL(@OBSERVERID,'')='' THEN '' ELSE ' INNER JOIN STOPCARDENTRYOBSERVERS_OL SCO ON SCO.CARDID=SCE.CARDID
INNER JOIN DBO.CSVTOTABLE('''+@OBSERVERID+''') [OR] ON [OR].RESULT=SCO.OBSERVERID' END

+' WHERE  STOPCARDTYPE = 1  AND ISAPPROVED = 0 AND (EDITOR IS NULL OR EDITOR =2)'
+CASE WHEN ISNULL(@FROMDATE,'')='' THEN '' ELSE ' AND SCE.OBSERVATIONDATE BETWEEN CONVERT(DATETIME,'''+@FROMDATE+''') AND CONVERT(DATETIME,'''+@TODATE+''')' END
+CASE WHEN ISNULL(@STATUSID,'')='' THEN ' AND SCE.[STATUS]!=2 ' ELSE ' AND SCE.[STATUS] IN('+ @STATUSID + ')' END



EXEC(@QRY)

IF EXISTS (SELECT 1 FROM #FINALRESULT)
BEGIN
SELECT @CARDID=@CARDID+CAST(SUBSTRING(CARDID,1,LEN(CARDID)-2) AS VARCHAR(8))+',' FROM #FINALRESULT
SET @CARDID=SUBSTRING(@CARDID,1,LEN(@CARDID)-1)

END
DECLARE @DTFORMAT INT
SELECT @DTFORMAT=ISNULL(DATEFORMAT,101) FROM USERINFO WHERE USERID = @USERID

SELECT CARDID,CONVERT(VARCHAR,OBSERVATIONDATE,@DTFORMAT)[OBSERVATION DATE],OBSERVER ,AREAS,SUBAREAS ,STATUS FROM #FINALRESULT ORDER BY SORTBY ASC,OBSERVATIONDATE DESC

SELECT @CARDID APPROVECARDID

SELECT COUNT(*) APPROVECARDCNT FROM #FINALRESULT

DROP TABLE #INPUTSITES
DROP TABLE #FINALRESULT
