DECLARE @MAXEMAILS INT,@TIMEZONEID INT,@SITEOPTIONID INT,
@GROUP1OPTION INT,@GROUP2OPTION INT,@GROUP3OPTION INT,@GROUP4OPTION INT,@GROUP5OPTION INT,@GROUP6OPTION INT,@GROUP7OPTION INT,@GROUP8OPTION INT,@GROUP9OPTION INT,@GROUP10OPTION INT,
@OVERALLOPTIONCNT INT,@GROUPCNT INT,@URL VARCHAR(1024),@FROM VARCHAR(256)

SET @FROM =''
SELECT @FROM=OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME='MAILFROM'

DECLARE @STARTDATE DATETIME,@ENDDATE DATETIME,@QRY VARCHAR(MAX)

SELECT @STARTDATE=DATEADD(DD,-(DAY(GETUTCDATE())-1),GETUTCDATE())
SELECT @ENDDATE=DATEADD(DD,-(DAY(DATEADD(MM,1,GETUTCDATE()))),DATEADD(MM,1,GETUTCDATE()))


SELECT @SITEOPTIONID=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='SITEID'
SELECT @GROUP1OPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='GROUP1'
SELECT @GROUP2OPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='GROUP2'
SELECT @GROUP3OPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='GROUP3'
SELECT @GROUP4OPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='GROUP4'
SELECT @GROUP5OPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='GROUP5'
SELECT @GROUP6OPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='GROUP6'
SELECT @GROUP7OPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='GROUP7'
SELECT @GROUP8OPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='GROUP8'
SELECT @GROUP9OPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='GROUP9'
SELECT @GROUP10OPTION=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM='GROUP10'

SELECT @MAXEMAILS=MAXEMAILS,@TIMEZONEID=(SELECT TOP 1 TIMEZONEID FROM TIMEZONES WHERE DURATION=TIMEZONEDURATION AND STATUS = 1 ) FROM SCHEDULEOPTIONS WHERE SCHEDULEID=@SCHEDULEID

SET @URL=''

SELECT @URL=OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME='URL'

SET @QRY=''
CREATE TABLE #OBSERVERS(USERID INT)
CREATE TABLE #FINALOBSERVERS(USERID INT)
CREATE TABLE #ACHIVEDTARGET(CARDID INT,USERID INT,SITEID INT,ACHIEVEDCNT INT,SETCNT INT,LASTNAME NVARCHAR(512),FIRSTNAME NVARCHAR(512),SITENAME NVARCHAR(512))
CREATE TABLE #FINALRESULT1(USERID INT,SITENAME NVARCHAR(MAX))
CREATE TABLE #FINALRESULT(USERID INT,SITENAME NVARCHAR(MAX))
CREATE TABLE #OTHERTARGETUSERS(USERID INT,SETCNT INT,LASTNAME NVARCHAR(512),FIRSTNAME NVARCHAR(512),SITENAME NVARCHAR(512))
IF EXISTS(SELECT 1 FROM SCHEDULE WHERE SCHEDULEID = @SCHEDULEID AND STATUS=1)
BEGIN

SET @QRY= '
INSERT INTO #ACHIVEDTARGET(CARDID,USERID,SITEID,ACHIEVEDCNT,SETCNT,LASTNAME,FIRSTNAME,SITENAME)
SELECT SCE.CARDID,SCO.OBSERVERID,SCE.SITEID,1,NULL,(SELECT LASTNAME FROM USERS WHERE USERID = SCO.OBSERVERID),
(SELECT FIRSTNAME FROM USERS WHERE USERID = SCO.OBSERVERID),
(SELECT SITENAME FROM SITES WHERE SITEID = SCE.SITEID)
FROM STOPCARDENTRY SCE
INNER JOIN STOPCARDENTRYOBSERVERS SCO ON SCO.CARDID=SCE.CARDID
INNER JOIN USERS U ON U.USERID=SCO.OBSERVERID
INNER JOIN USERINFO UI ON UI.USERID =U.USERID
INNER JOIN USERSITES US ON US.SITEID =SCE.SITEID AND US.USERID = SCO.OBSERVERID
INNER JOIN SITES S ON S.SITEID = US.SITEID '
+CASE WHEN EXISTS(SELECT 1 FROM SCHEDULEASSIGNMENTS WHERE SCHEDULEID = @SCHEDULEID AND OPTIONID=1) THEN
' INNER JOIN SCHEDULEASSIGNMENTS SA ON SA.OPTIONID=1 AND SA.SCHEDULEID='+CAST(@SCHEDULEID AS VARCHAR(8)) + ' AND SA.OPTIONVALUE=SCE.SITEID ' ELSE '' END
+' WHERE S.STATUS =1 AND SCE.OBSERVATIONDATE BETWEEN CAST('''+CONVERT(VARCHAR(32),@STARTDATE,101)+''' AS DATETIME) AND CAST('''+CONVERT(VARCHAR(32),@ENDDATE,101)+''' AS DATETIME)'
+' AND SCE.STATUS=1 AND SCE.STOPCARDTYPE=1 AND US.STATUS=1 AND U.STATUS =1 AND UI.USERTYPEID IN (1,2)'
+' AND UI.TIMEZONE= ' +CAST(@TIMEZONEID AS VARCHAR(8))

EXEC (@QRY)

SET @QRY=''

SET @QRY= '
INSERT INTO #ACHIVEDTARGET(CARDID,USERID,SITEID,ACHIEVEDCNT,SETCNT,LASTNAME,FIRSTNAME,SITENAME)
SELECT NULL,U.USERID,US.SITEID,0,0,U.LASTNAME,U.FIRSTNAME,S.SITENAME
FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID = U.USERID
INNER JOIN USERSITES US ON US.USERID=U.USERID'
+CASE WHEN EXISTS(SELECT 1 FROM SCHEDULEASSIGNMENTS WHERE SCHEDULEID = @SCHEDULEID AND OPTIONID=1) THEN
' INNER JOIN SCHEDULEASSIGNMENTS SA ON SA.OPTIONID =1 AND SA.SCHEDULEID='+CAST(@SCHEDULEID AS VARCHAR(8)) + ' AND SA.OPTIONVALUE=US.SITEID ' ELSE '' END
+ '
INNER JOIN SITES S ON S.SITEID = US.SITEID
WHERE S.STATUS =1 AND U.STATUS=1 AND UI.USERTYPEID IN (1,2) AND US.STATUS=1
AND CAST(U.USERID AS VARCHAR(8))+'',''+CAST(US.SITEID AS VARCHAR(8)) NOT IN
(SELECT CAST(USERID AS VARCHAR(8))+'',''+CAST(SITEID AS VARCHAR(8)) FROM #ACHIVEDTARGET)
AND U.USERID IN (SELECT USERID FROM #ACHIVEDTARGET)
'
EXEC (@QRY)

SET @QRY=''

SET @QRY='
UPDATE AT SET SETCNT=TS.CNT
FROM #ACHIVEDTARGET AT
INNER JOIN (SELECT AT.USERID,ISNULL(TU.SITEID,TS.SITEID) SITEID,ISNULL(TU.['+SUBSTRING(DATENAME(MM,@ENDDATE),1,3)+'],TS.['+SUBSTRING(DATENAME(MM,@ENDDATE),1,3) +']) CNT
FROM #ACHIVEDTARGET AT
LEFT JOIN TARGETUSERS TU ON AT.USERID=TU.USERID AND AT.SITEID=TU.SITEID
LEFT JOIN TARGETSITES TS ON AT.SITEID=TS.SITEID) TS ON TS.USERID = AT.USERID AND TS.SITEID = AT.SITEID'

EXEC(@QRY)

SET @QRY=''
SET @QRY='INSERT INTO #ACHIVEDTARGET(USERID,ACHIEVEDCNT,SETCNT,LASTNAME,FIRSTNAME,SITENAME)
SELECT U.USERID,0,ISNULL(TU.['+SUBSTRING(DATENAME(MM,@ENDDATE),1,3)+'],TS.['+SUBSTRING(DATENAME(MM,@ENDDATE),1,3) +']) CNT,
U.LASTNAME,U.FIRSTNAME,S.SITENAME
FROM USERSITES US
INNER JOIN USERS U ON U.USERID=US.USERID
INNER JOIN USERINFO UI ON U.USERID =UI.USERID
INNER JOIN SITES S ON S.SITEID = US.SITEID
LEFT JOIN TARGETUSERS TU ON TU.USERID = US.USERID AND TU.SITEID=US.SITEID
LEFT JOIN TARGETSITES TS ON TS.SITEID =US.SITEID
WHERE U.USERID NOT IN (SELECT USERID FROM #ACHIVEDTARGET) AND UI.USERTYPEID IN (1,2)
AND S.STATUS =1 AND U.STATUS =1 AND UI.USERTYPEID IN (1,2) AND US.STATUS=1 AND UI.TIMEZONE ='+CAST(@TIMEZONEID AS VARCHAR(8))+'
' + CASE WHEN EXISTS(SELECT 1 FROM SCHEDULEASSIGNMENTS WHERE SCHEDULEID= @SCHEDULEID AND OPTIONID = 1 ) THEN 'AND S.SITEID IN (SELECT OPTIONVALUE FROM SCHEDULEASSIGNMENTS WHERE SCHEDULEID= '+CAST(@SCHEDULEID AS VARCHAR(8))+' AND OPTIONID = 1) ' ELSE '' END +'

DELETE FROM #ACHIVEDTARGET WHERE SETCNT IS NULL
'

EXEC(@QRY)

DELETE FROM #ACHIVEDTARGET WHERE SETCNT=0

INSERT INTO #FINALRESULT1
SELECT USERID,'<BR>
  '+'Site Name: '+ SITENAME + '<BR>
    '+'Target Set: '+ CAST(MAX(SETCNT) AS VARCHAR(8)) +'<BR>
      ' +'Target Achieved: '+ CAST(SUM(ACHIEVEDCNT) AS VARCHAR(8)) +'<BR>
        ' +'<B>'+ 'Pending Observations: '+ CAST(MAX(SETCNT)- SUM(ACHIEVEDCNT) AS VARCHAR(8)) +'</B><BR>
          '

          FROM #ACHIVEDTARGET WHERE SETCNT IS NOT NULL
          GROUP BY USERID,SITEID,SITENAME HAVING SUM(ACHIEVEDCNT) < MAX (SETCNT)
      

      
INSERT INTO #FINALRESULT1
SELECT USERID,'<BR>
            '+'Site Name: '+ SITENAME + '<BR>
              '+'Target Set: '+ CAST(SETCNT AS VARCHAR(8)) +'<BR>
                ' +'Target Achieved: 0'+  +'<BR>
                  ' +'<B>'+ 'Pending Observations: '+ CAST(SETCNT- 0 AS VARCHAR(8)) +'</B><BR>
                    '
                    FROM #OTHERTARGETUSERS WHERE USERID NOT IN (SELECT USERID FROM #FINALRESULT1)

                    DECLARE @SITENAME NVARCHAR(MAX),@PUSERID INT
                    SET @SITENAME=''
                    SELECT @PUSERID=MIN(USERID) FROM #FINALRESULT1
                    WHILE EXISTS (SELECT 1 FROM #FINALRESULT1 WHERE USERID=@PUSERID)
                    BEGIN
                    SELECT @SITENAME=@SITENAME+SITENAME FROM #FINALRESULT1 WHERE USERID = @PUSERID ORDER BY SITENAME
                    UPDATE #FINALRESULT1 SET SITENAME = @SITENAME WHERE USERID = @PUSERID
                    SET @SITENAME =''
                    SELECT @PUSERID = MIN(USERID) FROM #FINALRESULT1 WHERE USERID > @PUSERID


                    END

                    --AFTER WHILE
                    INSERT INTO #FINALRESULT
                    SELECT DISTINCT USERID,SITENAME FROM #FINALRESULT1

                    INSERT INTO #OBSERVERS
                    SELECT DISTINCT AT.USERID FROM #FINALRESULT AT



                    IF EXISTS(SELECT 1 FROM SCHEDULEASSIGNMENTS WHERE SCHEDULEID = @SCHEDULEID AND OPTIONID BETWEEN 22 AND 31)
                    BEGIN

                    SELECT @OVERALLOPTIONCNT=COUNT(DISTINCT OPTIONID) FROM SCHEDULEASSIGNMENTS WHERE SCHEDULEID=@SCHEDULEID AND OPTIONID <>1

                    INSERT INTO #FINALOBSERVERS
                    SELECT DISTINCT CASE WHEN
                    (CASE WHEN UG1.USERID IS NULL THEN 0 ELSE 1 END+
                    CASE WHEN UG2.USERID IS NULL THEN 0 ELSE 1 END+
                    CASE WHEN UG3.USERID IS NULL THEN 0 ELSE 1 END+
                    CASE WHEN UG4.USERID IS NULL THEN 0 ELSE 1 END+
                    CASE WHEN UG5.USERID IS NULL THEN 0 ELSE 1 END+
                    CASE WHEN UG6.USERID IS NULL THEN 0 ELSE 1 END+
                    CASE WHEN UG7.USERID IS NULL THEN 0 ELSE 1 END+
                    CASE WHEN UG8.USERID IS NULL THEN 0 ELSE 1 END+
                    CASE WHEN UG9.USERID IS NULL THEN 0 ELSE 1 END+
                    CASE WHEN UG10.USERID IS NULL THEN 0 ELSE 1 END)=@OVERALLOPTIONCNT THEN O.USERID ELSE NULL END
                    FROM #OBSERVERS O

                    LEFT JOIN SCHEDULEASSIGNMENTS SA2 ON SA2.OPTIONID=@GROUP1OPTION AND SA2.SCHEDULEID=@SCHEDULEID
                    LEFT JOIN USERGROUPS UG1 ON UG1.GROUPID=SA2.OPTIONVALUE AND UG1.USERID=O.USERID AND UG1.STATUS=1

                    LEFT JOIN SCHEDULEASSIGNMENTS SA3 ON SA3.OPTIONID=@GROUP2OPTION AND SA3.SCHEDULEID=@SCHEDULEID
                    LEFT JOIN USERGROUPS UG2 ON UG2.GROUPID=SA3.OPTIONVALUE AND UG2.USERID=O.USERID AND UG2.STATUS=1

                    LEFT JOIN SCHEDULEASSIGNMENTS SA4 ON SA4.OPTIONID=@GROUP3OPTION AND SA4.SCHEDULEID=@SCHEDULEID
                    LEFT JOIN USERGROUPS UG3 ON UG3.GROUPID=SA4.OPTIONVALUE AND UG3.USERID=O.USERID AND UG3.STATUS=1

                    LEFT JOIN SCHEDULEASSIGNMENTS SA5 ON SA5.OPTIONID=@GROUP4OPTION AND SA5.SCHEDULEID=@SCHEDULEID
                    LEFT JOIN USERGROUPS UG4 ON UG4.GROUPID=SA5.OPTIONVALUE AND UG4.USERID=O.USERID AND UG4.STATUS=1

                    LEFT JOIN SCHEDULEASSIGNMENTS SA6 ON SA6.OPTIONID=@GROUP5OPTION AND SA6.SCHEDULEID=@SCHEDULEID
                    LEFT JOIN USERGROUPS UG5 ON UG5.GROUPID=SA6.OPTIONVALUE AND UG5.USERID=O.USERID AND UG5.STATUS=1

                    LEFT JOIN SCHEDULEASSIGNMENTS SA7 ON SA7.OPTIONID=@GROUP6OPTION AND SA7.SCHEDULEID=@SCHEDULEID
                    LEFT JOIN USERGROUPS UG6 ON UG6.GROUPID=SA7.OPTIONVALUE AND UG6.USERID=O.USERID AND UG6.STATUS=1

                    LEFT JOIN SCHEDULEASSIGNMENTS SA8 ON SA8.OPTIONID=@GROUP7OPTION AND SA8.SCHEDULEID=@SCHEDULEID
                    LEFT JOIN USERGROUPS UG7 ON UG7.GROUPID=SA8.OPTIONVALUE AND UG7.USERID=O.USERID AND UG7.STATUS=1

                    LEFT JOIN SCHEDULEASSIGNMENTS SA9 ON SA9.OPTIONID=@GROUP8OPTION AND SA9.SCHEDULEID=@SCHEDULEID
                    LEFT JOIN USERGROUPS UG8 ON UG8.GROUPID=SA9.OPTIONVALUE AND UG8.USERID=O.USERID AND UG8.STATUS=1

                    LEFT JOIN SCHEDULEASSIGNMENTS SA10 ON SA10.OPTIONID=@GROUP9OPTION AND SA10.SCHEDULEID=@SCHEDULEID
                    LEFT JOIN USERGROUPS UG9 ON UG9.GROUPID=SA10.OPTIONVALUE AND UG9.USERID=O.USERID AND UG9.STATUS=1

                    LEFT JOIN SCHEDULEASSIGNMENTS SA11 ON SA11.OPTIONID=@GROUP10OPTION AND SA11.SCHEDULEID=@SCHEDULEID
                    LEFT JOIN USERGROUPS UG10 ON UG10.GROUPID=SA11.OPTIONVALUE AND UG10.USERID=O.USERID AND UG10.STATUS=1


                    END
                    ELSE
                    INSERT INTO #FINALOBSERVERS
                    SELECT DISTINCT USERID FROM #OBSERVERS

                    DELETE FROM #ACHIVEDTARGET WHERE USERID NOT IN (SELECT USERID FROM #FINALOBSERVERS)



                    SELECT DISTINCT U.COMPANYID,O.USERID, @FROM [FROM],S.REPLYTO [REPLYTO],U.EMAIL [TO],S.CC CC,'' BCC,SUBJECT,DBO.REGEXREPLACE(BODY,'02|03|22|41',U.LASTNAME+'|'+U.FIRSTNAME+'|'+(SELECT SITENAME FROM #FINALRESULT WHERE USERID = U.USERID)+'|'+CAST((AT.SETCNT-AT.ACHIEVEDCNT) AS VARCHAR(8))) BODY,GETUTCDATE() SENTDATE,0 READSTATUS,1 [TYPE],1 [STATUS],@URL URL
                    FROM  SCHEDULE S
                    FULL OUTER JOIN #FINALOBSERVERS O ON 1=1
                    INNER JOIN #ACHIVEDTARGET AT ON AT.USERID=O.USERID
                    INNER JOIN USERS U ON U.USERID=O.USERID
                    WHERE S.SCHEDULEID=@SCHEDULEID

                    INSERT INTO USERINBOX (COMPANYID,USERID,[FROM],REPLYTO,[TO],CC,BCC,[SUBJECT],BODY,SENTDATE,READSTATUS,[TYPE],[STATUS],TOKENID)
                    SELECT DISTINCT U.COMPANYID,O.USERID,@FROM [FROM],S.REPLYTO [REPLYTO],U.EMAIL [TO],S.CC CC,'' BCC,SUBJECT,DBO.REGEXREPLACE(BODY,'02|03|22|41',U.LASTNAME+'|'+U.FIRSTNAME+'|'+(SELECT SITENAME FROM #FINALRESULT WHERE USERID = U.USERID)+'|'+CAST((AT.SETCNT-AT.ACHIEVEDCNT) AS VARCHAR(8))) BODY,GETUTCDATE() SENTDATE,0 READSTATUS,1 [TYPE],1 [STATUS],@SCHEDULEID
                    FROM  SCHEDULE S
                    FULL OUTER JOIN #FINALOBSERVERS O ON 1=1
                    INNER JOIN #ACHIVEDTARGET AT ON AT.USERID=O.USERID
                    INNER JOIN USERS U ON U.USERID=O.USERID
                    WHERE S.SCHEDULEID=@SCHEDULEID


                    END

                    DECLARE @PMAINTOBESENT DATETIME, @PDURATION INT,@STARTTIME INT,@TIMEZONEDURATION INT

                    SELECT @STARTTIME=STARTTIME,@TIMEZONEDURATION =TIMEZONEDURATION FROM SCHEDULEOPTIONS WHERE SCHEDULEID = @SCHEDULEID

                    DECLARE @TIMEZONES TABLE(DURATION INT,MAINTOBESENT DATETIME)
                    INSERT INTO @TIMEZONES(DURATION,MAINTOBESENT)
                    SELECT DURATION,dbo.USERTIMEEMAIL(GETUTCDATE(),@STARTTIME,DURATION) FROM TIMEZONES WHERE STATUS = 1  ORDER BY DURATION DESC

                    SELECT @PMAINTOBESENT=MIN(MAINTOBESENT) FROM @TIMEZONES WHERE MAINTOBESENT > dbo.USERTIMEEMAIL(GETUTCDATE(),@STARTTIME,@TIMEZONEDURATION)
                    SELECT TOP 1 @PDURATION=DURATION FROM @TIMEZONES WHERE MAINTOBESENT=@PMAINTOBESENT

                    IF @PDURATION IS NULL
                    BEGIN
                    SELECT @PDURATION=DURATION FROM @TIMEZONES WHERE MAINTOBESENT=(SELECT MIN(MAINTOBESENT) FROM @TIMEZONES)
                    UPDATE SCHEDULEOPTIONS SET TIMEZONEDURATION=@PDURATION WHERE SCHEDULEID = @SCHEDULEID
                    SELECT @PDURATION TIMEZONEID ,dbo.USERTIMEEMAIL(GETUTCDATE(),@STARTTIME,@PDURATION) TOKENTOBESENTDATE
                    END
                    ELSE
                    BEGIN
                    UPDATE SCHEDULEOPTIONS SET TIMEZONEDURATION=@PDURATION WHERE SCHEDULEID = @SCHEDULEID
                    SELECT  @PDURATION TIMEZONEID,@PMAINTOBESENT TOKENTOBESENTDATE
                    END

                    DROP TABLE #OBSERVERS
                    DROP TABLE #FINALOBSERVERS
                    DROP TABLE #ACHIVEDTARGET
                    DROP TABLE #FINALRESULT
                    DROP TABLE #FINALRESULT1
                    DROP TABLE #OTHERTARGETUSERS
                  