DECLARE @QRY VARCHAR(MAX),@DEFAULTSITEID INT
SELECT @DEFAULTSITEID=DEFAULTSITEID FROM USERINFO WHERE USERID =@USERID
SET @QRY=''
SET @QRY=


'SELECT DISTINCT U.USERID,U.USERNAME,U.LASTNAME,U.FIRSTNAME,U.EMAIL,
CASE WHEN U.[STATUS]=1 OR U.STATUS=3 THEN ''LBLACTIVE'' WHEN U.[STATUS] = 0 THEN ''LBLINACTIVE'' WHEN U.[STATUS] = 4 THEN ''LOCKED'' END AS [STATUS]
FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID=U.USERID
'
+ CASE WHEN ISNULL(@SITEID,'')='' AND EXISTS (SELECT 1 FROM ROLES WHERE ROLEID=@DEFAULTROLEID AND ALLSITES=1) THEN ''

WHEN ISNULL(@SITEID,'')='' AND NOT EXISTS (SELECT 1 FROM ROLES WHERE ROLEID=@DEFAULTROLEID AND ALLSITES=1)
THEN '
INNER JOIN USERSITES US ON US.USERID = '+ CAST(@USERID AS VARCHAR(8))+' AND US.STATUS = 1'
+' INNER JOIN USERSITES US1 ON US1.SITEID=US.SITEID AND U.USERID=US1.USERID AND US1.STATUS =1'
WHEN ISNULL(@SITEID,'')!='' THEN ' INNER JOIN USERSITES US ON US.USERID = U.USERID
INNER JOIN DBO.CSVTOTABLE('''+@SITEID+''') T ON T.RESULT=US.SITEID ' END
+' WHERE  UI.USERTYPEID IN (1,2) AND U.USERID != '
+ CAST(@USERID AS VARCHAR(8))
+CASE WHEN ISNULL(@STATUSID,'')='' THEN ' AND U.STATUS NOT IN (2,3) ' ELSE ' AND U.STATUS IN('+CASE WHEN CHARINDEX('1',@STATUSID)>0 THEN @STATUSID+',3)' ELSE @STATUSID+')' END END
+ CASE WHEN ISNULL(@SITEID,'')='' AND EXISTS (SELECT 1 FROM ROLES WHERE ROLEID=@DEFAULTROLEID AND ALLSITES=1) THEN ''
WHEN ISNULL(@SITEID,'')='' AND NOT EXISTS (SELECT 1 FROM ROLES WHERE ROLEID=@DEFAULTROLEID AND ALLSITES=1)
THEN ' AND US.STATUS=1  '
WHEN ISNULL(@SITEID,'')!='' THEN ' AND US.STATUS = 1' END

+CASE WHEN ISNULL(@USERTYPE,'')='' THEN ' AND UI.USERTYPEID IN (1,2)' ELSE ' AND UI.USERTYPEID IN('+@USERTYPE+')' END
+CASE WHEN ISNULL(@ROLEID,'')='' THEN '' ELSE ' AND UI.DEFAULTROLEID IN('+@ROLEID+')' END
+ ' ORDER BY LASTNAME,FIRSTNAME '


EXEC(@QRY)