DECLARE @COMPANYID NVARCHAR(8),@IMAGEPATH NVARCHAR(1024)
SET @COMPANYID=''
SET @IMAGEPATH=''
SELECT @COMPANYID=CAST(COMPANYID AS NVARCHAR(8)) FROM COMPANY
IF EXISTS(SELECT 1 FROM STOPCARDENTRYATTACHMENTS_OL WHERE CARDID = @CARDID AND  MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID =@SUBCATEGORYID)
	SELECT @IMAGEPATH=@COMPANYID+'/OL/'+CAST(CARDID AS NVARCHAR(8))+'/'+CAST(MAINCATEGORYID AS NVARCHAR(8))+CASE WHEN SUBCATEGORYID>0 THEN '/'+CAST(SUBCATEGORYID AS NVARCHAR(8)) ELSE '' END +'/'+IMAGENAME 
	FROM STOPCARDENTRYATTACHMENTS_OL WHERE CARDID=@CARDID AND MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID=@SUBCATEGORYID
ELSE
	SELECT @IMAGEPATH='' 
	
IF EXISTS (SELECT 1 FROM [STOPCARDENTRYCATEGORYCOMMENTS_OL] WHERE CARDID = @CARDID AND  MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID =@SUBCATEGORYID)
SELECT (SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE ENTITYID=@MAINCATEGORYID AND ENTITYTYPE='MAIN_CTG' AND LANGUAGEID=@LANGUAGEID) MAINCATEGORYNAME,
(SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE PARENTID=@MAINCATEGORYID AND ENTITYID = @SUBCATEGORYID AND ENTITYTYPE='SUB_CTG' AND LANGUAGEID=@LANGUAGEID) SUBCATEGORYNAME,
[SAFECOMMENTS]
,[UNSAFECOMMENTS]
,@IMAGEPATH IMAGEPATH
FROM [STOPCARDENTRYCATEGORYCOMMENTS_OL]SC
INNER JOIN MAINCATEGORIES M
ON SC.MAINCATEGORYID = M.MAINCATEGORYID
LEFT JOIN SUBCATEGORIES S
ON SC.SUBCATEGORYID = S.SUBCATEGORYID
WHERE CARDID = @CARDID
AND SC.MAINCATEGORYID=@MAINCATEGORYID
AND SC.SUBCATEGORYID=@SUBCATEGORYID
ELSE
SELECT (SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE ENTITYID=@MAINCATEGORYID AND ENTITYTYPE='MAIN_CTG' AND LANGUAGEID=@LANGUAGEID) MAINCATEGORYNAME,
(SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE PARENTID=@MAINCATEGORYID AND ENTITYID = @SUBCATEGORYID AND ENTITYTYPE='SUB_CTG' AND LANGUAGEID=@LANGUAGEID) SUBCATEGORYNAME,
'' SAFECOMMENTS,'' UNSAFECOMMENTS,@IMAGEPATH IMAGEPATH



DECLARE @IMAGENAME NVARCHAR(MAX)
SET @IMAGENAME = ''
SELECT @IMAGENAME=@IMAGENAME+IMAGENAME+' , ' FROM dbo.STOPCARDENTRYATTACHMENTS_OL
WHERE CARDID=@CARDID AND MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID =@SUBCATEGORYID

SELECT CASE WHEN @IMAGENAME ='' THEN '' ELSE SUBSTRING(@IMAGENAME,1,LEN(@IMAGENAME)-2) END IMAGENAME


