SELECT A.PERMISSIONID, '0' as PARENTID, PERMISSIONNAME FROM  ROLEPERMISSIONS A
INNER JOIN PERMISSIONS B ON A.PERMISSIONID=B.PERMISSIONID
INNER JOIN USERQUICKLINKS C ON C.PERMISSIONID=B.PERMISSIONID  AND USERID=@USERID and c.ROLEID=A.ROLEID
WHERE A.PERMISSIONVALUE=1 AND A.ROLEID=@ROLEID AND C.STATUS=1 AND B.PARENTID<>0
