IF NOT EXISTS(SELECT 1 FROM REPORTFILTERMASTER WHERE USERID = @USERID AND REPORTID = @REPORTID)
SELECT RO.OPTIONID
,CASE WHEN ROM.OPTIONID BETWEEN 22 AND 31 THEN (SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE ENTITYTYPE='GRP_TYPE' AND ENTITYID=ROM.RELATIONID AND LANGUAGEID=@LANGUAGEID) ELSE ROM.OPTIONNAME END +CASE WHEN RO.MANDATORY = 1 THEN ' (MANDATORY)' ELSE '' END OPTIONNAME,RO.MANDATORY,CASE WHEN RO.MANDATORY = 1 OR RO.REPORTID IS NOT NULL THEN 1 WHEN RO.MANDATORY = 0 THEN ISNULL(RO.REPORTID,0) END REPORTFILTER
FROM REPORTSOPTION RO
INNER JOIN REPORTOPTIONSMASTER ROM ON ROM.OPTIONID=RO.OPTIONID
WHERE RO.REPORTID=@REPORTID AND ROM.STATUS=1 AND RO.STATUS=1 AND RO.MANDATORY<>1
ORDER BY RO.OPTIONID
ELSE
SELECT DISTINCT RO.OPTIONID
,CASE WHEN ROM.OPTIONID BETWEEN 22 AND 31 THEN (SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE ENTITYTYPE='GRP_TYPE' AND ENTITYID=ROM.RELATIONID AND LANGUAGEID=@LANGUAGEID) ELSE ROM.OPTIONNAME END + +CASE WHEN RO.MANDATORY = 1 THEN ' (MANDATORY)' ELSE '' END OPTIONNAME,RO.MANDATORY,
CASE WHEN RO.MANDATORY = 1  THEN 1 WHEN RO.MANDATORY = 0 THEN ISNULL(RF.STATUS,0)  END REPORTFILTER
FROM REPORTSOPTION RO
INNER JOIN REPORTOPTIONSMASTER ROM ON RO.OPTIONID = ROM.OPTIONID AND ROM.STATUS = 1
LEFT JOIN REPORTFILTERMASTER RF ON RF.REPORTID = RO.REPORTID AND RF.OPTIONID = RO.OPTIONID AND RF.USERID = @USERID
WHERE RO.REPORTID = @REPORTID AND RO.STATUS = 1 AND RO.MANDATORY<>1
ORDER BY RO.OPTIONID
