--GETREPONSIBLEPERSON_1.0.config
IF @MODE=0
BEGIN

IF ISNULL(@SITEID,'')=''
BEGIN

SELECT DISTINCT CAST(U.USERID AS NVARCHAR(8)) USERID,U.LASTNAME+','+U.FIRSTNAME[FULLNAME]  FROM USERS U
INNER JOIN USERSITES US
ON  US.USERID=U.USERID
INNER JOIN USERINFO UI
ON UI.USERID=U.USERID
WHERE US.STATUS=1
AND UI.USERTYPEID!=1
AND U.[STATUS] NOT IN (0,2)
UNION ALL
SELECT DISTINCT OTHERRESPONSIBLEPERSON,OTHERRESPONSIBLEPERSON [FULLNAME] FROM CORRECTIVEACTIONS WHERE OTHERRESPONSIBLEPERSON <> '' AND STATUS = 1
ORDER BY FULLNAME ASC
END
ELSE
BEGIN

SELECT DISTINCT CAST(U.USERID AS NVARCHAR(8)) USERID,U.LASTNAME+','+U.FIRSTNAME[FULLNAME]  FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID = U.USERID
INNER JOIN USERSITES US ON US.USERID = U.USERID
INNER JOIN dbo.CSVtoTable(@SITEID) R ON R.RESULT=US.SITEID
WHERE US.STATUS=1
AND UI.USERTYPEID!=1
AND U.[STATUS] NOT IN (0,2)
UNION ALL
SELECT DISTINCT OTHERRESPONSIBLEPERSON,OTHERRESPONSIBLEPERSON [FULLNAME] FROM CORRECTIVEACTIONS CA
INNER JOIN STOPCARDENTRY SC ON SC.CARDID=CA.CARDID
INNER JOIN dbo.CSVtoTable(@SITEID) R ON R.RESULT=SC.SITEID
WHERE OTHERRESPONSIBLEPERSON <> '' AND CA.STATUS = 1 AND SC.STATUS = 1
ORDER BY FULLNAME ASC

END
END
ELSE
BEGIN

IF ISNULL(@SITEID,'')=''
BEGIN

SELECT DISTINCT CAST(U.USERID AS NVARCHAR(8)),LASTNAME+',' +FIRSTNAME+CASE WHEN U.STATUS=0 THEN '( InActive )' WHEN U.STATUS=4 THEN '( Locked )' WHEN EXISTS(SELECT 1 FROM USERSITES WHERE SITEID=US.SITEID AND USERID=U.USERID AND STATUS=0) THEN ' ( Unassigned )' ELSE '' END [FULLNAME]FROM USERS U
INNER JOIN USERSITES US
ON  US.USERID=U.USERID
INNER JOIN USERINFO UI
ON UI.USERID=U.USERID
WHERE US.STATUS=1
AND UI.USERTYPEID!=1
AND U.STATUS IN (0,1,4)
UNION ALL
SELECT DISTINCT OTHERRESPONSIBLEPERSON,OTHERRESPONSIBLEPERSON [FULLNAME] FROM CORRECTIVEACTIONS WHERE OTHERRESPONSIBLEPERSON <> '' AND STATUS = 1
ORDER BY FULLNAME ASC

END
ELSE
BEGIN
SELECT USERID,FULLNAME FROM(
SELECT DISTINCT CAST(U.USERID AS NVARCHAR(8)) USERID,LASTNAME+',' +FIRSTNAME+CASE WHEN U.STATUS=0 THEN '( InActive )' WHEN U.STATUS=4 THEN '( Locked )' WHEN EXISTS(SELECT 1 FROM USERSITES WHERE SITEID=US.SITEID AND USERID=U.USERID AND STATUS=0) THEN ' ( Unassigned )' ELSE '' END [FULLNAME]FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID = U.USERID
INNER JOIN USERSITES US ON US.USERID = U.USERID
INNER JOIN CORRECTIVEACTIONSRESPONSIBLEPERSONS CAR ON CAR.CORRACTIONID=@CORRACTIONID AND CAR.USERID=U.USERID
WHERE UI.USERTYPEID!=1 AND U.STATUS IN (0,1,4)
UNION
SELECT DISTINCT CAST(U.USERID AS NVARCHAR(8)) USERID,LASTNAME+',' +FIRSTNAME [FULLNAME]FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID = U.USERID
INNER JOIN USERSITES US ON US.USERID = U.USERID
INNER JOIN dbo.CSVtoTable(@SITEID) R ON R.RESULT=US.SITEID
WHERE UI.USERTYPEID!=1 AND U.STATUS IN (1,4) AND US.STATUS =1
AND U.USERID NOT IN (SELECT USERID FROM CORRECTIVEACTIONSRESPONSIBLEPERSONS WHERE CORRACTIONID=@CORRACTIONID)
UNION
SELECT DISTINCT OTHERRESPONSIBLEPERSON,OTHERRESPONSIBLEPERSON [FULLNAME] FROM CORRECTIVEACTIONS CA
INNER JOIN STOPCARDENTRY SC ON SC.CARDID=CA.CARDID
INNER JOIN dbo.CSVtoTable(@SITEID) R ON R.RESULT=SC.SITEID
WHERE OTHERRESPONSIBLEPERSON <> '' AND CA.STATUS = 1 AND SC.STATUS = 1

)A
ORDER BY FULLNAME

END
END
