--GETREPORTOPTIONS_FILTER_1.0
DECLARE @REPORTFILTEROPTIONS TABLE(OPTIONID INT,OPTIONNAME NVARCHAR(256),QUERY NVARCHAR(256),REPORTPARAM NVARCHAR(256),
FILTERPARAM NVARCHAR(MAX),FILTERPARAMMAP NVARCHAR(MAX),OPTIONSCATEGORYID INT,DISPLAYORDER INT)

DECLARE @REPORTFILTERS TABLE(ID INT,OPTIONID INT,REPORTPARAM NVARCHAR(256),VAL NVARCHAR(MAX))
DECLARE @RESULT NVARCHAR(MAX)
SET @RESULT =''
IF NOT EXISTS(SELECT 1 FROM REPORTFILTERMASTER WHERE USERID = @USERID AND REPORTID = @REPORTID)
BEGIN

INSERT INTO @REPORTFILTEROPTIONS
SELECT M.OPTIONID,CASE WHEN M.OPTIONID BETWEEN 22 AND 31 THEN (SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE ENTITYTYPE='GRP_TYPE' AND ENTITYID=M.RELATIONID AND LANGUAGEID=@LANGUAGEID)
WHEN M.OPTIONID BETWEEN 47 AND 49 THEN (SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE ENTITYTYPE='CUS_NAME' AND ENTITYID=M.RELATIONID AND LANGUAGEID=@LANGUAGEID)
ELSE M.OPTIONNAME END,M.WACCESS QUERY,M.REPORTPARAM,M.FILTERPARAM,M.FILTERPARAMMAP,M.OPTIONSCATEGORYID,M.DISPLAYORDER FROM REPORTSOPTION O
INNER JOIN REPORTOPTIONSMASTER M ON O.OPTIONID=M.OPTIONID
WHERE O.REPORTID=@REPORTID AND O.STATUS=1 AND M.STATUS=1


SELECT DISTINCT * FROM @REPORTFILTEROPTIONS ORDER BY OPTIONSCATEGORYID,DISPLAYORDER

SELECT OPTIONSCATEGORYID,CATEGORYNAME,CASE WHEN SUM(MANDATORYFILTER)>0 THEN 1 ELSE 0 END MANDATORYFILTER
FROM
(SELECT DISTINCT ROC.OPTIONSCATEGORYID,ROC.CATEGORYNAME,MANDATORYFILTER FROM REPORTSOPTION O
INNER JOIN REPORTOPTIONSMASTER M ON O.OPTIONID=M.OPTIONID
INNER JOIN REPORTOPTIONSCATEGORY ROC ON ROC.OPTIONSCATEGORYID=M.OPTIONSCATEGORYID
WHERE O.REPORTID=@REPORTID AND O.STATUS=1 AND M.STATUS=1)A GROUP BY OPTIONSCATEGORYID,CATEGORYNAME
ORDER BY OPTIONSCATEGORYID


INSERT INTO @REPORTFILTERS
SELECT ROW_NUMBER() OVER(PARTITION BY ROF.REPORTPARAM ORDER BY ROF.REPORTPARAM),RF.OPTIONID,ROF.REPORTPARAM+':',CASE WHEN RF.OPTIONID IN (18) AND RF.FILTERVALUE LIKE '%**%' THEN 'DateRange~~!~~'+RF.FILTERVALUE WHEN ROF.OPTIONID IN (18,19,20,21) AND RF.FILTERVALUE='YTD' THEN +'YTD~~!~~YTD' WHEN ROF.OPTIONID IN (18,19,20,21) AND RF.FILTERVALUE='CMY' THEN +'CMY~~!~~CMY' WHEN ROF.OPTIONID IN (18,19,20,21) AND LEN(RF.FILTERVALUE)< 8 THEN (CASE WHEN @REPORTID=19 THEN 'LastWeek' ELSE 'LastMonth' END)+'~~!~~'+RF.FILTERVALUE WHEN ROF.OPTIONID IN (18,19,20,21) AND LEN(RF.FILTERVALUE) > 8 THEN 'DateRange~~!~~'+RF.FILTERVALUE ELSE RF.FILTERVALUE+'~~!~~' END
+ISNULL(S.SITENAME+CASE WHEN S.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(A.AREANAME+CASE WHEN A.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(SA1.SUBAREANAME+CASE WHEN A.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(REPLACE(U.LASTNAME,'*','(STAR)')+' '+REPLACE(U.FIRSTNAME,'*','(STAR)')+CASE WHEN U.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(SH.SHIFTNAME+CASE WHEN SH.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(CASE WHEN ROF.OPTIONID=10 THEN (CASE WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLACTIVE') WHEN RF.FILTERVALUE='0' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE') WHEN RF.FILTERVALUE='4' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLLOCK') END ) ELSE NULL END,'')
+ISNULL(CASE WHEN ROF.OPTIONID=11 THEN (CASE WHEN RF.FILTERVALUE='1' THEN 'Yes' WHEN RF.FILTERVALUE='0' THEN 'No' END ) ELSE NULL END ,'')
+ISNULL((SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE ENTITYTYPE='UGP_TYPE' AND LANGUAGEID=@LANGUAGEID AND PARENTID=G.GROUPTYPEID AND ENTITYID=G.GROUPID)+CASE WHEN G.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(CK.SETUPNAME+CASE WHEN CK.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(M.MAINCATEGORYNAME+CASE WHEN M.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(SU.SUBCATEGORYNAME+CASE WHEN SU.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(R.REDFLAGNAME+CASE WHEN R.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(RO.ROLENAME+CASE WHEN RO.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(CASE WHEN ROF.OPTIONID=12 THEN (CASE WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLYES') WHEN RF.FILTERVALUE='0' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLNO') END ) ELSE NULL END ,'')
+ISNULL(CASE WHEN ROF.OPTIONID=13 THEN (CASE WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLYES') WHEN RF.FILTERVALUE='0' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLNO') END ) ELSE NULL END ,'')
+ISNULL(CASE WHEN ROF.REPORTPARAM='PRIORITYVALUE' THEN (CASE WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLHIGH') WHEN RF.FILTERVALUE='2' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLMEDIUM') WHEN RF.FILTERVALUE='3' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLLOW') END ) ELSE NULL END ,'')
+ISNULL(CASE WHEN RF.OPTIONID=15 THEN (CASE WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLOPEN') WHEN RF.FILTERVALUE='2' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLCOMPLETED') WHEN RF.FILTERVALUE='3' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLALTERNATEACTION') END ) ELSE NULL END ,'')
+ISNULL(CASE WHEN RF.OPTIONID=16 THEN (CASE WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLSAFE') WHEN RF.FILTERVALUE='2' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLUNSAFE') END ) ELSE NULL END ,'')
+ISNULL(CASE WHEN ROF.REPORTPARAM='SETUPTYPE' THEN (CASE WHEN RF.FILTERVALUE='1' THEN 'Maincategories' WHEN RF.FILTERVALUE='0' THEN 'Line Items' END ) ELSE NULL END ,'')
+ISNULL(CASE WHEN ROF.REPORTPARAM='TRIGGER' THEN (CASE WHEN RF.FILTERVALUE='1' THEN 'LBLGREATERNO' WHEN RF.FILTERVALUE='2' THEN 'LBLLESSERNO' WHEN RF.FILTERVALUE='3' THEN 'LBLGREATERPERCENTAGE' WHEN RF.FILTERVALUE='4' THEN 'LBLLESSERPERCENTAGE' END ) ELSE NULL END ,'')
+ISNULL(CASE WHEN RF.OPTIONID=8 THEN (CASE WHEN RF.FILTERVALUE='2' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLUSROBS') WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLOBSERVER') WHEN RF.FILTERVALUE='0' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLUSER') END ) ELSE NULL END ,'') 
+ISNULL((CASE WHEN RF.OPTIONID=36 AND RF.FILTERVALUE='-1' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLSITE') WHEN RF.OPTIONID=36 AND RF.FILTERVALUE='-2' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLAREA') WHEN RF.OPTIONID=36 AND RF.FILTERVALUE='-3' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLSHIFT') WHEN RF.OPTIONID=36 AND RF.FILTERVALUE='-4' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLOBSERVER') WHEN RF.OPTIONID=36 AND RF.FILTERVALUE IN('1','2','3','4','5','6','7','8','9','10') THEN (SELECT TOP 1 ENTITYVALUE FROM ENTITYTRANSLATION WHERE ENTITYTYPE='GRP_TYPE' AND LANGUAGEID = @LANGUAGEID AND PARENTID=RF.FILTERVALUE ) ELSE NULL END),'')
+ISNULL(CASE WHEN RF.OPTIONID=37 AND RF.FILTERVALUE='-1' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLSITE') WHEN RF.OPTIONID=37 AND RF.FILTERVALUE='-2' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLAREA') WHEN RF.OPTIONID=37 AND RF.FILTERVALUE='-3' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLSHIFT') WHEN RF.OPTIONID=37 AND RF.FILTERVALUE='-4' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLOBSERVER') WHEN RF.OPTIONID=37 AND RF.FILTERVALUE IN('1','2','3','4','5','6','7','8','9','10') THEN (SELECT TOP 1 ENTITYVALUE FROM ENTITYTRANSLATION WHERE ENTITYTYPE='GRP_TYPE' AND LANGUAGEID = @LANGUAGEID AND PARENTID=RF.FILTERVALUE ) ELSE NULL END,'')
+ISNULL(CASE WHEN RF.OPTIONID=38 AND RF.FILTERVALUE='-1' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLSITE') WHEN RF.OPTIONID=38 AND RF.FILTERVALUE='-2' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLAREA') WHEN RF.OPTIONID=38 AND RF.FILTERVALUE='-3' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLSHIFT') WHEN RF.OPTIONID=38 AND RF.FILTERVALUE='-4' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLOBSERVER') WHEN RF.OPTIONID=38 AND RF.FILTERVALUE IN('1','2','3','4','5','6','7','8','9','10') THEN (SELECT TOP 1 ENTITYVALUE FROM ENTITYTRANSLATION WHERE ENTITYTYPE='GRP_TYPE' AND LANGUAGEID = @LANGUAGEID AND PARENTID=RF.FILTERVALUE ) ELSE NULL END,'')
+ISNULL(CASE WHEN ROF.REPORTPARAM='CHARTTYPE' AND RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLMONTHTOMONTH') WHEN ROF.REPORTPARAM='CHARTTYPE' AND RF.FILTERVALUE='2' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLTHREEMONTHAVG') WHEN ROF.REPORTPARAM='CHARTTYPE' AND RF.FILTERVALUE='3' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLYEARTOYEAR')  ELSE NULL END,'')
+ISNULL(CASE WHEN RF.OPTIONID=35 THEN (CASE WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLYES') ELSE (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLNO') END) ELSE NULL END ,'')
+ISNULL(CASE WHEN RF.OPTIONID=34 THEN (CASE WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLOPENWITHINRD') WHEN RF.FILTERVALUE='2' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLOPENBEYONDRD') WHEN RF.FILTERVALUE='3' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLCLOSEDWITHINRD') WHEN RF.FILTERVALUE='4' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLCLOSEDBEYONDRD') END ) ELSE NULL END ,'')
+ISNULL(CASE WHEN RF.OPTIONID=47 THEN (SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND PARENTID=1 AND ENTITYID=CFV.CUSTOMFIELDVALUEID AND ENTITYTYPE='CUS_VALUE') ELSE '' END,'')
+ISNULL(CASE WHEN RF.OPTIONID=48 THEN (SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND PARENTID=2 AND ENTITYID=CFV.CUSTOMFIELDVALUEID  AND ENTITYTYPE='CUS_VALUE') ELSE '' END,'')
+ISNULL(CASE WHEN RF.OPTIONID=49 THEN (SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND PARENTID=3 AND ENTITYID=CFV.CUSTOMFIELDVALUEID  AND ENTITYTYPE='CUS_VALUE') ELSE '' END,'')
+ISNULL(CASE WHEN RF.OPTIONID=45 THEN (CASE 
WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLSUNDAY') 
WHEN RF.FILTERVALUE='2' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLMONDAY') 
WHEN RF.FILTERVALUE='3' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLTUEDAY') 
WHEN RF.FILTERVALUE='4' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLWEDDAY') 
WHEN RF.FILTERVALUE='5' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLTHUDAY') 
WHEN RF.FILTERVALUE='6' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLFRIDAY') 
WHEN RF.FILTERVALUE='7' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLSATDAY') END ) ELSE NULL END ,'')
+ISNULL(CASE WHEN RF.OPTIONID=44 THEN (CASE 
WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLBELOWPAR') 
WHEN RF.FILTERVALUE='2' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLATPAR') 
WHEN RF.FILTERVALUE='3' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLABOVEPAR') 
END ) ELSE NULL END ,'')
+ISNULL(CASE WHEN ROF.OPTIONID=54 THEN (CASE WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLYES') WHEN RF.FILTERVALUE='0' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLNO') END ) ELSE NULL END ,'')
FROM REPORTFILTER RF
INNER JOIN @REPORTFILTEROPTIONS ROF ON ROF.OPTIONID=RF.OPTIONID
LEFT JOIN SITES S ON S.SITEID=CASE WHEN ROF.OPTIONID =1 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN AREAS A ON A.AREAID=CASE WHEN ROF.OPTIONID =2 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN SUBAREAS SA1 ON SA1.SUBAREAID=CASE WHEN ROF.OPTIONID =53 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN USERS U ON U.USERID=CASE WHEN ROF.OPTIONID =3 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN SHIFTS SH ON SH.SHIFTID=CASE WHEN ROF.OPTIONID =4 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN GROUPS G ON G.GROUPID=CASE WHEN ROF.OPTIONID BETWEEN 22 AND 31 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN CHECKLISTSETUP CK ON CK.CHECKLISTSETUPID=CASE WHEN ROF.OPTIONID =5 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN MAINCATEGORIES M ON M.MAINCATEGORYID=CASE WHEN ROF.OPTIONID=6 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN SUBCATEGORIES SU ON SU.SUBCATEGORYID=CASE WHEN ROF.OPTIONID=7 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN REDFLAGS R ON R.REDFLAGID=CASE WHEN ROF.OPTIONID=9 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN ROLES RO ON RO.ROLEID=CASE WHEN ROF.OPTIONID=17 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN CUSTOMFIELDVALUES CFV ON CFV.CUSTOMFIELDVALUEID=CASE WHEN ROF.OPTIONID BETWEEN 47 AND 49 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
WHERE RF.REPORTID=@REPORTID AND RF.USERID=@USERID AND FILTERID=@FILTERCRITERIAID

UPDATE @REPORTFILTERS SET VAL=REPLACE(VAL,'*','(MY)') WHERE VAL LIKE '%*%'


UPDATE @REPORTFILTERS SET REPORTPARAM='' WHERE ID>1
SELECT @RESULT=@RESULT+'^^^'+CASE WHEN REPORTPARAM ='' THEN REPORTPARAM ELSE '*'+REPORTPARAM END+VAL FROM @REPORTFILTERS ORDER BY OPTIONID
SELECT @RESULT=@RESULT+'^^^'
DECLARE @TAB TABLE(RESULT NVARCHAR(MAX))
INSERT INTO @TAB(RESULT)
SELECT SUBSTRING(REPLACE(SUBSTRING(ITEM,1,LEN(ITEM)-1),'^^^','*~*'),1,LEN(REPLACE(SUBSTRING(ITEM,1,LEN(ITEM)-1),'^^^','*~*'))-2) RESULT FROM dbo.fnSplit(@RESULT,'*') WHERE LTRIM(RTRIM(ITEM))!='^^^'
UPDATE @TAB SET RESULT=REPLACE(RESULT,'(MY)','*')
SELECT REPLACE(RESULT,'(STAR)','*') RESULT FROM @TAB
--SELECT REPLACE(SUBSTRING(@RESULT,2,LEN(@RESULT)),'*','') RESULT

END
ELSE
BEGIN


INSERT INTO @REPORTFILTEROPTIONS
SELECT M.OPTIONID,CASE WHEN M.OPTIONID BETWEEN 22 AND 31 THEN (SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE ENTITYTYPE='GRP_TYPE' AND ENTITYID=M.RELATIONID AND LANGUAGEID=@LANGUAGEID) 
WHEN M.OPTIONID BETWEEN 47 AND 49 THEN (SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE ENTITYTYPE='CUS_NAME' AND ENTITYID=M.RELATIONID AND LANGUAGEID=@LANGUAGEID)
ELSE M.OPTIONNAME END,M.WACCESS QUERY,M.REPORTPARAM,M.FILTERPARAM,M.FILTERPARAMMAP,M.OPTIONSCATEGORYID,M.DISPLAYORDER FROM REPORTSOPTION O
INNER JOIN REPORTOPTIONSMASTER M ON O.OPTIONID=M.OPTIONID
WHERE O.REPORTID=@REPORTID AND O.STATUS=1 AND M.STATUS=1 AND O.MANDATORY=1
UNION ALL
SELECT M.OPTIONID,CASE WHEN M.OPTIONID BETWEEN 22 AND 31 THEN (SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE ENTITYTYPE='GRP_TYPE' AND ENTITYID=M.RELATIONID AND LANGUAGEID=@LANGUAGEID) 
WHEN M.OPTIONID BETWEEN 47 AND 49 THEN (SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE ENTITYTYPE='CUS_NAME' AND ENTITYID=M.RELATIONID AND LANGUAGEID=@LANGUAGEID)
ELSE M.OPTIONNAME END,M.WACCESS QUERY,M.REPORTPARAM,M.FILTERPARAM,M.FILTERPARAMMAP,M.OPTIONSCATEGORYID,M.DISPLAYORDER FROM REPORTSOPTION O
INNER JOIN REPORTOPTIONSMASTER M ON O.OPTIONID=M.OPTIONID
INNER JOIN REPORTFILTERMASTER RF ON O.OPTIONID=RF.OPTIONID AND O.REPORTID=RF.REPORTID AND RF.USERID=@USERID
WHERE O.REPORTID=@REPORTID AND O.STATUS=1 AND M.STATUS=1 AND RF.STATUS=1
ORDER BY OPTIONSCATEGORYID,DISPLAYORDER

SELECT DISTINCT * FROM @REPORTFILTEROPTIONS ORDER BY OPTIONSCATEGORYID,DISPLAYORDER

SELECT OPTIONSCATEGORYID,CATEGORYNAME,CASE WHEN SUM(MANDATORYFILTER)>0 THEN 1 ELSE 0 END MANDATORYFILTER FROM(
SELECT OPTIONSCATEGORYID,CATEGORYNAME,MANDATORYFILTER FROM
(SELECT DISTINCT ROC.OPTIONSCATEGORYID,ROC.CATEGORYNAME,MANDATORYFILTER FROM REPORTSOPTION O
INNER JOIN REPORTOPTIONSMASTER M ON O.OPTIONID=M.OPTIONID
INNER JOIN REPORTFILTERMASTER RF ON O.OPTIONID=RF.OPTIONID AND O.REPORTID=RF.REPORTID AND RF.USERID=@USERID
INNER JOIN REPORTOPTIONSCATEGORY ROC ON ROC.OPTIONSCATEGORYID=M.OPTIONSCATEGORYID
WHERE O.REPORTID=@REPORTID AND O.STATUS=1 AND M.STATUS=1 AND RF.STATUS=1
UNION
SELECT DISTINCT ROC.OPTIONSCATEGORYID,ROC.CATEGORYNAME,MANDATORYFILTER FROM REPORTSOPTION O
INNER JOIN REPORTOPTIONSMASTER M ON O.OPTIONID=M.OPTIONID
INNER JOIN REPORTOPTIONSCATEGORY ROC ON ROC.OPTIONSCATEGORYID=M.OPTIONSCATEGORYID
WHERE O.REPORTID=@REPORTID AND O.STATUS=1 AND M.STATUS=1 AND O.MANDATORY=1)A)B GROUP BY OPTIONSCATEGORYID,CATEGORYNAME
ORDER BY OPTIONSCATEGORYID


INSERT INTO @REPORTFILTERS
SELECT ROW_NUMBER() OVER(PARTITION BY ROF.REPORTPARAM ORDER BY ROF.REPORTPARAM) ,RF.OPTIONID,ROF.REPORTPARAM+':',CASE WHEN ROF.REPORTPARAM LIKE '%DATE%' AND RF.FILTERVALUE='YTD' THEN +'YTD~~!~~YTD' WHEN ROF.REPORTPARAM LIKE '%DATE%' AND RF.FILTERVALUE='CMY' THEN +'CMY~~!~~CMY' WHEN ROF.REPORTPARAM LIKE '%DATE%' AND RF.FILTERVALUE LIKE '**' THEN 'DateRange~~!~~'+REPLACE(RF.FILTERVALUE,'**','##')  WHEN ROF.REPORTPARAM LIKE '%DATE%' AND LEN(RF.FILTERVALUE)< 8 THEN (CASE WHEN @REPORTID=19 THEN 'LastWeek' ELSE 'LastMonth' END)+'~~!~~'+RF.FILTERVALUE WHEN ROF.REPORTPARAM LIKE '%DATE%' AND LEN(RF.FILTERVALUE) > 8 THEN 'DateRange~~!~~'+RF.FILTERVALUE ELSE RF.FILTERVALUE+'~~!~~'  END

+ISNULL(S.SITENAME+CASE WHEN S.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(A.AREANAME+CASE WHEN A.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(SA1.SUBAREANAME+CASE WHEN A.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(REPLACE(U.LASTNAME,'*','(STAR)')+' '+REPLACE(U.FIRSTNAME,'*','(STAR)')+CASE WHEN U.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(SH.SHIFTNAME+CASE WHEN SH.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(CASE WHEN ROF.OPTIONID=10 THEN (CASE WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLACTIVE') WHEN RF.FILTERVALUE='0' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE') WHEN RF.FILTERVALUE='4' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLLOCK') END ) ELSE NULL END,'')
+ISNULL(CASE WHEN ROF.OPTIONID=11 THEN (CASE WHEN RF.FILTERVALUE='1' THEN 'Yes' WHEN RF.FILTERVALUE='0' THEN 'No' END ) ELSE NULL END ,'')
+ISNULL((SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE ENTITYTYPE='UGP_TYPE' AND LANGUAGEID=@LANGUAGEID AND PARENTID=G.GROUPTYPEID AND ENTITYID=G.GROUPID)+CASE WHEN G.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(CK.SETUPNAME+CASE WHEN CK.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(M.MAINCATEGORYNAME+CASE WHEN M.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(SU.SUBCATEGORYNAME+CASE WHEN SU.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(R.REDFLAGNAME+CASE WHEN R.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(RO.ROLENAME+CASE WHEN RO.STATUS =0 THEN '( '+(SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLINACTIVE')+' )' ELSE '' END,'')
+ISNULL(CASE WHEN ROF.OPTIONID=12 THEN (CASE WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLYES') WHEN RF.FILTERVALUE='0' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLNO') END ) ELSE NULL END ,'')
+ISNULL(CASE WHEN ROF.OPTIONID=13 THEN (CASE WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLYES') WHEN RF.FILTERVALUE='0' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLNO') END ) ELSE NULL END ,'')
+ISNULL(CASE WHEN ROF.REPORTPARAM='PRIORITYVALUE' THEN (CASE WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLHIGH') WHEN RF.FILTERVALUE='2' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLMEDIUM') WHEN RF.FILTERVALUE='3' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLLOW') END ) ELSE NULL END ,'')
+ISNULL(CASE WHEN RF.OPTIONID=15 THEN (CASE WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLOPEN') WHEN RF.FILTERVALUE='2' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLCOMPLETED') WHEN RF.FILTERVALUE='3' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLALTERNATEACTION') END ) ELSE NULL END ,'')
+ISNULL(CASE WHEN RF.OPTIONID=16 THEN (CASE WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLSAFE') WHEN RF.FILTERVALUE='2' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLUNSAFE') END ) ELSE NULL END ,'')
+ISNULL(CASE WHEN ROF.REPORTPARAM='SETUPTYPE' THEN (CASE WHEN RF.FILTERVALUE='1' THEN 'Maincategories' WHEN RF.FILTERVALUE='0' THEN 'Line Items' END ) ELSE NULL END ,'')
+ISNULL(CASE WHEN ROF.REPORTPARAM='TRIGGER' THEN (CASE WHEN RF.FILTERVALUE='1' THEN 'LBLGREATERNO' WHEN RF.FILTERVALUE='2' THEN 'LBLLESSERNO' WHEN RF.FILTERVALUE='3' THEN 'LBLGREATERPERCENTAGE' WHEN RF.FILTERVALUE='4' THEN 'LBLLESSERPERCENTAGE' END ) ELSE NULL END ,'')
+ISNULL(CASE WHEN RF.OPTIONID=8 THEN (CASE WHEN RF.FILTERVALUE='2' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLUSROBS') WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLOBSERVER') WHEN RF.FILTERVALUE='0' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLUSER') END ) ELSE NULL END ,'') 
+ISNULL((CASE WHEN RF.OPTIONID=36 AND RF.FILTERVALUE='-1' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLSITE') WHEN RF.OPTIONID=36 AND RF.FILTERVALUE='-2' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLAREA') WHEN RF.OPTIONID=36 AND RF.FILTERVALUE='-3' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLSHIFT') WHEN RF.OPTIONID=36 AND RF.FILTERVALUE='-4' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLOBSERVER') WHEN RF.OPTIONID=36 AND RF.FILTERVALUE IN('1','2','3','4','5','6','7','8','9','10') THEN (SELECT TOP 1 ENTITYVALUE FROM ENTITYTRANSLATION WHERE ENTITYTYPE='GRP_TYPE' AND LANGUAGEID = @LANGUAGEID AND PARENTID=RF.FILTERVALUE ) ELSE NULL END),'')
+ISNULL(CASE WHEN RF.OPTIONID=37 AND RF.FILTERVALUE='-1' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLSITE') WHEN RF.OPTIONID=37 AND RF.FILTERVALUE='-2' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLAREA') WHEN RF.OPTIONID=37 AND RF.FILTERVALUE='-3' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLSHIFT') WHEN RF.OPTIONID=37 AND RF.FILTERVALUE='-4' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLOBSERVER') WHEN RF.OPTIONID=37 AND RF.FILTERVALUE IN('1','2','3','4','5','6','7','8','9','10') THEN (SELECT TOP 1 ENTITYVALUE FROM ENTITYTRANSLATION WHERE ENTITYTYPE='GRP_TYPE' AND LANGUAGEID = @LANGUAGEID AND PARENTID=RF.FILTERVALUE ) ELSE NULL END,'')
+ISNULL(CASE WHEN RF.OPTIONID=38 AND RF.FILTERVALUE='-1' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLSITE') WHEN RF.OPTIONID=38 AND RF.FILTERVALUE='-2' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLAREA') WHEN RF.OPTIONID=38 AND RF.FILTERVALUE='-3' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLSHIFT') WHEN RF.OPTIONID=38 AND RF.FILTERVALUE='-4' THEN (SELECT TOP 1 LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELNAME='LBLOBSERVER') WHEN RF.OPTIONID=38 AND RF.FILTERVALUE IN('1','2','3','4','5','6','7','8','9','10') THEN (SELECT TOP 1 ENTITYVALUE FROM ENTITYTRANSLATION WHERE ENTITYTYPE='GRP_TYPE' AND LANGUAGEID = @LANGUAGEID AND PARENTID=RF.FILTERVALUE ) ELSE NULL END,'')
+ISNULL(CASE WHEN ROF.REPORTPARAM='CHARTTYPE' AND RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLMONTHTOMONTH') WHEN ROF.REPORTPARAM='CHARTTYPE' AND RF.FILTERVALUE='2' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLTHREEMONTHAVG') WHEN ROF.REPORTPARAM='CHARTTYPE' AND RF.FILTERVALUE='3' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLYEARTOYEAR')  ELSE NULL END,'')
+ISNULL(CASE WHEN RF.OPTIONID=35 THEN (CASE WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLYES') ELSE (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLNO') END) ELSE NULL END ,'')
+ISNULL(CASE WHEN RF.OPTIONID=34 THEN (CASE WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLOPENWITHINRD') WHEN RF.FILTERVALUE='2' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLOPENBEYONDRD') WHEN RF.FILTERVALUE='3' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLCLOSEDWITHINRD') WHEN RF.FILTERVALUE='4' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLCLOSEDBEYONDRD') END ) ELSE NULL END ,'')
+ISNULL(CASE WHEN RF.OPTIONID=47 THEN (SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND PARENTID=1 AND ENTITYID=CFV.CUSTOMFIELDVALUEID AND ENTITYTYPE='CUS_VALUE') ELSE '' END,'')
+ISNULL(CASE WHEN RF.OPTIONID=48 THEN (SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND PARENTID=2 AND ENTITYID=CFV.CUSTOMFIELDVALUEID  AND ENTITYTYPE='CUS_VALUE') ELSE '' END,'')
+ISNULL(CASE WHEN RF.OPTIONID=49 THEN (SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND PARENTID=3 AND ENTITYID=CFV.CUSTOMFIELDVALUEID  AND ENTITYTYPE='CUS_VALUE') ELSE '' END,'')
+ISNULL(CASE WHEN RF.OPTIONID=45 THEN (CASE 
WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLSUNDAY') 
WHEN RF.FILTERVALUE='2' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLMONDAY') 
WHEN RF.FILTERVALUE='3' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLTUEDAY') 
WHEN RF.FILTERVALUE='4' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLWEDDAY') 
WHEN RF.FILTERVALUE='5' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLTHUDAY') 
WHEN RF.FILTERVALUE='6' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLFRIDAY') 
WHEN RF.FILTERVALUE='7' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLSATDAY') END ) ELSE NULL END ,'')
+ISNULL(CASE WHEN RF.OPTIONID=44 THEN (CASE 
WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLBELOWPAR') 
WHEN RF.FILTERVALUE='2' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLATPAR') 
WHEN RF.FILTERVALUE='3' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLABOVEPAR') 
END ) ELSE NULL END ,'')
+ISNULL(CASE WHEN ROF.OPTIONID=54 THEN (CASE WHEN RF.FILTERVALUE='1' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLYES') WHEN RF.FILTERVALUE='0' THEN (SELECT TOP 1 LABELVALUE FROM COMMONTRANSLATIONS WHERE LANGUAGEID = @LANGUAGEID AND LABELNAME='LBLNO') END ) ELSE NULL END ,'')
FROM REPORTFILTER RF

INNER JOIN @REPORTFILTEROPTIONS ROF ON ROF.OPTIONID=RF.OPTIONID
LEFT JOIN SITES S ON S.SITEID=CASE WHEN ROF.OPTIONID =1 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN AREAS A ON A.AREAID=CASE WHEN ROF.OPTIONID =2 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN SUBAREAS SA1 ON SA1.SUBAREAID=CASE WHEN ROF.OPTIONID =53 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN USERS U ON U.USERID=CASE WHEN ROF.OPTIONID =3 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN SHIFTS SH ON SH.SHIFTID=CASE WHEN ROF.OPTIONID =4 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN GROUPS G ON G.GROUPID=CASE WHEN ROF.OPTIONID BETWEEN 22 AND 31 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN CHECKLISTSETUP CK ON CK.CHECKLISTSETUPID=CASE WHEN ROF.OPTIONID =5 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN MAINCATEGORIES M ON M.MAINCATEGORYID=CASE WHEN ROF.OPTIONID=6 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN SUBCATEGORIES SU ON SU.SUBCATEGORYID=CASE WHEN ROF.OPTIONID=7 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN REDFLAGS R ON R.REDFLAGID=CASE WHEN ROF.OPTIONID=9 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN ROLES RO ON RO.ROLEID=CASE WHEN ROF.OPTIONID=17 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
LEFT JOIN CUSTOMFIELDVALUES CFV ON CFV.CUSTOMFIELDVALUEID=CASE WHEN ROF.OPTIONID BETWEEN 47 AND 49 THEN CAST(RF.FILTERVALUE AS INT) ELSE NULL END
WHERE RF.REPORTID=@REPORTID AND RF.USERID=@USERID AND FILTERID=@FILTERCRITERIAID

UPDATE @REPORTFILTERS SET REPORTPARAM='' WHERE ID>1

UPDATE @REPORTFILTERS SET VAL=REPLACE(VAL,'*','(MY)') WHERE VAL LIKE '%*%'

SELECT @RESULT=@RESULT+'^^^'+CASE WHEN REPORTPARAM ='' THEN REPORTPARAM ELSE '*'+REPORTPARAM END+VAL FROM @REPORTFILTERS ORDER BY OPTIONID
SELECT @RESULT=@RESULT+'^^^'
DECLARE @TAB1 TABLE(RESULT NVARCHAR(MAX))
INSERT INTO @TAB1
SELECT SUBSTRING(REPLACE(SUBSTRING(ITEM,1,LEN(ITEM)-1),'^^^','*~*'),1,LEN(REPLACE(SUBSTRING(ITEM,1,LEN(ITEM)-1),'^^^','*~*'))-2) RESULT FROM dbo.fnSplit(@RESULT,'*') WHERE LTRIM(RTRIM(ITEM))!='^^^'

UPDATE @TAB1 SET RESULT=REPLACE(RESULT,'(MY)','*')

SELECT REPLACE(RESULT,'(STAR)','*') RESULT FROM @TAB1
--SELECT REPLACE(SUBSTRING(@RESULT,2,LEN(@RESULT)),'*','') RESULT

END
