CREATE TABLE #USERLIST(USERID NVARCHAR(512), [NAME] NVARCHAR(512))
IF ISNULL(@SITEID,'')=''
BEGIN
IF EXISTS(SELECT 1 FROM ROLES R INNER JOIN USERINFO UR ON UR.USERID=@USERID AND UR.DEFAULTROLEID =R.ROLEID AND R.ALLSITES=1 WHERE R.ROLEID = @ROLEID)
BEGIN
INSERT INTO #USERLIST
SELECT CAST(U.USERID AS NVARCHAR(512))+'*',LASTNAME+','+FIRSTNAME FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID = U.USERID
WHERE UI.USERTYPEID!=1


INSERT INTO #USERLIST
SELECT RESPONSIBLEPERSON+'*',RESPONSIBLEPERSON FROM CORRECTIVEACTIONS	WHERE STATUS <> 2 AND  RESPONSIBLEPERSON NOT IN (SELECT CONVERT(VARCHAR(16),USERID) FROM USERS)

SELECT * FROM #USERLIST ORDER BY NAME
END
ELSE
BEGIN
INSERT INTO #USERLIST
SELECT DISTINCT CAST(U.USERID AS NVARCHAR(512))+'*',LASTNAME+','+FIRSTNAME FROM USERS U
INNER JOIN USERSITES US ON US.USERID = U.USERID
INNER JOIN USERINFO UI ON UI.USERID = U.USERID
WHERE U.STATUS=1 AND US.STATUS=1 AND US.SITEID IN (SELECT SITEID FROM USERSITES WHERE USERID = @USERID)
AND UI.USERTYPEID!=1

INSERT INTO #USERLIST
SELECT RESPONSIBLEPERSON+'*',RESPONSIBLEPERSON FROM CORRECTIVEACTIONS	WHERE STATUS <> 2 AND RESPONSIBLEPERSON NOT IN (SELECT CONVERT(VARCHAR(16),USERID) FROM USERS)

SELECT * FROM #USERLIST ORDER BY NAME

END
END
ELSE
BEGIN
INSERT INTO #USERLIST
SELECT DISTINCT CAST(U.USERID AS NVARCHAR(512))+'*',LASTNAME+','+FIRSTNAME FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID = U.USERID
INNER JOIN USERSITES US ON US.USERID = U.USERID
INNER JOIN dbo.CSVtoTable(@SITEID) R ON R.RESULT=US.SITEID
WHERE U.STATUS=1 AND US.STATUS=1
AND UI.USERTYPEID!=1

INSERT INTO #USERLIST
SELECT RESPONSIBLEPERSON+'*',RESPONSIBLEPERSON FROM CORRECTIVEACTIONS	WHERE STATUS <> 2 AND  RESPONSIBLEPERSON NOT IN (SELECT CONVERT(VARCHAR(16),USERID) FROM USERS)

SELECT * FROM #USERLIST ORDER BY NAME
END