--GETREPORTS_ALL_1.0
SELECT REPORTID,REPORTNAME FROM
(SELECT 0 ID,0 AS REPORTID,'LBLSELECT' REPORTNAME
UNION
SELECT ROW_NUMBER() OVER(ORDER BY RM.REPORTNAME) ID,RM.REPORTID,RM.REPORTNAME FROM REPORTSMASTER RM
INNER JOIN ROLEREPORTS RR ON RR.REPORTID=RM.REPORTID
WHERE RM.STATUS=1 AND RR.STATUS=1 AND RR.ROLEID=@ROLEID AND RM.REPORTID NOT IN (21,22))A  ORDER BY ID
