--GETREPORTSCHEDULELIST_1.0
SELECT DISTINCT S.SCHEDULEID,S.SCHEDULENAME,R.REPORTNAME,
CASE WHEN S.STATUS= 1 THEN 'LBLACTIVE' WHEN S.STATUS = 0 THEN 'LBLINACTIVE' END AS [STATUS]
FROM SCHEDULE S
INNER JOIN REPORTSMASTER R ON R.REPORTID=S.REPORTID
INNER JOIN ROLEREPORTS RR ON RR.REPORTID=R.REPORTID
WHERE R.STATUS=1 AND S.STATUS<>2 AND RR.STATUS=1 AND RR.ROLEID=@ROLEID AND R.REPORTID=CASE WHEN @REPORTID=0 THEN R.REPORTID ELSE @REPORTID END ORDER BY S.SCHEDULENAME;

SELECT 0 REPORTID,'LBLALL' REPORTNAME
UNION ALL
SELECT RM.REPORTID,RM.REPORTNAME FROM REPORTSMASTER RM
INNER JOIN ROLEREPORTS RR ON RR.REPORTID=RM.REPORTID
WHERE RM.STATUS=1 AND RR.STATUS=1 AND RR.ROLEID=@ROLEID AND RM.REPORTID NOT IN (21,22) ORDER BY REPORTNAME ASC
