
CREATE TABLE #FINALRESULTS(ID INT IDENTITY(0,1),CHECKLISTSETUPID INT,MAINCATEGORYID INT,SUBCATEGORYID INT,SUBSEQUENCE INT,SUBCATEGORYNAME NVARCHAR(512),SAFE INT,UNSAFE INT,SAFECOMMENTS VARCHAR(MAX),UNSAFECOMMENTS VARCHAR(MAX),COMMENTEXISTS INT,ALLSAFECHECK INT)


IF NOT EXISTS(SELECT 1 FROM STOPCARDENTRYOBSERVATIONS WHERE CARDID = @CARDID)
BEGIN

INSERT INTO #FINALRESULTS(CHECKLISTSETUPID,MAINCATEGORYID,SUBCATEGORYID,SUBSEQUENCE,SUBCATEGORYNAME,SAFE,UNSAFE,COMMENTEXISTS,ALLSAFECHECK)
SELECT DISTINCT CS.CHECKLISTSETUPID,CSC.MAINCATEGORYID,CSC.SUBCATEGORYID,CSC.SUBSEQUENCE,ET.ENTITYVALUE [SUBCATEGORYNAME],0 [SAFE],0 [UNSAFE],
CASE WHEN EXISTS(SELECT 1 FROM STOPCARDENTRYCATEGORYCOMMENTS WHERE CARDID = @CARDID AND MAINCATEGORYID = CSC.MAINCATEGORYID AND
SUBCATEGORYID=CSC.SUBCATEGORYID ) THEN 1 ELSE 0 END [COMMENTEXISTS]
,CS.ALLSAFECHECK
FROM CHECKLISTSETUP CS
INNER JOIN CHECKLISTSETUPCATEGORYASSIGNMENTS CSC ON CS.CHECKLISTSETUPID=CSC.CHECKLISTSETUPID
INNER JOIN SUBCATEGORIES S ON S.MAINCATEGORYID=0 AND S.SUBCATEGORYID=CSC.SUBCATEGORYID
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID=CSC.MAINCATEGORYID AND ET.ENTITYID = CSC.SUBCATEGORYID AND ET.ENTITYTYPE='SUB_CTG' AND ET.LANGUAGEID =@LANGUAGEID
WHERE S.STATUS = 1 AND CS.STATUS = 1 AND CSC.STATUS = 1 AND CSC.MAINISASSIGNED = 1 AND CSC.SUBISASSIGNED = 1
AND CS.CHECKLISTSETUPID=@CHECKLISTSETUPID
ORDER BY MAINCATEGORYID

SELECT TOP 1 0 STARTINDEX,(SELECT MAX(ID) FROM #FINALRESULTS) ENDINDEX,ALLSAFECHECK FROM #FINALRESULTS

SELECT CHECKLISTSETUPID,MAINCATEGORYID,SUBCATEGORYID,SUBSEQUENCE,[SUBCATEGORYNAME],[SAFE],[UNSAFE],[COMMENTEXISTS] FROM (
SELECT DISTINCT CS.CHECKLISTSETUPID,CSC.MAINCATEGORYID,CSC.SUBCATEGORYID,CSC.SUBSEQUENCE,ET.ENTITYVALUE [SUBCATEGORYNAME],0 [SAFE],0 [UNSAFE],
CASE WHEN EXISTS(SELECT 1 FROM STOPCARDENTRYCATEGORYCOMMENTS WHERE CARDID = @CARDID AND MAINCATEGORYID = 0 AND SUBCATEGORYID = CSC.SUBCATEGORYID) THEN 1 ELSE
0 END [COMMENTEXISTS]
FROM CHECKLISTSETUP CS
INNER JOIN CHECKLISTSETUPCATEGORYASSIGNMENTS CSC ON CS.CHECKLISTSETUPID=CSC.CHECKLISTSETUPID
INNER JOIN SUBCATEGORIES S ON S.MAINCATEGORYID=0 AND S.SUBCATEGORYID=CSC.SUBCATEGORYID
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID=CSC.MAINCATEGORYID AND ET.ENTITYID = CSC.SUBCATEGORYID AND ET.ENTITYTYPE='SUB_CTG' AND ET.LANGUAGEID =@LANGUAGEID
WHERE S.STATUS = 1 AND CS.STATUS = 1 AND CSC.STATUS = 1 AND CSC.MAINISASSIGNED = 1 AND CSC.SUBISASSIGNED = 1
AND CS.CHECKLISTSETUPID=@CHECKLISTSETUPID  AND CS.CATEGORYTYPE=0)A
ORDER BY SUBSEQUENCE

END
ELSE
BEGIN

INSERT INTO #FINALRESULTS(MAINCATEGORYID,SUBCATEGORYID,SUBCATEGORYNAME,SAFE,UNSAFE,COMMENTEXISTS,ALLSAFECHECK,SUBSEQUENCE)
SELECT DISTINCT SCO.MAINCATEGORYID,SCO.SUBCATEGORYID,ET.ENTITYVALUE [SUBCATEGORYNAME],SCO.SAFE,SCO.UNSAFE,
CASE WHEN EXISTS(SELECT 1 FROM STOPCARDENTRYCATEGORYCOMMENTS WHERE CARDID = @CARDID AND MAINCATEGORYID = 0 AND SUBCATEGORYID = SCO.SUBCATEGORYID) THEN 1 ELSE
0 END [COMMENTEXISTS]
,CS.ALLSAFECHECK,
CSC.SUBSEQUENCE
FROM STOPCARDENTRY SCE
INNER JOIN STOPCARDENTRYOBSERVATIONS SCO ON SCO.CARDID=SCE.CARDID
INNER JOIN  CHECKLISTSETUP CS ON CS.CHECKLISTSETUPID=SCE.CHECKLISTSETUPID
INNER JOIN CHECKLISTSETUPCATEGORYASSIGNMENTS CSC ON CS.CHECKLISTSETUPID=CSC.CHECKLISTSETUPID AND CSC.SUBCATEGORYID=SCO.SUBCATEGORYID
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID=SCO.MAINCATEGORYID AND ET.ENTITYID = SCO.SUBCATEGORYID AND ET.ENTITYTYPE='SUB_CTG' AND ET.LANGUAGEID =@LANGUAGEID
WHERE SCO.STATUS = 1 AND SCO.CARDID = @CARDID AND SCO.MAINCATEGORYID = 0
AND CS.CHECKLISTSETUPID=@CHECKLISTSETUPID

SELECT TOP 1 0 STARTINDEX,(SELECT MAX(ID) FROM #FINALRESULTS) ENDINDEX,ALLSAFECHECK FROM #FINALRESULTS

SELECT MAINCATEGORYID,SUBCATEGORYID,[SUBCATEGORYNAME],SAFE,UNSAFE,[COMMENTEXISTS],ALLSAFECHECK FROM(
SELECT DISTINCT SCO.MAINCATEGORYID,SCO.SUBCATEGORYID,ET.ENTITYVALUE [SUBCATEGORYNAME],SCO.SAFE,SCO.UNSAFE,
CASE WHEN EXISTS(SELECT 1 FROM STOPCARDENTRYCATEGORYCOMMENTS WHERE CARDID = @CARDID AND MAINCATEGORYID = 0 AND SUBCATEGORYID = SCO.SUBCATEGORYID) THEN 1 ELSE 0 END [COMMENTEXISTS],CS.ALLSAFECHECK,
CSC.SUBSEQUENCE
FROM STOPCARDENTRY SCE
INNER JOIN STOPCARDENTRYOBSERVATIONS SCO ON SCO.CARDID=SCE.CARDID
INNER JOIN  CHECKLISTSETUP CS ON CS.CHECKLISTSETUPID=SCE.CHECKLISTSETUPID
INNER JOIN CHECKLISTSETUPCATEGORYASSIGNMENTS CSC ON CS.CHECKLISTSETUPID=CSC.CHECKLISTSETUPID AND CSC.SUBCATEGORYID=SCO.SUBCATEGORYID
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID=SCO.MAINCATEGORYID AND ET.ENTITYID = SCO.SUBCATEGORYID AND ET.ENTITYTYPE='SUB_CTG' AND ET.LANGUAGEID =@LANGUAGEID
WHERE SCO.STATUS = 1 AND SCO.CARDID = @CARDID AND SCO.MAINCATEGORYID = 0
AND CS.CHECKLISTSETUPID=@CHECKLISTSETUPID) A ORDER BY SUBSEQUENCE

END

