--GETSETUPSITELIST_1.0
IF EXISTS (SELECT 1 FROM USERINFO UR INNER JOIN ROLES R ON R.ROLEID =UR.DEFAULTROLEID WHERE UR.USERID = @USERID AND R.ALLSITES = 1 AND R.STATUS = 1)
BEGIN

SELECT '<option value="'+CAST(SITEID AS VARCHAR(32))+'">'+SITENAME+'</option>' AS 'data()' FROM SITES
WHERE STATUS = 1 AND SITEID NOT IN (SELECT SITEID FROM dbo.CHECKLISTSETUPSITES WHERE CHECKLISTSETUPID=@CHECKLISTSETUPID AND STATUS = 1 ) ORDER BY SITENAME
FOR XML PATH('')
SELECT '<option value="'+CAST(S.SITEID AS VARCHAR(32))+'">'+SITENAME+CASE WHEN S.STATUS =0 THEN '( InActive )' ELSE '' END+'</option>' AS 'data()' FROM SITES S
INNER JOIN CHECKLISTSETUPSITES CS ON CS.SITEID =S.SITEID
WHERE CHECKLISTSETUPID=@CHECKLISTSETUPID AND CS.STATUS =1 ORDER BY SITENAME
FOR XML PATH('')
END
ELSE
BEGIN

SELECT '<option value="'+CAST(S.SITEID AS VARCHAR(32))+'">'+S.SITENAME+'</option>' AS 'data()' FROM SITES S
INNER JOIN USERSITES US ON US.SITEID = S.SITEID
WHERE S.STATUS = 1 AND US.USERID=@USERID AND US.STATUS = 1 AND S.SITEID NOT IN (SELECT SITEID FROM dbo.CHECKLISTSETUPSITES WHERE CHECKLISTSETUPID=@CHECKLISTSETUPID AND STATUS = 1 )
ORDER BY S.SITENAME FOR XML PATH('')
SELECT '<option value="'+CAST(S.SITEID AS VARCHAR(32))+'">'+SITENAME+CASE WHEN S.STATUS =0 THEN '( InActive )' ELSE '' END+'</option>' AS 'data()' FROM SITES S
INNER JOIN CHECKLISTSETUPSITES CS ON CS.SITEID =S.SITEID
WHERE CHECKLISTSETUPID=@CHECKLISTSETUPID AND CS.STATUS =1
ORDER BY SITENAME FOR XML PATH('')
END
