IF EXISTS(SELECT 1 FROM USERINFO WHERE USERID = @USERID AND DEFAULTROLEID=1)
BEGIN
SELECT SITEID,SITENAME,COUNTRYID,(SELECT COUNTRY FROM COUNTRIES WHERE COUNTRYID = SITES.COUNTRYID)COUNTRY,CITY,CASE WHEN [STATUS]= 1 THEN 'LBLACTIVE' WHEN [STATUS] = 0 THEN 'LBLINACTIVE' WHEN [STATUS] = 3 THEN 'LBLACTIVE' END AS [STATUS] FROM SITES WHERE STATUS != 2 AND SITEID !=1  ORDER BY SITENAME
SELECT COUNT(*)[SITECOUNT] FROM SITES WHERE STATUS != 2 AND SITEID !=1
END
ELSE
BEGIN
SELECT SITEID,SITENAME,COUNTRYID,
(SELECT COUNTRY FROM COUNTRIES WHERE COUNTRYID = SITES.COUNTRYID)COUNTRY,
CITY,CASE WHEN [STATUS]= 1 THEN 'LBLACTIVE' WHEN [STATUS] = 0 THEN 'LBLINACTIVE' WHEN [STATUS] = 3 THEN 'LBLACTIVE' END AS [STATUS]
FROM SITES WHERE STATUS != 2 AND SITEID !=1
AND SITEID IN (SELECT SITEID FROM USERSITES WHERE USERID = @USERID AND STATUS =1)
ORDER BY SITENAME
SELECT COUNT(*)[SITECOUNT] FROM SITES WHERE STATUS != 2 AND SITEID !=1
AND SITEID IN (SELECT SITEID FROM USERSITES WHERE USERID = @USERID AND STATUS =1)
END