IF @CHECKLISTSETUPID = -1

SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE SUBCATEGORYNAME
FROM SUBCATEGORIES S
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
WHERE ET.LANGUAGEID=@LANGUAGEID AND S.STATUS = 1
ORDER BY SUBCATEGORYNAME

ELSE

SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE SUBCATEGORYNAME
FROM SUBCATEGORIES S
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
INNER JOIN CHECKLISTSETUPCATEGORYASSIGNMENTS CS ON CS.SUBCATEGORYID=S.SUBCATEGORYID
WHERE ET.LANGUAGEID=@LANGUAGEID AND CS.SUBISASSIGNED = 1 AND CS.CHECKLISTSETUPID = @CHECKLISTSETUPID
ORDER BY SUBCATEGORYNAME
