SELECT SUBCATEGORYID,ENTITYVALUE FROM
(SELECT DISTINCT CS.SUBCATEGORYID,ENTITYVALUE,SUBSEQUENCE FROM CHECKLISTSETUPCATEGORYASSIGNMENTS CS
INNER JOIN SUBCATEGORIES S ON S.SUBCATEGORYID=CS.SUBCATEGORYID AND S.MAINCATEGORYID=CS.MAINCATEGORYID
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID = CS.MAINCATEGORYID AND ET.ENTITYID =CS.SUBCATEGORYID AND ET.ENTITYTYPE='SUB_CTG' AND ET.LANGUAGEID=@LANGUAGEID
WHERE S.STATUS=1 AND CHECKLISTSETUPID=@CHECKLISTSETUPID AND CS.MAINCATEGORYID = @MAINCATEGORYID AND CS.SUBISASSIGNED=1 AND CS.STATUS=1)A
ORDER BY SUBSEQUENCE

