--GETSAVEDFILTERCRITERIAFORSCHEDULE_1.0
CREATE TABLE #TEMPFILTER(ID INT IDENTITY(1,1),FILTERID INT,FILTERNAME NVARCHAR(512))
INSERT INTO #TEMPFILTER(FILTERID,FILTERNAME)
SELECT 0 FILTERID,'LBLSELECT' FILTERNAME
INSERT INTO #TEMPFILTER(FILTERID,FILTERNAME)
SELECT FILTERID,FILTERNAME FROM REPORTFILTERCRITERIAMASTER WHERE [STATUS]=1 AND REPORTID=@REPORTID AND CREATEDBY=@USERID ORDER BY FILTERNAME

SELECT FILTERID,FILTERNAME FROM #TEMPFILTER ORDER BY ID
