IF @MODE=0
BEGIN

IF ISNULL(@MAINCATEGORYID,'')=''

BEGIN
SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE SUBCATEGORYNAME
FROM SUBCATEGORIES S
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
WHERE ET.LANGUAGEID=@LANGUAGEID AND S.STATUS = 1
ORDER BY SUBCATEGORYNAME
END
ELSE
BEGIN
SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE SUBCATEGORYNAME
FROM SUBCATEGORIES S
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
INNER JOIN DBO.CSVTOTABLE(@MAINCATEGORYID) M ON M.RESULT=S.MAINCATEGORYID
WHERE ET.LANGUAGEID=@LANGUAGEID AND S.STATUS = 1
ORDER BY SUBCATEGORYNAME

END

END
ELSE
BEGIN


IF ISNULL(@MAINCATEGORYID,'')=''

BEGIN
SELECT SUBCATEGORYID,SUBCATEGORYNAME FROM(
SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE +CASE WHEN S.STATUS=0 THEN '( Unassigned )' ELSE '' END SUBCATEGORYNAME
FROM SUBCATEGORIES S
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
INNER JOIN CORRECTIVEACTIONSCATEGORY CAC ON CAC.MAINCATEGORYID=S.MAINCATEGORYID AND CAC.SUBCATEGORYID=S.SUBCATEGORYID
WHERE ET.LANGUAGEID=@LANGUAGEID AND S.STATUS IN (0,1)
UNION
SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE SUBCATEGORYNAME
FROM SUBCATEGORIES S
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
WHERE ET.LANGUAGEID=@LANGUAGEID AND S.STATUS IN (1)
AND S.SUBCATEGORYID NOT IN (SELECT SUBCATEGORYID FROM CORRECTIVEACTIONSCATEGORY WHERE CORRACTIONID =@CORRACTIONID AND ISASSIGNED = 1))A
ORDER BY SUBCATEGORYNAME
END
ELSE
BEGIN
SELECT SUBCATEGORYID,SUBCATEGORYNAME FROM(
SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE +CASE WHEN S.STATUS=0 THEN '( Unassigned )' ELSE '' END SUBCATEGORYNAME
FROM SUBCATEGORIES S
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
INNER JOIN DBO.CSVTOTABLE(@MAINCATEGORYID) M ON M.RESULT=S.MAINCATEGORYID
INNER JOIN CORRECTIVEACTIONSCATEGORY CAC ON CAC.MAINCATEGORYID=S.MAINCATEGORYID AND CAC.SUBCATEGORYID=S.SUBCATEGORYID
WHERE ET.LANGUAGEID=@LANGUAGEID AND S.STATUS IN (0,1)
UNION
SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE SUBCATEGORYNAME
FROM SUBCATEGORIES S
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
INNER JOIN DBO.CSVTOTABLE(@MAINCATEGORYID) M ON M.RESULT=S.MAINCATEGORYID
WHERE ET.LANGUAGEID=@LANGUAGEID AND S.STATUS IN (1)
AND S.SUBCATEGORYID NOT IN (SELECT SUBCATEGORYID FROM CORRECTIVEACTIONSCATEGORY WHERE CORRACTIONID =@CORRACTIONID AND ISASSIGNED = 1))A
ORDER BY SUBCATEGORYNAME

END


END
