--GETSETUPINFO_1.0
SELECT CS.SETUPNAME,CASE WHEN CS1.SETUPNAME IS NULL THEN 'LBLNONE' ELSE CS1.SETUPNAME END COPYFROM,CS.ALLSAFECHECK,CS.ALLSITES,CS.STATUS,CS.ENABLESAFEUNSAFE FROM CHECKLISTSETUP CS
LEFT JOIN CHECKLISTSETUP CS1 ON CS1.CHECKLISTSETUPID=CS.COPYFROM
WHERE CS.CHECKLISTSETUPID=@CHECKLISTSETUPID
