SELECT SC.SUBCATEGORYID,ET.ENTITYVALUE  [SUBCATEGORYNAME]
FROM SUBCATEGORIES SC
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID = SC.MAINCATEGORYID AND ET.ENTITYID = SC.SUBCATEGORYID
WHERE SC.STATUS = 0 AND SC.MAINCATEGORYID=@MAINCATEGORYID
AND LANGUAGEID=@LANGUAGECODE AND ET.ENTITYTYPE='SUB_CTG' ORDER BY SUBCATEGORYNAME

SELECT SC.SUBCATEGORYID,ET.ENTITYVALUE [SUBCATEGORYNAME]
FROM SUBCATEGORIES SC
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID = SC.MAINCATEGORYID AND ET.ENTITYID = SC.SUBCATEGORYID
WHERE SC.STATUS = 1 AND SC.MAINCATEGORYID=@MAINCATEGORYID
AND LANGUAGEID=@LANGUAGECODE AND ENTITYTYPE='SUB_CTG' ORDER BY SUBCATEGORYNAME
