
DECLARE @KEYWORDS VARCHAR(MAX)
SET @KEYWORDS=''
SELECT @KEYWORDS=@KEYWORDS+KEYWORD+'~~!~~'+KEYVALUE+',' FROM SCHEDULEKEYWORDS
WHERE KEYWORDID IN(SELECT KEYWORDID FROM SCHEDULEKEYWORDSMAP WHERE SCHEDULETYPEID=@SCHEDULETYPEID AND STATUS=1)
ORDER BY KEYWORD
SELECT SUBSTRING(@KEYWORDS,1,LEN(@KEYWORDS)-1) KEYWORD,ISNULL((SELECT TEMPLATEBODY FROM SCHEDULEEMAILTEMPLATE WHERE SCHEDULETYPEID=@SCHEDULETYPEID),'')BODYCONTENT