IF @MODE=0
BEGIN

IF ISNULL(@MAINCATEGORYID,'')=''
BEGIN
IF EXISTS(SELECT 1 FROM STOPCARDENTRY WHERE CARDID =@CARDID AND STOPCARDTYPE=1)
SELECT DISTINCT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE SUBCATEGORYNAME
FROM STOPCARDENTRY SC
INNER JOIN CHECKLISTSETUP CS ON CS.CHECKLISTSETUPID=SC.CHECKLISTSETUPID
INNER JOIN CHECKLISTSETUPCATEGORYASSIGNMENTS CSC ON CSC.CHECKLISTSETUPID=CS.CHECKLISTSETUPID
INNER JOIN MAINCATEGORIES M ON M.MAINCATEGORYID= CSC.MAINCATEGORYID
INNER JOIN SUBCATEGORIES S ON S.MAINCATEGORYID=M.MAINCATEGORYID AND S.SUBCATEGORYID=CSC.SUBCATEGORYID
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
WHERE SC.CARDID=@CARDID AND ET.LANGUAGEID=@LANGUAGEID AND S.STATUS = 1 AND M.STATUS =1 AND M.MAINCATEGORYID <> 0 AND CSC.MAINISASSIGNED=1 AND CSC.SUBISASSIGNED=1
ORDER BY SUBCATEGORYNAME
ELSE
SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE SUBCATEGORYNAME
FROM SUBCATEGORIES S
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
WHERE ET.LANGUAGEID=@LANGUAGEID AND S.STATUS = 1
ORDER BY SUBCATEGORYNAME
END
ELSE
BEGIN
IF EXISTS(SELECT 1 FROM STOPCARDENTRY WHERE CARDID =@CARDID AND STOPCARDTYPE=1)
SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE SUBCATEGORYNAME
FROM STOPCARDENTRY SC
INNER JOIN CHECKLISTSETUP CS ON CS.CHECKLISTSETUPID=SC.CHECKLISTSETUPID
INNER JOIN CHECKLISTSETUPCATEGORYASSIGNMENTS CSC ON CSC.CHECKLISTSETUPID=CS.CHECKLISTSETUPID
INNER JOIN SUBCATEGORIES S ON S.MAINCATEGORYID=CSC.MAINCATEGORYID AND S.SUBCATEGORYID=CSC.SUBCATEGORYID
INNER JOIN DBO.CSVTOTABLE(@MAINCATEGORYID) M ON M.RESULT=S.MAINCATEGORYID
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
WHERE SC.CARDID=@CARDID AND  ET.LANGUAGEID=@LANGUAGEID AND S.STATUS = 1 AND CSC.MAINISASSIGNED=1 AND CSC.SUBISASSIGNED=1
ORDER BY SUBCATEGORYNAME
ELSE
SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE SUBCATEGORYNAME
FROM SUBCATEGORIES S
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
INNER JOIN DBO.CSVTOTABLE(@MAINCATEGORYID) M ON M.RESULT=S.MAINCATEGORYID
WHERE ET.LANGUAGEID=@LANGUAGEID AND S.STATUS = 1
ORDER BY SUBCATEGORYNAME
END

END
ELSE
BEGIN
IF ISNULL(@MAINCATEGORYID,'')=''
BEGIN
IF EXISTS(SELECT 1 FROM STOPCARDENTRY WHERE CARDID =@CARDID AND STOPCARDTYPE=1)
SELECT DISTINCT SUBCATEGORYID,SUBCATEGORYNAME FROM(
SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE +CASE WHEN S.STATUS=0 THEN '( Unassigned )' ELSE '' END SUBCATEGORYNAME
FROM STOPCARDENTRY SC
INNER JOIN CHECKLISTSETUP CS ON CS.CHECKLISTSETUPID=SC.CHECKLISTSETUPID
INNER JOIN CHECKLISTSETUPCATEGORYASSIGNMENTS CSC ON CSC.CHECKLISTSETUPID=CS.CHECKLISTSETUPID
INNER JOIN MAINCATEGORIES M ON M.MAINCATEGORYID= CSC.MAINCATEGORYID
INNER JOIN SUBCATEGORIES S ON S.MAINCATEGORYID=M.MAINCATEGORYID AND S.SUBCATEGORYID=CSC.SUBCATEGORYID
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
INNER JOIN CORRECTIVEACTIONSCATEGORY CAC ON CAC.MAINCATEGORYID=S.MAINCATEGORYID AND CAC.SUBCATEGORYID=S.SUBCATEGORYID
WHERE SC.CARDID=@CARDID AND  ET.LANGUAGEID=@LANGUAGEID AND S.STATUS IN (0,1)
AND M.STATUS IN(0,1) AND M.MAINCATEGORYID <> 0 AND CSC.MAINISASSIGNED=1 AND CSC.SUBISASSIGNED=1
UNION
SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE SUBCATEGORYNAME
FROM STOPCARDENTRY SC
INNER JOIN CHECKLISTSETUP CS ON CS.CHECKLISTSETUPID=SC.CHECKLISTSETUPID
INNER JOIN CHECKLISTSETUPCATEGORYASSIGNMENTS CSC ON CSC.CHECKLISTSETUPID=CS.CHECKLISTSETUPID
INNER JOIN MAINCATEGORIES M ON M.MAINCATEGORYID= CSC.MAINCATEGORYID
INNER JOIN SUBCATEGORIES S ON S.MAINCATEGORYID=M.MAINCATEGORYID AND S.SUBCATEGORYID=CSC.SUBCATEGORYID
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
WHERE SC.CARDID=@CARDID AND  ET.LANGUAGEID=@LANGUAGEID AND S.STATUS =1
AND M.STATUS =1 AND M.MAINCATEGORYID <> 0 AND CSC.MAINISASSIGNED=1 AND CSC.SUBISASSIGNED=1
AND S.SUBCATEGORYID NOT IN (SELECT SUBCATEGORYID FROM CORRECTIVEACTIONSCATEGORY WHERE CORRACTIONID =@CORRACTIONID AND ISASSIGNED = 1))A
ORDER BY SUBCATEGORYNAME
ELSE
SELECT SUBCATEGORYID,SUBCATEGORYNAME FROM(
SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE +CASE WHEN S.STATUS=0 THEN '( Unassigned )' ELSE '' END SUBCATEGORYNAME
FROM SUBCATEGORIES S
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
INNER JOIN CORRECTIVEACTIONSCATEGORY CAC ON CAC.MAINCATEGORYID=S.MAINCATEGORYID AND CAC.SUBCATEGORYID=S.SUBCATEGORYID
WHERE ET.LANGUAGEID=@LANGUAGEID AND S.STATUS IN (0,1)
UNION
SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE SUBCATEGORYNAME
FROM SUBCATEGORIES S
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
WHERE ET.LANGUAGEID=@LANGUAGEID AND S.STATUS IN (1)
AND S.SUBCATEGORYID NOT IN (SELECT SUBCATEGORYID FROM CORRECTIVEACTIONSCATEGORY WHERE CORRACTIONID =@CORRACTIONID AND ISASSIGNED = 1))A
ORDER BY SUBCATEGORYNAME
END
ELSE
BEGIN
IF EXISTS(SELECT 1 FROM STOPCARDENTRY WHERE CARDID =@CARDID AND STOPCARDTYPE=1)
SELECT DISTINCT SUBCATEGORYID,SUBCATEGORYNAME FROM(
SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE +CASE WHEN S.STATUS=0 THEN '( Unassigned )' ELSE '' END SUBCATEGORYNAME
FROM STOPCARDENTRY SC
INNER JOIN CHECKLISTSETUP CS ON CS.CHECKLISTSETUPID=SC.CHECKLISTSETUPID
INNER JOIN CHECKLISTSETUPCATEGORYASSIGNMENTS CSC ON CSC.CHECKLISTSETUPID=CS.CHECKLISTSETUPID
INNER JOIN SUBCATEGORIES S ON S.MAINCATEGORYID=CSC.MAINCATEGORYID AND S.SUBCATEGORYID=CSC.SUBCATEGORYID
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
INNER JOIN DBO.CSVTOTABLE(@MAINCATEGORYID) M ON M.RESULT=S.MAINCATEGORYID
INNER JOIN CORRECTIVEACTIONSCATEGORY CAC ON CAC.MAINCATEGORYID=S.MAINCATEGORYID AND CAC.SUBCATEGORYID=S.SUBCATEGORYID
WHERE SC.CARDID=@CARDID AND  ET.LANGUAGEID=@LANGUAGEID AND S.STATUS IN (0,1)
AND CSC.MAINISASSIGNED=1 AND CSC.SUBISASSIGNED=1
UNION
SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE SUBCATEGORYNAME
FROM STOPCARDENTRY SC
INNER JOIN CHECKLISTSETUP CS ON CS.CHECKLISTSETUPID=SC.CHECKLISTSETUPID
INNER JOIN CHECKLISTSETUPCATEGORYASSIGNMENTS CSC ON CSC.CHECKLISTSETUPID=CS.CHECKLISTSETUPID
INNER JOIN SUBCATEGORIES S ON S.MAINCATEGORYID=CSC.MAINCATEGORYID AND S.SUBCATEGORYID=CSC.SUBCATEGORYID
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
INNER JOIN DBO.CSVTOTABLE(@MAINCATEGORYID) M ON M.RESULT=S.MAINCATEGORYID
WHERE SC.CARDID=@CARDID AND  ET.LANGUAGEID=@LANGUAGEID AND S.STATUS IN (1)
AND CSC.MAINISASSIGNED=1 AND CSC.SUBISASSIGNED=1
AND S.SUBCATEGORYID NOT IN (SELECT SUBCATEGORYID FROM CORRECTIVEACTIONSCATEGORY WHERE CORRACTIONID =@CORRACTIONID AND ISASSIGNED = 1))A
ORDER BY SUBCATEGORYNAME
ELSE
SELECT SUBCATEGORYID,SUBCATEGORYNAME FROM(
SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE +CASE WHEN S.STATUS=0 THEN '( Unassigned )' ELSE '' END SUBCATEGORYNAME
FROM SUBCATEGORIES S
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
INNER JOIN DBO.CSVTOTABLE(@MAINCATEGORYID) M ON M.RESULT=S.MAINCATEGORYID
INNER JOIN CORRECTIVEACTIONSCATEGORY CAC ON CAC.MAINCATEGORYID=S.MAINCATEGORYID AND CAC.SUBCATEGORYID=S.SUBCATEGORYID
WHERE ET.LANGUAGEID=@LANGUAGEID AND S.STATUS IN (0,1)
UNION
SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE SUBCATEGORYNAME
FROM SUBCATEGORIES S
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
INNER JOIN DBO.CSVTOTABLE(@MAINCATEGORYID) M ON M.RESULT=S.MAINCATEGORYID
WHERE ET.LANGUAGEID=@LANGUAGEID AND S.STATUS IN (1)
AND S.SUBCATEGORYID NOT IN (SELECT SUBCATEGORYID FROM CORRECTIVEACTIONSCATEGORY WHERE CORRACTIONID =@CORRACTIONID AND ISASSIGNED = 1))A
ORDER BY SUBCATEGORYNAME
END
END
