SELECT DISTINCT MAINCATEGORYID,ENTITYVALUE FROM MAINCATEGORIES M
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID = M.MAINCATEGORYID AND ET.ENTITYTYPE='MAIN_CTG' AND ET.LANGUAGEID=@LANGUAGEID
WHERE M.STATUS=1 AND M.MAINCATEGORYID NOT IN (SELECT MAINCATEGORYID FROM CHECKLISTSETUPCATEGORYASSIGNMENTS WHERE CHECKLISTSETUPID=@CHECKLISTSETUPID AND MAINISASSIGNED=1)
AND EXISTS (SELECT 1 FROM SUBCATEGORIES WHERE STATUS=1 AND MAINCATEGORYID=M.MAINCATEGORYID)
ORDER BY ENTITYVALUE

--MAINCATEGORIES ISASSIGNED
SELECT MAINCATEGORYID,ENTITYVALUE FROM
(SELECT DISTINCT CS.MAINCATEGORYID,ENTITYVALUE,MAINSEQUENCE FROM CHECKLISTSETUPCATEGORYASSIGNMENTS CS
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID = CS.MAINCATEGORYID AND ET.ENTITYTYPE='MAIN_CTG' AND ET.LANGUAGEID=@LANGUAGEID
INNER JOIN MAINCATEGORIES M on M.MAINCATEGORYID=CS.MAINCATEGORYID
WHERE CHECKLISTSETUPID=@CHECKLISTSETUPID AND CS.MAINISASSIGNED=1 AND M.STATUS=1) A
ORDER BY MAINSEQUENCE



