--GETSTOPCARDCHECKLISTINFO_1.0
DECLARE @EXPANDCATEGORY NVARCHAR(8),@UNSAFECOUNTEXIST NVARCHAR(8),@DATEFORMAT INT,@CREATECA INT
SET @EXPANDCATEGORY=''
SELECT @EXPANDCATEGORY = OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME='EXPANDCATEGORY'
SELECT @UNSAFECOUNTEXIST = COUNT(1) FROM STOPCARDENTRYOBSERVATIONS WHERE CARDID = @CARDID AND UNSAFE <> 0
SELECT @DATEFORMAT=DATEFORMAT FROM USERINFO WHERE USERID=@USERID
SET @CREATECA=0
IF EXISTS(SELECT 1 FROM STOPCARDENTRYOBSERVATIONS WHERE CARDID=@CARDID AND UNSAFE>0) OR
EXISTS(SELECT 1 FROM STOPCARDENTRYCATEGORYCOMMENTS WHERE CARDID=@CARDID AND LEN(UNSAFECOMMENTS)>0)
SET @CREATECA=1
IF @OBSAPPROVALPC=0
SELECT
SC.[SITEID],[SITENAME] + CASE WHEN S.STATUS=0 THEN '( InActive )' ELSE '' END SITENAME
,CONVERT(VARCHAR(32),[OBSERVATIONDATE],101)[OBSERVATIONDATE]
,SC.[CHECKLISTSETUPID]
,[SETUPNAME] + CASE WHEN CS.STATUS=0 THEN '( InActive )' WHEN EXISTS(SELECT 1 FROM CHECKLISTSETUPSITES WHERE SITEID=SC.SITEID AND CHECKLISTSETUPID=SC.CHECKLISTSETUPID AND STATUS=0) THEN ' ( Unassigned )' ELSE '' END [SETUPNAME]
,[AREAID]
,[SUBAREAID]
,[SHIFTID]
,[LENGTH]
,[PEOPLECONTACTED]
,[PEOPLEOBSERVED]
,[SAFECOMMENTS]
,[UNSAFECOMMENTS]
,SC.[STATUS]
,CASE WHEN ((@ROLEID IN (4) AND EXISTS((SELECT 1 FROM ROLES WHERE ROLEID =@ROLEID AND ISNULL(OBSAPPROVEPC,0)=0))) OR EXISTS (SELECT 1 FROM ROLES WHERE ROLEID =@ROLEID and COPYFROM IN (4) AND ISNULL(OBSAPPROVEPC,0)=0))  AND SC.CREATEDBY=@USERID   THEN 1
WHEN ((@ROLEID IN (5) AND EXISTS((SELECT 1 FROM ROLES WHERE ROLEID =@ROLEID AND ISNULL(OBSAPPROVEPC,0)=0))) OR EXISTS (SELECT 1 FROM ROLES WHERE ROLEID =@ROLEID and COPYFROM IN (5) AND ISNULL(OBSAPPROVEPC,0)=0))  AND SC.CREATEDBY=@USERID   THEN 1
WHEN ((@ROLEID IN (3) AND EXISTS((SELECT 1 FROM ROLES WHERE ROLEID =@ROLEID AND ISNULL(OBSAPPROVEPC,0)=0))) OR EXISTS (SELECT 1 FROM ROLES WHERE ROLEID =@ROLEID and COPYFROM IN (3) AND ISNULL(OBSAPPROVEPC,0)=0))  AND SC.CREATEDBY=@USERID AND EXISTS(SELECT 1 FROM ROLEPERMISSIONS WHERE ROLEID =@ROLEID AND PERMISSIONID=36 AND PERMISSIONVALUE=1)  THEN 1
WHEN (@ROLEID =1 OR EXISTS (SELECT 1 FROM ROLES WHERE ROLEID =@ROLEID and COPYFROM =1 AND STATUS =1))  THEN 1
WHEN ((@ROLEID IN (2) AND EXISTS((SELECT 1 FROM ROLES WHERE ROLEID =@ROLEID AND ISNULL(OBSAPPROVEPC,0)=0))) OR EXISTS (SELECT 1 FROM ROLES WHERE ROLEID =@ROLEID and COPYFROM IN (2) AND ISNULL(OBSAPPROVEPC,0)=0))   THEN 1
ELSE 0 END ISEDIT
,SC.[AREAMANAGER]
,CS.ENABLESAFEUNSAFE
,@EXPANDCATEGORY EXPANDCATEGORY
,@UNSAFECOUNTEXIST UNSAFECOUNTEXIST
,CASE WHEN EXISTS(SELECT 1 FROM STOPCARDENTRYCATEGORYCOMMENTS WHERE CARDID=SC.CARDID AND LEN(UNSAFECOMMENTS)>1) THEN 1 ELSE 0 END UNSAFECOMMENTSEXISTS
,(SELECT LASTNAME+','+FIRSTNAME FROM USERS WHERE USERID=SC.CREATEDBY) ENTEREDBY
,CONVERT(VARCHAR(32),SC.CREATEDDATE,@DATEFORMAT) ENTEREDDATE
,ISINCOMPLETEOBS
,@CREATECA CREATECA
FROM [STOPCARDENTRY]SC
INNER JOIN SITES S
ON SC.SITEID = S.SITEID
INNER JOIN CHECKLISTSETUP CS ON SC.CHECKLISTSETUPID = CS.CHECKLISTSETUPID
WHERE CARDID = @CARDID
ELSE
SELECT
SC.[SITEID],[SITENAME] + CASE WHEN S.STATUS=0 THEN '( InActive )' ELSE '' END SITENAME
,CONVERT(VARCHAR(32),[OBSERVATIONDATE],101)[OBSERVATIONDATE]
,SC.[CHECKLISTSETUPID]
,[SETUPNAME] + CASE WHEN CS.STATUS=0 THEN '( InActive )' WHEN EXISTS(SELECT 1 FROM CHECKLISTSETUPSITES WHERE SITEID=SC.SITEID AND CHECKLISTSETUPID=SC.CHECKLISTSETUPID AND STATUS=0) THEN ' ( Unassigned )' ELSE '' END [SETUPNAME]
,[AREAID]
,[SUBAREAID]
,[SHIFTID]
,[LENGTH]
,[PEOPLECONTACTED]
,[PEOPLEOBSERVED]
,[SAFECOMMENTS]
,[UNSAFECOMMENTS]
,SC.[STATUS]
,CASE WHEN (@ROLEID=4 OR EXISTS(SELECT 1 FROM ROLES WHERE COPYFROM=4 AND STATUS =1 AND ROLEID = @ROLEID)) AND SC.CREATEDBY=@USERID   THEN 1
WHEN (@ROLEID=5 OR EXISTS(SELECT 1 FROM ROLES WHERE COPYFROM=5 AND STATUS =1 AND ROLEID = @ROLEID)) AND SC.CREATEDBY=@USERID THEN 1
WHEN (@ROLEID IN (1,2,3) OR EXISTS (SELECT 1 FROM ROLES WHERE ROLEID =@ROLEID and COPYFROM IN (1,2,3)))  THEN 1
WHEN (@ROLEID >5 OR EXISTS (SELECT 1 FROM ROLES WHERE ROLEID =@ROLEID AND ISNULL(COPYFROM,-1)=-1)) AND SC.CREATEDBY=@USERID THEN 1
ELSE 0 END ISEDIT
,SC.[AREAMANAGER]
,CS.ENABLESAFEUNSAFE
,@EXPANDCATEGORY EXPANDCATEGORY
,@UNSAFECOUNTEXIST UNSAFECOUNTEXIST
,CASE WHEN EXISTS(SELECT 1 FROM STOPCARDENTRYCATEGORYCOMMENTS WHERE CARDID=SC.CARDID AND LEN(UNSAFECOMMENTS)>1) THEN 1 ELSE 0 END UNSAFECOMMENTSEXISTS
,(SELECT LASTNAME+','+FIRSTNAME FROM USERS WHERE USERID=SC.CREATEDBY) ENTEREDBY
,CONVERT(VARCHAR(32),SC.CREATEDDATE,@DATEFORMAT) ENTEREDDATE
,ISINCOMPLETEOBS
,0 CREATECA
FROM [STOPCARDENTRY_OL]SC
INNER JOIN SITES S
ON SC.SITEID = S.SITEID
INNER JOIN CHECKLISTSETUP CS ON SC.CHECKLISTSETUPID = CS.CHECKLISTSETUPID
WHERE CARDID = @CARDID
