--GETSAVEDFILTERCRITERIA_1.0
DECLARE @TAB TABLE(ID INT IDENTITY(1,1),FILTERID INT,FILTERNAME NVARCHAR(512))
IF EXISTS (SELECT 1 FROM REPORTFILTERCRITERIAMASTER WHERE [STATUS]=1 AND REPORTID=@REPORTID AND CREATEDBY=@USERID)
BEGIN
INSERT INTO @TAB(FILTERID,FILTERNAME)
SELECT 0 FILTERID,'LBLSELECT' FILTERNAME
INSERT INTO @TAB(FILTERID,FILTERNAME)
SELECT FILTERID,FILTERNAME FROM REPORTFILTERCRITERIAMASTER WHERE [STATUS]=1 AND REPORTID=@REPORTID AND CREATEDBY=@USERID ORDER BY FILTERNAME

SELECT FILTERID,FILTERNAME FROM @TAB ORDER BY ID
END
ELSE
SELECT 0 FILTERID,'LBLNONE' FILTERNAME