IF @MODE=0
SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE SUBCATEGORYNAME
FROM SUBCATEGORIES S
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
WHERE ET.LANGUAGEID=@LANGUAGEID AND S.STATUS = 1
ORDER BY SUBCATEGORYNAME
ELSE

SELECT ET.ENTITYID SUBCATEGORYID,ET.ENTITYVALUE+CASE WHEN S.STATUS=0 THEN '( Unassigned )' ELSE '' END SUBCATEGORYNAME
FROM SUBCATEGORIES S
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=S.SUBCATEGORYID AND ENTITYTYPE='SUB_CTG'
WHERE ET.LANGUAGEID=@LANGUAGEID AND S.STATUS IN(0, 1)
ORDER BY SUBCATEGORYNAME


