IF (@LABELTYPE=2)
BEGIN
SELECT ENTITYID,ENTITYNAME,ENTITYVALUE
FROM ENTITYTRANSLATION ET
INNER JOIN GROUPTYPES G ON G.GROUPTYPEID=ET.PARENTID AND G.GROUPTYPEID=ET.ENTITYID
WHERE LANGUAGEID=@LANGUAGEID AND ENTITYTYPE ='GRP_TYPE'
AND G.STATUS=1
ORDER BY ENTITYNAME,ENTITYVALUE ASC
END
ELSE
SELECT TRANSLATIONID,ORIGINALVALUE,LABELVALUE FROM TRANSLATION WHERE LANGUAGEID=@LANGUAGEID AND LABELTYPE=@LABELTYPE AND STATUS=1
