DECLARE @STARTDATE DATETIME,@ENDDATE DATETIME,@TOTTARGET INT,@CAPACNT INT

SELECT @STARTDATE=DATEADD(DD,-(DAY(GETUTCDATE())-1),GETUTCDATE())
SELECT @ENDDATE=DATEADD(DD,-(DAY(DATEADD(MM,1,GETUTCDATE()))),DATEADD(MM,1,GETUTCDATE()))

DECLARE @QRY VARCHAR(MAX)
SET @QRY=''

SELECT  @TOTTARGET=COUNT(DISTINCT SC.CARDID)
FROM STOPCARDENTRY SC
INNER JOIN STOPCARDENTRYOBSERVATIONS SCO ON SCO.CARDID=SC.CARDID
INNER JOIN STOPCARDENTRYOBSERVERS SO ON SO.CARDID = SC.CARDID
WHERE OBSERVERID = @USERID AND SC.SITEID=@SITEID AND SC.OBSERVATIONDATE BETWEEN @STARTDATE AND @ENDDATE
GROUP BY SC.SITEID,SO.OBSERVERID,MONTH(SC.OBSERVATIONDATE)

SELECT @CAPACNT=COUNT(DISTINCT CA.CORRACTIONID) FROM CORRECTIVEACTIONS CA
INNER JOIN STOPCARDENTRY SCE ON SCE.CARDID=CA.CARDID
INNER JOIN CORRECTIVEACTIONSRESPONSIBLEPERSONS CARP ON CARP.CORRACTIONID=CA.CORRACTIONID
WHERE CA.CARDSTATUS=1 AND CA.STATUS=1 AND SCE.STATUS=1 AND CA.RESPONSEREQUIREDDATE BETWEEN @STARTDATE AND @ENDDATE
AND CARP.USERID=CAST(@USERID AS VARCHAR(8)) AND SCE.SITEID=@SITEID

SET @QRY='

SELECT ISNULL(TU.'+SUBSTRING(DATENAME(MONTH,@STARTDATE),1,3)+',ISNULL(TS.'+SUBSTRING(DATENAME(MONTH,@STARTDATE),1,3)+',0)) TARGETSET
,'+CAST(ISNULL(@TOTTARGET,0) AS VARCHAR(8))+' TARGETACHIEVED, '+CAST(ISNULL(@CAPACNT,0) AS VARCHAR(8))+' CAPACNT
FROM TARGETUSERS TU
LEFT JOIN TARGETSITES  TS ON TS.SITEID=TU.SITEID
INNER JOIN USERS U ON U.USERID =TU.USERID
INNER JOIN SITES S ON S.SITEID=TU.SITEID
WHERE TU.SITEID = '+CAST(@SITEID  AS VARCHAR(10))+'AND TU.USERID ='+CAST(@USERID  AS VARCHAR(10))+'
'

PRINT @QRY
EXEC(@QRY)
