--GETUSERPERMISSIONFORDASHBOARD_1.0.config
DECLARE @PERRESULTS TABLE(PERMISSIONID INT, PERMISSIONNAME NVARCHAR(512),PERMISSIONNAME1 NVARCHAR(512), LINKID INT, PERMISSIONVALUE INT)
IF @ROLEID = 4 OR EXISTS(SELECT 1 FROM ROLES WHERE COPYFROM=4 AND ROLEID=@ROLEID) --DATA ENTRY OPERATOR
BEGIN
INSERT INTO @PERRESULTS
SELECT PERMISSIONID,PERMISSIONNAME,PERMISSIONNAME,PERMISSIONID,1
FROM [PERMISSIONS] WHERE PERMISSIONID IN (40) AND STATUS=1 AND EXISTS(SELECT 1 FROM ROLEPERMISSIONS WHERE ROLEID=@ROLEID AND PERMISSIONVALUE=1 AND PERMISSIONID=14)
UNION ALL
SELECT PERMISSIONID,PERMISSIONNAME,PERMISSIONNAME,PERMISSIONID,1
FROM [PERMISSIONS] WHERE PERMISSIONID IN (41) AND STATUS=1  AND EXISTS(SELECT 1 FROM ROLEPERMISSIONS WHERE ROLEID=@ROLEID AND PERMISSIONVALUE=1 AND PERMISSIONID=14)
UNION ALL
SELECT PERMISSIONID,PERMISSIONNAME,PERMISSIONNAME,PERMISSIONID,1
FROM [PERMISSIONS] WHERE PERMISSIONID IN (42) AND STATUS=1  AND EXISTS(SELECT 1 FROM ROLEPERMISSIONS WHERE ROLEID=@ROLEID AND PERMISSIONVALUE=1 AND PERMISSIONID =15)
UNION ALL
SELECT PERMISSIONID,PERMISSIONNAME,PERMISSIONNAME,PERMISSIONID,1
FROM [PERMISSIONS] WHERE PERMISSIONID IN (43) AND STATUS=1  AND EXISTS(SELECT 1 FROM ROLEPERMISSIONS WHERE ROLEID=@ROLEID AND PERMISSIONVALUE=1 AND PERMISSIONID=15)
UNION ALL
SELECT 31,'LBLSUPPORT','LBLTECHNICALREQ',45,1
UNION ALL
SELECT 33,'LBLINBOX','LBLINBOX',33,1
END
ELSE IF @ROLEID =5 OR EXISTS(SELECT 1 FROM ROLES WHERE COPYFROM=5 AND ROLEID=@ROLEID) --OBSERVER ONLY
BEGIN
INSERT INTO @PERRESULTS
SELECT PERMISSIONID,PERMISSIONNAME,PERMISSIONNAME,PERMISSIONID,1
FROM [PERMISSIONS] WHERE PERMISSIONID IN (40) AND STATUS=1 AND EXISTS(SELECT 1 FROM ROLEPERMISSIONS WHERE ROLEID=@ROLEID AND PERMISSIONVALUE=1 AND PERMISSIONID=14)
UNION ALL
SELECT PERMISSIONID,PERMISSIONNAME,PERMISSIONNAME,PERMISSIONID,1
FROM [PERMISSIONS] WHERE PERMISSIONID IN (41) AND STATUS=1  AND EXISTS(SELECT 1 FROM ROLEPERMISSIONS WHERE ROLEID=@ROLEID AND PERMISSIONVALUE=1 AND PERMISSIONID=14)
UNION ALL
SELECT PERMISSIONID,PERMISSIONNAME,PERMISSIONNAME,PERMISSIONID,1
FROM [PERMISSIONS] WHERE PERMISSIONID IN (43) AND STATUS=1  AND EXISTS(SELECT 1 FROM ROLEPERMISSIONS WHERE ROLEID=@ROLEID AND PERMISSIONVALUE=1 AND PERMISSIONID=15)
UNION ALL
SELECT 31,'LBLSUPPORT','LBLTECHNICALREQ',45,1
UNION ALL
SELECT 33,'LBLINBOX','LBLINBOX',33,1
END
ELSE
BEGIN

INSERT INTO @PERRESULTS
SELECT PERMISSIONID,PERMISSIONNAME,
(SELECT PERMISSIONNAME FROM(SELECT ROW_NUMBER() OVER (PARTITION BY (CASE WHEN P.PARENTID=0 THEN RP.PERMISSIONID ELSE P.PARENTID END)  ORDER BY (P.PARENTID ) ) ID,RP.ROLEID,RP.PERMISSIONID,P.PERMISSIONNAME,CASE WHEN P.PARENTID=0 THEN RP.PERMISSIONID ELSE P.PARENTID END PARENTID
FROM ROLEPERMISSIONS RP
INNER JOIN [PERMISSIONS] P ON P.PERMISSIONID = RP.PERMISSIONID
WHERE RP.ROLEID = @ROLEID  AND RP.PERMISSIONVALUE<>0) R1 WHERE R1.ID=2 AND R1.PARENTID = R.PARENTID) PERMISSIONNAME1,

(SELECT PERMISSIONID FROM(SELECT ROW_NUMBER() OVER (PARTITION BY (CASE WHEN P.PARENTID=0 THEN RP.PERMISSIONID ELSE P.PARENTID END)  ORDER BY (P.PARENTID) ) ID,RP.ROLEID,RP.PERMISSIONID,P.PERMISSIONNAME,CASE WHEN P.PARENTID=0 THEN RP.PERMISSIONID ELSE P.PARENTID END PARENTID
FROM ROLEPERMISSIONS RP
INNER JOIN [PERMISSIONS] P ON P.PERMISSIONID = RP.PERMISSIONID
WHERE RP.ROLEID = @ROLEID  AND RP.PERMISSIONVALUE<>0) R1 WHERE R1.ID=2 AND R1.PARENTID = R.PARENTID) LINKID,

(SELECT TOP 1 PERMISSIONVALUE FROM ROLEPERMISSIONS WHERE PERMISSIONID = R.PERMISSIONID AND ROLEID=@ROLEID) PERMISSIONVALUE
FROM (
SELECT ROW_NUMBER() OVER (PARTITION BY (CASE WHEN P.PARENTID=0 THEN RP.PERMISSIONID ELSE P.PARENTID END)  ORDER BY (P.PARENTID) ) ID,RP.ROLEID,RP.PERMISSIONID,P.PERMISSIONNAME,CASE WHEN P.PARENTID=0 THEN RP.PERMISSIONID ELSE P.PARENTID END PARENTID
FROM ROLEPERMISSIONS RP
INNER JOIN [PERMISSIONS] P ON P.PERMISSIONID = RP.PERMISSIONID
WHERE RP.ROLEID = @ROLEID AND RP.PERMISSIONVALUE<>0
AND P.PERMISSIONID NOT IN (31,33,34,35,36,37)
) R
WHERE ID =1
UNION
SELECT 31,'LBLSUPPORT','LBLTECHNICALREQ',45,1
UNION ALL
SELECT 33,'LBLINBOX','LBLINBOX',33,1

DELETE FROM @PERRESULTS WHERE NOT EXISTS(SELECT 1 FROM USERINFO WHERE USERID = @USERID AND APPROVEOFFLINE = 1) AND LINKID = 35
END
SELECT * FROM @PERRESULTS
