--GETUSERSITESAVAIL_1.0
IF @USERID=0
BEGIN
IF EXISTS (SELECT 1 FROM USERINFO WHERE DEFAULTROLEID =1 AND USERID = @LOGGEDUSERID)

SELECT '<option value="'+CAST(S.SITEID AS VARCHAR(32))+'">'+SITENAME+'</option>' AS 'data()'
FROM SITES S
WHERE NOT EXISTS(SELECT 1 FROM USERINFO WHERE USERID=@LOGGEDUSERID AND DEFAULTSITEID=S.SITEID)
AND STATUS=1 ORDER BY SITENAME FOR XML PATH('')
ELSE

SELECT '<option value="'+CAST(S.SITEID AS VARCHAR(32))+'">'+S.SITENAME+'</option>' AS 'data()' FROM SITES S
INNER JOIN USERSITES US ON US.SITEID=S.SITEID
WHERE US.USERID=@LOGGEDUSERID AND US.STATUS=1
AND NOT EXISTS(SELECT 1 FROM USERINFO WHERE USERID=@LOGGEDUSERID AND DEFAULTSITEID=S.SITEID)
AND S.STATUS=1 ORDER BY S.SITENAME FOR XML PATH('')
END
ELSE
BEGIN
IF EXISTS (SELECT 1 FROM USERINFO WHERE DEFAULTROLEID =1 AND USERID = @LOGGEDUSERID)

SELECT '<option value="'+CAST(SITEID AS VARCHAR(32))+'">'+SITENAME+'</option>' AS 'data()' FROM SITES S
WHERE NOT EXISTS(SELECT 1 FROM USERSITES WHERE USERID=@USERID AND SITEID=S.SITEID AND STATUS=1) AND STATUS=1
ORDER BY SITENAME FOR XML PATH('')
ELSE

SELECT '<option value="'+CAST(S.SITEID AS VARCHAR(32))+'">'+S.SITENAME+'</option>' AS 'data()' FROM SITES S
INNER JOIN USERSITES US ON US.SITEID=S.SITEID
WHERE US.USERID=@LOGGEDUSERID AND US.STATUS=1
AND NOT EXISTS(SELECT 1 FROM USERSITES WHERE USERID=@USERID AND STATUS=1 AND SITEID=S.SITEID)
AND S.STATUS=1
ORDER BY SITENAME FOR XML PATH('')
END