--AVAILABLE
SELECT ET.ENTITYID,ET.ENTITYVALUE
FROM CUSTOMFIELDS CF
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=CF.CUSTOMFIELDID AND ET.ENTITYTYPE='CUS_NAME'
WHERE ET.LANGUAGEID=@LANGUAGECODE AND CF.STATUS=0 ORDER BY ET.ENTITYVALUE ASC
--ASSIGNED
SELECT ET.ENTITYID,ET.ENTITYVALUE
FROM CUSTOMFIELDS CF
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=CF.CUSTOMFIELDID AND ET.ENTITYTYPE='CUS_NAME'
WHERE ET.LANGUAGEID=@LANGUAGECODE AND CF.STATUS=1 ORDER BY ET.ENTITYVALUE ASC