--GETUSERSITEAREASSHIFTS_1.0
SELECT DISTINCT S.SITEID,REPLACE(REPLACE(S.SITENAME,'\','\\'),'"','\"') SITENAME
FROM USERSITES US
INNER JOIN SITES S ON S.SITEID=US.SITEID
WHERE US.USERID = @USERID AND S.STATUS =1 AND US.STATUS=1
ORDER BY SITENAME

SELECT DISTINCT SA.AREAID,REPLACE(REPLACE(A.AREANAME,'\','\\'),'"','\"') AREANAME
FROM SITEAREAS SA
INNER JOIN AREAS A ON A.AREAID=SA.AREAID
INNER JOIN USERSITES US ON US.SITEID=SA.SITEID
INNER JOIN SITES S ON S.SITEID = US.SITEID
WHERE US.USERID = @USERID AND SA.STATUS=1 AND A.STATUS=1 AND S.STATUS=1 AND US.STATUS=1
ORDER BY AREANAME

SELECT DISTINCT SH.SHIFTID,REPLACE(REPLACE(S.SHIFTNAME,'\','\\'),'"','\"') SHIFTNAME
FROM SITESHIFTS SH
INNER JOIN SHIFTS S ON S.SHIFTID=SH.SHIFTID
INNER JOIN USERSITES US ON US.SITEID=SH.SITEID
INNER JOIN SITES SI ON SI.SITEID = US.SITEID
WHERE US.USERID = @USERID  AND SH.STATUS=1 AND S.STATUS=1 AND US.STATUS=1 AND SI.STATUS=1
ORDER BY SHIFTNAME

