--GETUSERSAVAILTOSITEFORTARGET_1.0
CREATE TABLE #AVAILABLEUSERS (USERID INT,FULLNAME NVARCHAR(512))
CREATE TABLE #TSITES(SITEID INT)
DECLARE @QRY NVARCHAR(MAX)
SET @QRY=''
INSERT INTO #TSITES(SITEID)
SELECT RESULT FROM DBO.CSVTOTABLE(@SITEID)

SET @QRY='INSERT INTO #AVAILABLEUSERS
SELECT DISTINCT U.USERID,U.LASTNAME + '','' + U.FIRSTNAME+CASE WHEN U.[STATUS] = 0 THEN '' ( InActive ) '' WHEN U.[STATUS] = 4 THEN '' ( Locked ) ''  ELSE '''' END AS [FULLNAME]
FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID=U.USERID
INNER JOIN USERSITES US ON US.USERID=U.USERID
INNER JOIN #TSITES SI ON SI.SITEID=US.SITEID '
+ CASE WHEN ISNULL(@GROUP1,'')='' THEN '' ELSE
' INNER JOIN USERGROUPS UG1 ON UG1.GROUPTYPEID=1 AND UG1.USERID=U.USERID INNER JOIN DBO.CSVTOTABLE('''+@GROUP1+''') U1 ON U1.RESULT=UG1.GROUPID ' END
+ CASE WHEN ISNULL(@GROUP2,'')='' THEN '' ELSE
' INNER JOIN USERGROUPS UG2 ON UG2.GROUPTYPEID=2 AND UG2.USERID=U.USERID INNER JOIN DBO.CSVTOTABLE('''+@GROUP2+''') U2 ON U2.RESULT=UG2.GROUPID ' END
+ CASE WHEN ISNULL(@GROUP3,'')='' THEN '' ELSE
' INNER JOIN USERGROUPS UG3 ON UG3.GROUPTYPEID=3 AND UG3.USERID=U.USERID INNER JOIN DBO.CSVTOTABLE('''+@GROUP3+''') U3 ON U3.RESULT=UG3.GROUPID ' END
+ CASE WHEN ISNULL(@GROUP4,'')='' THEN '' ELSE
' INNER JOIN USERGROUPS UG4 ON UG4.GROUPTYPEID=4 AND UG4.USERID=U.USERID INNER JOIN DBO.CSVTOTABLE('''+@GROUP4+''') U4 ON U4.RESULT=UG4.GROUPID ' END
+ CASE WHEN ISNULL(@GROUP5,'')='' THEN '' ELSE
' INNER JOIN USERGROUPS UG5 ON UG5.GROUPTYPEID=5 AND UG5.USERID=U.USERID INNER JOIN DBO.CSVTOTABLE('''+@GROUP5+''') U5 ON U5.RESULT=UG5.GROUPID ' END
+ CASE WHEN ISNULL(@GROUP6,'')='' THEN '' ELSE
' INNER JOIN USERGROUPS UG6 ON UG6.GROUPTYPEID=6 AND UG6.USERID=U.USERID INNER JOIN DBO.CSVTOTABLE('''+@GROUP6+''') U6 ON U6.RESULT=UG6.GROUPID ' END
+ CASE WHEN ISNULL(@GROUP7,'')='' THEN '' ELSE
' INNER JOIN USERGROUPS UG7 ON UG7.GROUPTYPEID=7 AND UG7.USERID=U.USERID INNER JOIN DBO.CSVTOTABLE('''+@GROUP7+''') U7 ON U7.RESULT=UG7.GROUPID ' END
+ CASE WHEN ISNULL(@GROUP8,'')='' THEN '' ELSE
' INNER JOIN USERGROUPS UG8 ON UG8.GROUPTYPEID=8 AND UG8.USERID=U.USERID INNER JOIN DBO.CSVTOTABLE('''+@GROUP8+''') U8 ON U8.RESULT=UG8.GROUPID ' END
+ CASE WHEN ISNULL(@GROUP9,'')='' THEN '' ELSE
' INNER JOIN USERGROUPS UG9 ON UG9.GROUPTYPEID=9 AND UG9.USERID=U.USERID INNER JOIN DBO.CSVTOTABLE('''+@GROUP9+''') U9 ON U9.RESULT=UG9.GROUPID ' END
+ CASE WHEN ISNULL(@GROUP10,'')='' THEN '' ELSE
' INNER JOIN USERGROUPS UG10 ON UG10.GROUPTYPEID=10 AND UG10.USERID=U.USERID INNER JOIN DBO.CSVTOTABLE('''+@GROUP10+''') U10 ON U10.RESULT=UG10.GROUPID ' END
+ ' WHERE US.STATUS=1 '
+ CASE WHEN ISNULL(@STATUSID,'')='' THEN ' AND U.STATUS!=2 ' ELSE ' AND U.STATUS IN ('+@STATUSID+')' END
+ CASE WHEN ISNULL(@USERTYPE,'')='' THEN ' AND UI.USERTYPEID IN (1,2) ' ELSE ' AND UI.USERTYPEID IN ('+@USERTYPE+')' END
+ CASE WHEN ISNULL(@ROLEID,'')='' THEN ' ' ELSE ' AND UI.DEFAULTROLEID IN ('+@ROLEID+')' END

EXEC(@QRY)
SELECT '<option value="'+CAST(USERID AS VARCHAR(32))+'">'+FULLNAME+'</option>' AS 'data()' FROM #AVAILABLEUSERS WHERE USERID != @USERID ORDER BY FULLNAME FOR XML PATH('')

DROP TABLE #AVAILABLEUSERS
