--GETUSERSAVAILTOSITE_1.0
CREATE TABLE #ASSGNEDUSERS (USERID INT,FULLNAME NVARCHAR(512))
CREATE TABLE #AVAILABLEUSERS (USERID INT,FULLNAME NVARCHAR(512))

IF EXISTS(SELECT 1 FROM USERINFO WHERE USERID = @USERID AND DEFAULTROLEID=1)
INSERT INTO #ASSGNEDUSERS
SELECT DISTINCT U.USERID,U.LASTNAME + ',' + U.FIRSTNAME+CASE WHEN U.[STATUS] = 0 THEN ' ( InActive ) ' WHEN U.[STATUS] = 4 THEN ' ( Locked ) '  ELSE '' END AS [FULLNAME]
FROM USERS U
INNER JOIN USERSITES US ON US.USERID=U.USERID 
WHERE U.STATUS <> 2 AND US.STATUS=1 AND US.SITEID=@SITEID

ELSE
INSERT INTO #ASSGNEDUSERS
SELECT DISTINCT U.USERID,LASTNAME + ',' + FIRSTNAME+CASE WHEN U.[STATUS] = 0 THEN ' ( InActive ) ' WHEN U.[STATUS] = 4 THEN ' ( Locked ) '  ELSE '' END AS [FULLNAME]
FROM USERS U
INNER JOIN USERSITES US ON US.USERID =U.USERID AND US.SITEID=@SITEID AND US.STATUS=1
WHERE U.STATUS <> 2


IF EXISTS(SELECT 1 FROM USERINFO WHERE USERID = @USERID AND DEFAULTROLEID=1)
BEGIN
INSERT INTO #AVAILABLEUSERS
SELECT DISTINCT USERID,LASTNAME + ',' + FIRSTNAME [FULLNAME]  FROM USERS U
WHERE U.USERID !=1 AND U.STATUS IN(1,4)
AND NOT EXISTS(SELECT 1 FROM #ASSGNEDUSERS A WHERE A.USERID=U.USERID)
ORDER BY FULLNAME
END
ELSE
BEGIN
INSERT INTO #AVAILABLEUSERS
SELECT DISTINCT U.USERID,U.LASTNAME + ',' + U.FIRSTNAME [FULLNAME] FROM USERS U
INNER JOIN USERSITES US ON US.USERID=U.USERID AND US.SITEID=@SITEID
WHERE US.SITEID =@SITEID AND U.STATUS IN(1,4) AND U.USERID !=1
AND NOT EXISTS(SELECT 1 FROM #ASSGNEDUSERS A WHERE A.USERID=U.USERID)
ORDER BY FULLNAME
END

SELECT '<option value="'+CAST(USERID AS VARCHAR(32))+'">'+FULLNAME+'</option>' AS 'data()' FROM #AVAILABLEUSERS ORDER BY FULLNAME FOR XML PATH('')
SELECT '<option value="'+CAST(USERID AS VARCHAR(32))+'">'+FULLNAME+'</option>' AS 'data()' FROM #ASSGNEDUSERS ORDER BY FULLNAME FOR XML PATH('')

DROP TABLE #AVAILABLEUSERS
DROP TABLE #ASSGNEDUSERS


