UPDATE USERINBOX SET READSTATUS=1 WHERE ID=@INBOXID

DECLARE @QRY VARCHAR(MAX)
SET @QRY=''
SET @QRY='SELECT ID,[FROM],[TO],[CC],[SUBJECT],BODY,CONVERT(VARCHAR(10), SENTDATE, '+CAST(@DFORMAT AS VARCHAR(8))+')
+'' ''+REVERSE(SUBSTRING(REVERSE(convert(varchar, SENTDATE, 108)),CHARINDEX('':'',REVERSE(convert(varchar, SENTDATE, 108)))+1,LEN(REVERSE(convert(varchar, SENTDATE, 108)))))
SENTDATE FROM USERINBOX '
+' WHERE ID='+CAST(@INBOXID AS VARCHAR(8))
EXEC(@QRY)