DECLARE @USRROLEID INT,@COPYFROMROLEID INT,@DEFAULTROLEID INT
SELECT @USRROLEID=DEFAULTROLEID FROM USERINFO WHERE USERID =@LOGGEDUSERID
SELECT @COPYFROMROLEID=COPYFROM FROM ROLES WHERE ROLEID = @USRROLEID


IF @USERID=0
BEGIN
IF @COPYFROMROLEID=-1
SELECT ROLEID,ROLENAME FROM ROLES WHERE [STATUS]=1 AND COPYFROM =-1 ORDER BY ROLENAME
ELSE IF @COPYFROMROLEID IS NULL
SELECT ROLEID,ROLENAME FROM(
SELECT ROLEID,ROLENAME FROM ROLES WHERE [STATUS]=1 AND ROLEID>=@USRROLEID AND COPYFROM IS NULL
UNION
SELECT ROLEID,ROLENAME FROM ROLES WHERE [STATUS]=1 AND COPYFROM>=@USRROLEID
UNION
SELECT ROLEID,ROLENAME FROM ROLES WHERE [STATUS]=1 AND COPYFROM=-1)A ORDER BY ROLENAME
ELSE IF @COPYFROMROLEID>0
SELECT ROLEID,ROLENAME FROM(
SELECT ROLEID,ROLENAME FROM ROLES WHERE [STATUS]=1 AND ROLEID>=@COPYFROMROLEID AND COPYFROM IS NULL
UNION
SELECT ROLEID,ROLENAME FROM ROLES WHERE [STATUS]=1 AND COPYFROM>=@COPYFROMROLEID
UNION
SELECT ROLEID,ROLENAME FROM ROLES WHERE [STATUS]=1 AND COPYFROM=-1 )A ORDER BY ROLENAME

END
ELSE
BEGIN
SELECT @DEFAULTROLEID=DEFAULTROLEID FROM USERINFO WHERE USERID =@USERID
IF @DEFAULTROLEID IS NULL
SELECT ROLEID,ROLENAME FROM ROLES WHERE STATUS=1 ORDER BY ROLENAME
ELSE IF @COPYFROMROLEID=-1
SELECT ROLEID,ROLENAME FROM(
SELECT ROLEID,ROLENAME+CASE WHEN STATUS = 0 THEN '( InActive )' ELSE '' END ROLENAME FROM ROLES WHERE [STATUS]!=2
AND ROLEID =@DEFAULTROLEID
UNION
SELECT ROLEID,ROLENAME FROM ROLES WHERE STATUS=1
AND ROLEID !=@DEFAULTROLEID
AND ROLEID IN (SELECT ROLEID FROM ROLES WHERE [STATUS]=1 AND COPYFROM =-1)
)A
ORDER BY ROLENAME
ELSE IF @COPYFROMROLEID IS NULL
SELECT ROLEID,ROLENAME FROM(
SELECT ROLEID,ROLENAME+CASE WHEN STATUS = 0 THEN '( InActive )' ELSE '' END ROLENAME FROM ROLES WHERE [STATUS]!=2
AND ROLEID =@DEFAULTROLEID
UNION
SELECT ROLEID,ROLENAME FROM(
SELECT ROLEID,ROLENAME FROM ROLES WHERE [STATUS]=1 AND ROLEID>=@USRROLEID AND COPYFROM IS NULL
UNION
SELECT ROLEID,ROLENAME FROM ROLES WHERE [STATUS]=1 AND COPYFROM>=@USRROLEID
UNION
SELECT ROLEID,ROLENAME FROM ROLES WHERE [STATUS]=1 AND COPYFROM=-1)A  WHERE ROLEID !=@DEFAULTROLEID
)A
ORDER BY ROLENAME
ELSE IF @COPYFROMROLEID>0
SELECT ROLEID,ROLENAME FROM(
SELECT ROLEID,ROLENAME+CASE WHEN STATUS = 0 THEN '( InActive )' ELSE '' END ROLENAME FROM ROLES WHERE [STATUS]!=2
AND ROLEID =@DEFAULTROLEID
UNION
SELECT ROLEID,ROLENAME FROM(
SELECT ROLEID,ROLENAME FROM ROLES WHERE [STATUS]=1 AND ROLEID>=@COPYFROMROLEID AND COPYFROM IS NULL
UNION
SELECT ROLEID,ROLENAME FROM ROLES WHERE [STATUS]=1 AND COPYFROM>=@COPYFROMROLEID
UNION
SELECT ROLEID,ROLENAME FROM ROLES WHERE [STATUS]=1 AND COPYFROM=-1 )A  WHERE ROLEID !=@DEFAULTROLEID )A

ORDER BY ROLENAME
END
