--GETVALIDAREAMANAGERFOREMAIL_1.0
SELECT CASE WHEN AREAMANAGER IS NULL OR AREAMANAGER=0 OR AREAMANAGER=-1 THEN 0 ELSE 1 END AREAMANAGEREXISTS,
CASE WHEN EXISTS(SELECT 1 FROM STOPCARDENTRYCATEGORYCOMMENTS WHERE CARDID=SC.CARDID AND LEN(UNSAFECOMMENTS)>1) THEN 1 ELSE 0 END UNSAFECOMMENTSEXISTS
FROM STOPCARDENTRY SC
WHERE CARDID=@CARDID

