--GETWEEKLYTARGET_1.0
IF EXISTS (SELECT 1 FROM WEEKLYTARGETUSERS WHERE SITEID=@SITEID AND USERID=@USERID)
SELECT SITEID,USERID,WEEKTARGET,WEEKTARGET [OLDTARGETVALUE] FROM WEEKLYTARGETUSERS WHERE USERID =@USERID AND SITEID=@SITEID
ELSE
SELECT SITEID,@USERID USERID,WEEKTARGET,WEEKTARGET [OLDTARGETVALUE] FROM WEEKLYTARGETSITES WHERE SITEID=@SITEID
