IF EXISTS(SELECT 1 FROM SYSALERT WHERE ALERTNAME=@ALERTNAME AND [STATUS]!=2 ) SELECT -1
ELSE
BEGIN
UPDATE SYSALERT SET STATUS = 0,UPDATEDBY=@CREATEDBY,UPDATEDDATE = GETDATE()

UPDATE USERINFO SET ALERTMSG=0

INSERT INTO SYSALERT(COMPANYID,ALERTNAME,ALERTTEXT,STATUS,CREATEDBY,CREATEDDATE) VALUES
(@COMPANYID,@ALERTNAME,@ALERTTEXT,@STATUS,@CREATEDBY,GETDATE())
SELECT @@IDENTITY
END