DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()


IF EXISTS ( SELECT 1 FROM ENTITYTRANSLATION WHERE PARENTID=0 AND ENTITYTYPE='SUB_CTG' AND ENTITYVALUE=@SUBCATEGORYNAME AND STATUS!=2 ) SELECT -1
ELSE
BEGIN

INSERT INTO SUBCATEGORIES(COMPANYID,MAINCATEGORYID,SUBCATEGORYNAME,STATUS,CREATEDBY,CREATEDDATE)
VALUES
(@COMPANYID,@MAINCATEGORYID,@SUBCATEGORYNAME,@STATUS,@CREATEDBY,@CHK_TIMESTAMP)

SELECT @@IDENTITY

INSERT INTO ENTITYTRANSLATION(LANGUAGEID,PARENTID,ENTITYID,ENTITYNAME,ENTITYVALUE,ENTITYTYPE,CREATEDBY,CREATEDDATE,STATUS)
SELECT LANGUAGEID, 0,@@IDENTITY,@SUBCATEGORYNAME,@SUBCATEGORYNAME,'SUB_CTG',@CREATEDBY,@CHK_TIMESTAMP,1
FROM LANGUAGES  WHERE STATUS = 1
ORDER BY LANGUAGEID

END

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'SUBCATEGORIES/ENTITYTRANSLATION','INSERT-INSERTCHECKLISTITEMS_1.0',@CC_TIMESTAMP,@CREATEDBY,
(SELECT * FROM SUBCATEGORIES WHERE CREATEDBY=@CREATEDBY AND CREATEDDATE=@CC_TIMESTAMP FOR XML AUTO)

