DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

IF EXISTS ( SELECT 1 FROM SUBAREAS WHERE SUBAREANAME=@SUBAREANAME AND STATUS!=2)
BEGIN
SELECT '-1'
END
ELSE
BEGIN
INSERT INTO SUBAREAS (SUBAREANAME,[STATUS],CREATEDBY,CREATEDDATE)
VALUES (@SUBAREANAME,@STATUS,@CREATEDBY,@CC_TIMESTAMP);

SELECT @@IDENTITY

END

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'SUBAREAS','INSERT-INSERTSUBAREAGENERALINFO_1.0',@CC_TIMESTAMP,@CREATEDBY,
(SELECT * FROM SUBAREAS WHERE CREATEDBY=@CREATEDBY AND CREATEDDATE=@CC_TIMESTAMP FOR XML AUTO)
