DECLARE @SU_TIMESTAMP DATETIME
SET @SU_TIMESTAMP=GETDATE()


IF EXISTS ( SELECT 1 FROM ENTITYTRANSLATION WHERE ENTITYTYPE='SUB_CTG' AND ENTITYVALUE=@SUBCATEGORYNAME AND STATUS!=2 AND PARENTID = @MAINCATEGORYID) SELECT -1
ELSE
BEGIN

INSERT INTO SUBCATEGORIES(COMPANYID,MAINCATEGORYID,SUBCATEGORYNAME,STATUS,CREATEDBY,CREATEDDATE)
VALUES
(@COMPANYID,@MAINCATEGORYID,@SUBCATEGORYNAME,0,@CREATEDBY,@SU_TIMESTAMP)

SELECT @MAINCATEGORYID

INSERT INTO ENTITYTRANSLATION(LANGUAGEID,PARENTID,ENTITYID,ENTITYNAME,ENTITYVALUE,ENTITYTYPE,CREATEDBY,CREATEDDATE,STATUS)
SELECT LANGUAGEID, @MAINCATEGORYID,@@IDENTITY,@SUBCATEGORYNAME,@SUBCATEGORYNAME,'SUB_CTG',@CREATEDBY,@SU_TIMESTAMP,1
FROM LANGUAGES
ORDER BY LANGUAGEID

END
