--INSERTCORRACTIVEACTIONCATEGORYASSIGN_1.0
DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

DECLARE @IAMCREATOR INT,@IAMRESP INT,@IAMACTOWN INT

DECLARE @CORRACTIONID BIGINT,@CARESPONSIBLEPERSON NVARCHAR(4000),@CATEGORYLIST NVARCHAR(4000) ,@MODID INT
INSERT INTO CORRECTIVEACTIONS(COMPANYID,CARDID,OTHERRESPONSIBLEPERSON,RESPONSEDATE,RESPONSEREQUIREDDATE,
PRIORITY,OTHEREMAILID,ACTIONPLANNED,ACTIONPERFORMED,CARDSTATUS,STATUS,[OWNER],CREATEDBY,CREATEDDATE) VALUES
(@COMPANYID,@CARDID,@OTHERRESPONSIBLEPERSON,CASE WHEN ISNULL(@RESPONSEDATE,'') ='' THEN NULL ELSE @RESPONSEDATE END,CASE WHEN ISNULL(@RESPONSEREQUIREDDATE,'')='' THEN NULL ELSE @RESPONSEREQUIREDDATE END,
@PRIORITY,@OTHEREMAILID,@ACTIONPLANNED,@ACTIONPERFORMED,@CARDSTATUS,1,@OWNER,@CREATEDBY,@CC_TIMESTAMP)


SELECT @CARESPONSIBLEPERSON='',@CATEGORYLIST=''

CREATE TABLE #NOTUSERLIST(USERID INT,ISDISPLAY INT)

SELECT @CORRACTIONID = @@IDENTITY

INSERT INTO dbo.CORRECTIVEACTIONSRESPONSIBLEPERSONS(CORRACTIONID,USERID,UPDATEDBY,UPDATEDDATE)
SELECT @CORRACTIONID,RESULT,@CREATEDBY,@CC_TIMESTAMP FROM DBO.CSVtoTable(@RESPONSIBLEPERSON)

INSERT INTO CORRECTIVEACTIONSCATEGORY(COMPANYID,CORRACTIONID,MAINCATEGORYID,SUBCATEGORYID,ISASSIGNED,STATUS,UPDATEDBY,UPDATEDDATE)
SELECT @COMPANYID,@CORRACTIONID,SUBSTRING(ITEM,1,CHARINDEX('=>',ITEM)-1),SUBSTRING(ITEM,CHARINDEX('=>',ITEM)+2,LEN(ITEM)),1,1,@CREATEDBY,@CC_TIMESTAMP FROM DBO.FNSPLIT(@ASSIGNEDCATEGORYLIST,',')

UPDATE SCO SET CAEXISTS =1,CORRACTIONID =CA.CORRACTIONID,CAFROMOBS=CASE WHEN @CAPAFROMTAB ='1' THEN CA.CORRACTIONID ELSE CAFROMOBS END
FROM STOPCARDENTRYOBSERVATIONS SCO
INNER JOIN CORRECTIVEACTIONS CA ON CA.CARDID=SCO.CARDID
INNER JOIN CORRECTIVEACTIONSCATEGORY CAC ON CAC.CORRACTIONID=CA.CORRACTIONID AND CAC.MAINCATEGORYID=SCO.MAINCATEGORYID AND CAC.SUBCATEGORYID=SCO.SUBCATEGORYID
WHERE SCO.UNSAFE>0 AND CA.CORRACTIONID=@CORRACTIONID AND SCO.CARDID=@CARDID

UPDATE SCO SET CAEXISTS =1,CORRACTIONID =CA.CORRACTIONID,CAFROMOBS=CASE WHEN @CAPAFROMTAB ='1' THEN CA.CORRACTIONID ELSE CAFROMOBS END
FROM STOPCARDENTRYOBSERVATIONS SCO
INNER JOIN CORRECTIVEACTIONS CA ON CA.CARDID=SCO.CARDID
INNER JOIN STOPCARDENTRYCATEGORYCOMMENTS SCC ON SCC.CARDID=SCO.CARDID AND SCC.MAINCATEGORYID=SCO.MAINCATEGORYID AND SCC.SUBCATEGORYID=SCO.SUBCATEGORYID
INNER JOIN CORRECTIVEACTIONSCATEGORY CAC ON CAC.CORRACTIONID=CA.CORRACTIONID AND CAC.MAINCATEGORYID=SCO.MAINCATEGORYID AND CAC.SUBCATEGORYID=SCO.SUBCATEGORYID
WHERE LEN(SCC.UNSAFECOMMENTS)>1 AND CA.CORRACTIONID=@CORRACTIONID AND SCO.CARDID=@CARDID

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'CORRECTIVEACTIONS/CORRECTIVEACTIONSCATEGORY','INSERT-INSERTCORRACTIVEACTIONCATEGORYASSIGN_1.0',@CC_TIMESTAMP,@CREATEDBY,NULL

--INSERT INTO #NOTUSERLIST(USERID,ISDISPLAY)
--SELECT USERID,CASE WHEN @UPDATEDBY=USERID THEN 1 ELSE 0 END FROM CORRECTIVEACTIONSRESPONSIBLEPERSONS WHERE CORRACTIONID=@CORRACTIONID
--UNION
--SELECT OWNER,CASE WHEN @UPDATEDBY=OWNER THEN 1 ELSE 0 END FROM CORRECTIVEACTIONS WHERE CORRACTIONID=@CORRACTIONID
--UNION
--SELECT CREATEDBY,CASE WHEN @UPDATEDBY=CREATEDBY THEN 0 ELSE 1 END FROM CORRECTIVEACTIONS WHERE CORRACTIONID=@CORRACTIONID

INSERT INTO #NOTUSERLIST(USERID,ISDISPLAY)
SELECT USERID, 1 FROM CORRECTIVEACTIONSRESPONSIBLEPERSONS WHERE CORRACTIONID=@CORRACTIONID AND USERID!=@CREATEDBY
UNION
SELECT OWNER,1 FROM CORRECTIVEACTIONS WHERE CORRACTIONID=@CORRACTIONID AND OWNER!=@CREATEDBY
UNION
SELECT CREATEDBY,1 FROM CORRECTIVEACTIONS CA WHERE CORRACTIONID=@CORRACTIONID AND CREATEDBY!=@CREATEDBY

SELECT @IAMCREATOR =CASE WHEN @CREATEDBY=CREATEDBY THEN 1 ELSE 0 END FROM CORRECTIVEACTIONS WHERE CORRACTIONID=@CORRACTIONID
SELECT @IAMRESP =CASE WHEN @CREATEDBY=USERID THEN 1 ELSE 0 END FROM CORRECTIVEACTIONSRESPONSIBLEPERSONS WHERE CORRACTIONID=@CORRACTIONID
SELECT @IAMACTOWN=CASE WHEN @CREATEDBY=OWNER THEN 1 ELSE 0 END FROM CORRECTIVEACTIONS WHERE CORRACTIONID=@CORRACTIONID

IF (@IAMRESP=1 OR @IAMACTOWN=1)
	INSERT INTO #NOTUSERLIST(USERID,ISDISPLAY)
	SELECT @CREATEDBY,1
ELSE
	INSERT INTO #NOTUSERLIST(USERID,ISDISPLAY)
	SELECT @CREATEDBY,0


SET @CARESPONSIBLEPERSON=''

SELECT @CARESPONSIBLEPERSON=@CARESPONSIBLEPERSON+LASTNAME +' '+FIRSTNAME +',' FROM USERS U
INNER JOIN CORRECTIVEACTIONSRESPONSIBLEPERSONS CR ON CR.USERID=U.USERID
WHERE CORRACTIONID=@CORRACTIONID
IF LEN(@CARESPONSIBLEPERSON)>1
SET @CARESPONSIBLEPERSON=SUBSTRING(@CARESPONSIBLEPERSON,1,LEN(@CARESPONSIBLEPERSON)-1)

SELECT @CATEGORYLIST=@CATEGORYLIST+CAST(MAINCATEGORYID AS NVARCHAR(8))+'|'+CAST(SUBCATEGORYID AS NVARCHAR(8))+','
FROM CORRECTIVEACTIONSCATEGORY WHERE CORRACTIONID=@CORRACTIONID
IF LEN(@CATEGORYLIST)>1
SET @CATEGORYLIST=SUBSTRING(@CATEGORYLIST,1,LEN(@CATEGORYLIST)-1)


INSERT INTO CORRECTIVEACTIONSMI(CORRACTIONID,CARDID,OTHERRESPONSIBLEPERSON,RESPONSEDATE,RESPONSEREQUIREDDATE,PRIORITY,OTHEREMAILID,ACTIONPLANNED,
ACTIONPERFORMED,CARDSTATUS,OWNER,RESPONSIBLEPERSON,CATEGORYLIST,CREATEDBY,CREATEDDATE,APPTYPE,INSERTSTATUS)
SELECT CORRACTIONID,CARDID,OTHERRESPONSIBLEPERSON,RESPONSEDATE,RESPONSEREQUIREDDATE,PRIORITY,OTHEREMAILID,ACTIONPLANNED,
ACTIONPERFORMED,CARDSTATUS,OWNER,@CARESPONSIBLEPERSON RESPONSIBLEPERSON,@CATEGORYLIST CATEGORYLIST,CREATEDBY,CREATEDDATE,1 APPTYPE,1 INSERTSTATUS FROM CORRECTIVEACTIONS WHERE CORRACTIONID=@CORRACTIONID

SELECT @MODID=@@IDENTITY

INSERT INTO USERINBOXAPP(USERID,CARDID,CORRACTIONID,CREATEDON,READON,READSTATUS,ISDISPLAY,MODID,INSERTSTATUS)
SELECT U.USERID,CA.CARDID,CA.CORRACTIONID,@CC_TIMESTAMP,NULL,0 ,ISDISPLAY,@MODID,1 INSERTSTATUS
FROM CORRECTIVEACTIONS CA
FULL OUTER JOIN #NOTUSERLIST U ON 1=1
WHERE CA.CORRACTIONID=@CORRACTIONID

SELECT @CARDID,@CORRACTIONID,@MODID

DROP TABLE #NOTUSERLIST
