DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()
IF @OBSAPPROVALPC=0
BEGIN
IF NOT EXISTS( SELECT 1 FROM STOPCARDENTRYOBSERVATIONS WHERE CARDID=@CARDID)
BEGIN
INSERT INTO dbo.STOPCARDENTRYOBSERVATIONS(CARDID,MAINCATEGORYID,SUBCATEGORYID,SAFE,UNSAFE,
STATUS,UPDATEDBY,UPDATEDDATE)
SELECT @CARDID,
TEMPOBSVATION.ITEM.value('@MAINCATEGORYID','BIGINT'),
TEMPOBSVATION.ITEM.value('@SUBCATEGORYID','BIGINT'),
TEMPOBSVATION.ITEM.value('@SAFE','INT'),
TEMPOBSVATION.ITEM.value('@UNSAFE','INT'),
1,@UPDATEDBY,@CC_TIMESTAMP
FROM @XMLOBSVATION.nodes('/ROOT/ROW') AS TEMPOBSVATION(ITEM)
END

ELSE
BEGIN
UPDATE STOPCARDENTRYOBSERVATIONS SET
SAFE=TEMPOBSVATION.ITEM.value('@SAFE','INT'),
UNSAFE=TEMPOBSVATION.ITEM.value('@UNSAFE','INT'),
UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP
FROM STOPCARDENTRYOBSERVATIONS SCO
INNER JOIN @XMLOBSVATION.nodes('/ROOT/ROW') AS TEMPOBSVATION(ITEM) ON
TEMPOBSVATION.ITEM.value('@MAINCATEGORYID','BIGINT')=SCO.MAINCATEGORYID AND
TEMPOBSVATION.ITEM.value('@SUBCATEGORYID','BIGINT')=SCO.SUBCATEGORYID
WHERE CARDID = @CARDID

UPDATE STOPCARDENTRYOBSERVATIONS SET CAEXISTS=CASE WHEN ISNULL(UNSAFE,0)=0 THEN 0 ELSE CAEXISTS END,CORRACTIONID=CASE WHEN ISNULL(UNSAFE,0)=0 THEN NULL ELSE CORRACTIONID END
WHERE CARDID=@CARDID

UPDATE SCO SET CAEXISTS =1,CORRACTIONID =CA.CORRACTIONID
FROM STOPCARDENTRYOBSERVATIONS SCO
INNER JOIN CORRECTIVEACTIONS CA ON CA.CARDID=SCO.CARDID
INNER JOIN CORRECTIVEACTIONSCATEGORY CAC ON CAC.CORRACTIONID=CA.CORRACTIONID AND CAC.MAINCATEGORYID=SCO.MAINCATEGORYID AND CAC.SUBCATEGORYID=SCO.SUBCATEGORYID
WHERE SCO.UNSAFE>0 AND SCO.CARDID=@CARDID

UPDATE SCO SET CAEXISTS =1,CORRACTIONID =CA.CORRACTIONID
FROM STOPCARDENTRYOBSERVATIONS SCO
INNER JOIN CORRECTIVEACTIONS CA ON CA.CARDID=SCO.CARDID
INNER JOIN STOPCARDENTRYCATEGORYCOMMENTS SCC ON SCC.CARDID=SCO.CARDID AND SCC.MAINCATEGORYID=SCO.MAINCATEGORYID AND SCC.SUBCATEGORYID=SCO.SUBCATEGORYID
INNER JOIN CORRECTIVEACTIONSCATEGORY CAC ON CAC.CORRACTIONID=CA.CORRACTIONID AND CAC.MAINCATEGORYID=SCO.MAINCATEGORYID AND CAC.SUBCATEGORYID=SCO.SUBCATEGORYID
WHERE LEN(SCC.UNSAFECOMMENTS)>1 AND SCO.CARDID=@CARDID

END

UPDATE STOPCARDENTRY SET ISINCOMPLETEOBS=0,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP,ISMODIFIED=1 WHERE CARDID = @CARDID

IF EXISTS(SELECT 1 FROM STOPCARDENTRYOBSERVATIONS SCO WHERE SCO.CARDID=@CARDID AND SCO.UNSAFE>0 AND NOT EXISTS(SELECT 1 FROM STOPCARDENTRYCATEGORYCOMMENTS SCC WHERE SCC.CARDID=SCO.CARDID AND SCC.MAINCATEGORYID=SCO.MAINCATEGORYID AND SCC.SUBCATEGORYID=SCO.SUBCATEGORYID AND LEN(UNSAFECOMMENTS)>0))
SELECT 0 CARDID
ELSE
SELECT @CARDID

END
ELSE IF @OBSAPPROVALPC=1
BEGIN
IF NOT EXISTS( SELECT 1 FROM STOPCARDENTRYOBSERVATIONS_OL WHERE CARDID=@CARDID)
BEGIN
INSERT INTO dbo.STOPCARDENTRYOBSERVATIONS_OL(CARDID,MAINCATEGORYID,SUBCATEGORYID,SAFE,UNSAFE,
STATUS,UPDATEDBY,UPDATEDDATE)
SELECT @CARDID,
TEMPOBSVATION.ITEM.value('@MAINCATEGORYID','BIGINT'),
TEMPOBSVATION.ITEM.value('@SUBCATEGORYID','BIGINT'),
TEMPOBSVATION.ITEM.value('@SAFE','INT'),
TEMPOBSVATION.ITEM.value('@UNSAFE','INT'),
1,@UPDATEDBY,@CC_TIMESTAMP
FROM @XMLOBSVATION.nodes('/ROOT/ROW') AS TEMPOBSVATION(ITEM)
END

ELSE
BEGIN
UPDATE STOPCARDENTRYOBSERVATIONS_OL SET
SAFE=TEMPOBSVATION.ITEM.value('@SAFE','INT'),
UNSAFE=TEMPOBSVATION.ITEM.value('@UNSAFE','INT'),
UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP
FROM STOPCARDENTRYOBSERVATIONS_OL SCO
INNER JOIN @XMLOBSVATION.nodes('/ROOT/ROW') AS TEMPOBSVATION(ITEM) ON
TEMPOBSVATION.ITEM.value('@MAINCATEGORYID','BIGINT')=SCO.MAINCATEGORYID AND
TEMPOBSVATION.ITEM.value('@SUBCATEGORYID','BIGINT')=SCO.SUBCATEGORYID
WHERE SCO.CARDID = @CARDID

END

UPDATE STOPCARDENTRY_OL SET ISINCOMPLETEOBS=0,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID = @CARDID


IF EXISTS(SELECT 1 FROM STOPCARDENTRYOBSERVATIONS_OL SCO WHERE SCO.CARDID=@CARDID AND SCO.UNSAFE>0 AND NOT EXISTS(SELECT 1 FROM STOPCARDENTRYCATEGORYCOMMENTS_OL SCC WHERE SCC.CARDID=SCO.CARDID AND SCC.MAINCATEGORYID=SCO.MAINCATEGORYID AND SCC.SUBCATEGORYID=SCO.SUBCATEGORYID AND LEN(UNSAFECOMMENTS)>0))
SELECT 0 CARDID
ELSE
SELECT @CARDID

END
INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'STOPCARDENTRYOBSERVATIONS,_OL','INSERT-INSERTSTOPCARDOBSERVATIONS_1.0',@CC_TIMESTAMP,@UPDATEDBY,NULL
