DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

IF EXISTS(SELECT 1 FROM STOPCARDENTRYCATEGORYCOMMENTS WHERE CARDID = @CARDID AND MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID=@SUBCATEGORYID)
UPDATE STOPCARDENTRYCATEGORYCOMMENTS
SET SAFECOMMENTS=@SAFECOMMENTS,UNSAFECOMMENTS=@UNSAFECOMMENTS,STATUS=1,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP
WHERE CARDID = @CARDID AND MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID=@SUBCATEGORYID
ELSE
INSERT INTO STOPCARDENTRYCATEGORYCOMMENTS(CARDID,MAINCATEGORYID,SUBCATEGORYID,SAFECOMMENTS,UNSAFECOMMENTS,STATUS,UPDATEDBY,UPDATEDDATE)
VALUES (@CARDID,@MAINCATEGORYID,@SUBCATEGORYID,@SAFECOMMENTS,@UNSAFECOMMENTS,1,@UPDATEDBY,@CC_TIMESTAMP)

IF EXISTS(SELECT 1 FROM STOPCARDENTRYATTACHMENTS WHERE CARDID = @CARDID AND MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID=@SUBCATEGORYID)
BEGIN
DELETE FROM STOPCARDENTRYATTACHMENTS  WHERE CARDID = @CARDID AND MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID=@SUBCATEGORYID
INSERT INTO STOPCARDENTRYATTACHMENTS(CARDID,IMAGENAME,MAINCATEGORYID,SUBCATEGORYID,STATUS,UPDATEDBY,UPDATEDDATE)
SELECT @CARDID,ITEM,@MAINCATEGORYID,@SUBCATEGORYID,1,@UPDATEDBY,@CC_TIMESTAMP FROM dbo.fnSplit(@IMAGENAME,',')
END
ELSE
INSERT INTO STOPCARDENTRYATTACHMENTS(CARDID,IMAGENAME,MAINCATEGORYID,SUBCATEGORYID,STATUS,UPDATEDBY,UPDATEDDATE)
SELECT @CARDID,ITEM,@MAINCATEGORYID,@SUBCATEGORYID,1,@UPDATEDBY,@CC_TIMESTAMP FROM dbo.fnSplit(@IMAGENAME,',')
SELECT @CARDID


INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'STOPCARDENTRYCATEGORYCOMMENTS','INSERT-INSERTUPDATEOFFLINECATEGORYCOMMENTS_1.0',@CC_TIMESTAMP,@UPDATEDBY,NULL