DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()
IF EXISTS ( SELECT 1 FROM SHIFTS WHERE SHIFTNAME=@SHIFTNAME AND COMPANYID=@COMPANYID AND STATUS!=2)
BEGIN
SELECT '-1'
END
ELSE
BEGIN
INSERT INTO SHIFTS (COMPANYID,SHIFTNAME,[STATUS],CREATEDBY,CREATEDDATE)
VALUES (@COMPANYID,@SHIFTNAME,@STATUS,@CREATEDBY,@CC_TIMESTAMP);

SELECT @@IDENTITY

INSERT INTO SITESHIFTS (SITEID,SHIFTID,STATUS,UPDATEDBY,UPDATEDDATE)
VALUES (@SITEID,@@IDENTITY,1,@CREATEDBY,@CC_TIMESTAMP);
END


INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'SHIFTS/SITESHIFTS','INSERT-INSERTSHIFTGENERALINFO_1.0',@CC_TIMESTAMP,@CREATEDBY,
(SELECT * FROM SHIFTS WHERE CREATEDBY=@CREATEDBY AND CREATEDDATE=@CC_TIMESTAMP FOR XML AUTO)



