DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()
IF EXISTS(SELECT 1 FROM STOPCARDENTRY_OL WHERE CARDID=@CARDID AND EDITOR=1)
SELECT -4
ELSE
BEGIN
IF EXISTS(SELECT 1 FROM STOPCARDENTRYCATEGORYCOMMENTS_OL WHERE CARDID = @CARDID AND MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID=@SUBCATEGORYID)
BEGIN
UPDATE STOPCARDENTRYCATEGORYCOMMENTS_OL
SET SAFECOMMENTS=@SAFECOMMENTS,UNSAFECOMMENTS=@UNSAFECOMMENTS,STATUS=1,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP
WHERE CARDID = @CARDID AND MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID=@SUBCATEGORYID

IF LEN(ISNULL(@SAFECOMMENTS,''))=0 AND LEN(ISNULL(@UNSAFECOMMENTS,''))=0
DELETE FROM STOPCARDENTRYCATEGORYCOMMENTS_OL WHERE CARDID = @CARDID AND MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID=@SUBCATEGORYID
END
ELSE
BEGIN
IF LEN(@SAFECOMMENTS)>0 OR LEN(@UNSAFECOMMENTS)>0
INSERT INTO STOPCARDENTRYCATEGORYCOMMENTS_OL(CARDID,MAINCATEGORYID,SUBCATEGORYID,SAFECOMMENTS,UNSAFECOMMENTS,STATUS,UPDATEDBY,UPDATEDDATE)
VALUES (@CARDID,@MAINCATEGORYID,@SUBCATEGORYID,@SAFECOMMENTS,@UNSAFECOMMENTS,1,@UPDATEDBY,@CC_TIMESTAMP)
END
UPDATE STOPCARDENTRY_OL SET ISINCOMPLETEOBS=0,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID = @CARDID
SELECT @CARDID
INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'STOPCARDENTRYCATEGORYCOMMENTS_OL','INSERT-INSERTOFFLINEUPDATECATEGORYCOMMENTS_1.0',@CC_TIMESTAMP,@UPDATEDBY,NULL
END
