DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

IF EXISTS ( SELECT 1 FROM AREAS WHERE AREANAME=@AREANAME AND COMPANYID=@COMPANYID AND STATUS!=2)
BEGIN
SELECT '-1'
END
ELSE
BEGIN
INSERT INTO AREAS (COMPANYID,AREANAME,[STATUS],CREATEDBY,CREATEDDATE)
VALUES (@COMPANYID,@AREANAME,@STATUS,@CREATEDBY,@CC_TIMESTAMP);

SELECT @@IDENTITY

INSERT INTO SITEAREAS (SITEID,AREAID,STATUS,UPDATEDBY,UPDATEDDATE)
VALUES (@SITEID,@@IDENTITY,1,@CREATEDBY,@CC_TIMESTAMP);
END

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'AREAS','INSERT-INSERTAREAGENERALINFO_1.0',@CC_TIMESTAMP,@CREATEDBY,
(SELECT * FROM AREAS WHERE CREATEDBY=@CREATEDBY AND CREATEDDATE=@CC_TIMESTAMP FOR XML AUTO)

