--INSERTWEEKLYTARGETMULTIUSER_1.0
DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

CREATE TABLE #USERLIST(USERID INT)
INSERT INTO #USERLIST(USERID)
SELECT RESULT FROM DBO.CSVTOTABLE(@USERID)

DELETE TU
FROM WEEKLYTARGETUSERS TU
INNER JOIN #USERLIST U ON U.USERID=TU.USERID
WHERE TU.SITEID=@SITEID

INSERT INTO WEEKLYTARGETUSERS(SITEID,USERID,WEEKTARGET,CREATEDBY,CREATEDDATE)
SELECT @SITEID,USERID,@WEEKTARGET,@CREATEDBY,@CC_TIMESTAMP FROM #USERLIST

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'MULTIWEEKLYTARGETUSERS','INSERT-INSERTWEEKLYTARGETMULTIUSER_1.0',@CC_TIMESTAMP,@CREATEDBY,NULL


DECLARE @SITENAME NVARCHAR(512),@BODY NVARCHAR(MAX),@FROM NVARCHAR(512),@EMAILID NVARCHAR(512),@URL NVARCHAR(512),@CREATEDBYUSERNAME NVARCHAR(512)
SELECT @SITENAME='',@BODY='',@FROM ='',@EMAILID='',@URL='',@CREATEDBYUSERNAME =''

SELECT @BODY=BODY FROM SCHEDULE WHERE SCHEDULETYPEID = 16
SELECT @URL = OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME ='URL'
SELECT @FROM = OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME ='MAILFROM'
SELECT @CREATEDBYUSERNAME=LASTNAME+' '+FIRSTNAME FROM USERS WHERE USERID=@CREATEDBY

SELECT @EMAILID=@EMAILID+EMAIL+';' FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID=U.USERID
INNER JOIN DBO.CSVTOTABLE(@USERID) T ON T.RESULT=U.USERID
WHERE U.STATUS !=2

SELECT @SITENAME=SITENAME+' site' FROM SITES WHERE SITEID=@SITEID
SET @BODY=REPLACE(@BODY,'[WeeklyTarget]',@WEEKTARGET)

INSERT INTO USERINBOX (COMPANYID,USERID,[FROM],REPLYTO,[TO],CC,BCC,[SUBJECT],BODY,SENTDATE,READSTATUS,[TYPE],[STATUS],TOKENID)
SELECT S.COMPANYID,U.USERID,@FROM [FROM],REPLYTO [REPLYTO],U.EMAIL [TO],'' CC,'' BCC,SUBJECT [SUBJECT],DBO.REGEXREPLACE(@BODY,'06|42',@SITENAME+'|'+@CREATEDBYUSERNAME) BODY,GETUTCDATE() SENTDATE,0 READSTATUS,1,1,S.SCHEDULEID
FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID=U.USERID
INNER JOIN DBO.CSVTOTABLE(@USERID) T ON T.RESULT=U.USERID
LEFT JOIN SCHEDULE S ON S.SCHEDULETYPEID=16
WHERE U.STATUS !=2

SELECT SCHEDULEID,COMPANYID,0 USERID, @FROM [FROM],REPLYTO [REPLYTO],(SELECT TOP 1 EMAIL FROM USERS WHERE USERID=@CREATEDBY) [TO],'' CC,@EMAILID BCC,SUBJECT [SUBJECT],DBO.REGEXREPLACE(@BODY,'06|42',@SITENAME+'|'+@CREATEDBYUSERNAME) BODY,GETUTCDATE() SENTDATE ,0 READSTATUS,@URL URL
FROM SCHEDULE WHERE SCHEDULETYPEID=16
