--INSERTCORRACTIVEACTION_1.0
DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

DECLARE @INPUTCUSTOMFIELDS TABLE(CUSTOMFIELDID INT,CUSTOMFIELDVALUEID INT)
INSERT INTO @INPUTCUSTOMFIELDS
SELECT CUSTOMFIELDID,CUSTOMFIELDVALUEID FROM CUSTOMFIELDVALUES CFV
INNER JOIN dbo.CSVTOTABLE(@CUSTOMFIELDVALUEID) T ON T.RESULT=CFV.CUSTOMFIELDVALUEID

DECLARE @QRY VARCHAR(MAX),@GROUPTYPEID VARCHAR(256), @GROUPTYPENAME VARCHAR(1024),@GROUPTYPENAME1 VARCHAR(1024),@CARDID INT

INSERT INTO STOPCARDENTRY(COMPANYID,SITEID,OBSERVERCOUNT,OBSERVATIONDATE,SHIFTID,AREAID,SUBAREAID,STATUS,STOPCARDTYPE,CREATEDBY,CREATEDDATE)
VALUES
(@COMPANYID,@SITEID,CASE WHEN (SELECT COUNT(RESULT) FROM DBO.CSVTOTABLE(@SELOBSERVERID))>1 THEN 1 ELSE 0 END ,@OBSERVATIONDATE,@SHIFTID,@AREAID,@SUBAREAID,
1,2,@CREATEDBY,@CC_TIMESTAMP)

SELECT @CARDID =@@IDENTITY
IF EXISTS(SELECT 1 FROM @INPUTCUSTOMFIELDS)
INSERT INTO STOPCARDENTRYCUSTOMFIELDS(CARDID,CUSTOMFIELD1,CUSTOMFIELD2,CUSTOMFIELD3,STATUS,UPDATEDBY,UPDATEDDATE)
SELECT @CARDID,(SELECT CUSTOMFIELDVALUEID FROM @INPUTCUSTOMFIELDS WHERE CUSTOMFIELDID=1)
,(SELECT CUSTOMFIELDVALUEID FROM @INPUTCUSTOMFIELDS WHERE CUSTOMFIELDID=2)
,(SELECT CUSTOMFIELDVALUEID FROM @INPUTCUSTOMFIELDS WHERE CUSTOMFIELDID=3)
,1,@CREATEDBY,@CC_TIMESTAMP

SELECT @CARDID


SET @QRY=''
SET @GROUPTYPEID=''
SET @GROUPTYPENAME=''
SET @GROUPTYPENAME1=''
SELECT @GROUPTYPEID=@GROUPTYPEID+'['+CAST(GROUPTYPEID AS VARCHAR(10))+'],' FROM GROUPTYPES WHERE STATUS = 1
SELECT @GROUPTYPENAME=@GROUPTYPENAME+',['+CAST(GROUPTYPEID AS VARCHAR(10))+'] AS GROUP'+CAST(GROUPTYPEID AS VARCHAR(10))+',(SELECT TOP 1 GROUPNAME FROM GROUPS G WHERE G.GROUPID = +['+CAST(GROUPTYPEID AS VARCHAR(10))+']) AS GROUP'+CAST(GROUPTYPEID AS VARCHAR(10))+'NAME' FROM GROUPTYPES WHERE STATUS = 1
SELECT @GROUPTYPENAME1=@GROUPTYPENAME1+',GROUP'+CAST(GROUPTYPEID AS VARCHAR(10))+',GROUP'+CAST(GROUPTYPEID AS VARCHAR(10))+'NAME' FROM GROUPTYPES WHERE STATUS = 1


IF LEN(@GROUPTYPEID)>0
SET @GROUPTYPEID=SUBSTRING(@GROUPTYPEID,1,LEN(@GROUPTYPEID)-1)
DELETE FROM STOPCARDENTRYOBSERVERS WHERE CARDID = @CARDID

IF LEN(@GROUPTYPEID)>1
BEGIN
SET @QRY= ('
INSERT INTO STOPCARDENTRYOBSERVERS(CARDID,OBSERVERID'+@GROUPTYPENAME1+')
SELECT DISTINCT '+CAST(@CARDID AS VARCHAR(10))+',USERID'+@GROUPTYPENAME+' FROM

(SELECT UG.USERID,UG.GROUPTYPEID,UG.GROUPID FROM USERGROUPS UG WHERE UG.STATUS = 1 AND UG.USERID IN ('+@SELOBSERVERID+')
) AS TABTOPIOT
PIVOT
(
MAX(GROUPID)
FOR GROUPTYPEID IN ('+@GROUPTYPEID+')
)AS PIVOTEDTAB   ')


PRINT @QRY
EXEC (@QRY)

END
ELSE
BEGIN
INSERT INTO STOPCARDENTRYOBSERVERS(CARDID,OBSERVERID)
SELECT DISTINCT @CARDID,RESULT FROM DBO.CSVTOTABLE(@SELOBSERVERID)
END


INSERT INTO STOPCARDENTRYOBSERVERS(CARDID,OBSERVERID)
SELECT @CARDID,RESULT FROM DBO.CSVTOTABLE(@SELOBSERVERID) WHERE RESULT NOT IN (SELECT OBSERVERID FROM STOPCARDENTRYOBSERVERS WHERE CARDID=@CARDID)

UPDATE STOPCARDENTRYOBSERVERS SET UPDATEDBY=@CREATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID = @CARDID

SELECT 1

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'STOPCARDENTRY/STOPCARDENTRYOBSERVERS','INSERT-INSERTCORRACTIVEACTION_1.0',@CC_TIMESTAMP,@CREATEDBY,NULL