IF EXISTS(SELECT 1 FROM SCHEDULEEMAILCONTENT WHERE LANGUAGEID=@LANGUAGEID AND SCHEDULEID=@SCHEDULEID)
BEGIN
UPDATE SCHEDULEEMAILCONTENT SET SUBJECT=@SUBJECT,BODY=@BODY WHERE LANGUAGEID=@LANGUAGEID AND SCHEDULEID=@SCHEDULEID
SELECT 2
END
ELSE
BEGIN
INSERT INTO SCHEDULEEMAILCONTENT(SCHEDULEID,LANGUAGEID,SUBJECT,BODY)
VALUES(@SCHEDULEID,@LANGUAGEID,@SUBJECT,@BODY)
SELECT 1
END
