DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

INSERT INTO USERSITES(USERID,SITEID,[STATUS],UPDATEDBY,UPDATEDDATE)
SELECT @USERID,RESULT,@STATUS,@UPDATEDBY,@US_TIMESTAMP FROM dbo.CSVtoTable(@SITEID)

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'USERSITES','INSERT-INSERTUSERSITES_1.0',@CC_TIMESTAMP,@UPDATEDBY,NULL