--INSERTTARGETMULTIUSERS_1.0
DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

CREATE TABLE #USERLIST(USERID INT)
INSERT INTO #USERLIST(USERID)
SELECT RESULT FROM DBO.CSVTOTABLE(@USERID)

DELETE TU
FROM TARGETUSERS TU
INNER JOIN #USERLIST U ON U.USERID=TU.USERID
WHERE TU.SITEID=@SITEID

INSERT INTO TARGETUSERS(SITEID,USERID,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,[DEC],CREATEDBY,CREATEDDATE)
SELECT @SITEID,USERID,@JAN,@FEB,@MAR,@APR,@MAY,@JUN,@JUL,@AUG,@SEP,@OCT,@NOV,@DEC,@CREATEDBY,@CC_TIMESTAMP
FROM #USERLIST

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'MULTITARGETUSERS','INSERT-INSERTTARGETMULTIUSERS_1.0',@CC_TIMESTAMP,@CREATEDBY,NULL

DECLARE @SITENAME NVARCHAR(512),@BODY NVARCHAR(MAX),@FROM NVARCHAR(512),@EMAILID NVARCHAR(512),@URL NVARCHAR(512),@CREATEDBYUSERNAME NVARCHAR(512)
SELECT @SITENAME='',@BODY='',@FROM ='',@EMAILID='',@URL='',@CREATEDBYUSERNAME =''

SELECT @EMAILID=@EMAILID+EMAIL+';' FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID=U.USERID
INNER JOIN DBO.CSVTOTABLE(@USERID) T ON T.RESULT=U.USERID
WHERE U.STATUS !=2

SELECT @BODY=BODY FROM SCHEDULE WHERE SCHEDULETYPEID = 15
SELECT @URL = OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME ='URL'
SELECT @FROM = OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME ='MAILFROM'
SELECT @SITENAME=SITENAME+' site' FROM SITES WHERE SITEID=@SITEID
SELECT @CREATEDBYUSERNAME=LASTNAME+' '+FIRSTNAME FROM USERS WHERE USERID=@CREATEDBY

SET @BODY=REPLACE(@BODY,'[TGTJAN]',@JAN)
SET @BODY=REPLACE(@BODY,'[TGTFEB]',@FEB)
SET @BODY=REPLACE(@BODY,'[TGTMAR]',@MAR)
SET @BODY=REPLACE(@BODY,'[TGTAPR]',@APR)
SET @BODY=REPLACE(@BODY,'[TGTMAY]',@MAY)
SET @BODY=REPLACE(@BODY,'[TGTJUN]',@JUN)
SET @BODY=REPLACE(@BODY,'[TGTJUL]',@JUL)
SET @BODY=REPLACE(@BODY,'[TGTAUG]',@AUG)
SET @BODY=REPLACE(@BODY,'[TGTSEP]',@SEP)
SET @BODY=REPLACE(@BODY,'[TGTOCT]',@OCT)
SET @BODY=REPLACE(@BODY,'[TGTNOV]',@NOV)
SET @BODY=REPLACE(@BODY,'[TGTDEC]',@DEC)

INSERT INTO USERINBOX (COMPANYID,USERID,[FROM],REPLYTO,[TO],CC,BCC,[SUBJECT],BODY,SENTDATE,READSTATUS,[TYPE],[STATUS],TOKENID)
SELECT S.COMPANYID,U.USERID,@FROM [FROM],REPLYTO [REPLYTO],U.EMAIL [TO],'' CC,'' BCC,SUBJECT [SUBJECT],DBO.REGEXREPLACE(@BODY,'06|42',@SITENAME+'|'+@CREATEDBYUSERNAME) BODY,GETUTCDATE() SENTDATE,0 READSTATUS,1,1,S.SCHEDULEID
FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID=U.USERID
INNER JOIN DBO.CSVTOTABLE(@USERID) T ON T.RESULT=U.USERID
LEFT JOIN SCHEDULE S ON S.SCHEDULETYPEID=15
WHERE U.STATUS !=2

SELECT SCHEDULEID,COMPANYID,0 USERID,@FROM [FROM],REPLYTO [REPLYTO],(SELECT TOP 1 EMAIL FROM USERS WHERE USERID=@CREATEDBY) [TO],'' CC,@EMAILID BCC,SUBJECT [SUBJECT],DBO.REGEXREPLACE(@BODY,'06|42',@SITENAME+'|'+@CREATEDBYUSERNAME) BODY,GETUTCDATE() SENTDATE ,0 READSTATUS,@URL URL
FROM SCHEDULE WHERE SCHEDULETYPEID=15

