--INSERTWEEKLYTARGET_1.0
DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

IF EXISTS(SELECT 1 FROM WEEKLYTARGETUSERS WHERE USERID = @USERID AND SITEID = @SITEID)
UPDATE WEEKLYTARGETUSERS SET WEEKTARGET=@WEEKTARGET,UPDATEDBY=@CREATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE USERID =@USERID AND SITEID =@SITEID

ELSE
INSERT INTO WEEKLYTARGETUSERS(SITEID,USERID,WEEKTARGET,CREATEDBY,CREATEDDATE) SELECT @SITEID,@USERID,@WEEKTARGET,@CREATEDBY,@CC_TIMESTAMP

IF @TARGETALLSITES = 1
BEGIN
INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'WEEKLYTARGETUSERS','INSERT-INSERTWEEKLYTARGETUSERS_1.0',@CC_TIMESTAMP,@CREATEDBY,(SELECT * FROM WEEKLYTARGETUSERS WHERE USERID=@USERID FOR XML AUTO)

DELETE FROM WEEKLYTARGETUSERS WHERE USERID=@USERID

INSERT INTO WEEKLYTARGETUSERS(SITEID,USERID,WEEKTARGET,CREATEDBY,CREATEDDATE)
SELECT SITEID,USERID,@WEEKTARGET,@CREATEDBY,@CC_TIMESTAMP FROM USERSITES WHERE USERID = @USERID AND STATUS=1

END


INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'WEEKLYTARGETUSERS','INSERT-INSERTWEEKLYTARGETUSERS_1.0',@CC_TIMESTAMP,@CREATEDBY,NULL

DECLARE @SITENAME NVARCHAR(512),@LASTNAME NVARCHAR(512),@FIRSTNAME NVARCHAR(512),@BODY NVARCHAR(MAX),@FROM NVARCHAR(512),@EMAILID NVARCHAR(512),@URL NVARCHAR(512),@CREATEDBYUSERNAME NVARCHAR(512)
SELECT @SITENAME='',@LASTNAME='',@FIRSTNAME='',@BODY='',@FROM ='',@EMAILID='',@URL='',@CREATEDBYUSERNAME =''
SELECT @LASTNAME=LASTNAME,@FIRSTNAME=FIRSTNAME,@EMAILID=EMAIL FROM USERS WHERE USERID=@USERID
SELECT @BODY=BODY FROM SCHEDULE WHERE SCHEDULETYPEID = 14
SELECT @URL = OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME ='URL'
SELECT @FROM = OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME ='MAILFROM'
SELECT @CREATEDBYUSERNAME=LASTNAME+' '+FIRSTNAME FROM USERS WHERE USERID=@CREATEDBY

IF @TARGETALLSITES=1
SET @SITENAME='ALL assigned sites'
ELSE
SELECT @SITENAME=SITENAME+' site' FROM SITES WHERE SITEID=@SITEID

SET @BODY=REPLACE(@BODY,'[WeeklyTarget]',@WEEKTARGET)


INSERT INTO USERINBOX (COMPANYID,USERID,[FROM],REPLYTO,[TO],CC,BCC,[SUBJECT],BODY,SENTDATE,READSTATUS,[TYPE],[STATUS],TOKENID)
SELECT TOP 1 COMPANYID,@USERID USERID,@FROM [FROM],REPLYTO [REPLYTO],@EMAILID [TO],'' CC,'' BCC,SUBJECT [SUBJECT],DBO.REGEXREPLACE(@BODY,'02|03|06|42',@LASTNAME+'|'+@FIRSTNAME+'|'+@SITENAME+'|'+@CREATEDBYUSERNAME) BODY,GETUTCDATE() SENTDATE,0 READSTATUS,1,1,SCHEDULEID
FROM SCHEDULE WHERE SCHEDULETYPEID=14

SELECT TOP 1 SCHEDULEID,COMPANYID,@USERID USERID, @FROM [FROM],REPLYTO [REPLYTO],@EMAILID [TO],'' CC,'' BCC,SUBJECT [SUBJECT],DBO.REGEXREPLACE(@BODY,'02|03|06|42',@LASTNAME+'|'+@FIRSTNAME+'|'+@SITENAME+'|'+@CREATEDBYUSERNAME) BODY,GETUTCDATE() SENTDATE ,0 READSTATUS,@URL URL
FROM SCHEDULE WHERE SCHEDULETYPEID=14
