DECLARE @MI_TIMESTAMP DATETIME
SET @MI_TIMESTAMP=GETDATE()

DECLARE @SCHEDULEID INT

DECLARE @PMAINTOBESENT DATETIME, @PDURATION INT
DECLARE @TIMEZONES TABLE(DURATION INT,MAINTOBESENT DATETIME)
INSERT INTO @TIMEZONES(DURATION,MAINTOBESENT)
SELECT DURATION,dbo.USERTIMEEMAIL(GETUTCDATE(),@STARTTIME,DURATION) FROM TIMEZONES WHERE STATUS = 1  ORDER BY DURATION DESC

SELECT @PMAINTOBESENT=MIN(MAINTOBESENT) FROM @TIMEZONES WHERE MAINTOBESENT > GETUTCDATE()
SELECT TOP 1 @PDURATION=DURATION FROM @TIMEZONES WHERE MAINTOBESENT=@PMAINTOBESENT ORDER BY MAINTOBESENT
IF @PDURATION IS NULL
SELECT @PDURATION=MIN(DURATION) FROM TIMEZONES WHERE STATUS=1
IF EXISTS(SELECT 1 FROM SCHEDULE WHERE SCHEDULENAME=@SCHEDULENAME AND STATUS!=2)
SELECT -1,'',''
ELSE
BEGIN
INSERT INTO SCHEDULE(COMPANYID,SCHEDULENAME,SCHEDULETYPEID,DUPLICATEMAILFROM,REPLYTO,CC,SUBJECT,BODY,STATUS,CREATEDBY,CREATEDDATE) VALUES
(@COMPANYID,@SCHEDULENAME,@SCHEDULETYPEID,@DUPLICATEMAILFROM,@REPLYTO,@CC,@SUBJECT,@BODY,1,@CREATEDBY,@MI_TIMESTAMP)
SELECT @SCHEDULEID=@@IDENTITY

IF EXISTS (SELECT 1 FROM SCHEDULETYPES WHERE SCHEDULETYPEID=@SCHEDULETYPEID AND ISEMAIL=1)
IF @DWM > 0
INSERT INTO SCHEDULEOPTIONS(SCHEDULEID,DWM,EVERYDWM,[DAY],[MONTH],STARTDATE,ENDDATE,MAXEMAILS,DAYLIST,PRIORNOTDAYS,TIMEZONEDURATION,STARTTIME,UPDATEDBY,UPDATEDDATE) VALUES
(@SCHEDULEID,@DWM,@EVERYDWM,@DAY,@MONTH,GETUTCDATE(),DATEADD(YYYY,10,GETUTCDATE()),@MAXEMAILS,@DAYLIST,@PRIORNOTDAYS,@PDURATION,@STARTTIME,@CREATEDBY,@MI_TIMESTAMP)

IF @SCHEDULETYPEID IN ('1','2') AND CAST(CASE WHEN @EVERYDWM='' THEN 0 ELSE ISNULL(@EVERYDWM,0) END AS INT) >1 AND @DWM='1'
	SELECT @SCHEDULEID,DATEADD(DD,CAST(@EVERYDWM AS INT)-1,@PMAINTOBESENT) ,@PDURATION
ELSE
	SELECT @SCHEDULEID,@PMAINTOBESENT,@PDURATION

END

DECLARE @TAB TABLE(ID INT IDENTITY(1,1),COL VARCHAR(MAX))
DECLARE @TEMP INT,@OPTIONID INT,@OPTIONLIST VARCHAR(MAX)
SET @TEMP = 1
INSERT INTO @TAB
SELECT ITEM
FROM dbo.FNSPLIT(@OPTIONVALUE,';')
IF @SCHEDULEID>0
BEGIN
IF EXISTS (SELECT 1 FROM SCHEDULEASSIGNMENTS WHERE SCHEDULEID=@SCHEDULEID AND OPTIONID=@OPTIONID)
DELETE FROM SCHEDULEASSIGNMENTS WHERE SCHEDULEID=@SCHEDULEID AND OPTIONID=@OPTIONID
ELSE
BEGIN
WHILE @TEMP < =(SELECT MAX(ID) FROM @TAB)
          BEGIN
              SELECT @OPTIONID=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM=(SELECT SUBSTRING(COL,1,CHARINDEX('=',COL)-1) FROM @TAB WHERE ID = @TEMP)
              SELECT @OPTIONLIST=SUBSTRING(COL,CHARINDEX('=',COL)+1,LEN(COL)) FROM @TAB WHERE ID = @TEMP
              INSERT INTO SCHEDULEASSIGNMENTS(SCHEDULEID,OPTIONID,OPTIONVALUE,UPDATEDBY,UPDATEDDATE)
              SELECT @SCHEDULEID,@OPTIONID,RESULT,@CREATEDBY,@MI_TIMESTAMP FROM DBO.CSVtoTable(@OPTIONLIST)
              SET @TEMP = @TEMP +1
          END
     END
END
