DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()
DECLARE @OLDCARDID INT
IF @OBSAPPROVALPC=0
BEGIN
IF EXISTS(SELECT 1 FROM STOPCARDENTRYCATEGORYCOMMENTS WHERE CARDID = @CARDID AND MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID=@SUBCATEGORYID)
BEGIN
UPDATE STOPCARDENTRYCATEGORYCOMMENTS
SET SAFECOMMENTS=@SAFECOMMENTS,UNSAFECOMMENTS=@UNSAFECOMMENTS,STATUS=1,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP
WHERE CARDID = @CARDID AND MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID=@SUBCATEGORYID

IF LEN(ISNULL(@SAFECOMMENTS,''))=0 AND LEN(ISNULL(@UNSAFECOMMENTS,''))=0
DELETE FROM STOPCARDENTRYCATEGORYCOMMENTS
WHERE CARDID = @CARDID AND MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID=@SUBCATEGORYID
END
ELSE
BEGIN
IF LEN(@SAFECOMMENTS)>0 OR LEN(@UNSAFECOMMENTS)>0
INSERT INTO STOPCARDENTRYCATEGORYCOMMENTS(CARDID,MAINCATEGORYID,SUBCATEGORYID,SAFECOMMENTS,UNSAFECOMMENTS,STATUS,UPDATEDBY,UPDATEDDATE)
VALUES (@CARDID,@MAINCATEGORYID,@SUBCATEGORYID,@SAFECOMMENTS,@UNSAFECOMMENTS,1,@UPDATEDBY,@CC_TIMESTAMP)
END

IF EXISTS(SELECT 1 FROM STOPCARDENTRYATTACHMENTS WHERE CARDID = @CARDID AND MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID=@SUBCATEGORYID)
BEGIN
SELECT @OLDCARDID=OLDCARDID FROM STOPCARDENTRYATTACHMENTS  WHERE CARDID = @CARDID AND MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID=@SUBCATEGORYID
DELETE FROM STOPCARDENTRYATTACHMENTS  WHERE CARDID = @CARDID AND MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID=@SUBCATEGORYID
INSERT INTO STOPCARDENTRYATTACHMENTS(CARDID,IMAGENAME,MAINCATEGORYID,SUBCATEGORYID,STATUS,UPDATEDBY,UPDATEDDATE,OLDCARDID)
SELECT @CARDID,ITEM,@MAINCATEGORYID,@SUBCATEGORYID,1,@UPDATEDBY,@CC_TIMESTAMP,@OLDCARDID FROM dbo.fnSplit(@IMAGENAME,',')
END
ELSE
INSERT INTO STOPCARDENTRYATTACHMENTS(CARDID,IMAGENAME,MAINCATEGORYID,SUBCATEGORYID,STATUS,UPDATEDBY,UPDATEDDATE)
SELECT @CARDID,ITEM,@MAINCATEGORYID,@SUBCATEGORYID,1,@UPDATEDBY,@CC_TIMESTAMP FROM dbo.fnSplit(@IMAGENAME,',')

UPDATE STOPCARDENTRY SET ISINCOMPLETEOBS=0,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID=@CARDID
SELECT @CARDID
END
ELSE IF @OBSAPPROVALPC=1
BEGIN
IF EXISTS(SELECT 1 FROM STOPCARDENTRYCATEGORYCOMMENTS_OL WHERE CARDID = @CARDID AND MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID=@SUBCATEGORYID)
BEGIN
UPDATE STOPCARDENTRYCATEGORYCOMMENTS_OL
SET SAFECOMMENTS=@SAFECOMMENTS,UNSAFECOMMENTS=@UNSAFECOMMENTS,STATUS=1,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP
WHERE CARDID = @CARDID AND MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID=@SUBCATEGORYID

IF LEN(ISNULL(@SAFECOMMENTS,''))=0 AND LEN(ISNULL(@UNSAFECOMMENTS,''))=0
DELETE FROM STOPCARDENTRYCATEGORYCOMMENTS_OL
WHERE CARDID = @CARDID AND MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID=@SUBCATEGORYID
END
ELSE
BEGIN
IF LEN(@SAFECOMMENTS)>0 OR LEN(@UNSAFECOMMENTS)>0
INSERT INTO STOPCARDENTRYCATEGORYCOMMENTS_OL(CARDID,MAINCATEGORYID,SUBCATEGORYID,SAFECOMMENTS,UNSAFECOMMENTS,STATUS,UPDATEDBY,UPDATEDDATE)
VALUES (@CARDID,@MAINCATEGORYID,@SUBCATEGORYID,@SAFECOMMENTS,@UNSAFECOMMENTS,1,@UPDATEDBY,@CC_TIMESTAMP)
END

IF EXISTS(SELECT 1 FROM STOPCARDENTRYATTACHMENTS_OL WHERE CARDID = @CARDID AND MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID=@SUBCATEGORYID)
BEGIN
DELETE FROM STOPCARDENTRYATTACHMENTS_OL  WHERE CARDID = @CARDID AND MAINCATEGORYID=@MAINCATEGORYID AND SUBCATEGORYID=@SUBCATEGORYID
INSERT INTO STOPCARDENTRYATTACHMENTS_OL(CARDID,IMAGENAME,MAINCATEGORYID,SUBCATEGORYID,STATUS,UPDATEDBY,UPDATEDDATE)
SELECT @CARDID,ITEM,@MAINCATEGORYID,@SUBCATEGORYID,1,@UPDATEDBY,@CC_TIMESTAMP FROM dbo.fnSplit(@IMAGENAME,',')
END
ELSE
INSERT INTO STOPCARDENTRYATTACHMENTS_OL(CARDID,IMAGENAME,MAINCATEGORYID,SUBCATEGORYID,STATUS,UPDATEDBY,UPDATEDDATE)
SELECT @CARDID,ITEM,@MAINCATEGORYID,@SUBCATEGORYID,1,@UPDATEDBY,@CC_TIMESTAMP FROM dbo.fnSplit(@IMAGENAME,',')

UPDATE STOPCARDENTRY_OL SET ISINCOMPLETEOBS=0,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE CARDID=@CARDID
SELECT @CARDID

END


INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'STOPCARDENTRYCATEGORYCOMMENTS/ALL_OL','INSERT-INSERTUPDATECATEGORYCOMMENTS_1.0',@CC_TIMESTAMP,@UPDATEDBY,NULL
