DECLARE @SCHEDULETYPEID INT,@SCHEDULEID INT,@URL VARCHAR(1024),@FROM VARCHAR(256)

SET @URL = ''
SET @FROM=''
SELECT @URL = OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME ='URL'
SELECT @FROM = OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME ='MAILFROM'
SELECT @SCHEDULETYPEID=SCHEDULETYPEID FROM SCHEDULETYPES WHERE SCHEDULETYPENAME = 'Site Update'

INSERT INTO SCHEDULE(COMPANYID,SCHEDULETYPEID,SUBJECT,BODY,STATUS,CREATEDBY,CREATEDDATE)
VALUES (@COMPANYID,@SCHEDULETYPEID,@SUBJECT,@BODY,1,@CREATEDBY,GETDATE())

SELECT @SCHEDULEID = @@IDENTITY

INSERT INTO USERINBOX (COMPANYID,USERID,[FROM],REPLYTO,[TO],CC,BCC,[SUBJECT],BODY,SENTDATE,READSTATUS,[TYPE],[STATUS])
SELECT @COMPANYID,U.USERID,'NOREPLY@DUPONT40.COM','',EMAIL,'','',@SUBJECT,
DBO.REGEXREPLACE(@BODY,
'01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21',
ISNULL(U.USERNAME,'')+'|'+
ISNULL(U.LASTNAME,'')+'|'+
ISNULL(U.FIRSTNAME,'')+'|'+
ISNULL(U.EMAIL,'')+'|'+
ISNULL(UI.JOBTITLE,'')+'|'+
ISNULL(SI.SITENAME,'')+'|'+
'||'+
ISNULL(R.ROLENAME,'')+'|'
+CAST(@COMPANYID AS VARCHAR(8))+'|||||||||||'+
@URL)BODY
,GETUTCDATE(),0,1,1
FROM USERSITES US
INNER JOIN DBO.CSVTOTABLE(@SITEID) S ON S.RESULT = US.SITEID
INNER JOIN SITES SI ON SI.SITEID=S.RESULT
INNER JOIN USERS U ON U.USERID = US.USERID
INNER JOIN USERINFO UI ON UI.USERID=US.USERID
INNER JOIN ROLES R ON R.ROLEID=UI.DEFAULTROLEID
WHERE US.STATUS = 1 AND U.STATUS=1


SELECT DISTINCT @SCHEDULEID SCHEDULEID,@COMPANYID COMPANYID,U.USERID, @FROM [FROM],'' REPLYTO,EMAIL [TO],'' CC,'' BCC,@SUBJECT [SUBJECT],
DBO.REGEXREPLACE(@BODY,
'01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21',
ISNULL(U.USERNAME,'')+'|'+
ISNULL(U.LASTNAME,'')+'|'+
ISNULL(U.FIRSTNAME,'')+'|'+
ISNULL(U.EMAIL,'')+'|'+
ISNULL(UI.JOBTITLE,'')+'|'+
ISNULL(SI.SITENAME,'')+'|'+
'||'+
ISNULL(R.ROLENAME,'')+'|'
+CAST(@COMPANYID AS VARCHAR(8))+'|||||||||||'+
@URL)BODY,
GETUTCDATE() SENTDATE,0 READSTATUS,@URL URL
FROM USERSITES US
INNER JOIN DBO.CSVTOTABLE(@SITEID) S ON S.RESULT = US.SITEID
INNER JOIN SITES SI ON SI.SITEID=S.RESULT
INNER JOIN USERS U ON U.USERID = US.USERID
INNER JOIN USERINFO UI ON UI.USERID=US.USERID
INNER JOIN ROLES R ON R.ROLEID=UI.DEFAULTROLEID
WHERE US.STATUS = 1 AND U.STATUS=1

UPDATE SCHEDULE SET STATUS= 0 WHERE SCHEDULEID = @SCHEDULEID
