--MAILCORRECTIVEACTION_1.0
DECLARE @USERID INT,@OTHERRESPONSIBLEPERSON NVARCHAR(512),@OTHEREMAILID VARCHAR(256),@URL VARCHAR(1024),@FROM VARCHAR(256),@INTERNALNAME NVARCHAR(32),@DEFAULTLANGUAGEID INT
DECLARE @SCHEDULETYPEID INT,@EMAILID VARCHAR(256),@DEFAULTDATEFORMAT INT
DECLARE @SCHEDULETBL TABLE([TYPE] INT,SCHEDULEID INT)

SELECT @OTHERRESPONSIBLEPERSON='',@INTERNALNAME=''
SET @FROM=''
SELECT @INTERNALNAME=OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME='Languages'
SELECT @DEFAULTLANGUAGEID=LANGUAGEID FROM LANGUAGES WHERE INTERNALNAME=@INTERNALNAME

SELECT @DEFAULTDATEFORMAT=CAST(OPTIONVALUE AS INT) FROM COMPANYOPTIONS WHERE OPTIONNAME ='DefaultDateFormat'

SELECT @SCHEDULETYPEID=SCHEDULETYPEID FROM SCHEDULETYPES WHERE SCHEDULETYPENAME='Corrective Actions Assigned'
DECLARE @OTHERUSER TABLE(SCHEDULEID INT)
DECLARE @OTHERUSERNAME NVARCHAR(512)
DECLARE @LBLAREANAME NVARCHAR(512),
@LBLSUBAREANAME NVARCHAR(512),
@LBLSHIFTNAME NVARCHAR(512),
@LBLCORRECTIVEACTIONPLANNED NVARCHAR(512),
@LBLRESPONSEREQUIREDDATE DATETIME,
@LBLPRIORITY NVARCHAR(512),
@LBLSTATUS NVARCHAR(512),
@LBLACTIONOWNER NVARCHAR(512),
@LBLOBSERVER  NVARCHAR(4000),
@LBLMAINCATEGORYNAME NVARCHAR(2000),
@LBLSUBCATNAME NVARCHAR(4000),
@LBLOBSDATE DATETIME,
@LBLCARDSTATUS NVARCHAR(512),
@CARDID INT,
@SITENAME NVARCHAR(512),
@CHECKLISTNO NVARCHAR(64),
@ACTIONOWNERMAILID NVARCHAR(512),
@ACTIONOWNER INT


SELECT @CARDID=CARDID FROM CORRECTIVEACTIONS WHERE CORRACTIONID=@CORRACTIONID

SELECT @LBLAREANAME ='',@LBLSUBAREANAME ='',@LBLSHIFTNAME='',@LBLCORRECTIVEACTIONPLANNED ='',@LBLRESPONSEREQUIREDDATE =GETDATE(),@LBLPRIORITY ='',
@LBLSTATUS ='',@LBLACTIONOWNER='',@LBLOBSERVER='',@LBLMAINCATEGORYNAME ='',@LBLSUBCATNAME ='',@LBLOBSDATE =GETDATE(),@LBLCARDSTATUS='',@SITENAME='',
@CHECKLISTNO='',@ACTIONOWNERMAILID=''

SET @OTHERUSERNAME = ''
CREATE TABLE #SCHEDULETEMP(ID INT IDENTITY(1,1),SCHEDULEID INT,OPTIONID INT)
CREATE TABLE #CORRECTIVEACTIONUSER(ID INT IDENTITY(1,1),USERID INT)
CREATE TABLE #FINALSCHEDULE(SCHEDULEID INT,USERID INT,OPTIONID INT)
CREATE TABLE #MAILSCHEDULE(SCHEDULEID INT,USERID INT,BODYTEXT NVARCHAR(MAX))
CREATE TABLE #MAILSCHEDULERP(SCHEDULEID INT,OTHERRESPONSIBLEPERSON NVARCHAR(512),OTHEREMAILID VARCHAR(256),BODYTEXT NVARCHAR(MAX))

SELECT @LBLOBSERVER=@LBLOBSERVER+LASTNAME+' '+FIRSTNAME+',' FROM STOPCARDENTRYOBSERVERS SEO
INNER JOIN USERS U ON U.USERID = SEO.OBSERVERID
WHERE CARDID=@CARDID

IF LEN(@LBLOBSERVER)>1
SELECT @LBLOBSERVER=SUBSTRING(@LBLOBSERVER,1,LEN(@LBLOBSERVER)-1)

SET @CHECKLISTNO=CAST(@CARDID AS NVARCHAR(32))+' / '+CAST(@CORRACTIONID AS NVARCHAR(32))

SELECT @OTHERRESPONSIBLEPERSON=OTHERRESPONSIBLEPERSON,@OTHEREMAILID=REPLACE(OTHEREMAILID,',','; '),
@LBLAREANAME =(SELECT ISNULL(AREANAME,'') FROM AREAS WHERE AREAID = SC.AREAID),
@LBLSUBAREANAME =ISNULL((SELECT ISNULL(SUBAREANAME,'') FROM SUBAREAS WHERE SUBAREAID = SC.SUBAREAID),''),
@LBLCORRECTIVEACTIONPLANNED = CA.ACTIONPLANNED,
@LBLSHIFTNAME =(SELECT ISNULL(SHIFTNAME,'') FROM SHIFTS WHERE SHIFTID = SC.SHIFTID),@LBLCORRECTIVEACTIONPLANNED = CA.ACTIONPLANNED,
@LBLRESPONSEREQUIREDDATE =CA.RESPONSEREQUIREDDATE,@LBLPRIORITY =CASE CA.PRIORITY WHEN 1 THEN 'LBLHIGH' WHEN 2 THEN 'LBLMEDIUM' WHEN 3 THEN 'LBLLOW' END ,
@LBLSTATUS = CASE CA.STATUS WHEN 0 THEN 'Inactive' WHEN 1 THEN 'Active' END,
@LBLACTIONOWNER=(SELECT ISNULL(LASTNAME+','+FIRSTNAME,'') FROM USERS WHERE USERID=CA.[OWNER]),
@LBLMAINCATEGORYNAME ='',@LBLSUBCATNAME ='',@LBLOBSDATE =SC.OBSERVATIONDATE,@LBLCARDSTATUS=CASE CA.CARDSTATUS WHEN 1 THEN 'LBLOPEN' WHEN 2 THEN 'LBLCOMPLETED' WHEN 3 THEN 'LBLALTERNATEACTION' END,
@SITENAME = (SELECT TOP 1 SITENAME FROM SITES WHERE SITEID = SC.SITEID),
@ACTIONOWNER=[OWNER]
FROM CORRECTIVEACTIONS CA INNER JOIN STOPCARDENTRY SC ON SC.CARDID=CA.CARDID WHERE CORRACTIONID=@CORRACTIONID

SELECT @ACTIONOWNERMAILID=EMAIL FROM USERS WHERE USERID = @ACTIONOWNER AND STATUS !=2

SELECT @LBLMAINCATEGORYNAME=@LBLMAINCATEGORYNAME+ET.ENTITYVALUE +',' FROM ENTITYTRANSLATION ET
INNER JOIN (SELECT DISTINCT MAINCATEGORYID FROM CORRECTIVEACTIONSCATEGORY WHERE CORRACTIONID=@CORRACTIONID AND ISASSIGNED=1) E
ON E.MAINCATEGORYID=ET.ENTITYID
WHERE ET.ENTITYTYPE='MAIN_CTG' AND ET.LANGUAGEID=4

IF LEN(@LBLMAINCATEGORYNAME)>0
SET @LBLMAINCATEGORYNAME=SUBSTRING(@LBLMAINCATEGORYNAME,1,LEN(@LBLMAINCATEGORYNAME)-1)
ELSE
SET @LBLMAINCATEGORYNAME=''

SELECT @LBLSUBCATNAME=@LBLSUBCATNAME+ET.ENTITYVALUE +' - '+ET1.ENTITYVALUE+',' FROM CORRECTIVEACTIONSCATEGORY CA
INNER JOIN ENTITYTRANSLATION ET ON CA.MAINCATEGORYID=ET.PARENTID AND CA.SUBCATEGORYID=ET.ENTITYID AND ET.ENTITYTYPE='SUB_CTG' AND ET.LANGUAGEID=4
INNER JOIN ENTITYTRANSLATION ET1 ON CA.MAINCATEGORYID=ET1.ENTITYID AND ET1.ENTITYTYPE='MAIN_CTG' AND ET1.LANGUAGEID=4
WHERE CA.CORRACTIONID=@CORRACTIONID AND CA.ISASSIGNED=1

IF LEN(ISNULL(@LBLSUBCATNAME,''))>0
SET @LBLSUBCATNAME=SUBSTRING(@LBLSUBCATNAME,1,LEN(@LBLSUBCATNAME)-1)
ELSE
SET @LBLSUBCATNAME=''
SET @URL = ''
SELECT @URL = OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME ='URL'
SELECT @FROM = OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME ='MAILFROM'
DECLARE @TEMP INT,@TEMPUSER INT,@TEMPSCHEDULEID INT,@TEMPOPTIONID INT

INSERT INTO #CORRECTIVEACTIONUSER(USERID)
SELECT USERID FROM CORRECTIVEACTIONSRESPONSIBLEPERSONS WHERE CORRACTIONID=@CORRACTIONID

SET @TEMP = 1
SET @TEMPUSER=1

SET NOCOUNT ON;
INSERT INTO #SCHEDULETEMP(SCHEDULEID,OPTIONID)
SELECT S.SCHEDULEID,SA.OPTIONID
FROM SCHEDULE S
INNER JOIN SCHEDULEASSIGNMENTS SA ON SA.SCHEDULEID =S.SCHEDULEID
WHERE S.STATUS=1 AND S.SCHEDULETYPEID=@SCHEDULETYPEID
ORDER BY S.SCHEDULEID,SA.OPTIONID

WHILE @TEMP < =(SELECT MAX(ID) FROM #SCHEDULETEMP)
BEGIN
SELECT @TEMPSCHEDULEID = SCHEDULEID,@TEMPOPTIONID=OPTIONID FROM #SCHEDULETEMP WHERE ID = @TEMP
SELECT @USERID=USERID FROM #CORRECTIVEACTIONUSER WHERE ID=@TEMPUSER
WHILE @TEMPUSER < =(SELECT MAX(ID) FROM #CORRECTIVEACTIONUSER)
BEGIN

IF EXISTS(SELECT OPTIONID FROM REPORTOPTIONSMASTER WHERE OPTIONID = @TEMPOPTIONID AND REPORTPARAM = 'SITEID')
BEGIN
IF EXISTS(SELECT 1 FROM #SCHEDULETEMP S
INNER JOIN SCHEDULEASSIGNMENTS SA ON SA.SCHEDULEID = S.SCHEDULEID
INNER JOIN USERSITES US ON US.SITEID = SA.OPTIONVALUE
WHERE SA.OPTIONID = @TEMPOPTIONID AND US.USERID=@USERID AND S.ID=@TEMP AND US.STATUS=1)
INSERT INTO #FINALSCHEDULE
SELECT @TEMPSCHEDULEID,@USERID,@TEMPOPTIONID
END
ELSE IF EXISTS(SELECT OPTIONID FROM REPORTOPTIONSMASTER WHERE OPTIONID = @TEMPOPTIONID AND REPORTPARAM = 'ROLEID')
BEGIN
IF EXISTS(SELECT 1 FROM #SCHEDULETEMP S
INNER JOIN SCHEDULEASSIGNMENTS SA ON SA.SCHEDULEID = S.SCHEDULEID
INNER JOIN USERINFO UI ON UI.DEFAULTROLEID = SA.OPTIONVALUE
WHERE SA.OPTIONID = @TEMPOPTIONID AND UI.USERID=@USERID AND S.ID=@TEMP)
INSERT INTO #FINALSCHEDULE
SELECT @TEMPSCHEDULEID,@USERID,@TEMPOPTIONID
END
ELSE IF EXISTS(SELECT OPTIONID FROM REPORTOPTIONSMASTER WHERE OPTIONID BETWEEN 22 AND 31 AND REPORTPARAM LIKE 'Group%')
BEGIN

IF EXISTS(SELECT 1 FROM #SCHEDULETEMP S
INNER JOIN SCHEDULEASSIGNMENTS SA ON SA.SCHEDULEID = S.SCHEDULEID
INNER JOIN USERGROUPS UG ON UG.GROUPID = SA.OPTIONVALUE
WHERE UG.USERID=@USERID AND SA.OPTIONID =@TEMPOPTIONID AND S.ID=@TEMP AND UG.STATUS=1)
BEGIN

INSERT INTO #FINALSCHEDULE
SELECT @TEMPSCHEDULEID,@USERID,@TEMPOPTIONID
END
END
SET @TEMPUSER=@TEMPUSER+1
SELECT @USERID=USERID FROM #CORRECTIVEACTIONUSER WHERE ID=@TEMPUSER
END

SET @TEMPUSER=1
SET @TEMP = @TEMP+ 1
END

INSERT INTO #MAILSCHEDULE(SCHEDULEID,USERID)
SELECT SA.SCHEDULEID,SA.USERID FROM
(SELECT SCHEDULEID,USERID,COUNT(DISTINCT OPTIONID) CNT FROM #FINALSCHEDULE GROUP BY SCHEDULEID,USERID)SA
INNER JOIN (SELECT SCHEDULEID,COUNT(DISTINCT OPTIONID) CNT FROM #SCHEDULETEMP GROUP BY SCHEDULEID) A ON SA.SCHEDULEID=A.SCHEDULEID AND SA.CNT=A.CNT


IF EXISTS(SELECT SCHEDULEID FROM SCHEDULE WHERE STATUS=1 AND SCHEDULETYPEID = 3 AND SCHEDULEID NOT IN (SELECT SCHEDULEID FROM SCHEDULEASSIGNMENTS WHERE SCHEDULEID IN (SELECT SCHEDULEID FROM SCHEDULE WHERE SCHEDULETYPEID = 3 AND STATUS =1)))
INSERT INTO #MAILSCHEDULE
SELECT S.SCHEDULEID,CA.USERID,NULL FROM 
(SELECT SCHEDULEID FROM SCHEDULE WHERE STATUS=1 AND SCHEDULETYPEID = 3 AND SCHEDULEID NOT IN (SELECT SCHEDULEID FROM SCHEDULEASSIGNMENTS WHERE SCHEDULEID IN (SELECT SCHEDULEID FROM SCHEDULE WHERE SCHEDULETYPEID = 3 AND STATUS =1)) ) s
FULL OUTER JOIN #CORRECTIVEACTIONUSER CA ON 1=1

INSERT INTO #MAILSCHEDULE(SCHEDULEID,USERID)
SELECT DISTINCT SCHEDULEID,@ACTIONOWNER FROM #MAILSCHEDULE 
	
UPDATE MS SET BODYTEXT=U.LASTNAME+'|'+U.FIRSTNAME+'|'+@LBLAREANAME+'|'+ISNULL(@LBLSUBAREANAME,'')+'|'+@LBLSHIFTNAME+'|'+@LBLCORRECTIVEACTIONPLANNED+'|'+CONVERT(VARCHAR(32),@LBLRESPONSEREQUIREDDATE,ISNULL(UI.DATEFORMAT,@DEFAULTDATEFORMAT))+'|'+(SELECT TOP 1 LABELVALUE FROM [DBO].[COMMONTRANSLATIONS] WHERE LANGUAGEID=UI.LANGUAGEID AND LABELNAME=@LBLPRIORITY)+'|'+@LBLSTATUS+'|'+@LBLACTIONOWNER+'|'+@LBLOBSERVER+'|'
FROM #MAILSCHEDULE MS
INNER JOIN USERS U ON U.USERID =MS.USERID
INNER JOIN USERINFO UI ON UI.USERID =U.USERID


IF ISNULL(@OTHERRESPONSIBLEPERSON,'')!='' 
BEGIN
INSERT INTO #MAILSCHEDULERP(SCHEDULEID,OTHERRESPONSIBLEPERSON,OTHEREMAILID)
SELECT DISTINCT CASE WHEN SA.SCHEDULEID IS NULL THEN S.SCHEDULEID ELSE SA.SCHEDULEID  END [SCHEDULEID],@OTHERRESPONSIBLEPERSON,@OTHEREMAILID FROM SCHEDULE S
INNER JOIN #MAILSCHEDULE S1 ON S1.SCHEDULEID=S.SCHEDULEID
LEFT JOIN SCHEDULEASSIGNMENTS SA ON SA.SCHEDULEID=S.SCHEDULEID
WHERE S.SCHEDULETYPEID=@SCHEDULETYPEID AND S.STATUS=1

UPDATE #MAILSCHEDULERP SET BODYTEXT='|'+@OTHERRESPONSIBLEPERSON+'|'+@LBLAREANAME+'|'+ISNULL(@LBLSUBAREANAME,'')+'|'+@LBLSHIFTNAME+'|'+@LBLCORRECTIVEACTIONPLANNED+'|'+CONVERT(VARCHAR(32),@LBLRESPONSEREQUIREDDATE,@DEFAULTDATEFORMAT)+'|'+(SELECT TOP 1 LABELVALUE FROM [DBO].[COMMONTRANSLATIONS] WHERE LANGUAGEID=ISNULL(@DEFAULTLANGUAGEID,4) AND LABELNAME=@LBLPRIORITY)+'|'+@LBLSTATUS+'|'+@LBLACTIONOWNER+'|'+@LBLOBSERVER+'|'

END

SELECT DISTINCT ST.SCHEDULEID,S.COMPANYID,ST.USERID,@FROM [FROM],S.REPLYTO [REPLYTO],U.EMAIL [TO],ISNULL(S.CC,'')+CASE WHEN LEN(@ACTIONOWNERMAILID)>1 AND ISNULL(S.CC,'')!=@ACTIONOWNERMAILID THEN (CASE WHEN LEN(ISNULL(S.CC,''))>0 THEN ';' ELSE '' END)+@ACTIONOWNERMAILID ELSE '' END CC,'' BCC,S.SUBJECT,DBO.REGEXREPLACE(S.BODY,'02|03|07|50|08|25|26|27|28|29|35|36|37|38|39|06|41',ST.BODYTEXT+ISNULL(@LBLMAINCATEGORYNAME,'')+'|'+ISNULL(@LBLSUBCATNAME,'')+'|'+CONVERT(VARCHAR(32),@LBLOBSDATE,ISNULL(UI.DATEFORMAT,@DEFAULTDATEFORMAT))+'|'+(SELECT TOP 1 LABELVALUE FROM [DBO].[COMMONTRANSLATIONS] WHERE LANGUAGEID=UI.LANGUAGEID AND LABELNAME=@LBLCARDSTATUS)+'|'+@SITENAME+'|'+@CHECKLISTNO) [BODY],GETUTCDATE() SENTDATE ,0 READSTATUS,@URL URL
FROM #MAILSCHEDULE ST
INNER JOIN SCHEDULE S ON S.SCHEDULEID=ST.SCHEDULEID
INNER JOIN USERS U ON U.USERID =ST.USERID
INNER JOIN USERINFO UI ON UI.USERID = U.USERID
UNION ALL
SELECT DISTINCT ST.SCHEDULEID,S.COMPANYID,NULL,@FROM [FROM],S.REPLYTO [REPLYTO],ST.OTHEREMAILID [TO],ISNULL(S.CC,'')+CASE WHEN LEN(@ACTIONOWNERMAILID)>1 AND ISNULL(S.CC,'')!=@ACTIONOWNERMAILID THEN (CASE WHEN LEN(ISNULL(S.CC,''))>0 THEN ';' ELSE '' END)+@ACTIONOWNERMAILID ELSE '' END CC,'' BCC,SUBJECT,DBO.REGEXREPLACE(S.BODY,'02|03|07|50|08|25|26|27|28|29|35|36|37|38|39|06|41',ST.BODYTEXT+ISNULL(@LBLMAINCATEGORYNAME,'')+'|'+ISNULL(@LBLSUBCATNAME,'')+'|'+CONVERT(VARCHAR(32),@LBLOBSDATE,@DEFAULTDATEFORMAT)+'|'+(SELECT TOP 1 LABELVALUE FROM [DBO].[COMMONTRANSLATIONS] WHERE LANGUAGEID=ISNULL(@DEFAULTLANGUAGEID,4) AND LABELNAME=@LBLCARDSTATUS)+'|'+@SITENAME+'|'+@CHECKLISTNO) BODY,GETUTCDATE() SENTDATE ,0 READSTATUS,@URL URL
FROM #MAILSCHEDULERP ST
INNER JOIN SCHEDULE S ON S.SCHEDULEID=ST.SCHEDULEID

CREATE TABLE #USERINBOX(	
	[COMPANYID] [bigint],
	[USERID] [bigint],
	[FROM] [nvarchar](512),
	[REPLYTO] [nvarchar](512),
	[TO] [nvarchar](512),
	[CC] [nvarchar](512),
	[BCC] [nvarchar](512),
	[SUBJECT] [nvarchar](2048),
	[BODY] [nvarchar](max),
	[SENTDATE] [datetime],
	[READSTATUS] [tinyint],
	[TYPE] [tinyint],
	[STATUS] [tinyint],
	[TOKENID] [bigint]
)

INSERT INTO #USERINBOX(COMPANYID,USERID,[FROM],REPLYTO,[TO],CC,BCC,[SUBJECT],BODY,SENTDATE,READSTATUS,[TYPE],[STATUS],TOKENID)
SELECT DISTINCT S.COMPANYID,ST.USERID,@FROM [FROM],S.REPLYTO [REPLYTO],U.EMAIL [TO],ISNULL(S.CC,'')+CASE WHEN LEN(@ACTIONOWNERMAILID)>1 AND ISNULL(S.CC,'')!=@ACTIONOWNERMAILID THEN (CASE WHEN LEN(ISNULL(S.CC,''))>0 THEN ';' ELSE '' END)+@ACTIONOWNERMAILID ELSE '' END CC,'' BCC,SUBJECT,DBO.REGEXREPLACE(S.BODY,'02|03|07|50|08|25|26|27|28|29|35|36|37|38|39|06|41',ST.BODYTEXT+ISNULL(@LBLMAINCATEGORYNAME,'')+'|'+ISNULL(@LBLSUBCATNAME,'')+'|'+CONVERT(VARCHAR(32),@LBLOBSDATE,ISNULL(UI.DATEFORMAT,@DEFAULTDATEFORMAT))+'|'+(SELECT TOP 1 LABELVALUE FROM [DBO].[COMMONTRANSLATIONS] WHERE LANGUAGEID=UI.LANGUAGEID AND LABELNAME=@LBLCARDSTATUS)+'|'+@SITENAME+'|'+@CHECKLISTNO) BODY,GETUTCDATE() SENTDATE ,0 READSTATUS,1,1,S.SCHEDULEID
FROM #MAILSCHEDULE ST
INNER JOIN SCHEDULE S ON S.SCHEDULEID=ST.SCHEDULEID
INNER JOIN USERS U ON U.USERID =ST.USERID
INNER JOIN USERINFO UI ON UI.USERID = U.USERID

INSERT INTO USERINBOX(COMPANYID,USERID,[FROM],REPLYTO,[TO],CC,BCC,[SUBJECT],BODY,SENTDATE,READSTATUS,[TYPE],[STATUS],TOKENID,CORRACTIONID)
SELECT COMPANYID,USERID,[FROM],REPLYTO,[TO],CC,BCC,[SUBJECT],BODY,SENTDATE,READSTATUS,[TYPE],[STATUS],TOKENID,@CORRACTIONID FROM #USERINBOX

DROP TABLE #SCHEDULETEMP
DROP TABLE #CORRECTIVEACTIONUSER
DROP TABLE #FINALSCHEDULE
DROP TABLE #MAILSCHEDULE
DROP TABLE #MAILSCHEDULERP
DROP TABLE #USERINBOX

