--MAILSITETARGETUPDATE_1.0
DECLARE @SITENAME NVARCHAR(512),@BODY NVARCHAR(MAX),@FROM NVARCHAR(512),@EMAILID NVARCHAR(512),@URL NVARCHAR(512),@CREATEDBYUSERNAME NVARCHAR(512)
SELECT @SITENAME='',@BODY='',@FROM ='',@EMAILID='',@URL='',@CREATEDBYUSERNAME =''

DECLARE @JAN INT,@FEB INT,@MAR INT,@APR INT,@MAY INT,@JUN INT,@JUL INT,@AUG INT,@SEP INT,@OCT INT,@NOV INT,@DEC INT,@WEEKLYTARGET INT

IF @TARGETTYPE=0
BEGIN
SELECT @JAN =JAN,@FEB =FEB,@MAR =MAR,@APR =APR,@MAY =MAY,@JUN =JUN,@JUL =JUL,@AUG =AUG,@SEP =SEP,@OCT =OCT,@NOV =NOV,@DEC =DEC FROM TARGETSITES WHERE SITEID=@SITEID

SELECT @EMAILID=@EMAILID+EMAIL+';' FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID=U.USERID
WHERE UI.DEFAULTSITEID=@SITEID AND STATUS !=2

SELECT @BODY=BODY FROM SCHEDULE WHERE SCHEDULETYPEID = 15
SELECT @URL = OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME ='URL'
SELECT @FROM = OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME ='MAILFROM'
SELECT @SITENAME=SITENAME+' site' FROM SITES WHERE SITEID=@SITEID
SELECT @CREATEDBYUSERNAME=LASTNAME+' '+FIRSTNAME FROM USERS WHERE USERID=@USERID

SET @BODY=REPLACE(@BODY,'[TGTJAN]',@JAN)
SET @BODY=REPLACE(@BODY,'[TGTFEB]',@FEB)
SET @BODY=REPLACE(@BODY,'[TGTMAR]',@MAR)
SET @BODY=REPLACE(@BODY,'[TGTAPR]',@APR)
SET @BODY=REPLACE(@BODY,'[TGTMAY]',@MAY)
SET @BODY=REPLACE(@BODY,'[TGTJUN]',@JUN)
SET @BODY=REPLACE(@BODY,'[TGTJUL]',@JUL)
SET @BODY=REPLACE(@BODY,'[TGTAUG]',@AUG)
SET @BODY=REPLACE(@BODY,'[TGTSEP]',@SEP)
SET @BODY=REPLACE(@BODY,'[TGTOCT]',@OCT)
SET @BODY=REPLACE(@BODY,'[TGTNOV]',@NOV)
SET @BODY=REPLACE(@BODY,'[TGTDEC]',@DEC)

INSERT INTO USERINBOX (COMPANYID,USERID,[FROM],REPLYTO,[TO],CC,BCC,[SUBJECT],BODY,SENTDATE,READSTATUS,[TYPE],[STATUS],TOKENID)
SELECT S.COMPANYID,U.USERID,@FROM [FROM],REPLYTO [REPLYTO],U.EMAIL [TO],'' CC,'' BCC,SUBJECT [SUBJECT],DBO.REGEXREPLACE(@BODY,'06|42',@SITENAME+'|'+@CREATEDBYUSERNAME) BODY,GETUTCDATE() SENTDATE,0 READSTATUS,1,1,S.SCHEDULEID
FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID=U.USERID
LEFT JOIN SCHEDULE S ON S.SCHEDULETYPEID=15
WHERE UI.DEFAULTSITEID=@SITEID AND U.STATUS !=2

SELECT SCHEDULEID,COMPANYID,0 USERID, @FROM [FROM],REPLYTO [REPLYTO],(SELECT TOP 1 EMAIL FROM USERS WHERE USERID=@USERID) [TO],'' CC,@EMAILID BCC,SUBJECT [SUBJECT],DBO.REGEXREPLACE(@BODY,'06|42',@SITENAME+'|'+@CREATEDBYUSERNAME) BODY,GETUTCDATE() SENTDATE ,0 READSTATUS,@URL URL
FROM SCHEDULE WHERE SCHEDULETYPEID=15
END
ELSE IF @TARGETTYPE=1
BEGIN
SELECT @BODY=BODY FROM SCHEDULE WHERE SCHEDULETYPEID = 16
SELECT @URL = OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME ='URL'
SELECT @FROM = OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME ='MAILFROM'
SELECT @WEEKLYTARGET=WEEKTARGET FROM WEEKLYTARGETSITES WHERE SITEID=@SITEID
SELECT @CREATEDBYUSERNAME=LASTNAME+' '+FIRSTNAME FROM USERS WHERE USERID=@USERID

SELECT @EMAILID=@EMAILID+EMAIL+';' FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID=U.USERID
WHERE UI.DEFAULTSITEID=@SITEID AND STATUS !=2

SELECT @SITENAME=SITENAME+' site' FROM SITES WHERE SITEID=@SITEID
SET @BODY=REPLACE(@BODY,'[WeeklyTarget]',@WEEKLYTARGET)

INSERT INTO USERINBOX (COMPANYID,USERID,[FROM],REPLYTO,[TO],CC,BCC,[SUBJECT],BODY,SENTDATE,READSTATUS,[TYPE],[STATUS],TOKENID)
SELECT S.COMPANYID,U.USERID,@FROM [FROM],REPLYTO [REPLYTO],U.EMAIL [TO],'' CC,'' BCC,SUBJECT [SUBJECT],DBO.REGEXREPLACE(@BODY,'06|42',@SITENAME+'|'+@CREATEDBYUSERNAME) BODY,GETUTCDATE() SENTDATE,0 READSTATUS,1,1,S.SCHEDULEID
FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID=U.USERID
LEFT JOIN SCHEDULE S ON S.SCHEDULETYPEID=16
WHERE UI.DEFAULTSITEID=@SITEID AND U.STATUS !=2

SELECT SCHEDULEID,COMPANYID,0 USERID, @FROM [FROM],REPLYTO [REPLYTO],(SELECT TOP 1 EMAIL FROM USERS WHERE USERID=@USERID) [TO],'' CC,@EMAILID BCC,SUBJECT [SUBJECT],DBO.REGEXREPLACE(@BODY,'06|42',@SITENAME+'|'+@CREATEDBYUSERNAME) BODY,GETUTCDATE() SENTDATE ,0 READSTATUS,@URL URL
FROM SCHEDULE WHERE SCHEDULETYPEID=16

END
