DECLARE @SCHEDULETYPEID INT,@SCHEDULEID INT,@OPTIONID INT,@EMAILID VARCHAR(256),@FROM VARCHAR(256)
DECLARE @FLAG TINYINT
DECLARE @SCHEDULETBL TABLE(SCHEDULEID INT)


CREATE TABLE #SCHEDULETEMP(ID INT IDENTITY(1,1),SCHEDULEID INT,OPTIONID INT,ISEXISTS TINYINT)
CREATE TABLE #FINALSCHEDULE(SCHEDULEID INT)
DECLARE @REGEXREPLACETEXT NVARCHAR(1024) ,@URL VARCHAR(1024),@LANGUAGEID INT
SET @URL = ''
SET @FROM=''
SELECT @URL = OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME ='URL'
SELECT @FROM = OPTIONVALUE FROM COMPANYOPTIONS WHERE OPTIONNAME ='MAILFROM'
SET @REGEXREPLACETEXT=''

SELECT @REGEXREPLACETEXT=USERNAME+'|'+LASTNAME+'|'+FIRSTNAME+'|'+@URL+'|'+DBO.fn40Decrypt(PASSWORD)+'|'+ROLENAME 
FROM USERS U
INNER JOIN USERINFO UI ON UI.USERID = U.USERID
INNER JOIN ROLES R ON R.ROLEID=UI.DEFAULTROLEID
WHERE U.USERID = @USERID

SELECT @LANGUAGEID =LANGUAGEID FROM USERINFO WHERE USERID =@USERID

DECLARE @TEMP INT,@TEMPSCHEDULEID INT,@TEMPOPTIONID INT
SET @TEMP = 1

SELECT @SCHEDULETYPEID=SCHEDULETYPEID FROM SCHEDULETYPES WHERE SCHEDULETYPENAME='New User'
SELECT @SCHEDULEID=SCHEDULEID FROM SCHEDULE WHERE SCHEDULETYPEID=@SCHEDULETYPEID


SELECT @EMAILID=EMAIL FROM USERS WHERE USERID = @USERID

IF EXISTS(SELECT 1 FROM SCHEDULETYPES WHERE SCHEDULETYPEID=@SCHEDULETYPEID AND STATUS =1)
IF EXISTS(SELECT 1 FROM SCHEDULE WHERE SCHEDULETYPEID=@SCHEDULETYPEID)
BEGIN




SELECT @OPTIONID = OPTIONID FROM REPORTOPTIONSMASTER WHERE OPTIONNAME= 'SITES'
INSERT INTO #SCHEDULETEMP(SCHEDULEID,OPTIONID,ISEXISTS)
SELECT S.SCHEDULEID,SA.OPTIONID,0
FROM SCHEDULE S
INNER JOIN SCHEDULEASSIGNMENTS SA ON SA.SCHEDULEID =S.SCHEDULEID
WHERE S.STATUS=1 AND S.SCHEDULETYPEID=@SCHEDULETYPEID
ORDER BY S.SCHEDULEID,SA.OPTIONID

WHILE @TEMP < =(SELECT MAX(ID) FROM #SCHEDULETEMP)
BEGIN
SELECT @TEMPSCHEDULEID = SCHEDULEID,@TEMPOPTIONID=OPTIONID FROM #SCHEDULETEMP WHERE ID = @TEMP
IF EXISTS(SELECT OPTIONID FROM REPORTOPTIONSMASTER WHERE OPTIONID = @TEMPOPTIONID AND OPTIONNAME = 'Sites')
BEGIN
IF EXISTS(SELECT 1 FROM #SCHEDULETEMP S
INNER JOIN SCHEDULEASSIGNMENTS SA ON SA.SCHEDULEID = S.SCHEDULEID
INNER JOIN USERSITES US ON US.SITEID = SA.OPTIONVALUE
WHERE SA.OPTIONID = @TEMPOPTIONID AND US.USERID=@USERID AND S.ID=@TEMP)
UPDATE #SCHEDULETEMP SET ISEXISTS= 1 WHERE ID = @TEMP
END
ELSE IF EXISTS(SELECT OPTIONID FROM REPORTOPTIONSMASTER WHERE OPTIONID = @TEMPOPTIONID AND OPTIONNAME = 'Roles')
BEGIN
IF EXISTS(SELECT 1 FROM #SCHEDULETEMP S
INNER JOIN SCHEDULEASSIGNMENTS SA ON SA.SCHEDULEID = S.SCHEDULEID
INNER JOIN USERINFO UR ON UR.DEFAULTROLEID = SA.OPTIONVALUE
WHERE SA.OPTIONID =@TEMPOPTIONID AND UR.USERID=@USERID AND S.ID=@TEMP)
UPDATE #SCHEDULETEMP SET ISEXISTS= 1 WHERE ID = @TEMP
END
SET @TEMP = @TEMP+ 1
END

DELETE FROM #SCHEDULETEMP WHERE SCHEDULEID IN (SELECT SCHEDULEID FROM #SCHEDULETEMP GROUP BY SCHEDULEID,OPTIONID HAVING MAX(ISEXISTS)=0)
INSERT INTO #FINALSCHEDULE
SELECT DISTINCT SCHEDULEID FROM #SCHEDULETEMP

INSERT INTO #FINALSCHEDULE
SELECT CASE WHEN SA.SCHEDULEID IS NULL THEN S.SCHEDULEID ELSE NULL END FROM SCHEDULE S
LEFT JOIN SCHEDULEASSIGNMENTS SA ON SA.SCHEDULEID=S.SCHEDULEID
WHERE S.SCHEDULETYPEID=@SCHEDULETYPEID

SELECT DISTINCT ST.SCHEDULEID,COMPANYID,@USERID USERID, @FROM[FROM],S.REPLYTO [REPLYTO],@EMAILID [TO],'' CC,'' BCC,ISNULL(SEC.SUBJECT,S.SUBJECT) [SUBJECT],DBO.REGEXREPLACE(ISNULL(SEC.BODY,S.BODY),'01|02|03|21|33|34',@REGEXREPLACETEXT) BODY,GETUTCDATE() SENTDATE ,0 READSTATUS,@URL URL
FROM #FINALSCHEDULE ST
INNER JOIN SCHEDULE S ON S.SCHEDULEID=ST.SCHEDULEID
LEFT JOIN SCHEDULEEMAILCONTENT SEC ON SEC.SCHEDULEID=ST.SCHEDULEID AND SEC.LANGUAGEID = @LANGUAGEID

--INSERT INTO USERINBOX (COMPANYID,USERID,[FROM],REPLYTO,[TO],CC,BCC,[SUBJECT],BODY,SENTDATE,READSTATUS,[TYPE],[STATUS])
--SELECT DISTINCT COMPANYID,@USERID USERID,@FROM [FROM],S.REPLYTO [REPLYTO],@EMAILID [TO],'' CC,'' BCC,ISNULL(SEC.SUBJECT,S.SUBJECT) [SUBJECT],DBO.REGEXREPLACE(ISNULL(SEC.BODY,S.BODY),'01|02|03|21|33|34',@REGEXREPLACETEXT) BODY,GETUTCDATE() SENTDATE,0 READSTATUS,1,1
--FROM #FINALSCHEDULE ST
--INNER JOIN SCHEDULE S ON S.SCHEDULEID=ST.SCHEDULEID
--LEFT JOIN SCHEDULEEMAILCONTENT SEC ON SEC.SCHEDULEID=ST.SCHEDULEID AND SEC.LANGUAGEID = @LANGUAGEID
END

DROP TABLE #SCHEDULETEMP
DROP TABLE #FINALSCHEDULE
