SELECT DISTINCT T.[SITEID],
  STUFF((SELECT DISTINCT ', ' + CAST(T1.AREAID AS VARCHAR(50))
         FROM SITEAREAS T1
         WHERE T.[SITEID] = T1.[SITEID]
         AND T1.AREAID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@AREAID))
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)') 
        ,1,2,'') AREAID
FROM SITEAREAS T WHERE T.SITEID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SITEID))


     SELECT DISTINCT T.[SITEID],
  STUFF((SELECT DISTINCT ', ' + CAST(T1.SHIFTID AS VARCHAR(50))
         FROM SITESHIFTS T1
         WHERE T.[SITEID] = T1.[SITEID]
         AND T1.SHIFTID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SHIFTID))
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)') 
        ,1,2,'') SHIFTID
FROM SITESHIFTS T WHERE T.SITEID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SITEID))
