{
"GETAREALISTING":"GETAREALIST_1.0",
"DELETEAREA":"DELETEAREA_1.0",
"CHANGESTATUSAREAS":"CHANGESTATUS_AREAS_1.0",
"INSERTAREAINFO":"INSERTAREAGENERALINFO_1.0",
"UPDATEAREAINFO":"UPDATEAREAGENERALINFO_1.0",
"GETAREASITESASSGN":"GETAREASITESASSGN_1.0",
"UPDATEAREASITES":"UPDATEAREASITES_1.0",
"GETSHIFTLISTING":"GETSHIFTLIST1.0",
"DELETESHIFT":"DELETESHIFT_1.0",
"CHANGESTATUSSHIFTS":"CHANGESTATUS_SHIFTS_1.0",
"INSERTSHIFTINFO":"INSERTSHIFTGENERALINFO_1.0",
"UPDATESHIFTINFO":"UPDATESHIFTGENERALINFO_1.0",
"GETSHIFTSITESASSGN":"GETSHIFTSITESASSGN_1.0",
"UPDATESHIFTSITES":"UPDATESHIFTSITES_1.0",
"GETGROUPTYPE":"GETGROUPTYPE_1.0",
"GETGROUPS_USERGROUPS":"GETGROUPS_USERGROUPS_1.0",
"INSERTUSERGROUPS":"INSERTUSERGROUPS_1.0",
"GETUSERLIST":"GETUSERLIST_1.0",
"GETSITES":"GETSITES_1.0",
"GETTARGETUSERS":"GETTARGETUSERS_1.0",
"INSERTTARGETUSERS":"INSERTTARGETUSERS_1.0",
"GETREPORTS":"GETREPORTS_1.0",
"GETREPORTOPTIONSFILTER":"GETREPORTOPTIONS_FILTER_1.0",
"WASITES":"WACCESS_SITES_1.0",
"WOSITES":"WOACCESS_SITES_1.0",
"WAAREAS":"WACCESS_AREAS_1.0",
"WOAREAS":"WOACCESS_AREAS_1.0",
"WAOBSERVERS":"WACCESS_OBSERVERS_1.0",
"WOOBSERVERS":"WOACCESS_OBSERVERS_1.0",
"WASHIFTS":"WACCESS_SHIFTS_1.0",
"WOSHIFTS":"WOACCESS_SHIFTS_1.0",
"WAMAINCATEGORY":"WACCESS_MAINCATEGORY_1.0",
"WOMAINCATEGORY":"WOACCESS_MAINCATEGORY_1.0",
"WASUBCATEGORY":"WACCESS_SUBCATEGORY_1.0",
"WOSUBCATEGORY":"WOACCESS_SUBCATEGORY_1.0",
"WAUSERLEVEL":"WACCESS_USERLEVEL_1.0",
"WOUSERLEVEL":"WOACCESS_USERLEVEL_1.0",
"WAREDFLAGS":"WACCESS_REDFLAGS_1.0",
"WOREDFLAGS":"WOACCESS_REDFLAGS_1.0",
"WAGROUP1":"WACCESS_GROUP1_1.0",
"WAGROUP2":"WACCESS_GROUP2_1.0",
"WAGROUP3":"WACCESS_GROUP3_1.0",
"WAGROUP4":"WACCESS_GROUP4_1.0",
"WAGROUP5":"WACCESS_GROUP5_1.0",
"WAGROUP6":"WACCESS_GROUP6_1.0",
"WAGROUP7":"WACCESS_GROUP7_1.0",
"WAGROUP8":"WACCESS_GROUP8_1.0",
"WAGROUP9":"WACCESS_GROUP9_1.0",
"WAGROUP10":"WACCESS_GROUP10_1.0",
"WASETUPS":"WACCESS_SETUPS_1.0",
"WOSETUPS":"WOACCESS_SETUPS_1.0",
"WACCESSOBSSTATUS":"WACCESS_OBSSTATUS_1.0",
"WACCESSOBSZEROCHECKLISTVALUE":"WACCESS_OBSZEROCHECKLISTVALUE_1.0",
"WACCESSINCLUDEHISTDATAVALUE":"WACCESS_INCLUDEHISTDATAVALUE_1.0",
"WACCESSINCLUDECHECKLISTVALUE":"WACCESS_INCLUDECHECKLISTVALUE_1.0",
"WACCESSPRIORITYVALUE":"WACCESS_PRIORITYVALUE_1.0",
"WACCESSCARDSTATUS":"WACCESS_CARDSTATUS_1.0",
"WACCESSMETRICS":"WACCESS_METRICS_1.0",
"GETREPORTOPTIONSEDIT":"GETREPORTOPTIONS_EDIT_1.0",
"UPDATEREPORTOPTIONMASTER":"UPDATEREPORTOPTIONMASTER_1.0",
"GETREPORTS_INFO":"GETREPORTS_INFO_1.0",
"REPORTUSERS":"REPORT_USERS_1.0",
"REPORTSITES":"REPORT_SITES_1.0",
"REPORTOBSERVERS":"REPORT_OBSERVERS_1.0",
"GETUSERROLES":"GETUSERROLES_1.0",
"GETGROUPS":"GETGROUPS_1.0",
"UPDATEREPORTFILTER":"UPDATEREPORTFILTER_1.0",
"CHECKLISTITEMS":"CHECKLISTITEMS_1.0",
"INSERTCHECKLISTITEMS":"INSERTCHECKLISTITEMS_1.0",
"UPDATECHECKLISTITEMS":"UPDATECHECKLISTITEMS_1.0",
"GETCHECKLISTITEMS":"GETCHECKLISTITEMS_1.0",
"UPDATECHECKLISTITEMSSTATUS":"UPDATECHECKLISTITEMSSTATUS_1.0",
"DELETECHECKLISTITEMS":"DELETECHECKLISTITEMS_1.0",
"GETACTIVELANGUAGES":"GETACTIVELANGUAGES_1.0",
"GETCHECKLISTITEMTRANSLATION":"GETCHECKLISTITEMTRANSLATION_1.0",
"UPDATECHECKLISTITEMTRANSLATION":"UPDATECHECKLISTITEMTRANSLATION_1.0",
"GETCHECKLISTSETUPLIST":"GETCHECKLISTSETUPLIST_1.0",
"INSERTCHECKLISTSETUP":"INSERTCHECKLISTSETUP_1.0",
"GETSETUPASSIGNEDMAINCATEGORY":"GETSETUPASSIGNEDMAINCATEGORY_1.0",
"GETSETUPSUBCATEGORY":"GETSETUPSUBCATEGORY_1.0-GETSETUPASSIGNEDSUBCATEGORY_1.0",
"UPDATESETUPSUBCATEGORY":"UPDATESETUPSUBCATEGORY_1.0",
"UPDATESETUPSITES":"UPDATESETUPSITES_1.0",
"GETACTIVELISTITEMS":"GETACTIVELISTITEMS_1.0",
"UPDATESETUPLINEITEMS":"UPDATESETUPLINEITEMS_1.0",
"GETSETUPSITELIST":"GETSETUPSITELIST_1.0",
"GETSETUPINFO":"GETSETUPINFO_1.0",
"GETSETUPINFOMAINCATEGORY":"GETSETUPINFOMAINCATEGORY_1.0",
"UPDATESETUPMAINCATEGORY":"UPDATESETUPMAINCATEGORY_1.0",
"UPDATECHECKLISTSETUP":"UPDATECHECKLISTSETUP_1.0",
"UPDATESETUPSTATUS":"UPDATESETUPSTATUS_1.0",
"DELETESETUP":"DELETESETUP_1.0",
"INSERTROLES":"INSERTROLES_1.0",
"GETROLESLIST":"GETROLESLIST_1.0",
"UPDATEROLESSTATUS":"UPDATEROLESSTATUS_1.0",
"DELETEROLES":"DELETEROLES_1.0",
"GETUSERSLISTROLES":"GETUSERSLISTROLES_1.0",
"UPDATEROLES":"UPDATEROLES_1.0",
"GETROLEINFO":"GETROLEINFO_1.0",
"UPDATEROLEASSIGNMENT":"UPDATEROLEASSIGNMENT_1.0",
"GETREPORTLISTROLES":"GETREPORTLISTROLES_1.0",
"UPDATEROLEREPORTASSIGMENT":"UPDATEROLEREPORTASSIGMENT_1.0",
"INSERTSYSALERT":"INSERTSYSALERT_1.0",
"GETSYSALERTLISTING":"GETSYSALERTLISTING_1.0",
"GETSYSALERTINFO":"GETSYSALERTINFO_1.0",
"DELETESYSALERT":"DELETESYSALERT_1.0",
"UPDATESYSALERT":"UPDATESYSALERT_1.0",
"GETTIMEZONE":"GETTIMEZONE_1.0",
"UPDATEGLOBALOPTIONS":"UPDATEGLOBALOPTIONS_1.0",
"UPDATEGLOBALOPTIONCONFIG":"UPDATEGLOBALOPTIONCONFIG_1.0",
"GETGLOBALOPTIONS":"GETGLOBALOPTIONS_1.0",
"GETGLOBALOPTIONCONFIG":"GETINACTIVELANGUAGES_1.0-GETACTIVELANGUAGES_1.0-GETINACTIVEGROUPTYPES_1.0-GETACTIVEGROUPTYPES_1.0-GETINACTIVESCHEDULETYPE_1.0-GETEMAILTYPEWITHOUTDEFAULT_1.0-GETACTIVELANGUAGES_1.0-GETGLOBALLANG_1.0-GETINACTIVETIMEZONES_1.0-GETACTIVETIMEZONES_1.0-GETACTIVETIMEZONES_1.0",
"GETMAINCATEGORYLIST":"GETMAINCATEGORYLIST_1.0",
"GETCATEGORYGENERALINFO":"GETCATEGORYGENERALINFO_1.0",
"GETSUBCATEGORYASSIGNMENTS":"GETSUBCATEGORYASSIGNMENTS_1.0",
"GETLANGUAGES":"GETLANGUAGES_1.0",
"GETCATEGORYTRANSLATION":"GETCATEGORYTRANSLATION_1.0",
"GETMAINCATEGORY":"GETMAINCATEGORY_1.0",
"CATEGORYNAMEEXISTS":"CATEGORYNAMEEXISTS_1.0",
"INSERTMAINCATEGORY":"INSERTMAINCATEGORY_1.0",
"CATEGORYNAMEEXISTSUPDATE":"CATEGORYNAMEEXISTSUPDATE_1.0",
"UPDATEMAINCATEGORY":"UPDATEMAINCATEGORY_1.0",
"DELETEMAINCATEGORY":"DELETEMAINCATEGORY_1.0",
"UPDATESTATUSMAINCATEGORY":"UPDATESTATUSMAINCATEGORY_1.0",
"INSERTSUBCATEGORY":"INSERTSUBCATEGORY_1.0",
"UPDATECATEGORYTRANSLATION":"UPDATECATEGORYTRANSLATION_1.0",
"UPDATESUBCATEGORYASSIGNMENTS":"UPDATESUBCATEGORYASSIGNMENTS_1.0",
"DELETESUBCATEGORY":"DELETESUBCATEGORY_1.0",
"GETSUBCATEGORYLISTING":"GETSUBCATEGORYLIST_1.0",
"GETCHECKLISTSETUP":"GETCHECKLISTSETUP_1.0",
"GETCHECKLISTOBSERVERS":"GETCHECKLISTOBSERVERS_1.0",
"GETCHECKLISTSITELIST":"GETCHECKLISTSITELIST_1.0",
"GETCHECKLISTAREALIST":"GETCHECKLISTAREALIST_1.0",
"GETCHECKLISTSHIFTLIST":"GETCHECKLISTSHIFTLIST_1.0",
"INSERTSTOPCARDCHECKLIST":"INSERTSTOPCARDCHECKLIST_1.0",
"GETSTOPCARDLISTING":"GETSTOPCARDLISTING_1.0",
"GETSTOPCARDCHECKLISTINFO":"GETSTOPCARDCHECKLISTINFO_1.0",
"GETDEFAULTSITEIDLOGINUSER":"GETDEFAULTSITEIDLOGINUSER_1.0",
"GETEDITCHECKLISTOBSERVERS":"GETEDITCHECKLISTOBSERVERS_1.0",
"UPDATESTOPCARDCHECKLIST":"UPDATESTOPCARDCHECKLIST_1.0",
"DELETESTOPCARDCHECKLIST":"DELETESTOPCARDCHECKLIST_1.0",
"UPDATESTATUSSTOPCARD":"UPDATESTATUSSTOPCARD_1.0",
"GETSTOPCARDOBSERVATION":"GETSTOPCARDOBSERVATION_1.0",
"INSERTSTOPCARDOBSERVATIONS":"INSERTSTOPCARDOBSERVATIONS_1.0",
"GETSTOPCARDOBSERVATIONSAFEUNSAFE":"GETSTOPCARDOBSERVATIONSAFEUNSAFE_1.0",
"GETCHECKLISTSETUPTYPE":"GETCHECKLISTSETUPTYPE_1.0",
"GETSTOPCARDOBSERVATIONFORLINEITEMS":"GETSTOPCARDOBSERVATIONFORLINEITEMS_1.0",
"INSERTCORRACTIVEACTION":"INSERTCORRACTIVEACTION_1.0",
"GETCORRACTIVEACTIONGENERALINFO":"GETCORRACTIVEACTIONGENERALINFO_1.0",
"GETCORRACTIVEACTIONLISTING":"GETCORRACTIVEACTIONLISTING_1.0",
"UPDATECORRACTIVEACTION":"UPDATECORRACTIVEACTION_1.0",
"GETCORRACTIVEACTIONREPPERSON":"GETCORRACTIVEACTIONREPPERSON_1.0",
"GETCORRACTIVEACTIONLISTINGFORSELCARD":"GETCORRACTIVEACTIONLISTINGFORSELCARD_1.0",
"INSERTCORRACTIVEACTIONCATEGORYASSIGN":"INSERTCORRACTIVEACTIONCATEGORYASSIGN_1.0",
"GETSUBCATEGORY":"GETSUBCATEGORY_1.0",
"GETCORRACTIVEACTIONTABINFO":"GETCORRACTIVEACTIONTABINFO_1.0",
"UPDATECORRACTIVEACTIONCATEGORYASSIGN":"UPDATECORRACTIVEACTIONCATEGORYASSIGN_1.0",
"GETCORRACTIVEACTIONTYPELISTING":"GETCORRACTIVEACTIONTYPELISTING_1.0",
"GETCHECKLISTSETUPFORCOMBO":"GETCHECKLISTSETUPFORCOMBO_1.0",
"GETTRANSLATIONS":"GETTRANSLATIONS_1.0",
"UPDATETRANSLATION":"UPDATETRANSLATION_1.0",
"GETUSERINFO":"GETUSERINFO_1.0-GETUSERSITESAVAIL_1.0-GETUSERSITESASSIGNEDXML_1.0-GETACTIVELANGUAGES_1.0-GETACTIVETIMEZONES_1.0-GETUSERROLESAVAIL_1.0-GETUSERSITESASSIGNED_1.0-GETDEFAULTGLOBALOPTON_1.0-GETALLSITESTIMEZONE_1.0",
"USEREXISTUSERID":"CHKUSEREXISTS_1.0",
"INSERTUSERS":"INSERTUSER_1.0",
"INSERTUSERFULL":"INSERTUSERINFO_1.0-INSERTUSERROLES_1.0-INSERTUSERSITES_1.0",
"UPDATEUSERS":"UPDATEUSER_1.0",
"USEREXISTEDIT":"CHKUSEREXISTUPDATE_1.0",
"DELETEUSERS":"DELETEUSER_1.0",
"CHANGESTATUSUSERS":"CHANGESTATUS_USERS_1.0",
"GETROLEPERMISSION":"GETROLEPERMISSION_1.0",

"GETGROUPLISTING":"GETGROUPLIST_1.0",
"GETGROUPTYPES":"GETGROUPTYPES_1.0",
"DELETEGROUPS":"DELETEGROUPS_1.0",
"CHANGESTATUSGROUPS":"CHANGESTATUS_GROUPS_1.0",
"CHKGROUPEXIST":"CHKGROUPEXIST_1.0",
"INSERTGROUPS":"INSERTGROUPS_1.0",
"INSERGROUPTRANSLATION":"INSERGROUPTRANSLATION_1.0",
"GETGROUPINFO":"GETGROUPINFO_1.0",
"CHKGROUPEXISTEDIT":"CHKGROUPEXISTEDIT_1.0",
"UPDATEGROUPS":"UPDATEGROUPS_1.0",
"ASSGNUSRTOGRP":"ASSIGNUSRSTOGRP_1.0",
"GETUSERSFORAVAILASSIGN":"GETUSERSAVAILFORGROUPS_1.0-GETUSERSASSGFORGROUPS_1.0",
"UPDATEGROUPSTRANSLATION":"UPDATEGROUPSTRANSLATION_1.0",


"GETSITELISTING":"GETSITELISTING_1.0",
"GETSITEINFO":"GETSITEGENERALINFO_1.0-GETCOUNTRIES_1.0-GETACTIVETIMEZONES_1.0",
"GETCOUNTRIES":"GETCOUNTRIES_1.0-GETACTIVETIMEZONES_1.0-GETGLOBALTIMEZONE_1.0",
"INSERTSITEGENERALINFO":"INSERTSITES_1.0",
"CHANGESITESTATUS":"CHANGESITESTATUS_1.0",
"DELETESITES":"DELETETARGETSITES_1.0-DELETEUSERSITES_1.0-DELETESITES_1.0",
"GETSITEGROUPSINFO":"GETGROUPSAVAILTOSITE_1.0-GETGROUPSASSGNTOSITE_1.0-GETGROUPTYPES_1.0",
"GETSITEAREASINFO":"GETAREASAVAILTOSITE_1.0-GETAREASASSGNTOSITE_1.0",
"GETSITESHIFTSINFO":"GETSHIFTSAVAILTOSITE_1.0-GETSHIFTSASSGNTOSITE_1.0",
"GETSITEUSERSINFO":"GETUSERSAVAILTOSITE_1.0",
"UPDATESITEINFO":"UPDATESITEINFO_1.0",
"UPDATESITEAREAASSIGN":"UPDATESITEAREAASSIGN_1.0",
"UPDATESITESHIFTSASSIGN":"UPDATESITESHIFTSASSIGN_1.0",
"UPDATESITEUSERSASSIGN":"UPDATESITEUSERSASSIGN_1.0",
"UPDATESITEGROUPSASSIGN":"UPDATESITEGROUPSASSIGN_1.0",
"GETTARGETFORSITE":"GETTARGETFORSITE_1.0",
"INSERTTARGETFORSITE":"ÏNSERTTARGETFORSITE_1.0",
"GETSTOPCARDOBSERVATIONPREVIEW":"GETSTOPCARDOBSERVATIONPREVIEW_1.0",
"GETSTOPCARDLINEITEMSPREVIEW":"GETSTOPCARDLINEITEMSPREVIEW_1.0",
"VALIDATELOGIN":"VALIDATELOGIN_1.0",
"GETGLOBALLANGUAGE":"GETGLOBALLANGUAGE_1.0",
"VALIDATEUSERNAMEMAILID":"VALIDATEUSERNAMEMAILID_1.0",
"RESETFORGOTPWD":"RESETFORGOTPWD_1.0",
"GETREDFLAGLISTING":"GETREDFLAGLISTING_1.0",
"GETALLOBSERVERS":"GETALLOBSERVERS_1.0",
"GETMAINCATEGORYFORSETUP":"GETMAINCATEGORYFORSETUP_1.0",
"GETSUBCATEGORYFORSETUP":"GETSUBCATEGORYFORSETUP_1.0",
"GETCHECKLISTSETUPFORREDFLAG":"GETCHECKLISTSETUPFORREDFLAG_1.0",
"INSERTREDFLAG":"INSERTREDFLAG_1.0",
"GETREDFLAGGENERALINFO":"GETREDFLAGGENERALINFO_1.0",
"UPDATEREDFLAG":"UPDATEREDFLAG_1.0",
"DELETEREDFLAG":"DELETEREDFLAG_1.0",
"UPDATEREDFLAGSTATUS":"UPDATEREDFLAGSTATUS_1.0",
"GETREPONSIBLEPERSON":"GETREPONSIBLEPERSON_1.0",
"GETTRNSLATIONFORGROUPS":"GETTRNSLATIONFORGROUPS_1.0",
"GETGRPTYPELANGUGES":"GETGROUPTYPE_1.0-GETACTIVELANGUAGES_1.0",
"WOSSITEOBSERVERS":"WACCESS_OBSERVERS_1.0",
"GETFILTERBASEDSTOPCARDLISTING":"GETFILTERBASEDSTOPCARDLISTING_1.0",
"GETFILTERBASEDCORRACTIVEACTIONTYPELISTING":"GETFILTERBASEDCORRACTIVEACTIONTYPELISTING_1.0",
"GETFILTERBASEDINJURYSTATSLISTING":"GETFILTERBASEDINJURYSTATSLISTING_1.0",
"GETAVIALASSIGNSITESROLEBASED":"GETAVIALASSIGNSITESROLEBASED_1.0",
"GETYEAR":"GETYEAR_1.0",
"INSERINJURYSTATSGENERALINFO":"INSERINJURYSTATSGENERALINFO_1.0",
"GETINJURYSTATSGENERALINFO":"GETINJURYSTATSGENERALINFO_1.0",
"UPDATEINJURYSTATSGENERALINFO":"UPDATEINJURYSTATSGENERALINFO_1.0",
"UPDATEINJURYSTATSTATUS":"UPDATEINJURYSTATSTATUS_1.0",
"GETACTIVESYSALERT":"GETACTIVESYSALERT_1.0",
"UPDATEUSERSYSALERT":"UPDATEUSERSYSALERT_1.0",
"GETCUSTOMLABEL":"GETCUSTOMLABEL_1.0",
"GETSETUPTYPE":"GETSETUPTYPE_1.0",
"GETGLOBLANGUAGE":"GETGLOBLANGUAGE_1.0",
"INSERTUPDATECATEGORYCOMMENTS":"INSERTUPDATECATEGORYCOMMENTS_1.0",
"GETCATEGORYCOMMENTS":"GETCATEGORYCOMMENTS_1.0",
"GETUPLOADEDIMAGES":"GETUPLOADEDIMAGES_1.0",
"GETACTIVESHEDULETYPE":"GETACTIVESCHEDULETYPE_1.0",
"INSERTEMAILINFO":"INSERTEMAILINFO_1.0",
"GETEMAILOPTIONFILTER":"GETEMAILOPTIONFILTER_1.0",
"GETMAILINFO":"GETMAILINFO_1.0",
"UPDATEMAILFILTER":"UPDATEMAILFILTER_1.0",
"GETEMAILOPTIONNAME":"GETEMAILOPTIONNAME_1.0",
"GETMAILDETAILS":"GETMAILDETAILS_1.0",
"GETMAILLIST":"GETMAILLIST_1.0",
"UPDATEMAILOPTIONSTATUS":"UPDATEMAILOPTIONSTATUS_1.0",
"DELETEMAILOPTION":"DELETEMAILOPTION_1.0",
"GETROLES":"GETROLES_1.0",
"UPDATEMAILINFO":"UPDATEMAILINFO_1.0",
"GETMYPROFILEINFO":"GETMYPROFILEINFO_1.0-GETALLSITESTIMEZONE_1.0",
"GETLINKSROLEBASED":"GETLINKSROLEBASED_1.0",
"UPDATEMYPROFILEINFO":"UPDATEMYPROFILEINFO_1.0",
"DELETEINJURYSTATS":"DELETEINJURYSTATS_1.0",
"GETUSERPERMISSIONFORDASHBOARD":"GETUSERPERMISSIONFORDASHBOARD_1.0",
"MAILNEWUSERCREATION":"MAILNEWUSERCREATION_1.0",
"MAILSITEUPDATE":"MAILSITEUPDATE_1.0",
"MAILCORRECTIVEACTION":"MAILCORRECTIVEACTION_1.0",
"DELETECORRACTIVEACTIONCARDS":"DELETECORRACTIVEACTIONCARDS_1.0",
"MAILCORRECTIVEACTIONUPDATE":"MAILCORRECTIVEACTIONUPDATE_1.0",
"GETSUBREPORTSINFO":"GETSUBREPORTS_INFO_1.0",
"GETSCHEDULEINFO":"GETSCHEDULEINFO_1.0",
"GETREPORTSCHEDULELIST":"GETREPORTSCHEDULELIST_1.0",
"CHANGESTATUSREPORTSCHEDULE":"CHANGESTATUS_REPORTSCHEDULE_1.0",
"DELETEREPORTSCHEDULE":"DELETEREPORTSCHEDULE_1.0",
"GETREPORTSANDTIMEZONE":"GETREPORTS_ALL_1.0-GETACTIVETIMEZONES_1.0",
"GETREPORTSTYPE":"GETREPORTS_TYPE_1.0",
"INSERTSCHEDULEREPORT":"INSERTSCHEDULEREPORT_1.0",
"UPDATESCHEDULEREPORT":"UPDATESCHEDULEREPORT_1.0",
"GETSCHEDULEREPORTINFO":"GETREPORTSCHEDULEINFO_1.0",
"GETSCHEDULEREPORTOPTIONS_FILTER":"GETSCHEDULEREPORTOPTIONS_FILTER_1.0",
"GETQUICKLINKS":"GETQUICKLINKS_1.0",
"GETDBDATAFORLOGGEDUSER":"GETUNREADMAILSANDAPPROVALSFORUSER_1.0-GETDBDATAFORUSER_1.0-GETTARGETOBSCAPAFORCURRENTMONTH_1.0",
"GETUSEREMAILS":"GETUSEREMAILS_1.0",
"FORCEPWD":"FORCEPWD_1.0",
"GETUSERMAILINBOX":"GETUSERMAILINBOX_1.0",
"GETUSERMAILINBOXINFO":"GETUSERMAILINBOXINFO_1.0",
"DELETEEMAILINBOX":"DELETEEMAILINBOX_1.0",
"WACCESSSTATUS":"WACCESS_STATUS_1.0",
"WAACCESSSETUPSTATUS":"WAACCESS_SETUPSTATUS_1.0",
"DELETESAVEDREPORTSELECTION":"DELETESAVEDREPORTSELECTION_1.0",
"GETSCHEDULEREPORTTYPE":"GETSCHEDULEREPORTTYPE_1.0-GETREPORTS_TYPE_1.0-GETSAVEDFILTERCRITERIAFORSCHEDULE_1.0",
"CHKSCHEDULENAMEEXISTS":"CHKSCHEDULENAMEEXISTS_1.0",
"GETROLEPERMISSIONALL":"GETROLEPERMISSIONALL_1.0",
"GETMAILSCHEDULEFILTER":"GETMAILSCHEDULEFILTER_1.0",
"GETRESPERSONFORFILTERS":"GETRESPERSONFORFILTERS_1.0",
"GETSUBCATEGORYFORREDFLAG":"GETSUBCATEGORYFORREDFLAG_1.0",
"UPDATEROLEPERMISSION":"UPDATEROLEPERMISSION_1.0",
"GETCORRECTIVEACTIONREMINDER":"GETCORRECTIVEACTIONREMINDER_1.0",
"GETSCHEDULETYPEID":"GETSCHEDULETYPEID_1.0",
"GETOBSRVATIONREMINDERWEEK":"GETOBSRVATIONREMINDERWEEK_1.0",
"GETOBSRVATIONREMINDERMONTH":"GETOBSRVATIONREMINDERMONTH_1.0",
"GETUSEREMAILID":"GETUSEREMAILID_1.0",
"GETSCHEDULEMAILKEYWORD":"GETSCHEDULEMAILKEYWORD_1.0",
"INSERTNEWOBSERVER":"INSERTNEWOBSERVER_1.0",
"VALIDATESESSION":"VALIDATESESSION_1.0",
"GETPWDCOMPLEXITY":"GETPWDCOMPLEXITY_1.0",
"GETSUBCATEGORYLISTFORMAINCATEGORYREDFLAG":"GETSUBCATEGORYLISTFORREDFLAG_1.0",
"INSERTMAILMULTILINGUALCONTENT":"INSERTMAILMULTILINGUALCONTENT_1.0",
"GETCONTENTANDKEYWORD":"GETMAILCONTENT_1.0-GETSCHEDULEMAILKEYWORD_1.0",
"GETCUSTOMLABELBYID":"GETCUSTOMLABELBYID_1.0",
"WACCESSINCHISTORYDATA":"WACCESS_INCHISTORYDATA_1.0",
"WACCESSINCCHECKLISTWITHOUTGROUP":"WACCESS_INCCHECKLISTWITHOUTGROUP_1.0",
"GETSSLINFO":"GETSSLINFO_1.0",
"GETLOGOCUSTOMLABELS":"GETLOGOCUSTOMLABELS_1.0",
"GETTIMEZONEDURATION":"GETTIMEZONEDURATION_1.0",
"INSERTERRORLOG":"INSERTERRORLOG_1.0",
"GETDASHBOARDINFO":"GETDASHBOARDINFO_1.0",
"INSERTSTOPCARDOBSERVATIONSFOROFFLINEAPP":"INSERTSTOPCARDOBSERVATIONSFOROFFLINEAPP_1.0",
"GETOFFLINEAPPFILTERBASEDSTOPCARDLISTING":"GETOFFLINEAPPFILTERBASEDSTOPCARDLISTING_1.0",
"GETOFFLINESTOPCARDCHECKLISTINFO":"GETOFFLINESTOPCARDCHECKLISTINFO_1.0",
"GETOFFLINESTOPCARDOBSERVATION":"GETOFFLINESTOPCARDOBSERVATION_1.0",
"VALIDATELOGINFORAPP":"VALIDATELOGINFORAPP_1.0",
"GETUSERSITEAREASSHIFTS":"GETUSERSITEAREASSHIFTS_1.0",
"GETCHECKLISTSETUPFORAPP":"GETCHECKLISTSETUPFORAPP_1.0",
"GETSTOPCARDDETAILSFORAPP":"GETSTOPCARDDETAILSFORAPP_1.0",
"GETCHECKLISTOBSERVERSFORREDFLAG":"GETCHECKLISTOBSERVERSFORREDFLAG_1.0",
"SCHEDULEUSERINBOXENTRY":"SCHEDULEUSERINBOXENTRY_1.0",
"PASSWORDUPDATE":"PASSWORDUPDATE_1.0",
"GETGLOBALDATA":"GETGLOBALDATA_1.0",
"DELETECORRACTIVEACTIONLIST":"DELETECORRACTIVEACTIONLIST_1.0",
"INSERTSCHEDULEAUDITLOG":"INSERTSCHEDULEAUDITLOG_1.0",
"MAPCHECKLISTSITES":"MAPCHECKLISTSITES_1.0",
"MAPSITESAREASSHIFT":"MAPSITESAREASSHIFT_1.0",
"GETOFFLINEEDITCHECKLISTOBSERVERS":"GETOFFLINEEDITCHECKLISTOBSERVERS_1.0",
"DELETEOFFLINEDATA":"DELETEOFFLINEDATA_1.0",
"APPROVEOFFLINEDATA":"APPROVEOFFLINEDATA_1.0",
"UPDATEOFFLINESTOPCARDCHECKLIST":"UPDATEOFFLINESTOPCARDCHECKLIST_1.0",
"INSERTOFFLINESTOPCARDOBSERVATIONS":"INSERTOFFLINESTOPCARDOBSERVATIONS_1.0",
"INSERTOFFLINEUPDATECATEGORYCOMMENTS":"INSERTOFFLINEUPDATECATEGORYCOMMENTS_1.0",
"GETOFFLINECATEGORYCOMMENTS":"GETOFFLINECATEGORYCOMMENTS_1.0",
"GETREDFLAGAREALIST":"GETREDFLAGAREALIST_1.0",
"GETMAINCATEGORYFORREDFLAG":"GETMAINCATEGORYFORREDFLAG_1.0",
"GETCHECKLISTSETUPFORSTOPCARD":"GETCHECKLISTSETUPFORSTOPCARD_1.0",
"GETMAINCATEGORYFORTRANSLATION":"GETMAINCATEGORYFORTRANSLATION_1.0",
"INSERTAPPLOG":"INSERTAPPLOG_1.0",
"GETSCHEDULETYPEANDMAILDETAILSFROM":"GETSCHEDULETYPEANDMAILDETAILSFROM_1.0",
"GETDASHBOARDFULLINFO":"GETROLEPERMISSION_1.0-GETQUICKLINKS_1.0-GETDASHBOARDINFO_1.0-GETDUPONTNEWS_1.0",
"GETEMAILTYPEWITHOUTDEFAULT":"GETEMAILTYPEWITHOUTDEFAULT_1.0",
"GETACTIONOWNER":"GETACTIONOWNER_1.0",
"CACHEKEYCREATEUPDATE":"CACHEKEYCREATEUPDATE_1.0",
"GETCACHEKEY":"GETCACHEKEY_1.0",
"GETDEFAULTROLE":"GETDEFAULTROLE_1.0",
"GETMAINCATEGORYFORCAPA":"GETMAINCATEGORYFORCAPA_1.0",
"GETSUBCATEGORYFORCAPA":"GETSUBCATEGORYFORCAPA_1.0",
"GETSTOPCARDCHECKLISTAREAOBSERVERSHIFTINFO":"GETEDITCHECKLISTOBSERVERS_1.0-GETCHECKLISTAREALIST_1.0-GETCHECKLISTSHIFTLIST_1.0",
"GETCHECKLISTSETUPOBSERVERAREASHIFTLIST":"GETCHECKLISTSETUPFORSTOPCARD_1.0-GETCHECKLISTOBSERVERS_1.0-GETCHECKLISTAREALIST_1.0-GETCHECKLISTSHIFTLIST_1.0",
"GETOFFLINESTOPCARDCHECKLISTAREAOBSERVERSHIFTINFO":"GETOFFLINEEDITCHECKLISTOBSERVERS_1.0-GETCHECKLISTAREALIST_1.0-GETCHECKLISTSHIFTLIST_1.0",
"GETAREASHIFT":"GETAREASHIFT_1.0",
"WACACARDSTATUS":"WACACARDSTATUS_1.0",
"WACATYPE":"WACATYPE_1.0",
"GETGROUPTYPEWITHMANDATOTY":"GETGROUPTYPEWITHMANDATOTY_1.0",
"UPDATEGROUPTYPES":"UPDATEGROUPTYPES_1.0",
"GETLICENCE":"GETLICENCE_1.0",
"GETCHKCOUNTSUMMARYGROUP1":"GETCHKCOUNTSUMMARYGROUP1_1.0",
"GETCHKCOUNTSUMMARYGROUP2":"GETCHKCOUNTSUMMARYGROUP2_1.0",
"GETCHKCOUNTSUMMARYGROUP3":"GETCHKCOUNTSUMMARYGROUP3_1.0",
"USERINBOXENTRY":"USERINBOXENTRY_1.0",
"WACCESSINCOMPLETEOBS":"WACCESS_INCOMPLETEOBS_1.0",
"WACHARTTYPE":"WACCESS_CHARTTYPE_1.0",
"UPDATEOBSCHECKLISTGROUPS":"UPDATEOBSCHECKLISTGROUPS_1.0",
"GETUSERGROUPSINOBSERVATION":"GETUSERGROUPSINOBSERVATION_1.0",
"GETOBSERVATIONUSERSLIST":"GETOBSERVATIONUSERSLIST_1.0",
"OBSERVATIONGROUPUSERLEVEL":"OBSERVATIONGROUPUSERLEVEL_1.0",
"GETSITEADMINFORLOGGEDUSER":"GETSITEADMINFORLOGGEDUSER_1.0",
"GETMYCORRACTIVEACTIONFILTER":"GETMYCORRACTIVEACTION_FILTER_1.0",
"GETMYCORRACTIVEACTIONLISTING":"GETMYCORRACTIVEACTIONLISTING_1.0",
"UPDATESTATUSCORRECTIVEACTION":"UPDATESTATUSCORRECTIVEACTION_1.0",
"GETUNSAFEOBSERVATIONDATAFOREMAIL":"GETUNSAFEOBSERVATIONDATAFOREMAIL_1.0",
"INSERTUNSAFEALERT":"INSERTUNSAFEALERT_1.0",
"DELETEUNSAFEALERT":"DELETEUNSAFEALERT_1.0",
"GETUNSAFEALERT":"GETUNSAFEALERT_1.0",
"WACCESSTARGETSTATUS":"WACCESS_TARGETSTATUS_1.0",
"GETUSERSFILTER":"GETUSERSFILTER_1.0",
"INSERTWEEKLYTARGET":"INSERTWEEKLYTARGET_1.0",
"GETWEEKLYTARGET":"GETWEEKLYTARGET_1.0",
"INSERTWEEKLYTARGETSITES":"INSERTWEEKLYTARGETSITES_1.0",
"GETWEEKLYTARGETSITES":"GETWEEKLYTARGETSITES_1.0",
"WACCESSSTARTOFWEEK":"WACCESS_STARTOFWEEK_1.0",
"GETGLOBALTIMEZONE":"GETGLOBALTIMEZONE_1.0",
"GETSITETIMEZONE":"GETSITETIMEZONE_1.0",
"GETUSERSITETIMEZONE":"GETUSERSITETIMEZONE_1.0",
"GETCOMMONSCHEDULEINFO":"GETCOMMONSCHEDULEINFO_1.0",
"GETCOMMONCHECKLISTINFO":"GETCOMMONCHECKLISTINFO_1.0",
"INSERTUPDATEREQUESTED":"INSERTUPDATEREQUESTED_1.0",
"GETUPDATEREQUESTINFO":"GETUPDATEREQUESTINFO_1.0",
"MAILUPDATEREQUESTED":"MAILUPDATEREQUESTED_1.0",
"GETSAVEDFILTERCRITERIA":"GETSAVEDFILTERCRITERIA_1.0",
"GETSCHEDULEREPORTOPTIONS_FILTERCRITERIA":"GETSCHEDULEREPORTOPTIONS_FILTERCRITERIA_1.0",
"WACCESSOBSWITHZEROTARGET":"WACCESS_OBSWITHZEROTARGET_1.0",
"GETOFFLINEAPPSYNSLISTING":"GETOFFLINEAPPSYNSLISTING_1.0",
"GETEDITSTOPCARDDETAILSFORAPP":"GETEDITSTOPCARDDETAILSFORAPP_1.0",
"INSERTUPDATEOFFLINEUPLOADIMAGEDATA":"INSERTUPDATEOFFLINEUPLOADIMAGEDATA_1.0",
"DELETEOFFLINECARD":"DELETEOFFLINECARD_1.0",
"GETSCHEDULESTATUS":"GETSCHEDULESTATUS_1.0",
"APPVERSIONCHECK":"APPVERSIONCHECK_1.0",
"GETCUSTOMFIELDSNAME":"GETCUSTOMFIELDSNAME_1.0",
"GETCUSTOMFIELDSVALUE":"GETCUSTOMFIELDSVALUE_1.0",
"GETUSERDEFINEDFEILDSWITHMANDATOTY":"GETUSERDEFINEDFEILDSWITHMANDATOTY_1.0",
"UPDATEUSERDEFINEDMANDATORYTYPES":"UPDATEUSERDEFINEDMANDATORYTYPES_1.0",
"GETUSERDEFINEDLIST":"GETUSERDEFINEDLIST_1.0",
"GETUSERDEFINEDGENERALINFO":"GETUSERDEFINEDGENERALINFO_1.0",
"DELETEUSERDEFINEDFEILDS":"DELETEUSERDEFINEDFEILDS_1.0",
"GETUSERDEFINEDSITESASSGN":"GETUSERDEFINEDSITESASSGN_1.0",
"INSERTCUSTOMFIELDVALUE":"INSERTCUSTOMFIELDVALUE_1.0",
"GETUSERDEFINEDFIELDVALUE":"GETUSERDEFINEDFIELDVALUE_1.0",
"GETUSERDEFINEDFIELDVALUEALLSITESSTATUS":"GETUSERDEFINEDFIELDVALUEALLSITESSTATUS_1.0",
"UPDATECUSTOMFIELDSSITEASSGN":"UPDATECUSTOMFIELDSSITEASSGN_1.0",
"GETTRANSLATIONSFORUSERDEFINED":"GETTRANSLATIONSFORUSERDEFINED_1.0",
"GETCUSTOMFIELDNAMEFORTRANSLATION":"GETCUSTOMFIELDNAMEFORTRANSLATION_1.0",
"UPDATEUSERDEFINEDTRANSLATION":"UPDATEUSERDEFINEDTRANSLATION_1.0",
"WACCESSCUSTOMFIELD1":"WACCESS_CUSTOMFIELD1_1.0",
"WACCESSCUSTOMFIELD2":"WACCESS_CUSTOMFIELD2_1.0",
"WACCESSCUSTOMFIELD3":"WACCESS_CUSTOMFIELD3_1.0",
"GETAVAILASSIGNCATEGORYFORCORRACTIION":"GETAVAILASSIGNCATEGORYFORCORRACTIION_1.0",
"GETREPONSIBLEPERSONFORCORRACTION":"GETREPONSIBLEPERSONFORCORRACTION_1.0",
"GETUSERDEFINEDNAME":"GETUSERDEFINEDNAME_1.0",
"GETMASTERCARDS":"GETMASTERCARDS_1.0",
"MAILSITETARGETUPDATE":"MAILSITETARGETUPDATE_1.0",
"GETCUSTOMLABELBYIDAPP":"GETCUSTOMLABELBYIDAPP_1.0",
"GETAREAMANAGERAREALIST":"GETAREAMANAGERAREALIST_1.0",
"UPDATEAREAMANAGERASSIGN":"UPDATEAREAMANAGERASSIGN_1.0",
"GETAREAMANAGERAREALISTFORCHECKLIST":"GETAREAMANAGERAREALISTFORCHECKLIST_1.0",
"MAILAREAMANAGER":"MAILAREAMANAGER_1.0",
"GETVALIDAREAMANAGERFOREMAIL":"GETVALIDAREAMANAGERFOREMAIL_1.0",
"GETGLOBALOPTIONCHECKLISTCONFIG":"GETGLOBALLANG_1.0-GETROLESOBSAPPROVE_1.0-GETUSERDEFINEDFEILDS_1.0",
"UPDATEGLOBALOPTIONCHECKLISTCONFIG":"UPDATEGLOBALOPTIONCHECKLISTCONFIG_1.0",
"WAUSERLEVELFORTARGET":"WSITE_USERSOBSERVERS_1.0",
"GETUSERSFILTERFORTARGET":"GETUSERSFILTERFORTARGET_1.0",
"GETUSERSAVAILFORTARGET":"GETUSERSFILTERFORTARGET_1.0",
"GETUSERSAVAILTOSITEFORTARGET":"GETUSERSAVAILTOSITEFORTARGET_1.0",
"INSERTTARGETMULTIUSERS":"INSERTTARGETMULTIUSERS_1.0",
"INSERTWEEKLYTARGETMULTIUSER":"INSERTWEEKLYTARGETMULTIUSER_1.0",
"GETUSERSFILTERTARGET":"GETUSERSFILTERTARGET_1.0",
"WAUSERLEVELTARGET":"WACCESS_USERLEVELTARGET_1.0",
"WACCESSOBSSTATUSTARGET":"WACCESS_OBSSTATUSTARGET_1.0",
"GETROLESTARGET":"GETROLESTARGET_1.0",
"GETCAPAINFO":"GETCAPAINFO_1.0",
"INSERTCAPA":"INSERTCAPA_1.0",
"GETCAPALISTING":"GETCAPALISTING_1.0",
"GETCAPAEDITINFO":"GETCAPAEDITINFO_1.0",
"GETAPPROVEDCHECKLISTFORCAPA":"GETAPPROVEDCHECKLISTFORCAPA_1.0",
"GETNOTIFICATIONLISTING":"GETNOTIFICATIONLISTING_1.0",
"GETNOTIFICATIONINFO":"GETNOTIFICATIONINFO_1.0",
"DELETECORRACTIVEACTIONCARDSFORAPP":"DELETECORRACTIVEACTIONCARDSFORAPP_1.0",
"INSERTAPPUSERPROFILE":"INSERTAPPUSERPROFILE_1.0",
"DELETEAPPSETUP":"DELETEAPPSETUP_1.0",
"INSERTAPPSUPPORT":"INSERTAPPSUPPORT_1.0",
"GETDEFAULTCHEKLISTFILTER":"GETDEFAULTCHEKLISTFILTER_1.0",
"GETSUBAREALIST":"GETSUBAREALIST_1.0",
"INSERTSUBAREA":"INSERTSUBAREA_1.0",
"UPDATESUBAREA":"UPDATESUBAREAGENERALINFO_1.0",
"DELETESUBAREA":"DELETESUBAREA_1.0",
"GETSUBAREAASSIGN":"GETSUBAREAASSIGN_1.0",
"UPDATEAREASUBAREAS":"UPDATEAREASUBAREAS_1.0",
"WACCESSSUBAREAS":"WACCESS_SUBAREAS_1.0",
"CHANGESTATUSSUBAREAS":"CHANGESTATUSSUBAREAS_1.0",
"GETAREAASSIGN":"GETAREAASSIGN_1.0",
"UPDATEAREASUBAREASSIGN":"UPDATEAREASUBAREASSIGN_1.0",
"GETSUBAREALISTSFORCOMBO":"GETSUBAREALISTSFORCOMBO_1.0",
"GETOFFLINESUBAREALIST":"GETOFFLINESUBAREALIST_1.0",
"INSERTSTOPCARDOFFLINEAPPFALLBACK":"INSERTSTOPCARDOFFLINEAPPFALLBACK_1.0",
"WACCESSINCLUDECOMMENTS":"WACCESS_INCLUDECOMMENTS_1.0",
"WAUACACARDSTATUS":"WAUACACARDSTATUS_1.0",
"LOGIN":"LOGIN_1.0",

"GETUSERINFO-Copy":"GETUSERINFO_1.0 - Copy"

}
