--USERTYPEID
IF @USERLEVELID='' OR @USERLEVELID IS NULL
SET @USERLEVELID = '0,1,2,3'
--SITES FILTER
DECLARE @TSITES TABLE(SITEID INT,SITENAME VARCHAR(256))
IF @SITEID = '' OR @SITEID IS NULL
BEGIN
IF EXISTS(SELECT 1 FROM USERINFO UR
INNER JOIN ROLES R ON R.ROLEID = UR.DEFAULTROLEID
WHERE R.STATUS=1 AND UR.USERID = @USERID AND R.ALLSITES=1)
INSERT INTO @TSITES
SELECT SITEID,SITENAME FROM SITES WHERE STATUS = 1
ELSE
INSERT INTO @TSITES
SELECT S.SITEID,S.SITENAME FROM SITES S
INNER JOIN USERSITES US ON US.SITEID = S.SITEID
WHERE S.STATUS = 1 AND US.STATUS = 1 AND US.USERID = @USERID

END
ELSE
INSERT INTO @TSITES
SELECT SITEID,SITENAME FROM SITES
WHERE SITEID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SITEID))

--GROUPS FILTER
DECLARE @USERLIST TABLE(USERID INT,GROUPTYPEID INT)
DECLARE @USERGROUPS TABLE(GROUPTYPEID INT,GROUPID INT)
INSERT INTO @USERGROUPS
SELECT SUBSTRING(ITEM,1,CHARINDEX('~',ITEM)-1) GROUPTYPEID,SUBSTRING(ITEM,CHARINDEX('~',ITEM)+1,LEN(ITEM)) GROUPID FROM DBO.FNSPLIT(@GROUPID,',')


IF EXISTS(SELECT 1 FROM @USERGROUPS)
BEGIN
INSERT INTO @USERLIST
SELECT DISTINCT U.USERID,UG.GROUPTYPEID FROM USERS U
INNER JOIN USERGROUPS UG ON U.USERID = UG.USERID
INNER JOIN @USERGROUPS TUG ON TUG.GROUPTYPEID = UG.GROUPTYPEID AND TUG.GROUPID = UG.GROUPID
WHERE U.STATUS=1 AND UG.STATUS = 1

SELECT DISTINCT U.USERID,U.USERNAME,UI.LANGUAGEID,U.LASTNAME,U.FIRSTNAME,U.EMAIL,UI.JOBTITLE,UI.USERTYPEID ,U.CREATEDDATE,U.CREATEDBY,
U.STATUS,US.SITEID,S.SITENAME,R.ROLENAME
FROM USERS U
INNER JOIN USERINFO UI ON U.USERID = UI.USERID
INNER JOIN ROLES R ON R.ROLEID = UI.DEFAULTROLEID
INNER JOIN USERSITES US ON US.USERID = U.USERID
INNER JOIN @TSITES S ON S.SITEID =US.SITEID
INNER JOIN USERGROUPS UG ON UG.USERID = U.USERID
WHERE U.COMPANYID = @COMPANYID AND U.STATUS = 1 AND R.STATUS=1 AND UG.STATUS = 1 AND
UI.USERTYPEID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@USERLEVELID))
AND U.USERID  IN (SELECT USERID FROM @USERLIST GROUP BY USERID HAVING COUNT(DISTINCT GROUPTYPEID)=(SELECT COUNT(DISTINCT GROUPTYPEID) FROM @USERGROUPS))


END
ELSE
BEGIN

SELECT DISTINCT U.USERID,U.USERNAME,UI.LANGUAGEID,U.LASTNAME,U.FIRSTNAME,U.EMAIL,UI.JOBTITLE,UI.USERTYPEID ,U.CREATEDDATE,U.CREATEDBY,
U.STATUS,US.SITEID,S.SITENAME,R.ROLENAME
FROM USERS U
INNER JOIN USERINFO UI ON U.USERID = UI.USERID
INNER JOIN ROLES R ON R.ROLEID = UI.DEFAULTROLEID
INNER JOIN USERSITES US ON US.USERID = U.USERID
INNER JOIN @TSITES S ON S.SITEID =US.SITEID
INNER JOIN USERGROUPS UG ON UG.USERID = U.USERID
WHERE U.COMPANYID = @COMPANYID AND U.STATUS = 1 AND R.STATUS=1 AND UG.STATUS = 1 AND
UI.USERTYPEID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@USERLEVELID))
END

