--UPDATESITEUSERSASSIGN_1.0
DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

CREATE TABLE #USERLIST(USERID INT PRIMARY KEY)
INSERT INTO #USERLIST
SELECT RESULT FROM  dbo.CSVtoTable(@SITEUSERID)

UPDATE US SET STATUS = 1 ,
UPDATEDBY = @USERID,
UPDATEDDATE = @CC_TIMESTAMP
FROM USERSITES US
INNER JOIN #USERLIST U ON U.USERID=US.USERID
WHERE STATUS = 0 AND SITEID = @SITEID

INSERT INTO USERSITES(SITEID,USERID,STATUS,UPDATEDBY,UPDATEDDATE)
SELECT @SITEID,USERID,1,@USERID,@CC_TIMESTAMP FROM #USERLIST U
WHERE NOT EXISTS(SELECT 1 FROM USERSITES WHERE SITEID=@SITEID AND USERID=U.USERID)


UPDATE US SET STATUS = 0 ,
UPDATEDBY = @USERID,
UPDATEDDATE = @CC_TIMESTAMP
FROM USERSITES US
WHERE SITEID = @SITEID AND
NOT EXISTS(SELECT 1 FROM #USERLIST WHERE USERID =US.USERID)


UPDATE UI SET DEFAULTSITEID = S.SITEID,UPDATEDBY = @USERID,UPDATEDDATE = @CC_TIMESTAMP,TIMEZONE=S.TIMEZONEID
FROM USERINFO UI
INNER JOIN (SELECT ROW_NUMBER() OVER(PARTITION BY US.USERID ORDER BY US.SITEID) ID, US.USERID,US.SITEID,S.TIMEZONEID  FROM USERSITES US
INNER JOIN SITES S ON S.SITEID=US.SITEID
WHERE US.SITEID!=@SITEID AND NOT EXISTS(SELECT 1 FROM #USERLIST WHERE USERID =US.USERID)
AND US.STATUS =1 AND S.STATUS =1) S ON S.USERID=UI.USERID
WHERE S.ID=1 AND UI.DEFAULTSITEID =@SITEID


UPDATE  UI SET DEFAULTSITEID = -1,UPDATEDBY = @USERID,UPDATEDDATE = @CC_TIMESTAMP
FROM USERINFO UI
WHERE DEFAULTSITEID = @SITEID AND
NOT EXISTS(SELECT 1 FROM #USERLIST WHERE USERID =UI.USERID) AND USERID !=1

UPDATE USERINFO SET DEFAULTSITEID = @SITEID,UPDATEDBY = @USERID,UPDATEDDATE = @CC_TIMESTAMP,
TIMEZONE=(SELECT TIMEZONEID FROM SITES WHERE SITEID = @SITEID) WHERE DEFAULTSITEID = -1 AND USERID IN (SELECT USERID FROM  #USERLIST)

IF EXISTS(SELECT 1 FROM  #USERLIST U
INNER JOIN USERINFO UI ON UI.USERID = U.USERID
INNER JOIN USERSITES US ON US.USERID = U.USERID AND US.SITEID = @SITEID WHERE US.STATUS = 1 AND UI.DEFAULTSITEID = -1 )
UPDATE USERINFO SET DEFAULTSITEID =@SITEID,UPDATEDBY = @USERID,UPDATEDDATE = @CC_TIMESTAMP,TIMEZONE=(SELECT TIMEZONEID FROM SITES WHERE SITEID = @SITEID) WHERE USERID IN (SELECT USERID FROM  #USERLIST) AND DEFAULTSITEID = -1
--PHASE1 2017
UPDATE UI SET TIMEZONE=S.TIMEZONEID,UPDATEDBY = @USERID,UPDATEDDATE = @CC_TIMESTAMP
FROM USERINFO UI
INNER JOIN SITES S ON S.SITEID=UI.DEFAULTSITEID
WHERE UI.DEFAULTSITEID=@SITEID

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'USERSITES','UPDATE-UPDATESITEUSERSASSIGN_1.0',@CC_TIMESTAMP,@USERID,NULL

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'USERINFO','UPDATE-UPDATESITEUSERSASSIGN_1.0',@CC_TIMESTAMP,@USERID,
(SELECT * FROM USERINFO WHERE UPDATEDBY=@USERID AND UPDATEDDATE=@CC_TIMESTAMP FOR XML AUTO)