--UPDATEAREAMANAGERASSIGN_1.0
DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

DELETE FROM SITEAREAMANAGERS WHERE SITEID=@SITEID AND AREAID=@AREAID
INSERT INTO SITEAREAMANAGERS(SITEID,AREAID,USERID,CREATEDBY,CREATEDDATE)
SELECT @SITEID,@AREAID,RESULT,@CREATEDBY,@CC_TIMESTAMP FROM  dbo.CSVtoTable(@USERID)

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'SITEAREAMANAGERS','UPDATE-UPDATEAREAMANAGERASSIGN_1.0',@CC_TIMESTAMP,@CREATEDBY,NULL
