DECLARE @AS_TIMESTAMP DATETIME
SET @AS_TIMESTAMP=GETDATE()

IF EXISTS (SELECT 1 FROM ROLES WHERE ROLEID=@ROLEID AND ALLSITES=1)
BEGIN
UPDATE SITEAREAS SET STATUS = 1,UPDATEDBY = @USERID,UPDATEDDATE = @AS_TIMESTAMP WHERE AREAID = @AREAID AND SITEID IN (SELECT RESULT FROM DBO.CSVtoTable(@SITEID));
INSERT INTO SITEAREAS(SITEID,AREAID,STATUS,UPDATEDBY,UPDATEDDATE) SELECT RESULT,@AREAID,1,@USERID,@AS_TIMESTAMP FROM DBO.CSVtoTable(@SITEID) WHERE RESULT NOT IN (SELECT SITEID FROM SITEAREAS WHERE SITEID IN (SELECT RESULT FROM DBO.CSVtoTable(@SITEID)) AND AREAID = @AREAID);
UPDATE SITEAREAS SET STATUS = 0,UPDATEDBY = @USERID,UPDATEDDATE = @AS_TIMESTAMP WHERE AREAID = @AREAID AND SITEID NOT IN (SELECT RESULT FROM DBO.CSVtoTable(@SITEID));
END
ELSE
BEGIN
UPDATE SITEAREAS SET STATUS = 1,UPDATEDBY = @USERID,UPDATEDDATE = @AS_TIMESTAMP WHERE AREAID = @AREAID AND SITEID IN (SELECT RESULT FROM DBO.CSVtoTable(@SITEID));
INSERT INTO SITEAREAS(SITEID,AREAID,STATUS,UPDATEDBY,UPDATEDDATE)
SELECT RESULT,@AREAID,1,@USERID,@AS_TIMESTAMP FROM DBO.CSVtoTable(@SITEID)
WHERE RESULT NOT IN (SELECT SITEID FROM SITEAREAS WHERE SITEID IN (SELECT RESULT FROM DBO.CSVtoTable(@SITEID)) AND AREAID = @AREAID);

UPDATE SITEAREAS SET STATUS = 0,UPDATEDBY = @USERID,UPDATEDDATE = @AS_TIMESTAMP
WHERE AREAID = @AREAID AND SITEID IN (SELECT SITEID FROM USERSITES WHERE STATUS=1 AND USERID =@USERID AND SITEID NOT IN (SELECT RESULT FROM DBO.CSVtoTable(@SITEID)))

END

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'SITEAREAS','UPDATE-UPDATEAREASITES_1.0',@AS_TIMESTAMP,@USERID,(SELECT * FROM SITEAREAS WHERE UPDATEDBY=@USERID AND UPDATEDDATE=@AS_TIMESTAMP  FOR XML AUTO)
