DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

UPDATE CUSTOMFIELDS SET ISMANDATORY=0

UPDATE CS SET ISMANDATORY=1 ,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP
FROM CUSTOMFIELDS  CS
INNER JOIN dbo.CSVTOTABLE(@SELCUSTOMFIELDS) T ON T.RESULT=CS.CUSTOMFIELDID

SELECT 2

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'CUSTOMFIELDS','UPDATEUSERDEFINEDMANDATORYTYPES_1.0',@CC_TIMESTAMP,@UPDATEDBY,
(SELECT * FROM CUSTOMFIELDS WHERE UPDATEDBY=@UPDATEDBY AND UPDATEDDATE=@CC_TIMESTAMP FOR XML AUTO)