DECLARE @SUBAREA TABLE(ID INT IDENTITY(1,1),SUBAREAID INT,SUBAREANAME NVARCHAR(512),STATUS INT)
INSERT INTO @SUBAREA(SUBAREAID,SUBAREANAME,STATUS)
SELECT SUBSTRING(ITEM,1,CHARINDEX(',',ITEM)-1),SUBSTRING(ITEM,CHARINDEX(',',ITEM)+1,LEN(ITEM)),0
FROM DBO.FNSPLIT(@SUBAREALIST,'|')
DECLARE @TEMP INT,@SUBAREANAME NVARCHAR(512),@SUBAREAID INT
SET @SUBAREANAME=''
SET @TEMP=1
WHILE @TEMP<=(SELECT MAX(ID) FROM @SUBAREA)
BEGIN
SELECT @SUBAREAID=SUBAREAID,@SUBAREANAME=SUBAREANAME FROM @SUBAREA WHERE ID=@TEMP

IF NOT EXISTS(SELECT 1 FROM SUBAREAS SA INNER JOIN SUBAREAMAP SM ON SM.SUBAREAID=SA.SUBAREAID WHERE SM.AREAID=@AREAID AND SA.SUBAREAID!=@SUBAREAID AND SA.SUBAREANAME=@SUBAREANAME AND SA.STATUS !=2)
BEGIN
UPDATE SUBAREAS SET SUBAREANAME=@SUBAREANAME,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=GETDATE() WHERE SUBAREAID=@SUBAREAID
UPDATE @SUBAREA SET STATUS =1 WHERE SUBAREAID=@SUBAREAID
END
SET @TEMP=@TEMP+1
END
SET @SUBAREANAME=''
SELECT @SUBAREANAME=@SUBAREANAME+SUBAREANAME+',' FROM @SUBAREA WHERE STTAUS =0

IF LEN(@SUBAREANAME)>0
SELECT SUBSTRING(@SUBAREANAME,1,LEN(@SUBAREANAME)-1) SUBAREANAME
ELSE
SELECT '' SUBAREANAME


