DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

UPDATE INJURYSTATS SET WORKEDHOURS=@WORKEDHOURS,INJURIES=@INJURIES,INJURYYEAR=@INJURYYEAR,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP,STATUS = @STATUS
WHERE  INJURYID=@INJURYID

UPDATE SITEINJURYSTATS
SET STATUS = 1 ,
UPDATEDBY = @UPDATEDBY,
UPDATEDDATE = @CC_TIMESTAMP
WHERE INJURYID=@INJURYID AND SITEID IN (SELECT RESULT FROM dbo.CSVtoTable(@SITEID))


INSERT INTO SITEINJURYSTATS(INJURYID,SITEID,STATUS,CREATEDBY,CREATEDDATE)
SELECT @INJURYID,RESULT,1,@CREATEDBY,@CC_TIMESTAMP FROM DBO.CSVTOTABLE(@SITEID)
WHERE RESULT NOT IN (SELECT SITEID FROM SITEINJURYSTATS WHERE INJURYID=@INJURYID)

UPDATE SITEINJURYSTATS
SET STATUS = 0 ,
UPDATEDBY = @UPDATEDBY,
UPDATEDDATE = @CC_TIMESTAMP
WHERE INJURYID=@INJURYID
AND SITEID NOT IN (SELECT RESULT FROM dbo.CSVtoTable(@SITEID))

UPDATE INJURYSTATS SET SITEID=CASE WHEN (SELECT COUNT(*) FROM dbo.CSVtoTable(@SITEID))>1 THEN 1 ELSE 0 END,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE INJURYID = @INJURYID

SELECT @INJURYYEAR


INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'INJURYSTATS','UPDATE-UPDATEINJURYSTATSGENERALINFO_1.0',@CC_TIMESTAMP,@UPDATEDBY,NULL