--UPDATEGLOBALOPTIONCHECKLISTCONFIG_1.0
DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

UPDATE COMPANYOPTIONS SET OPTIONVALUE=@OBSAPPROVEPC,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE OPTIONNAME='ObsApprovePC'

UPDATE COMPANYOPTIONS SET OPTIONVALUE=@OBSAPPROVEMOBILE,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE OPTIONNAME='ObsApproveMobile'

UPDATE COMPANYOPTIONS SET OPTIONVALUE=@ENABLECHECKLISTCOMMENTS,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE OPTIONNAME='ENABLECHECKLISTCOMMENTS'

UPDATE COMPANYOPTIONS SET OPTIONVALUE=@MAXPEOPLEOBSERVEDLIMIT,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE OPTIONNAME='MaxPeopleObservedLimit'

UPDATE COMPANYOPTIONS SET OPTIONVALUE=@PREVIOUSDAYSLIMIT,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE OPTIONNAME='PreviousDaysLimitOnObservationDate'

UPDATE COMPANYOPTIONS SET OPTIONVALUE=@EXPANDCATEGORY,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE OPTIONNAME='EXPANDCATEGORY'

UPDATE COMPANYOPTIONS SET OPTIONVALUE=@OBSLISTINGXMONTH,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE OPTIONNAME='OBSLISTINGXMONTHS'

UPDATE CUSTOMFIELDS SET STATUS=0

UPDATE CS SET STATUS=1,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP
FROM CUSTOMFIELDS CS
INNER JOIN DBO.CSVTOTABLE(@ASSIGNEDCUSTOMFIELDLIST) TL ON TL.RESULT=CS.CUSTOMFIELDID

UPDATE ROM SET ROM.STATUS=CS.STATUS,CREATEDDATE=@CC_TIMESTAMP
FROM REPORTOPTIONSMASTER ROM
INNER JOIN CUSTOMFIELDS CS ON CS.CUSTOMFIELDID=ROM.RELATIONID
WHERE ROM.OPTIONID IN (47,48,49)

IF ISNULL(@ROLEID ,'')<>'' AND (@OBSAPPROVEPC ='1' OR @OBSAPPROVEMOBILE='1')
BEGIN

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'ROLES','UPDATE-UPDATEGLOBALOPTIONCHECKLISTCONFIG_1.0',@CC_TIMESTAMP,@UPDATEDBY,(SELECT ROLEID,OBSAPPROVEPC,OBSAPPROVEMOBILE FROM ROLES WHERE STATUS =1 FOR XML AUTO)

UPDATE ROLES SET OBSAPPROVEPC = @OBSAPPROVEPC,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE ROLEID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@ROLEID))
UPDATE ROLES SET OBSAPPROVEMOBILE = @OBSAPPROVEMOBILE,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE ROLEID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@ROLEID))
IF (SELECT COUNT(*) FROM ROLES WHERE ROLEID!=1 AND STATUS =1 )!= (SELECT COUNT(RESULT) FROM DBO.CSVTOTABLE(@ROLEID))
BEGIN
UPDATE ROLES SET OBSAPPROVEPC = NULL,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE ROLEID NOT IN (SELECT RESULT FROM DBO.CSVTOTABLE(@ROLEID))
UPDATE ROLES SET OBSAPPROVEMOBILE = NULL,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE ROLEID NOT IN (SELECT RESULT FROM DBO.CSVTOTABLE(@ROLEID))

END

UPDATE ROLES SET OBSAPPROVEPC=NULL,OBSAPPROVEMOBILE=NULL WHERE ROLEID = 1

END
ELSE IF @OBSAPPROVEPC='0' AND @OBSAPPROVEMOBILE='0'
UPDATE ROLES SET OBSAPPROVEPC=NULL,OBSAPPROVEMOBILE=NULL

DECLARE @OBSLISTINGXMONTHS INT
SELECT @OBSLISTINGXMONTHS = ISNULL(OPTIONVALUE,12) FROM COMPANYOPTIONS WHERE OPTIONNAME='OBSLISTINGXMONTHS'

DECLARE @STARTDATE NVARCHAR(32),@ENDDATE NVARCHAR(32)
SELECT @STARTDATE='',@ENDDATE=''
SELECT @STARTDATE=CONVERT(NVARCHAR(32),DATEADD(DAY, 1 - DAY(GETDATE()),DATEADD(MONTH,-(@OBSLISTINGXMONTHS), GETDATE())),101),@ENDDATE =CONVERT(NVARCHAR(32),GETDATE(),101)

SELECT 2,@STARTDATE+' - '+@ENDDATE[OBSLISTINGXMONTHSVAL]


INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT '','UPDATE-UPDATEGLOBALOPTIONCHECKLISTCONFIG_1.0',@CC_TIMESTAMP,@UPDATEDBY,NULL
