DECLARE @TIMEZONEDURATION INT,@SCHEDULETYPEID INT

SELECT @SCHEDULETYPEID=SCHEDULETYPEID FROM SCHEDULE WHERE SCHEDULEID=@SCHEDULEID

IF EXISTS(SELECT 1 FROM SCHEDULE WHERE SCHEDULEID!=@SCHEDULEID AND SCHEDULENAME=@SCHEDULENAME AND [STATUS]!=2 ) SELECT -1
ELSE
BEGIN
SELECT @TIMEZONEDURATION=DURATION FROM TIMEZONES WHERE TIMEZONEID=@TIMEZONE

UPDATE SCHEDULE SET SCHEDULENAME=@SCHEDULENAME,EMAILTO=@EMAILTO,CC=@CC,[SUBJECT]=@SUBJECT,BODY=@BODY,
REPORTID=@REPORTID,DESIGNID=@DESIGNID,EXPORTTYPE=@EXPORTTYPE,EXPORTFORMAT=@EXPORTFORMAT,[STATUS]=@STATUS,
UPDATEDBY=@UPDATEDBY,UPDATEDDATE=GETDATE() WHERE SCHEDULEID=@SCHEDULEID;

UPDATE SCHEDULEOPTIONS SET DWM=@DWM,EVERYDWM=@EVERYDWM,[DAY]=@DAY,[MONTH]=@MONTH,STARTDATE=@STARTDATE,ENDDATE=@ENDDATE,
TIMEZONE=@TIMEZONE,STARTTIME=@STARTTIME,DAYLIST=@DAYLIST,RELATIVEFOR=@RELATIVEFOR,RELATIVEOPTION=@RELATIVEOPTION,RELATIVEOPTIONTYPE=@RELATIVEOPTIONTYPE,
PREVIOUSVALUE=@PREVIOUSVALUE,TILLDATE=@TILLDATE,TIMEZONEDURATION=@TIMEZONEDURATION WHERE SCHEDULEID = @SCHEDULEID

DECLARE @TAB TABLE(ID INT IDENTITY(1,1),COL VARCHAR(MAX))
DECLARE @TEMP INT,@OPTIONID INT,@OPTIONLIST VARCHAR(MAX)

SET @TEMP = 1
INSERT INTO @TAB
SELECT ITEM
FROM dbo.FNSPLIT(@OPTIONVALUE,';')


DELETE FROM SCHEDULEASSIGNMENTS WHERE SCHEDULEID=@SCHEDULEID


WHILE @TEMP < =(SELECT MAX(ID) FROM @TAB)
BEGIN
  SELECT @OPTIONID=OPTIONID FROM REPORTOPTIONSMASTER WHERE REPORTPARAM=(SELECT SUBSTRING(COL,1,CHARINDEX('=',COL)-1) FROM @TAB WHERE ID = @TEMP)
  SELECT @OPTIONLIST=SUBSTRING(COL,CHARINDEX('=',COL)+1,LEN(COL)) FROM @TAB WHERE ID = @TEMP
  INSERT INTO SCHEDULEASSIGNMENTS(SCHEDULEID,OPTIONID,OPTIONVALUE)
  SELECT @SCHEDULEID,@OPTIONID,RESULT FROM DBO.CSVtoTable(@OPTIONLIST)
  SET @TEMP = @TEMP +1
END

DECLARE @D INT

IF(CONVERT(VARCHAR(11),@STARTDATE,101)>GETDATE())
BEGIN
      IF @DWM=1 AND @EVERYDWM>0 AND @SCHEDULETYPEID=9
      BEGIN
            SELECT @D=DAY(CAST(@STARTDATE AS DATETIME)) 
            IF @D<@EVERYDWM AND MONTH(CAST(@STARTDATE AS DATETIME))=MONTH(GETDATE())
                  SELECT @SCHEDULEID,dbo.[USERTIMEEMAIL](DATEADD(DD,@EVERYDWM-@D,@STARTDATE),@STARTTIME,@TIMEZONEDURATION)
            ELSE IF @D=@EVERYDWM AND  (DATEPART(hh,GETDATE())*60.0)+ DATEPART(mi,GETDATE())> CAST(@STARTTIME AS INT)
                          SELECT @SCHEDULEID,dbo.[USERTIMEEMAIL](DATEADD(MM,1,CAST(@STARTDATE AS DATETIME)),@STARTTIME,@TIMEZONEDURATION)
            ELSE IF @D>@EVERYDWM
            BEGIN
                        SELECT @D=DAY(DATEADD(MM,1,CAST(@STARTDATE AS DATETIME)))
                  SELECT @SCHEDULEID,dbo.[USERTIMEEMAIL](DATEADD(DD,@EVERYDWM-@D,DATEADD(MM,1,CAST(@STARTDATE AS DATETIME))),@STARTTIME,@TIMEZONEDURATION)
            END
            ELSE
                  SELECT @SCHEDULEID,dbo.[USERTIMEEMAIL](@STARTDATE,@STARTTIME,@TIMEZONEDURATION)      
                  
      END
      ELSE
      SELECT @SCHEDULEID,dbo.[USERTIMEEMAIL](@STARTDATE,@STARTTIME,@TIMEZONEDURATION)
END
ELSE
BEGIN
	
      IF @DWM=1 AND @EVERYDWM>0 AND @SCHEDULETYPEID=9
      BEGIN
            SELECT @D=DAY(GETDATE())
            IF @D<@EVERYDWM
                  SELECT @SCHEDULEID,dbo.[USERTIMEEMAIL](DATEADD(DD,CAST(@EVERYDWM AS INT)-@D,GETDATE()),@STARTTIME,@TIMEZONEDURATION)
            ELSE IF @D=@EVERYDWM AND  (DATEPART(hh,GETDATE())*60.0)+ DATEPART(mi,GETDATE())> CAST(@STARTTIME AS INT)
                          SELECT @SCHEDULEID,dbo.[USERTIMEEMAIL](DATEADD(MM,1,CAST(GETDATE() AS DATETIME)),@STARTTIME,@TIMEZONEDURATION)
            ELSE IF @D>@EVERYDWM
            BEGIN 
                  SELECT @D=DAY(DATEADD(MM,1,GETDATE()))
                  SELECT @SCHEDULEID,dbo.[USERTIMEEMAIL](DATEADD(DD,CAST(@EVERYDWM AS INT)-@D,DATEADD(MM,1,GETDATE())),@STARTTIME,@TIMEZONEDURATION)
            END
            ELSE
                  SELECT @SCHEDULEID,dbo.[USERTIMEEMAIL](GETDATE(),@STARTTIME,@TIMEZONEDURATION)
      END
            SELECT @SCHEDULEID,dbo.[USERTIMEEMAIL](GETDATE(),@STARTTIME,@TIMEZONEDURATION)
            
END

END