DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

UPDATE SITEGROUPS
SET STATUS = 1 ,
UPDATEDBY = @USERID,
UPDATEDDATE = @CC_TIMESTAMP
WHERE STATUS = 0 AND SITEID = @SITEID AND GROUPTYPEID = @GROUPTYPEID AND GROUPID IN (SELECT RESULT FROM  dbo.CSVtoTable(@SITEGROUPID));
INSERT INTO SITEGROUPS(SITEID,GROUPTYPEID,GROUPID,STATUS,UPDATEDBY,UPDATEDDATE)
SELECT @SITEID,@GROUPTYPEID,RESULT,1,@USERID,@CC_TIMESTAMP FROM dbo.CSVtoTable(@SITEGROUPID)WHERE RESULT NOT IN
(SELECT GROUPID FROM SITEGROUPS WHERE SITEID = @SITEID AND GROUPTYPEID = @GROUPTYPEID AND GROUPID IN (SELECT RESULT FROM  dbo.CSVtoTable(@SITEGROUPID)));
UPDATE SITEGROUPS
SET STATUS = 0 ,
UPDATEDBY = @USERID,
UPDATEDDATE = @CC_TIMESTAMP
WHERE SITEID = @SITEID AND GROUPTYPEID = @GROUPTYPEID AND GROUPID NOT IN (SELECT RESULT FROM  dbo.CSVtoTable(@SITEGROUPID))

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'SITEGROUPS','UPDATE-UPDATESITEGROUPSASSIGN_1.0',@CC_TIMESTAMP,@USERID,NULL
