DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

DECLARE @INPUTXML XML
SET @INPUTXML=CONVERT(XML,@XMLPERMISSIONVAL)

DELETE FROM ROLEPERMISSIONS WHERE ROLEID=@ROLEID

INSERT INTO ROLEPERMISSIONS(ROLEID,PERMISSIONID,PERMISSIONVALUE,CREATEDBY,CREATEDDATE)
SELECT @ROLEID,TEMPPERMISSION.ITEM.value('@key1','BIGINT') PERMISSIONID,TEMPPERMISSION.ITEM.value('@key2','BIGINT') PERMISSIONVALUE,@CREATEDBY,@CC_TIMESTAMP FROM @INPUTXML.nodes('/root/keys') AS TEMPPERMISSION(ITEM)
UNION
SELECT @ROLEID,PERMISSIONID,1 PERMISSIONVALUE,@CREATEDBY,@CC_TIMESTAMP
FROM [PERMISSIONS] WHERE STATUS=1 AND PERMISSIONID IN (33,34,37)

SELECT 2

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'ROLEPERMISSIONS','UPDATE-UPDATEROLEPERMISSION_1.0',@CC_TIMESTAMP,@CREATEDBY,
(SELECT * FROM ROLEPERMISSIONS WHERE CREATEDBY=@CREATEDBY AND CREATEDDATE=@CC_TIMESTAMP FOR XML AUTO)
