--UPDATESTOPCARDCHECKLIST_1.0
DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

DECLARE @INPUTCUSTOMFIELDS TABLE(CUSTOMFIELDID INT,CUSTOMFIELDVALUEID INT)
INSERT INTO @INPUTCUSTOMFIELDS
SELECT CUSTOMFIELDID,CUSTOMFIELDVALUEID FROM CUSTOMFIELDVALUES CFV
INNER JOIN dbo.CSVTOTABLE(@CUSTOMFIELDVALUEID) T ON T.RESULT=CFV.CUSTOMFIELDVALUEID
DECLARE @QRY VARCHAR(MAX),@GROUPTYPEID VARCHAR(256), @GROUPTYPENAME VARCHAR(1024),@GROUPTYPENAME1 VARCHAR(1024)

IF @OBSAPPROVALPC=0
BEGIN
UPDATE [STOPCARDENTRY]
SET [CHECKLISTSETUPID] = @CHECKLISTSETUPID
,[SITEID] = @SITEID
,[OBSERVERCOUNT] = CASE WHEN (SELECT COUNT(RESULT) FROM DBO.CSVTOTABLE(@SELOBSERVERID))>1 THEN 1 ELSE 0 END
,[OBSERVATIONDATE] = @OBSERVATIONDATE
,[SHIFTID] = @SHIFTID
,[AREAID] = @AREAID
,[SUBAREAID] = @SUBAREAID
,[LENGTH] = @LENGTH
,[PEOPLECONTACTED] = @PEOPLECONTACTED
,[PEOPLEOBSERVED] = @PEOPLEOBSERVED
,[SAFECOMMENTS] = @SAFECOMMENTS
,[UNSAFECOMMENTS] = @UNSAFECOMMENTS
,[STATUS] = @STATUS
,[UPDATEDBY] = @UPDATEDBY
,[UPDATEDDATE] = @CC_TIMESTAMP
,[AREAMANAGER] = @AREAMANAGERID
,ISMODIFIED=1
WHERE CARDID = @CARDID

DELETE FROM STOPCARDENTRYOBSERVERS WHERE CARDID = @CARDID

INSERT INTO STOPCARDENTRYOBSERVERS(CARDID,OBSERVERID,GROUP1,GROUP1NAME,GROUP2,GROUP2NAME,GROUP3,GROUP3NAME,GROUP4,GROUP4NAME,GROUP5,GROUP5NAME,GROUP6,GROUP6NAME,GROUP7,GROUP7NAME,GROUP8,GROUP8NAME,GROUP9,GROUP9NAME,GROUP10,GROUP10NAME,UPDATEDBY,UPDATEDDATE)
SELECT @CARDID,RESULT USERID,
(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP1')),
(SELECT GROUPNAME FROM GROUPS WHERE GROUPID=(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP1'))),
(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP2')),
(SELECT GROUPNAME FROM GROUPS WHERE GROUPID=(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP2'))),
(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP3')),
(SELECT GROUPNAME FROM GROUPS WHERE GROUPID=(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP3'))),
(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP4')),
(SELECT GROUPNAME FROM GROUPS WHERE GROUPID=(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP4'))),
(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP5')),
(SELECT GROUPNAME FROM GROUPS WHERE GROUPID=(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP5'))),
(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP6')),
(SELECT GROUPNAME FROM GROUPS WHERE GROUPID=(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP6'))),
(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP7')),
(SELECT GROUPNAME FROM GROUPS WHERE GROUPID=(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP7'))),
(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP8')),
(SELECT GROUPNAME FROM GROUPS WHERE GROUPID=(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP8'))),
(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP9')),
(SELECT GROUPNAME FROM GROUPS WHERE GROUPID=(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP9'))),
(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP10')),
(SELECT GROUPNAME FROM GROUPS WHERE GROUPID=(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP10'))),
@UPDATEDBY,@CC_TIMESTAMP
FROM dbo.CSVTOTABLE(@SELOBSERVERID)
DELETE FROM STOPCARDENTRYCUSTOMFIELDS WHERE CARDID=@CARDID
IF EXISTS(SELECT 1 FROM @INPUTCUSTOMFIELDS)
INSERT INTO STOPCARDENTRYCUSTOMFIELDS(CARDID,CUSTOMFIELD1,CUSTOMFIELD2,CUSTOMFIELD3,STATUS,UPDATEDBY,UPDATEDDATE)
SELECT @CARDID,(SELECT CUSTOMFIELDVALUEID FROM @INPUTCUSTOMFIELDS WHERE CUSTOMFIELDID=1)
,(SELECT CUSTOMFIELDVALUEID FROM @INPUTCUSTOMFIELDS WHERE CUSTOMFIELDID=2)
,(SELECT CUSTOMFIELDVALUEID FROM @INPUTCUSTOMFIELDS WHERE CUSTOMFIELDID=3)
,1,@UPDATEDBY,@CC_TIMESTAMP

SELECT @CARDID
END
ELSE IF @OBSAPPROVALPC=1
BEGIN
UPDATE [STOPCARDENTRY_OL]
SET [CHECKLISTSETUPID] = @CHECKLISTSETUPID
,[SITEID] = @SITEID
,[OBSERVERCOUNT] = CASE WHEN (SELECT COUNT(RESULT) FROM DBO.CSVTOTABLE(@SELOBSERVERID))>1 THEN 1 ELSE 0 END
,[OBSERVATIONDATE] = @OBSERVATIONDATE
,[SHIFTID] = @SHIFTID
,[AREAID] = @AREAID
,[SUBAREAID] = @SUBAREAID
,[LENGTH] = @LENGTH
,[PEOPLECONTACTED] = @PEOPLECONTACTED
,[PEOPLEOBSERVED] = @PEOPLEOBSERVED
,[SAFECOMMENTS] = @SAFECOMMENTS
,[UNSAFECOMMENTS] = @UNSAFECOMMENTS
,[STATUS] = @STATUS
,[UPDATEDBY] = @UPDATEDBY
,[UPDATEDDATE] = @CC_TIMESTAMP
,[AREAMANAGER] = @AREAMANAGERID
WHERE CARDID = @CARDID

DELETE FROM STOPCARDENTRYOBSERVERS_OL WHERE CARDID = @CARDID

INSERT INTO STOPCARDENTRYOBSERVERS_OL(CARDID,OBSERVERID,GROUP1,GROUP1NAME,GROUP2,GROUP2NAME,GROUP3,GROUP3NAME,GROUP4,GROUP4NAME,GROUP5,GROUP5NAME,GROUP6,GROUP6NAME,GROUP7,GROUP7NAME,GROUP8,GROUP8NAME,GROUP9,GROUP9NAME,GROUP10,GROUP10NAME,UPDATEDBY,UPDATEDDATE)
SELECT @CARDID,RESULT USERID,
(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP1')),
(SELECT GROUPNAME FROM GROUPS WHERE GROUPID=(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP1'))),
(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP2')),
(SELECT GROUPNAME FROM GROUPS WHERE GROUPID=(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP2'))),
(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP3')),
(SELECT GROUPNAME FROM GROUPS WHERE GROUPID=(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP3'))),
(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP4')),
(SELECT GROUPNAME FROM GROUPS WHERE GROUPID=(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP4'))),
(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP5')),
(SELECT GROUPNAME FROM GROUPS WHERE GROUPID=(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP5'))),
(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP6')),
(SELECT GROUPNAME FROM GROUPS WHERE GROUPID=(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP6'))),
(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP7')),
(SELECT GROUPNAME FROM GROUPS WHERE GROUPID=(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP7'))),
(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP8')),
(SELECT GROUPNAME FROM GROUPS WHERE GROUPID=(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP8'))),
(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP9')),
(SELECT GROUPNAME FROM GROUPS WHERE GROUPID=(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP9'))),
(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP10')),
(SELECT GROUPNAME FROM GROUPS WHERE GROUPID=(SELECT GROUPID FROM USERGROUPS WHERE STATUS=1 AND USERID = RESULT AND GROUPTYPEID=(SELECT RELATIONID FROM REPORTOPTIONSMASTER WHERE STATUS = 1 AND REPORTPARAM='GROUP10'))),
@UPDATEDBY,@CC_TIMESTAMP
FROM dbo.CSVTOTABLE(@SELOBSERVERID)

DELETE FROM STOPCARDENTRYCUSTOMFIELDS_OL WHERE CARDID=@CARDID
IF EXISTS(SELECT 1 FROM @INPUTCUSTOMFIELDS)
INSERT INTO STOPCARDENTRYCUSTOMFIELDS_OL(CARDID,CUSTOMFIELD1,CUSTOMFIELD2,CUSTOMFIELD3,STATUS,UPDATEDBY,UPDATEDDATE)
SELECT @CARDID,(SELECT CUSTOMFIELDVALUEID FROM @INPUTCUSTOMFIELDS WHERE CUSTOMFIELDID=1)
,(SELECT CUSTOMFIELDVALUEID FROM @INPUTCUSTOMFIELDS WHERE CUSTOMFIELDID=2)
,(SELECT CUSTOMFIELDVALUEID FROM @INPUTCUSTOMFIELDS WHERE CUSTOMFIELDID=3)
,1,@UPDATEDBY,@CC_TIMESTAMP

SELECT @CARDID
END
INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'STOPCARDENTRY/STOPCARDENTRYOBSERVERS/ALL_OL TABLES','UPDATE-UPDATESTOPCARDCHECKLIST_1.0',@CC_TIMESTAMP,@UPDATEDBY,NULL