DECLARE @AS_TIMESTAMP DATETIME
SET @AS_TIMESTAMP=GETDATE()

UPDATE SUBAREASMAP SET STATUS =1,CREATEDBY = @USERID,CREATEDDATE = @AS_TIMESTAMP
WHERE SUBAREAID = @SUBAREAID AND AREAID IN (SELECT RESULT FROM DBO.CSVtoTable(@AREAID))

INSERT INTO SUBAREASMAP(AREAID,SUBAREAID,STATUS,CREATEDBY,CREATEDDATE)
SELECT RESULT,@SUBAREAID,1,@USERID,@AS_TIMESTAMP
FROM DBO.CSVtoTable(@AREAID) A
WHERE NOT EXISTS(SELECT 1 FROM SUBAREASMAP WHERE SUBAREAID=@SUBAREAID AND AREAID=A.RESULT)

UPDATE SUBAREASMAP SET STATUS =0,CREATEDBY = @USERID,CREATEDDATE = @AS_TIMESTAMP WHERE SUBAREAID = @SUBAREAID AND AREAID NOT IN (SELECT RESULT FROM DBO.CSVtoTable(@AREAID))


INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'SUBAREASMAP','UPDATE-UPDATEAREASUBAREASSIGN_1.0',@AS_TIMESTAMP,@USERID,(SELECT * FROM SUBAREASMAP WHERE CREATEDBY=@USERID AND CREATEDDATE=@AS_TIMESTAMP  FOR XML AUTO)
