DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

DECLARE @GROUPIDINFO TABLE(GROUPTYPEID INT,GROUPID INT,GROUPTYPENAME NVARCHAR(512),QRY NVARCHAR(1024))

DECLARE @DATEFROM VARCHAR(32),@DATETO VARCHAR(32),@QRY VARCHAR(MAX),@LANGUAGEID VARCHAR(8),@UPDATEGRPQRY NVARCHAR(MAX)
IF LEN(@OBSDATEFROM)>1
SET @DATEFROM=CONVERT(VARCHAR(32),CONVERT(DATETIME,@OBSDATEFROM),101)
ELSE
SET @DATEFROM=CONVERT(VARCHAR(32),CONVERT(DATETIME,'01/01/1900'),101)

IF LEN(@OBSDATETO)>1
SET @DATETO=CONVERT(VARCHAR(32),DATEADD(MI,1439,CONVERT(DATETIME,@OBSDATETO)),101)
ELSE
SET @DATETO=CONVERT(VARCHAR(32),DATEADD(MI,1439,CONVERT(DATETIME,CONVERT(VARCHAR(32),@CC_TIMESTAMP,101))),101)

SET @QRY=''
SET @UPDATEGRPQRY=''
SELECT @LANGUAGEID=CAST(LANGUAGEID AS VARCHAR(8)) FROM USERINFO WHERE USERID =@SELECTUSERID



IF EXISTS(SELECT 1 FROM STOPCARDENTRYOBSERVERS SCO
INNER JOIN STOPCARDENTRY SC ON SC.CARDID=SCO.CARDID
WHERE SCO.OBSERVERID=@SELECTUSERID
AND SC.OBSERVATIONDATE BETWEEN CONVERT(DATETIME,@DATEFROM) AND DATEADD(MI,1439,CONVERT(DATETIME,@DATETO))
AND SC.STATUS!=2  AND SC.STOPCARDTYPE=1)
BEGIN

INSERT INTO @GROUPIDINFO(GROUPTYPEID,GROUPID,GROUPTYPENAME)
SELECT (SELECT TOP 1 GROUPTYPEID FROM GROUPS WHERE GROUPID=A.RESULT AND STATUS!=2),RESULT,
(SELECT ENTITYVALUE FROM ENTITYTRANSLATION WHERE LANGUAGEID = @LANGUAGEID AND ENTITYTYPE='UGP_TYPE' AND PARENTID=(SELECT TOP 1 GROUPTYPEID FROM GROUPS WHERE GROUPID=A.RESULT AND STATUS!=2) AND ENTITYID=A.RESULT)
FROM DBO.CSVTOTABLE(@GROUPID) A

UPDATE @GROUPIDINFO SET QRY='GROUP'+CAST(GROUPTYPEID AS VARCHAR(8))+'='+CAST(GROUPID AS VARCHAR(8))+',GROUP'+CAST(GROUPTYPEID AS VARCHAR(8))+'NAME='''+GROUPTYPENAME+''','


SELECT @UPDATEGRPQRY=@UPDATEGRPQRY+QRY FROM @GROUPIDINFO
IF LEN(@UPDATEGRPQRY)>1
SET @UPDATEGRPQRY=SUBSTRING(@UPDATEGRPQRY,1,LEN(@UPDATEGRPQRY)-1)



UPDATE SCO SET GROUP1=NULL,GROUP1NAME=NULL,GROUP2=NULL,GROUP2NAME=NULL,GROUP3=NULL,GROUP3NAME=NULL,GROUP4=NULL,GROUP4NAME=NULL,
GROUP5=NULL,GROUP5NAME=NULL,GROUP6=NULL,GROUP6NAME=NULL,GROUP7=NULL,GROUP7NAME=NULL,GROUP8=NULL,GROUP8NAME=NULL,
GROUP9=NULL,GROUP9NAME=NULL,GROUP10=NULL,GROUP10NAME=NULL,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP
FROM STOPCARDENTRYOBSERVERS SCO
INNER JOIN STOPCARDENTRY SC ON SC.CARDID=SCO.CARDID
WHERE SCO.OBSERVERID=@SELECTUSERID
AND SC.OBSERVATIONDATE BETWEEN CONVERT(DATETIME,@DATEFROM) AND DATEADD(MI,1439,CONVERT(DATETIME,@DATETO))
AND SC.STATUS!=2  AND SC.STOPCARDTYPE=1

IF LEN(@UPDATEGRPQRY)>1
BEGIN

SET @QRY='
UPDATE SCO SET '+@UPDATEGRPQRY+'
FROM STOPCARDENTRYOBSERVERS SCO
INNER JOIN STOPCARDENTRY SC ON SC.CARDID=SCO.CARDID
WHERE SCO.OBSERVERID='+@SELECTUSERID+'
AND SC.OBSERVATIONDATE BETWEEN CONVERT(DATETIME,'''+@DATEFROM+''') AND DATEADD(MI,1439,CONVERT(DATETIME,'''+@DATETO+'''))
AND SC.STATUS!=2  AND SC.STOPCARDTYPE=1'
PRINT @QRY
EXEC( @QRY)

END
UPDATE SC SET UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP
FROM STOPCARDENTRY  SC
INNER JOIN STOPCARDENTRYOBSERVERS SCO ON SC.CARDID=SCO.CARDID
WHERE SCO.OBSERVERID=@SELECTUSERID
AND SC.OBSERVATIONDATE BETWEEN CONVERT(DATETIME,@DATEFROM) AND DATEADD(MI,1439,CONVERT(DATETIME,@DATETO))
AND SC.STATUS!=2  AND SC.STOPCARDTYPE=1

SELECT 1
END
ELSE
SELECT -1


INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'STOPCARDENTRY/STOPCARDENTRYOBSERVERS','UPDATE-UPDATEOBSCHECKLISTGROUPS_1.0',@CC_TIMESTAMP,@UPDATEDBY,NULL