DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

IF EXISTS(SELECT 1 FROM ENTITYTRANSLATION WHERE ENTITYTYPE='UGP_TYPE' AND ENTITYVALUE=@GROUPNAME AND PARENTID=@GROUPTYPEID AND ENTITYID!=@GROUPID AND STATUS!=2 AND LANGUAGEID=@LANGUAGEID)
SELECT -1
ELSE
BEGIN
UPDATE GROUPS SET STATUS=@STATUS,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP WHERE GROUPTYPEID=@GROUPTYPEID AND GROUPID=@GROUPID


UPDATE ENTITYTRANSLATION SET ENTITYVALUE=@GROUPNAME,STATUS=@STATUS,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP
WHERE PARENTID=@GROUPTYPEID AND ENTITYID=@GROUPID AND ENTITYTYPE='UGP_TYPE' 

SELECT 2
END

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'GROUPS/ENTITYTRANSLATION','UPDATE-UPDATEGROUPS_1.0',@CC_TIMESTAMP,@UPDATEDBY,
(SELECT * FROM GROUPS WHERE UPDATEDBY=@UPDATEDBY AND UPDATEDDATE=@CC_TIMESTAMP FOR XML AUTO)


