DECLARE @MSE_TIMESTAMP DATETIME
SET @MSE_TIMESTAMP=GETDATE()

SELECT @ENTITYID = REPLACE(@ENTITYID,',,','~');
WITH ETSPLIT(ENTITYID,ENTITYVALUE)
AS
(
	SELECT SUBSTRING(ITEM,1,CHARINDEX('~',ITEM)-1),SUBSTRING(ITEM,CHARINDEX('~',ITEM)+1,LEN(ITEM)) FROM DBO.[FNSPLIT](@ENTITYID,'|')
)
UPDATE ET SET ENTITYVALUE = SP.ENTITYVALUE,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@MSE_TIMESTAMP
FROM ENTITYTRANSLATION ET
INNER JOIN ETSPLIT SP ON SP.ENTITYID=ET.ENTITYID
WHERE LANGUAGEID=@LANGUAGEID AND ENTITYTYPE IN('CUS_NAME','CUS_VALUE') AND PARENTID=@PARENTID;SELECT 2

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'ENTITYTRANSLATION','UPDATE-UPDATECUSTOMFIELDTRANSLATION_1.0',@MSE_TIMESTAMP,@UPDATEDBY,
(SELECT * FROM ENTITYTRANSLATION WHERE UPDATEDBY=@UPDATEDBY AND UPDATEDDATE=@MSE_TIMESTAMP FOR XML AUTO)