DECLARE @SUBSEQUENCE TABLE(ID INT IDENTITY(1,1),SUBCATEGORYID INT)
INSERT INTO @SUBSEQUENCE
SELECT RESULT FROM dbo.CSVtoTable(@SUBCATEGORYID)


UPDATE CHECKLISTSETUPCATEGORYASSIGNMENTS SET SUBISASSIGNED = 1,MAINISASSIGNED = 1 ,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=GETDATE()
WHERE CHECKLISTSETUPID=@CHECKLISTSETUPID AND SUBCATEGORYID IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SUBCATEGORYID))
AND MAINCATEGORYID =0 AND STATUS = 1 AND CHECKLISTSETUPID=@CHECKLISTSETUPID

UPDATE CHECKLISTSETUPCATEGORYASSIGNMENTS SET SUBISASSIGNED = 0,MAINISASSIGNED = 0 ,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=GETDATE()
WHERE CHECKLISTSETUPID=@CHECKLISTSETUPID AND MAINCATEGORYID =0
AND SUBCATEGORYID NOT IN (SELECT RESULT FROM DBO.CSVTOTABLE(@SUBCATEGORYID)) AND STATUS = 1

INSERT INTO CHECKLISTSETUPCATEGORYASSIGNMENTS(CHECKLISTSETUPID,MAINCATEGORYID,SUBCATEGORYID,MAINISASSIGNED,
SUBISASSIGNED,MAINSEQUENCE,SUBSEQUENCE,STATUS,UPDATEDBY,UPDATEDDATE)
SELECT @CHECKLISTSETUPID,0,RESULT,1,1,0,0,1,@UPDATEDBY,GETDATE() FROM DBO.CSVTOTABLE(@SUBCATEGORYID) R
WHERE RESULT NOT IN (SELECT SUBCATEGORYID FROM CHECKLISTSETUPCATEGORYASSIGNMENTS WHERE CHECKLISTSETUPID=@CHECKLISTSETUPID AND MAINCATEGORYID = 0);SELECT 2

UPDATE CSC SET SUBSEQUENCE=S.ID
FROM CHECKLISTSETUPCATEGORYASSIGNMENTS CSC
INNER JOIN @SUBSEQUENCE S ON S.SUBCATEGORYID=CSC.SUBCATEGORYID
WHERE CHECKLISTSETUPID=@CHECKLISTSETUPID
