--UPDATEREPORTFILTER_1.0
DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()
DECLARE @FILTERVALUES TABLE(OPTIONID INT,FILTERVALUE VARCHAR(64))
DECLARE @FILTERID INT
IF @FILTERCRITERIAID=0 AND EXISTS(SELECT 1 FROM REPORTFILTERCRITERIAMASTER WHERE CREATEDBY=@USERID AND REPORTID=@REPORTID AND FILTERNAME=@FILTERNAME AND STATUS=1)
BEGIN
SELECT -1
END
ELSE
BEGIN
IF @FILTERCRITERIAID=0
BEGIN
INSERT INTO REPORTFILTERCRITERIAMASTER(FILTERNAME,REPORTID,STATUS,CREATEDBY,CREATEDDATE)
SELECT @FILTERNAME,@REPORTID,1,@USERID,GETDATE()

SELECT @FILTERID=@@IDENTITY

INSERT INTO @FILTERVALUES
SELECT ROM.OPTIONID,SUBSTRING(ITEM,CHARINDEX('~',ITEM)+1,LEN(ITEM)) FILTERVALUE
FROM DBO.FNSPLIT(@OPTIONID,',') FN
INNER JOIN REPORTOPTIONSMASTER ROM ON ROM.REPORTPARAM=SUBSTRING(FN.ITEM,1,CHARINDEX('~',FN.ITEM)-1)

INSERT INTO dbo.REPORTFILTER(REPORTID,OPTIONID,USERID,FILTERVALUE,CREATEDDATE,FILTERID)
SELECT @REPORTID,OPTIONID,@USERID,FILTERVALUE,@CC_TIMESTAMP,@FILTERID
FROM @FILTERVALUES

SELECT @FILTERID FILTERCRITERIAID

END
ELSE
BEGIN
INSERT INTO @FILTERVALUES
SELECT ROM.OPTIONID,SUBSTRING(ITEM,CHARINDEX('~',ITEM)+1,LEN(ITEM)) FILTERVALUE
FROM DBO.FNSPLIT(@OPTIONID,',') FN
INNER JOIN REPORTOPTIONSMASTER ROM ON ROM.REPORTPARAM=SUBSTRING(FN.ITEM,1,CHARINDEX('~',FN.ITEM)-1)

DELETE FROM REPORTFILTER WHERE REPORTID=@REPORTID AND USERID=@USERID AND FILTERID=@FILTERCRITERIAID

INSERT INTO dbo.REPORTFILTER(REPORTID,OPTIONID,USERID,FILTERVALUE,CREATEDDATE,FILTERID)
SELECT @REPORTID,OPTIONID,@USERID,FILTERVALUE,@CC_TIMESTAMP,CAST(@FILTERCRITERIAID AS INT)
FROM @FILTERVALUES

SELECT @FILTERCRITERIAID FILTERCRITERIAID

END
END
INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'REPORTFILTER','UPDATE-UPDATEREPORTFILTER_1.0',@CC_TIMESTAMP,@USERID,NULL
