DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

IF EXISTS (SELECT 1 FROM ENTITYTRANSLATION WHERE PARENTID=0 AND ENTITYTYPE='SUB_CTG' AND ENTITYVALUE=@SUBCATEGORYNAME AND ENTITYID!=@SUBCATEGORYID AND STATUS!=2 )
SELECT -1
ELSE
BEGIN
UPDATE [SUBCATEGORIES] SET STATUS=@STATUS,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP
WHERE SUBCATEGORYID=@SUBCATEGORYID


UPDATE ENTITYTRANSLATION SET ENTITYVALUE=@SUBCATEGORYNAME,STATUS=@STATUS,UPDATEDBY=@UPDATEDBY,UPDATEDDATE=@CC_TIMESTAMP
WHERE PARENTID=0 AND ENTITYID=@SUBCATEGORYID AND LANGUAGEID =@LANGUAGEID AND ENTITYTYPE='SUB_CTG'
END
SELECT 2

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'ENTITYTRANSLATION','UPDATE-UPDATECHECKLISTITEMS_1.0',@CC_TIMESTAMP,@UPDATEDBY,
(SELECT * FROM ENTITYTRANSLATION WHERE UPDATEDBY=@UPDATEDBY AND UPDATEDDATE=@CC_TIMESTAMP FOR XML AUTO)

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'SUBCATEGORIES','UPDATE-UPDATECHECKLISTITEMS_1.0',@CC_TIMESTAMP,@UPDATEDBY,
(SELECT * FROM [SUBCATEGORIES] WHERE UPDATEDBY=@UPDATEDBY AND UPDATEDDATE=@CC_TIMESTAMP FOR XML AUTO)

