DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

IF EXISTS(SELECT 1 FROM USERS WHERE EMAIL=@EMAIL AND USERID!=@USERID AND STATUS !=2)
SELECT -1,'','','',''
ELSE
BEGIN
UPDATE USERS SET USERNAME=@USERNAME,FIRSTNAME=@FIRSTNAME,LASTNAME=@LASTNAME,EMAIL=@EMAIL,PASSWORD=DBO.fn40Encrypt(@PASSWORD)
,UPDATEDBY=@CREATEDBY,UPDATEDDATE=@CC_TIMESTAMP
WHERE USERID = @USERID

UPDATE USERINFO
SET DEFAULTROLEID=@DEFAULTROLEID,DEFAULTSITEID=@DEFAULTSITEID,TIMEZONE=(SELECT TIMEZONEID FROM SITES WHERE SITEID=@DEFAULTSITEID),DATEFORMAT=@DATEFORMAT,LANGUAGEID=@LANGUAGEID
,UPDATEDBY=@CREATEDBY,UPDATEDDATE=@CC_TIMESTAMP
WHERE USERID = @USERID

SELECT 1,UI.DEFAULTSITEID,S.SITENAME,UI.[DATEFORMAT],UI.LANGUAGEID
FROM USERINFO UI
INNER JOIN SITES S ON S.SITEID = UI.DEFAULTSITEID
WHERE UI.USERID = @USERID;
END


INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'USERS','UPDATE-UPDATEMYPROFILEINFO_1.0',@CC_TIMESTAMP,@CREATEDBY,
(SELECT * FROM USERS WHERE USERID=@USERID FOR XML AUTO)
