DECLARE @AUTOLOGOUT INT,@STARTDATE DATETIME,@ENDDATE DATETIME

SELECT @AUTOLOGOUT=CAST(OPTIONVALUE AS INT)  FROM COMPANYOPTIONS WHERE OPTIONNAME='AutoLogout'
SELECT @STARTDATE=MAX(LASTACTIONTIME),@ENDDATE=GETUTCDATE() FROM [SESSION] WHERE USERID = @USERID AND SESSIONID = @SESSIONID

IF DATEDIFF(SS,@STARTDATE,@ENDDATE) < ( @AUTOLOGOUT * 60.0 ) 
BEGIN
     UPDATE [SESSION] SET LASTACTIONTIME=GETUTCDATE() WHERE USERID = @USERID AND SESSIONID = @SESSIONID
     SELECT 1
END
ELSE 
     SELECT 0
