IF EXISTS(SELECT 1 FROM USERS WHERE USERNAME = @USERNAME AND EMAIL=@EMAIL AND STATUS IN (1,4))
SELECT USERID,LASTNAME,FIRSTNAME,'SUCCESS' MSG FROM USERS WHERE USERNAME = @USERNAME AND EMAIL=@EMAIL
ELSE
SELECT 0 USERID,CASE WHEN STATUS=0 THEN 'INACTIVE'
WHEN STATUS=4 THEN 'LOCKED' ELSE 'FAILURE' END MSG
FROM USERS WHERE USERNAME = @USERNAME AND EMAIL=@EMAIL
