DECLARE @LICENSEENDDATE NVARCHAR(32),@LICENSETYPE VARCHAR(8),@MAXOFFLINEOBSCOUNT INT,@ENABLECMTS INT,@MAXPEOPLEOBSERVEDLIMIT INT,
@LIMITEDAREASHIFTS INT,@LIMITEDCHECKLIST INT
SET @LICENSEENDDATE=''
SET @LICENSETYPE=''
SELECT @LICENSEENDDATE=CASE WHEN LTRIM(RTRIM(OPTIONVALUE))='' THEN '' ELSE DATEADD(MI,1439,CONVERT(DATETIME,LTRIM(RTRIM(OPTIONVALUE)))) END FROM COMPANYOPTIONS WHERE OPTIONNAME='OfflineAppExpirationPeriod'
SELECT @LICENSETYPE=LTRIM(RTRIM(OPTIONVALUE)) FROM COMPANYOPTIONS WHERE OPTIONNAME='OfflineAppLicenseType'
SELECT @MAXOFFLINEOBSCOUNT=LTRIM(RTRIM(OPTIONVALUE)) FROM COMPANYOPTIONS WHERE OPTIONNAME ='MaxOfflineObsCount'
SELECT @ENABLECMTS=LTRIM(RTRIM(OPTIONVALUE)) FROM COMPANYOPTIONS WHERE OPTIONNAME ='EnableChecklistComments'
SELECT @MAXPEOPLEOBSERVEDLIMIT=LTRIM(RTRIM(OPTIONVALUE)) FROM COMPANYOPTIONS WHERE OPTIONNAME ='MaxPeopleObservedLimit'
SELECT @LIMITEDAREASHIFTS=LTRIM(RTRIM(OPTIONVALUE)) FROM COMPANYOPTIONS WHERE OPTIONNAME ='LIMITEDAREASHIFTS'
SELECT @LIMITEDCHECKLIST=LTRIM(RTRIM(OPTIONVALUE)) FROM COMPANYOPTIONS WHERE OPTIONNAME ='LIMITEDCHECKLIST'

IF GETDATE()<=@LICENSEENDDATE AND @LICENSETYPE IN ('1','2') AND EXISTS(SELECT 1 FROM USERS U INNER JOIN USERINFO UI ON UI.USERID =U.USERID WHERE UI.OFFLINEACCESS=1 AND USERNAME =@USERNAME  AND [PASSWORD] = dbo.fn40ENCRYPT(@PPASSWORD) AND STATUS IN(1,3) AND UI.USERTYPEID IN (0,2))
SELECT 'VALID' MSG,USERS.USERID,USERNAME,[PASSWORD],FIRSTNAME,LASTNAME,USERTYPEID,USERINFO.LANGUAGEID,(SELECT INTERNALNAME FROM LANGUAGES WHERE LANGUAGEID = USERINFO.LANGUAGEID) LANGUAGEDES,
CASE WHEN @LICENSETYPE='0' THEN '' WHEN @LICENSETYPE='1' THEN 'LICENSE' WHEN @LICENSETYPE='2' THEN 'TRIAL' END LICENSETYPE,
@LICENSEENDDATE LICENSEENDDATE,@MAXOFFLINEOBSCOUNT MAXOFFLINEOBSCOUNT,ISNULL(@LIMITEDAREASHIFTS,50) LIMITEDAREASHIFTS,
ISNULL(@LIMITEDCHECKLIST,20) LIMITEDCHECKLIST,@ENABLECMTS [ENABLECHECKLISTCOMMENTS],@MAXPEOPLEOBSERVEDLIMIT [MAXPEOPLEOBSERVEDLIMIT]
FROM USERS
INNER JOIN USERINFO ON USERS.USERID=USERINFO.USERID
WHERE USERNAME =@USERNAME AND STATUS IN (1,3)

ELSE IF ISNULL(@LICENSETYPE,'')='' OR @LICENSETYPE='0' OR ISNULL(@LICENSEENDDATE,'')=''
SELECT 'LICENSENOTVALID'AS MSG
ELSE IF GETDATE()<=@LICENSEENDDATE AND @LICENSETYPE IN ('1','2') AND (EXISTS(SELECT 1 FROM USERS U INNER JOIN USERINFO UI ON UI.USERID =U.USERID WHERE UI.OFFLINEACCESS=0 AND USERNAME =@USERNAME  AND [PASSWORD] = dbo.fn40ENCRYPT(@PPASSWORD) AND STATUS IN(1,3)) OR EXISTS(SELECT 1 FROM USERS U INNER JOIN USERINFO UI ON UI.USERID =U.USERID WHERE USERNAME =@USERNAME  AND STATUS IN(1,3) AND UI.USERTYPEID =1))
SELECT 'INVALIDOFFLINEUSER'AS MSG
ELSE IF GETDATE()<=@LICENSEENDDATE AND @LICENSETYPE IN ('1','2') AND EXISTS(SELECT 1 FROM USERS U INNER JOIN USERINFO UI ON UI.USERID =U.USERID WHERE UI.OFFLINEACCESS=1 AND USERNAME =@USERNAME  AND [PASSWORD] = dbo.fn40ENCRYPT(@PPASSWORD) AND STATUS = 4)
SELECT 'LOCKED' AS MSG
ELSE IF GETDATE()<=@LICENSEENDDATE AND @LICENSETYPE IN ('1','2') AND EXISTS(SELECT 1 FROM USERS U INNER JOIN USERINFO UI ON UI.USERID =U.USERID WHERE UI.OFFLINEACCESS=1 AND USERNAME =@USERNAME  AND [PASSWORD] = dbo.fn40ENCRYPT(@PPASSWORD) AND STATUS = 0)
SELECT 'INACTIVE' AS MSG
ELSE IF GETDATE()>@LICENSEENDDATE AND @LICENSETYPE ='1'
SELECT 'LICENSEEXPIRED' AS MSG
ELSE IF GETDATE()>@LICENSEENDDATE AND @LICENSETYPE ='2'
SELECT 'TRIALEXPIRED' AS MSG
ELSE
SELECT 'INVALID' MSG