SELECT ET.ENTITYID GROUPID,ET.ENTITYVALUE+CASE WHEN G.STATUS =0 THEN '( InActive )' ELSE '' END GROUPNAME FROM GROUPS G
INNER JOIN ENTITYTRANSLATION ET ON ET.ENTITYID=G.GROUPID AND ET.PARENTID = G.GROUPTYPEID
WHERE G.STATUS IN(0,1) AND ET.LANGUAGEID = @LANGUAGEID AND ET.ENTITYTYPE='UGP_TYPE' AND G.GROUPTYPEID=5
ORDER BY GROUPNAME
