IF EXISTS(SELECT 1 FROM ROLES R INNER JOIN USERINFO UR ON UR.USERID=@USERID AND UR.DEFAULTROLEID =R.ROLEID AND R.ALLSITES=1 WHERE R.ROLEID = @ROLEID)
BEGIN
IF ISNULL(@SITEID,'')=''

SELECT AREAID,AREANAME+CASE WHEN STATUS =0 THEN '( InActive )' ELSE '' END AREANAME FROM AREAS WHERE STATUS IN(0,1)
ORDER BY AREANAME

ELSE

SELECT DISTINCT  A.AREAID,A.AREANAME+CASE WHEN A.STATUS =0 THEN '( InActive )' ELSE '' END AREANAME FROM AREAS A
INNER JOIN SITEAREAS SA ON SA.AREAID = A.AREAID
INNER JOIN SITES S ON S.SITEID = SA.SITEID

INNER JOIN dbo.CSVtoTable(@SITEID) R ON R.RESULT=S.SITEID
WHERE A.STATUS IN(0,1) AND SA.STATUS = 1 AND S.STATUS = 1
ORDER BY AREANAME

END
ELSE
BEGIN
IF ISNULL(@SITEID,'')=''
SELECT DISTINCT A.AREAID,A.AREANAME+CASE WHEN A.STATUS =0 THEN '( InActive )' ELSE '' END AREANAME FROM AREAS A
INNER JOIN SITEAREAS SA ON SA.AREAID = A.AREAID
INNER JOIN SITES S ON S.SITEID = SA.SITEID
INNER JOIN USERSITES US ON US.SITEID = S.SITEID AND US.USERID = @USERID
WHERE A.STATUS IN(0,1) AND SA.STATUS = 1 AND S.STATUS = 1 AND US.STATUS = 1
ORDER BY AREANAME
ELSE
SELECT DISTINCT  A.AREAID,A.AREANAME+CASE WHEN A.STATUS =0 THEN '( InActive )' ELSE '' END AREANAME FROM AREAS A
INNER JOIN SITEAREAS SA ON SA.AREAID = A.AREAID
INNER JOIN SITES S ON S.SITEID = SA.SITEID
INNER JOIN USERSITES US ON US.SITEID = S.SITEID AND US.USERID = @USERID
INNER JOIN dbo.CSVtoTable(@SITEID) R ON R.RESULT=S.SITEID
WHERE A.STATUS IN(0,1) AND SA.STATUS = 1 AND S.STATUS = 1 AND US.STATUS = 1
ORDER BY AREANAME
END


