--WACCESS_CUSTOMFIELD1_1.0
IF @ROLEID=1 OR EXISTS(SELECT 1 FROM ROLES WHERE STATUS !=2 AND COPYFROM=1 AND ROLEID=@ROLEID)
BEGIN
IF @SITEID=''
SELECT DISTINCT CUSTOMFIELDVALUEID,CUSTOMFIELDVALUE FROM (
SELECT ET.ENTITYID CUSTOMFIELDVALUEID,ET.ENTITYVALUE+CASE WHEN CFV.STATUS =0 THEN '( InActive )' ELSE '' END CUSTOMFIELDVALUE
FROM CUSTOMFIELDVALUES  CFV
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID=1 AND ET.ENTITYID=CFV.CUSTOMFIELDVALUEID AND ET.LANGUAGEID=@LANGUAGEID
WHERE ET.ENTITYTYPE='CUS_VALUE' AND CFV.STATUS =1 AND CFV.ALLSITES=1
UNION ALL
SELECT ET.ENTITYID CUSTOMFIELDVALUEID,ET.ENTITYVALUE+CASE WHEN CFV.STATUS =0 THEN '( InActive )' ELSE '' END CUSTOMFIELDVALUE
FROM CUSTOMFIELDVALUES  CFV
INNER JOIN SITECUSTOMFIELDS SCF ON SCF.CUSTOMFIELDID=1 AND SCF.CUSTOMFIELDVALUEID=CFV.CUSTOMFIELDVALUEID
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID=1 AND ET.ENTITYID=CFV.CUSTOMFIELDVALUEID AND ET.LANGUAGEID=@LANGUAGEID
WHERE ET.ENTITYTYPE='CUS_VALUE' AND CFV.STATUS =1  AND SCF.STATUS=1  AND CFV.ALLSITES=0)A

ORDER BY CUSTOMFIELDVALUE
ELSE
SELECT DISTINCT CUSTOMFIELDVALUEID,CUSTOMFIELDVALUE FROM (
SELECT ET.ENTITYID CUSTOMFIELDVALUEID,ET.ENTITYVALUE+CASE WHEN CFV.STATUS =0 THEN '( InActive )' ELSE '' END CUSTOMFIELDVALUE
FROM CUSTOMFIELDVALUES  CFV
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID=1 AND ET.ENTITYID=CFV.CUSTOMFIELDVALUEID AND ET.LANGUAGEID=@LANGUAGEID
WHERE ET.ENTITYTYPE='CUS_VALUE' AND CFV.STATUS =1  AND CFV.ALLSITES=1
UNION ALL
SELECT ET.ENTITYID CUSTOMFIELDVALUEID,ET.ENTITYVALUE+CASE WHEN CFV.STATUS =0 THEN '( InActive )' ELSE '' END CUSTOMFIELDVALUE
FROM CUSTOMFIELDVALUES  CFV
INNER JOIN SITECUSTOMFIELDS SCF ON SCF.CUSTOMFIELDID=1 AND SCF.CUSTOMFIELDVALUEID=CFV.CUSTOMFIELDVALUEID
INNER JOIN DBO.CSVTOTABLE(@SITEID) R ON R.RESULT=SCF.SITEID
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID=1 AND ET.ENTITYID=CFV.CUSTOMFIELDVALUEID AND ET.LANGUAGEID=@LANGUAGEID
WHERE ET.ENTITYTYPE='CUS_VALUE' AND CFV.STATUS =1 AND SCF.STATUS=1   AND CFV.ALLSITES=0 ) A
ORDER BY CUSTOMFIELDVALUE
END
ELSE
BEGIN
IF @SITEID=''
SELECT DISTINCT CUSTOMFIELDVALUEID,CUSTOMFIELDVALUE FROM (
SELECT ET.ENTITYID CUSTOMFIELDVALUEID,ET.ENTITYVALUE+CASE WHEN CFV.STATUS =0 THEN '( InActive )' ELSE '' END CUSTOMFIELDVALUE
FROM CUSTOMFIELDVALUES  CFV
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID=1 AND ET.ENTITYID=CFV.CUSTOMFIELDVALUEID AND ET.LANGUAGEID=@LANGUAGEID
WHERE ET.ENTITYTYPE='CUS_VALUE' AND CFV.STATUS =1  AND CFV.ALLSITES=1
UNION ALL
SELECT ET.ENTITYID CUSTOMFIELDVALUEID,ET.ENTITYVALUE+CASE WHEN CFV.STATUS =0 THEN '( InActive )' ELSE '' END CUSTOMFIELDVALUE
FROM CUSTOMFIELDVALUES  CFV
INNER JOIN SITECUSTOMFIELDS SCF ON SCF.CUSTOMFIELDID=1 AND SCF.CUSTOMFIELDVALUEID=CFV.CUSTOMFIELDVALUEID
INNER JOIN USERSITES US ON US.USERID=@USERID AND US.STATUS=1 AND US.SITEID=SCF.SITEID
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID=1 AND ET.ENTITYID=CFV.CUSTOMFIELDVALUEID AND ET.LANGUAGEID=@LANGUAGEID
WHERE ET.ENTITYTYPE='CUS_VALUE' AND CFV.STATUS =1 AND SCF.STATUS=1   AND CFV.ALLSITES=0)A
ORDER BY CUSTOMFIELDVALUE
ELSE
SELECT DISTINCT CUSTOMFIELDVALUEID,CUSTOMFIELDVALUE FROM (
SELECT ET.ENTITYID CUSTOMFIELDVALUEID,ET.ENTITYVALUE+CASE WHEN CFV.STATUS =0 THEN '( InActive )' ELSE '' END CUSTOMFIELDVALUE
FROM CUSTOMFIELDVALUES  CFV
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID=1 AND ET.ENTITYID=CFV.CUSTOMFIELDVALUEID AND ET.LANGUAGEID=@LANGUAGEID
WHERE ET.ENTITYTYPE='CUS_VALUE' AND CFV.STATUS =1  AND CFV.ALLSITES=1
UNION ALL
SELECT ET.ENTITYID CUSTOMFIELDVALUEID,ET.ENTITYVALUE+CASE WHEN CFV.STATUS =0 THEN '( InActive )' ELSE '' END CUSTOMFIELDVALUE
FROM CUSTOMFIELDVALUES  CFV
INNER JOIN SITECUSTOMFIELDS SCF ON SCF.CUSTOMFIELDID=1 AND SCF.CUSTOMFIELDVALUEID=CFV.CUSTOMFIELDVALUEID
INNER JOIN DBO.CSVTOTABLE(@SITEID) R ON R.RESULT=SCF.SITEID
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID=1 AND ET.ENTITYID=CFV.CUSTOMFIELDVALUEID AND ET.LANGUAGEID=@LANGUAGEID
WHERE ET.ENTITYTYPE='CUS_VALUE' AND CFV.STATUS =1 AND SCF.STATUS=1  AND CFV.ALLSITES=0)A
ORDER BY CUSTOMFIELDVALUE
END
