IF EXISTS(SELECT 1 FROM ROLES R INNER JOIN USERINFO UR ON UR.USERID=@USERID AND UR.DEFAULTROLEID =R.ROLEID AND R.ALLSITES=1 WHERE R.ROLEID = @ROLEID)
BEGIN
SELECT SITEID,SITENAME+CASE WHEN STATUS =0 THEN '( InActive )' ELSE '' END SITENAME FROM SITES WHERE STATUS IN(0,1)
ORDER BY SITENAME
END
ELSE
BEGIN
SELECT DISTINCT S.SITEID,S.SITENAME+CASE WHEN S.STATUS =0 THEN '( InActive )' ELSE '' END SITENAME FROM SITES S
INNER JOIN USERSITES US ON US.SITEID = S.SITEID AND US.USERID = @USERID
WHERE S.STATUS IN(0,1) AND US.STATUS = 1
ORDER BY SITENAME
END
