IF EXISTS(SELECT 1 FROM ROLES R INNER JOIN USERINFO UR ON UR.USERID=@USERID AND UR.DEFAULTROLEID =R.ROLEID AND R.ALLSITES=1 WHERE R.ROLEID = @ROLEID)
BEGIN
IF ISNULL(@SITEID,'')=''
BEGIN
SELECT DISTINCT SHIFTID,SHIFTNAME+CASE WHEN STATUS =0 THEN '( InActive )'  ELSE '' END SHIFTNAME FROM SHIFTS WHERE STATUS IN(0,1)
ORDER BY SHIFTNAME
END
ELSE
BEGIN
SELECT DISTINCT SH.SHIFTID,SH.SHIFTNAME+CASE WHEN SH.STATUS =0 THEN '( InActive )' ELSE '' END SHIFTNAME FROM SHIFTS SH
INNER JOIN SITESHIFTS SS ON SH.SHIFTID = SS.SHIFTID
INNER JOIN SITES S ON S.SITEID = SS.SITEID
INNER JOIN dbo.CSVtoTable(@SITEID) R ON R.RESULT=S.SITEID
WHERE SH.STATUS IN(0,1) AND SS.STATUS = 1 AND SS.STATUS = 1
ORDER BY SHIFTNAME
END

END
ELSE
BEGIN
IF ISNULL(@SITEID,'')=''
SELECT DISTINCT SH.SHIFTID,SH.SHIFTNAME+CASE WHEN SH.STATUS =0 THEN '( InActive )' ELSE '' END SHIFTNAME FROM SHIFTS SH
INNER JOIN SITESHIFTS SS ON SH.SHIFTID = SS.SHIFTID
INNER JOIN SITES S ON S.SITEID = SS.SITEID
INNER JOIN USERSITES US ON US.SITEID = S.SITEID AND US.USERID = @USERID
WHERE SH.STATUS IN(0,1) AND SS.STATUS = 1 AND SS.STATUS = 1 AND US.STATUS = 1
ORDER BY SHIFTNAME
ELSE
SELECT DISTINCT SH.SHIFTID,SH.SHIFTNAME+CASE WHEN SH.STATUS =0 THEN '( InActive )' ELSE '' END SHIFTNAME FROM SHIFTS SH
INNER JOIN SITESHIFTS SS ON SH.SHIFTID = SS.SHIFTID
INNER JOIN SITES S ON S.SITEID = SS.SITEID
INNER JOIN USERSITES US ON US.SITEID = S.SITEID AND US.USERID = @USERID
INNER JOIN dbo.CSVtoTable(@SITEID) R ON R.RESULT=S.SITEID
WHERE SH.STATUS IN(0,1) AND SS.STATUS = 1 AND SS.STATUS = 1 AND US.STATUS = 1
ORDER BY SHIFTNAME
END
