IF ISNULL(@AREAID,'')=''
SELECT SUBAREAID,SUBAREANAME+CASE WHEN STATUS =0 THEN '( InActive )' ELSE '' END SUBAREANAME FROM SUBAREAS WHERE STATUS IN(0,1)
ORDER BY SUBAREANAME
ELSE
SELECT DISTINCT  S.SUBAREAID,S.SUBAREANAME+CASE WHEN S.STATUS =0 THEN '( InActive )' ELSE '' END SUBAREANAME FROM SUBAREAS S
INNER JOIN SUBAREASMAP SA ON SA.SUBAREAID = S.SUBAREAID
INNER JOIN AREAS A ON A.AREAID=SA.AREAID
INNER JOIN dbo.CSVtoTable(@AREAID) R ON R.RESULT=A.AREAID
WHERE A.STATUS IN(0,1) AND S.STATUS IN(0, 1) AND SA.STATUS = 1
ORDER BY SUBAREANAME

