IF ISNULL(@SETUPID,'')=''
BEGIN
IF ISNULL(@MAINCATEGORYID,'')=''
SELECT DISTINCT S.MAINCATEGORYID,S.SUBCATEGORYID,ET.ENTITYVALUE SUBCATEGORYNAME FROM SUBCATEGORIES S
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID = S.MAINCATEGORYID AND ET.ENTITYID=S.SUBCATEGORYID  AND ET.ENTITYTYPE = 'SUB_CTG'
WHERE S.STATUS= 1 AND ET.LANGUAGEID = (SELECT LANGUAGEID FROM USERINFO WHERE USERID = @USERID)
AND S.MAINCATEGORYID<>0
ORDER BY ET.ENTITYVALUE
ELSE
SELECT DISTINCT S.MAINCATEGORYID,S.SUBCATEGORYID,ET.ENTITYVALUE SUBCATEGORYNAME FROM SUBCATEGORIES S
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID = S.MAINCATEGORYID AND ET.ENTITYID=S.SUBCATEGORYID  AND ET.ENTITYTYPE = 'SUB_CTG'
WHERE S.STATUS= 1 AND ET.LANGUAGEID = (SELECT LANGUAGEID FROM USERINFO WHERE USERID = @USERID)
AND S.MAINCATEGORYID IN (SELECT RESULT FROM dbo.CSVtoTable(@MAINCATEGORYID))
ORDER BY ET.ENTITYVALUE
END
ELSE
BEGIN
IF ISNULL(@MAINCATEGORYID,'')=''
SELECT DISTINCT S.MAINCATEGORYID,S.SUBCATEGORYID,ET.ENTITYVALUE SUBCATEGORYNAME FROM CHECKLISTSETUPCATEGORYASSIGNMENTS CSC
INNER JOIN SUBCATEGORIES S ON S.MAINCATEGORYID=CSC.MAINCATEGORYID AND S.SUBCATEGORYID=CSC.SUBCATEGORYID
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID = S.MAINCATEGORYID AND ET.ENTITYID=S.SUBCATEGORYID  AND ET.ENTITYTYPE = 'SUB_CTG'
WHERE CSC.STATUS= 1 AND S.STATUS= 1 AND ET.LANGUAGEID = (SELECT LANGUAGEID FROM USERINFO WHERE USERID = @USERID)
AND CSC.CHECKLISTSETUPID IN (SELECT RESULT FROM dbo.CSVtoTable(@SETUPID))
AND S.MAINCATEGORYID<>0
ORDER BY ET.ENTITYVALUE
ELSE
SELECT DISTINCT S.MAINCATEGORYID,S.SUBCATEGORYID,ET.ENTITYVALUE SUBCATEGORYNAME FROM CHECKLISTSETUPCATEGORYASSIGNMENTS CSC
INNER JOIN SUBCATEGORIES S ON S.MAINCATEGORYID=CSC.MAINCATEGORYID AND S.SUBCATEGORYID=CSC.SUBCATEGORYID
INNER JOIN ENTITYTRANSLATION ET ON ET.PARENTID = S.MAINCATEGORYID AND ET.ENTITYID=S.SUBCATEGORYID  AND ET.ENTITYTYPE = 'SUB_CTG'
WHERE CSC.STATUS= 1 AND S.STATUS= 1 AND ET.LANGUAGEID = (SELECT LANGUAGEID FROM USERINFO WHERE USERID = @USERID)
AND CSC.CHECKLISTSETUPID IN (SELECT RESULT FROM dbo.CSVtoTable(@SETUPID))
AND S.MAINCATEGORYID IN (SELECT RESULT FROM dbo.CSVtoTable(@MAINCATEGORYID))
ORDER BY ET.ENTITYVALUE
END
