IF @ROLEID=1
BEGIN
IF ISNULL(@SITEID,'')=''
SELECT DISTINCT SHIFTID,SHIFTNAME FROM SHIFTS WHERE STATUS = 1
ORDER BY SHIFTNAME
ELSE
SELECT DISTINCT SH.SHIFTID,SH.SHIFTNAME FROM SHIFTS SH
INNER JOIN SITESHIFTS SS ON SH.SHIFTID = SS.SHIFTID
INNER JOIN SITES S ON S.SITEID = SS.SITEID
INNER JOIN dbo.CSVtoTable(@SITEID) R ON R.RESULT=S.SITEID
WHERE SH.STATUS = 1 AND SS.STATUS = 1 AND SS.STATUS = 1
ORDER BY SHIFTNAME
END
ELSE
BEGIN
IF ISNULL(@SITEID,'')=''
SELECT DISTINCT SH.SHIFTID,SH.SHIFTNAME FROM SHIFTS SH
INNER JOIN SITESHIFTS SS ON SH.SHIFTID = SS.SHIFTID
INNER JOIN SITES S ON S.SITEID = SS.SITEID
INNER JOIN USERSITES US ON US.SITEID = S.SITEID AND US.USERID = @USERID
WHERE SH.STATUS = 1 AND SS.STATUS = 1 AND SS.STATUS = 1 AND US.STATUS = 1
ORDER BY SHIFTNAME
ELSE
SELECT DISTINCT SH.SHIFTID,SH.SHIFTNAME FROM SHIFTS SH
INNER JOIN SITESHIFTS SS ON SH.SHIFTID = SS.SHIFTID
INNER JOIN SITES S ON S.SITEID = SS.SITEID
INNER JOIN USERSITES US ON US.SITEID = S.SITEID AND US.USERID = @USERID
INNER JOIN dbo.CSVtoTable(@SITEID) R ON R.RESULT=S.SITEID
WHERE SH.STATUS = 1 AND SS.STATUS = 1 AND SS.STATUS = 1 AND US.STATUS = 1
ORDER BY SHIFTNAME
END
