IF ISNULL(@SITEID,'')=''
BEGIN
IF @ROLEID=1
SELECT USERID,LASTNAME+','+FIRSTNAME FROM USERS
ORDER BY LASTNAME+','+FIRSTNAME
ELSE
SELECT DISTINCT U.USERID,LASTNAME+','+FIRSTNAME FROM USERS U
INNER JOIN USERSITES US ON US.USERID = U.USERID
WHERE U.STATUS=1 AND US.STATUS=1 AND US.SITEID IN (SELECT SITEID FROM USERSITES WHERE USERID = @USERID)
ORDER BY LASTNAME+','+FIRSTNAME

END
ELSE
SELECT DISTINCT U.USERID,LASTNAME+','+FIRSTNAME FROM USERS U
INNER JOIN USERSITES US ON US.USERID = U.USERID
INNER JOIN dbo.CSVtoTable(@SITEID) R ON R.RESULT=US.SITEID
WHERE U.STATUS=1 AND US.STATUS=1
ORDER BY LASTNAME+','+FIRSTNAME
