SELECT DISTINCT U.USERID,U.USERNAME FROM USERS U
INNER JOIN USERSITES SU ON SU.USERID = U.USERID
INNER JOIN SITES S ON S.SITEID = SU.SITEID
INNER JOIN USERINFO UI ON UI.USERID = U.USERID
INNER JOIN DBO.CSVTOTABLE(@SITEID) R ON R.RESULT = S.SITEID
WHERE U.STATUS = 1 AND SU.STATUS = 1 AND S.STATUS = 1
AND UI.USERTYPEID = 1