--ÏNSERTTARGETFORSITE_1.0
DECLARE @CC_TIMESTAMP DATETIME
SET @CC_TIMESTAMP=GETDATE()

BEGIN TRY
BEGIN TRANSACTION;
IF EXISTS(SELECT 1 FROM TARGETSITES WHERE SITEID = @SITEID)
UPDATE TARGETSITES SET
SITEID=@SITEID,JAN=@JAN,FEB=@FEB,MAR=@MAR,APR=@APR,MAY=@MAY,JUN=@JUN,JUL=@JUL,AUG=@AUG
,SEP=@SEP,OCT=@OCT,NOV=@NOV,[DEC]=@DEC
,APPLYTOALLOBSERVERS=@APPLYTOALLOBSERVERS,CREATEDBY=@CREATEDBY,CREATEDDATE=@CC_TIMESTAMP
WHERE SITEID = @SITEID
ELSE
INSERT INTO TARGETSITES(SITEID,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,[DEC],APPLYTOALLOBSERVERS,CREATEDBY,CREATEDDATE)
VALUES(@SITEID,@JAN,@FEB,@MAR,@APR,@MAY,@JUN,@JUL,@AUG,@SEP,@OCT,@NOV,@DEC,@APPLYTOALLOBSERVERS,@CREATEDBY,@CC_TIMESTAMP)

IF EXISTS(SELECT 1 FROM TARGETSITES WHERE APPLYTOALLOBSERVERS = 1 AND SITEID = @SITEID)
BEGIN
UPDATE TARGETUSERS SET
JAN=@JAN,FEB=@FEB,MAR=@MAR,APR=@APR,MAY=@MAY,JUN=@JUN,JUL=@JUL,AUG=@AUG
,SEP=@SEP,OCT=@OCT,NOV=@NOV,[DEC]=@DEC
,CREATEDBY=@CREATEDBY,CREATEDDATE=@CC_TIMESTAMP
WHERE USERID IN (SELECT USERID FROM USERINFO WHERE DEFAULTSITEID = @SITEID)
AND SITEID = @SITEID

INSERT INTO TARGETUSERS(SITEID,USERID,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,[DEC],CREATEDBY,CREATEDDATE)
SELECT @SITEID,USERID,@JAN,@FEB,@MAR,@APR,@MAY,@JUN,@JUL,@AUG,@SEP,@OCT,@NOV,@DEC,@CREATEDBY,@CC_TIMESTAMP
FROM USERSITES
WHERE USERID IN (SELECT USERID FROM USERINFO WHERE DEFAULTSITEID = @SITEID AND
USERID NOT IN (SELECT USERID FROM TARGETUSERS WHERE SITEID = @SITEID))
AND SITEID = @SITEID

END
COMMIT TRANSACTION;
SELECT 1
END TRY
BEGIN CATCH
IF @@TRANCOUNT > 0
BEGIN
ROLLBACK TRANSACTION;
SELECT -1
END
END CATCH

INSERT INTO dbo.AUDIT(TABLENAME,TRANS,STAMP,LASTUPDATEDBY,DATA)
SELECT 'TARGETSITES/TARGETUSERS','INSERT-ÏNSERTTARGETFORSITE_1.0',@CC_TIMESTAMP,@CREATEDBY,NULL
